﻿<link rel="stylesheet" href="@Href("~/Content/Style.css")">
<link rel="stylesheet" href="@Href("~/Content/admin-userprofile.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/admin-userprofile-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/admin-userprofile-desktop.css")" type="text/css" rel="stylesheet" />

<script src="@Href("~/JS/account-changepwd.js")"></script>
<script type="text/javascript" src="@Href("~/Scripts/jquery.complexify.js")"></script>
<style>
    .container {
        height:100% !important;
    }

  
</style>
<script type="text/javascript">

    $(document).ready(function () {

        $('#NewPassword').complexify({}, function (valid, complexity) {
            var progressBar = $('#complexity-bar');

            progressBar.toggleClass('progress-bar-success', valid);
            progressBar.toggleClass('progress-bar-danger', !valid);
            progressBar.css({ 'width': complexity + '%' });


        });
    });
   
    

</script>
    <script>
        $(document).ready(function () {
            $('#NewPassword').tooltip();
        });
</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<div class="container login-container">
    <div class="heading-section">
        <p align="center" class="title-font">Profile</p>
        <p align="center" class="normal-font">
            <a href="/Account/UserProfile">Manage Profile</a>
            <span>|</span> <a class="selected" href="/Account/ChangePassword">Change Password</a>
        </p>
    </div>
    <div class="changepassword">
        <form id="chgpwd-form">
            <div class="form-horizontal top-div">
                <div class="form-group">
                    <div class="">
                        <input id="OldPassword" name="OldPassword" type="password" class="form-control input-lg uploader-font" placeholder="Current Password" data-bind="value: $root.ChangePwd().OldPassword" required />
                    </div>
                </div>
                <div class="form-group form-group-rel">
                    <div class="">
                        <input id="NewPassword" name="NewPassword" type="password" class="form-control input-lg uploader-font" placeholder="New Password" data-bind="value: $root.ChangePwd().NewPassword" required title="Your Password should be atleast 8 characters long, with at least one alphabetic character and one numeric character." />
                    </div>
                    <div class="progress">
                        <div id="complexity-bar" class="progress-bar progress-bar-danger" role="progressbar" style="width:0%;"></div>
                    </div>
                    <div class="newpassword-fm">
                        <div data-bind="if: $root.ServerMessages()" class="fail-message">
                            <span class="helper-font" data-bind="text:  $root.ServerMessages().Summary"></span>
                        </div>
                    </div>

                </div>
               
                
                <div class="form-group">
                    <table width="50%">
                        <tr onclick="showPassword()">
                            <td>
                                <div class="helper-font">
                                    Show Password
                                </div>
                            </td>
                            <td>
                                <span class="icon-check-empty blue-font question-checkbox password-chk-box-font" id="show-pwd-checkbox"></span>&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <div class="">
                        <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click: $root.changePassword" id="changepassword">Change</button>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
