﻿@{
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
    ViewBag.Title = "Forget Password";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<script src="@Href("~/JS/account-forgotpwd.js")"></script>

<link href="@Href("~/Content/account-forgotpwd.css")" rel="stylesheet" />
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/account-forgotpwd-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/account-forgotpwd-desktop.css")" type="text/css" rel="stylesheet" />

<div class="container login-container">
    <div class="verification">
        <form id="verification-form">
            <div class="form-horizontal top-div">
                <p class="normal-font">
                    Please provide your Email Address.<br /><br />

                    We will send you an Email that will allow you to reset your password.
                </p>
                <div class="form-group">
                    <div class="">
                        <input type="text" class="form-control input-lg " placeholder="Organisation User ID" data-bind="value: $root.ForgotPwd().UserId" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click: $root.sendVerificationLink" id="verification-button">Send Verification Email</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="confirmation top-div">
        <p class="normal-font">
            An email to reset your password has been sent to you.<br /><br />

            Please check your Email for details.<br /><br />

            If you still haven't received it, contact us at Hi[at]CusJo.com
        </p>
        <div class="">
            <button class="btn btn-lg btn-default btn-block normal-font submit-btn-style" data-bind="click: $root.resendVerificationLink" id="resend-button">Resend Verification Email</button>
        </div>
    </div>
</div>

