﻿@{
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
    ViewBag.Title = "Login";
}
<script src="@Href("~/JS/account-login.js")"></script>
<link rel="stylesheet" href="@Href("~/Content/admin-userprofile.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/admin-userprofile-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/admin-userprofile-desktop.css")" type="text/css" rel="stylesheet" />
<style>
    input::-webkit-input-placeholder { color:#009bdf !important; }
input:-moz-placeholder { color:#009bdf !important; } /* Firefox 18- */
input::-moz-placeholder { color:#009bdf !important; } /* Firefox 19+ */
input:-ms-input-placeholder { color:#009bdf !important; } /* oldIE ;) */
html, body{
    height: 100%;
}
.container{
    min-height:100%;
    height:100%;
}
.body-content{
    height:100%;

}
.footerZIndex{
    position:absolute !important;
}

</style>

<div class="container nologincontainer">
    <div class="form-horizontal top-div logincontainer">
        <form id="login-form">
            <div class="form-group">
                <div class="">
                    <input id="usernameField" name="usernameField" type="text" class="form-control input-lg uploader-font" placeholder="Organisation User ID" data-bind="value: $root.Login().UserName" required />
                </div>
            </div>
            <div class="form-group form-group-password">
                <div class="">
                    <input id="passwordField" name="passwordField" class="form-control input-lg uploader-font" placeholder="Password" type="password" data-bind="value: $root.Login().Password" required />
                </div>
                <div class="fm-area">
                    <div data-bind="if: $root.ServerMessages()" class="fail-message text-danger">
                        <span class="helper-font" data-bind="text:  $root.ServerMessages().Summary"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <table width="50%">
                    <tr >
                        <td>
                            <div class="helper-font isclickable" data-bind="checkBox: $root.Login().IsRememberLogin">
                                Remember Login
                            </div>
                        </td>
                        <td>
                            <span class="icon-check-empty blue-font question-checkbox password-chk-box-font isclickable" id="show-pwd-checkbox" data-bind="checkBox: $root.Login().IsRememberLogin"></span>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <div class="">
                    <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click: $root.loginUser" id="login-btn">Login</button>
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-8 col-lg-6">
                    <a href="/Account/ForgotPassword" class="blue-link normal-font italic">Forgot Password?</a>
                </div>
            </div>
            
        </form>
    </div>
</div>


