﻿@{
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
    ViewBag.Title = "Reset Password";
}
<link rel="stylesheet" href="@Href("~/Content/Style.css")">
<script src="@Href("~/JS/account-resetpwd.js")"></script>
<link rel="stylesheet" href="@Href("~/Content/admin-userprofile.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/admin-userprofile-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/admin-userprofile-desktop.css")" type="text/css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<script type="text/javascript" src="@Href("~/Scripts/jquery.complexify.js")"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#NewPassword').complexify({}, function (valid, complexity) {
            var progressBar = $('#complexity-bar');

            progressBar.toggleClass('progress-bar-success', valid);
            progressBar.toggleClass('progress-bar-danger', !valid);
            progressBar.css({ 'width': complexity + '%' });


        });
    });



</script>

<script>
    $(document).ready(function () {
        $('#NewPassword').tooltip();
    });
</script>


<div class="container login-container">
    <div class="heading-section">
        <p align="center" class="title-font">Reset Password</p>
       
    </div>
    <div class="verification">
        <form id="resetpwd-form">
        <div class="form-horizontal top-div">
            <div class="form-group">
                <div class="">
                    <input id="UserID" name="UserID" type="text" class="form-control input-lg uploader-font" placeholder="Organisation User ID" data-bind="value: $root.ResetPwd().UserId" disabled />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input id="NewPassword" name="NewPassword" type="password" class="form-control input-lg uploader-font" placeholder="New Password" data-bind="value: $root.ResetPwd().Password" required title="Your Password should be atleast 8 characters long, with at least one alphabetic character and one numeric character." />
                </div>
                <div class="progress">
                    <div id="complexity-bar" class="progress-bar progress-bar-danger" role="progressbar" style="width:0%;"></div>
                </div>
                <div class="newpassword-fm">
                    <div data-bind="if: $root.ServerMessages()" class="fail-message">
                        <span class="helper-font" data-bind="text:  $root.ServerMessages().Summary"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
               
                <table width="50%">
                    <tr onclick="showPassword()">
                        <td>
                            <div class="helper-font isclickable">
                                Show Password
                            </div>
                        </td>
                        <td>
                            <span class="icon-check-empty blue-font question-checkbox password-chk-box-font isclickable" id="show-pwd-checkbox"></span>&nbsp;
                        </td>
                    </tr>
                </table>
              
            </div>
            <div class="form-group">
                <div class="">
                    <button id="resetpassword" class="btn btn-lg btn-default btn-block normal-font submit-btn-style" data-bind="click: $root.resetPassword">Reset Password</button>
                   
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
