﻿
@{
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
    ViewBag.Title = "Register Organisation";
}
<script src="~/JS/register-org.js"></script>
<div class="container">
    <div class="col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-8  form-horizontal" data-bind="with: $root.Register()">
        <div class=" form-group">
            <div class="col-md-8 col-lg-8">
                <p align="center" class="large-font">Get <b>CusXP</b> Now</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <p align="center" class="medium-font underlined-paragraph">Organisational Information</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value:  $data.OrgSub().RegisteredName" placeholder="Registered Name" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: $data.OrgSub().RegisteredNumber" placeholder="Registered Number" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: OrgSub().BrandName" placeholder="Brand Name" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: OrgSub().BrandWebsite" placeholder="Brand Website" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <select class="normal-font" data-bind="options: $root.Industries,
                                                                             value: OrgSub().Industry" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: OrgSub().Country" placeholder="Country" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: OrgSub().State" placeholder="State/Province" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: OrgSub().City" placeholder="City" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: OrgSub().Email" placeholder="Organisation Email Address" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <select class="normal-font" data-bind="options: $root.CountryPhones,
                                                                             optionsText: 'CountryPhoneValue',
                                                                             value: OrgSub().selectedCountryPhone" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font " data-bind="value: OrgSub().PhoneNumber" placeholder="Organisation Phone Number" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <p align="center" class="medium-font underlined-paragraph">Organisational Representative</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: UserProfile().UserName" placeholder="Username" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: Password" placeholder="Password" type="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" placeholder="Confirm Password" type="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: UserProfile().Title" placeholder="Title" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: UserProfile().FirstName" placeholder="Given Name" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: UserProfile().LastName" placeholder="Surname" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: UserProfile().EmailAddress" placeholder="Email Address" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <select class="normal-font" data-bind="options: $root.CountryPhones,
                                                                             optionsText: 'CountryPhoneValue',
                                                                             value: OrgSub().selectedCountryPhone" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <input class="form-control input-lg normal-font" data-bind="value: UserProfile().PhoneNumber" placeholder="Phone Number" type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-lg-8">
                <button class="btn btn-default btn-lg btn-block normal-font" data-bind="click: $root.registerOrg">Get CusXP Now</button>
            </div>
        </div>
    </div>
</div>
