﻿@using Newtonsoft.Json

<link rel="stylesheet" href="@Href("~/Content/admin-userprofile.css")">
<link rel="stylesheet" href="@Href("~/Content/admin.css")">
<link rel="stylesheet" href="@Href("~/Content/Style.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/admin-userprofile-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/admin-userprofile-desktop.css")" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model));
</script>
<script src="@Href("~/JS/Model/constant.js")"></script>
<script src="@Href("~/JS/account-userprofile.js")"></script>
<script src="@Href("~/JS/CallingCode.js")"></script>


<div class="container">
    <div class="heading-section">
        <p align="center" class="title-font">Profile</p>
        <p align="center" class="normal-font">
            <a class="selected" href="/Account/UserProfile"> Manage Profile </a> <span>|</span> <a href="/Account/ChangePassword">Change Password</a>
        </p>
    </div>
    <div class="updatepanel clearfix" >
        <form id="userprofile-form">
            <div class="form-group relativepos">
                <label class="description-text-center">Username<br/>eg. AmberBlack@@CusExperience.com</label>
                <input id="OrganisationalUserId" name="OrganisationalUserId" disabled class="form-control input-lg uploader-font" data-bind="value: $data.User().UserName" placeholder="Username" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Salutations</label>
                <div class="required-header">*</div>
                <select id="Salutations" name="Salutations" data-bind="select: {} , options: SALUTATIONS, value:  $data.User().Title, multiselectOptions: { header: 'Salutations', multiple: false, selectedList: 1}" required></select>
            </div>
            <div class="form-group othersdiv " style="display: none;">
                <label class="description-text-center">Enter Salutation</label>
                <input id="OtherTitle" name="OtherTitle" disabled class="form-control input-lg uploader-font" data-bind="value: $data.User().OthersTitle" placeholder="Salutation" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Given Names<br />eg. Amber Rose</label>
               
                <input id="FirstName" name="FirstName" disabled class="form-control input-lg uploader-font" data-bind="value: $data.User().FirstName" placeholder="Given Names" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Surname<br />eg. Black</label>
                
                <input id="LastName" name="LastName" disabled class="form-control input-lg uploader-font" data-bind="value: $data.User().LastName" placeholder="Surname" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Country</label>
                <div class="required-header">*</div>
                <select id="UPCountry" name="UPCountry" data-bind="select: {} , options: COUNTRIES ,value:  $data.User().Country, multiselectOptions: { header: 'Country', multiple: false, selectedList: 1}" required></select>
            </div>
            <div class="form-group relativepos clearfix">
                <label class="description-text-center">Phone Number<br />eg. +65 9876 5432</label>
                <div class="required-header">*</div>
                <input data-bind="value: getCallingCode($data.User().Country())" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font country-calling-code" disabled>
                <input id="PhoneNumber" name="PhoneNumber" class="form-control input-lg uploader-font blue-font telephone-number" data-bind="value: $data.User().PhoneNumber" placeholder="Mobile" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Email<br />eg. Amber.Black@CusExperience.com</label>
                <div class="required-header">*</div>
                <input id="Email" name="Email" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $data.User().Email" placeholder="Email" type="email" required />
            </div>   
            <div class="form-group relativepos">
                <label class="description-text-center">Organisation Name<br />eg. CusExperience</label>
                <input id="OrganisationName" name="OrganisationName" disabled class="form-control input-lg uploader-font" data-bind="value: $data.User().OrgSubName" placeholder="Organisation" type="text" />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Designation<br />eg. Customer Service Officer.</label>
                <input id="Designation" name="Designation" disabled class="form-control input-lg uploader-font" data-bind="value: $data.User().Designation" type="text" />
            </div>
            <div class="form-group">
                <div class="">
                    <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click: $root.saveProfile" id="savebutton">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
