﻿.verification {
}
.fail-message{
    color:#ea6952;
}
.login-container{
    text-align:left !important;
}

::-webkit-input-placeholder {
    color: #009bdf !important;
    
}

::-moz-placeholder {
    color: #009bdf !important;
    
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #009bdf !important;
    
}
/* ie */
input:-moz-placeholder {
    color: #009bdf !important;
    
}
.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

input:focus::-webkit-input-placeholder { color:transparent !important;  }
input:focus:-moz-placeholder { color:transparent !important; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent !important; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* oldIE ;) */
.confirmation {
   display: none;
}

.btn-success{
    border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}
.btn-success:hover{
    border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}

.btn-fail{
    border-color: #ea6953 !important;
    background:#ea6953 !important;
    background-color:#ea6953 !important;
}
.btn-fail:hover{
    border-color: #ea6953 !important;
    background:#ea6953 !important;
    background-color:#ea6953 !important;
}