﻿@media only screen and (min-width: 640px) {
            .fail-message{
    height:28px;
    margin-top:-21px;
}
        .fail-message span{
            line-height:30px;
        }
    .login-container {
        width: 640px;
        text-align: center;
    }
    .input-lg{
        font-size:24px;
    }
}
