﻿@media only screen and (min-width: 320px) {
            .fail-message{
            min-height:12px;
    margin-top:-8px;
    font-size:12px;
}
        .fail-message span{
            line-height:12px;
        }
    .login-container {
        width: 320px;
        text-align: center;
        padding-left:8px !important;
        padding-right:8px !important;
    }
    .form-horizontal .form-group{
        margin-top:8px;
        margin-left:0px;
        margin-right:0px;
    }
    .input-lg{
        height:24px;
    }
}
