﻿@media only screen and (min-width: 640px) {
     #BrandAddress{
     padding-top:8px !important; 
 }
     .country-calling-code{
    width:151px;
    margin-right:16px;
}

.telephone-number{
    width: 473px;

}
    .touchpoint-container{
        margin-top:16px;
        padding-bottom: 16px;
border-bottom: 1px solid #e8e8e8;
    }
        .marge-top{
        margin-top:16px;
    }
         .marge-bot{
        margin-bottom:16px;
    }
        .required-header {
        bottom:32px;
        font-size:24px;
    }
    
        .required-header-add {
        top:39px;
        font-size:24px;
    }
         .required-header-assist {
        top:12px;
        font-size:24px;
    }
    .input-lg{
        height:48px;
    }
    #orgsub-form{
        margin-top:16px;
    }
    body {
    }
     .assistbox{
        margin-bottom:16px;
    }
     label{
         margin:0px;
     }
    .container {
        width: 640px;
    }

    .updatepanel {
        margin-top: 16px;
    }
    .touchpoint-container ::-webkit-input-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 3rem !important;
    }

   .touchpoint-container ::-moz-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }
    /* firefox 19+ */
   .touchpoint-container :-ms-input-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }
    /* ie */
    .touchpoint-container input:-moz-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }

    #orgsub-form ::-webkit-input-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }

    #orgsub-form ::-moz-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }
    /* firefox 19+ */
    #orgsub-form :-ms-input-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }
    /* ie */
    #orgsub-form input:-moz-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }

    .btn-lg {
        line-height: 27px;
    }

    .form-horizontal .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }

    input[placeholder]::-webkit-input-placeholder {
        color: #009bdf;
    }

    .commentplaceholder::-webkit-input-placeholder {
        color: #bababa;
        vertical-align: middle;
        font-size: 32px;
    }

    .top-div {
        margin-top: 16px;
    }

        .logofileinput {
        position: absolute;
        left: 0;
        top: 21px;
        height: 72px;
        width: 96px;
        opacity: 0;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 0px;
    }

        .fileBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 235px;
        width: 604px;
        z-index: 200;
        background-color: #bababa;
        top: 0px;
        left: 0;
    }

         .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 16px;
        left: 16px;
        background-color: transparent;
        width: 96px;
        height: 96px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #009bdf;
    }

        .inner-img-upload img {
            width: 94px;
            height: 94px;
        }

      .uploadTxtBox {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
      .file-input-wrapper {
height: 385px;
width: 640px;
max-height: 385px;
max-width: 100%;
overflow: hidden;
position: relative;
border-style: solid;
border-width: thin;
border-color: #009bdf;
margin-left: auto;
margin-right: auto;
}
 
     .Table-text{
        font-size:24px;
    }
}
