﻿input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent !important; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* oldIE ;) */

textarea[placeholder]:focus::-webkit-input-placeholder { color:transparent !important; }
textarea[placeholder]:focus:-moz-placeholder { color:transparent !important; } /* Firefox 18- */
textarea[placeholder]:focus::-moz-placeholder { color:transparent !important; } /* Firefox 19+ */
textarea[placeholder]:focus:-ms-input-placeholder { color:transparent !important; } /* oldIE ;) */
.btn-default[disabled], .btn-default[disabled]:hover{
    background-color:#009bdf;
    border-color: #009bdf;
   
}
.btn-default[disabled]:hover{
    pointer-events: all !important;
     cursor: not-allowed;
}
input[disabled].form-control{
    border-color:#5f5f5f !important;
}

 .required-header {
     color:#ea6953;
     position:absolute;   
    }
  .required-header-add {
     color:#ea6953;
     position:absolute;   
    }
  .required-header-assist {
     color:#ea6953;
     position:absolute;   
    }
.validation-error {
    color: red;
}
.blue-border-field{
    border: 1px solid #009bdf;
}
.btn-success{
    border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}
.btn-success:hover{
    border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}

.btn-fail{
    border-color: #ea6953 !important;
    background:#ea6953 !important;
    background-color:#ea6953 !important;
}
.btn-fail:hover{
    border-color: #ea6953 !important;
    background:#ea6953 !important;
    background-color:#ea6953 !important;
}
.pull-top-right {
position: absolute;
top: -2px;
right: 3px;
z-index: 9999;
}
.flipperTool {
position: absolute;
top: 1px;
left: 5px;
z-index: 999;
}

.addOrgSubBtn {
    padding-left: 00px;
}
.input-lg{
    border-radius: 4px;
}
.form-group .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
border-bottom-right-radius: 4px;
}
.form-group .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
border-bottom-left-radius: 4px;
}
.form-group .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
border-top-right-radius: 4px;
}
.form-group .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
border-top-left-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
border-top-left-radius: 4px;
}
.country-calling-code{

    float:left;
}

.telephone-number{
    
     float:left;
}