﻿@media only screen and (min-width: 320px) {
  
            .country-calling-code{
    width:75px;
    margin-right:8px;
}

.telephone-number{
    width: 221px;

}
    .form-group-rel{
        position:relative;
        margin-bottom:0px !important;
    }
    .form-group-password{
        margin-bottom:0px;
    }
        #login-form .form-group-password{
        margin-bottom:8px;
    }
        .progress .progress-bar-success{
        height:10px;
        display:block;
        background-color: #00CE7D;
    }
        .progress {
  height: 10px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #e8e8e8;
  border-radius: 4px;
  border: 0px solid #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0.1);
}
        .fail-message{
            height:auto;
    margin-top:0px;
   line-height:9px;
}
        .fail-message span{
            line-height:normal;
        }
    label.error{
        position:absolute;
        width:300px;
        bottom:-13px;
        left:0px;
        text-align:center;
        font-size:10px;
    }
     .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 31%;
        width: 29%;
        max-width: 31%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #5f5f5f;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #5f5f5f;
        margin: 0.2rem;
        margin-bottom:8px;
        padding-top: 7% !important; 
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 8px;
            margin-bottom: 0px;
        }
    .required-header {
        bottom: 15px;
        font-size: 16px;
    }
   

    .input-lg {
        height: 24px;
    }

    body {
    }

    .updatepanel {
        margin-top: 8px;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .container {
        width: 320px !important;
        padding-left: 8px;
        padding-right: 8px;
    }

    input[placeholder]::-webkit-input-placeholder {
        color: #009bdf;
        font-size: 14px;
    }


    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 14px;
    }

    .input-lg {
        height: 24px;
    }

    .login-btn {
        height: 24px;
        line-height: 4px !important;
    }
}
