﻿input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent !important; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* oldIE ;) */
.fail-message{
    color:#ea6952;
}
.ui-tooltip.ui-widget-content{
    color:#5f5f5f !important;
    border-color: #5f5f5f !important;
}
.btn-default[disabled]{
    background-color: #009bdf ;
    border-color: #009bdf ;
}
.tooltip-inner{
    color: #000;
    background: #fff;
    border:1px solid #5f5f5f;
    font-size:14px;
}
.input-lg{
    border-radius:4px;
}

label.server-error-message{
 color: #ea6953 !important;  
}

#userprofile-form input[disabled]{
    border-color: #5f5f5f;
    color:#5f5f5f !important;
}
 .required-header {
     color:#ea6953;
     position:relative;   
       line-height:1px;
    }
.validation-error {
    color: red;
}
.blue-border-field{
    border: 1px solid #009bdf;
}

.btn-success{
    border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}
.btn-success:hover{
    border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}

.btn-fail{
    border-color: #ea6953 !important;
    background:#ea6953 !important;
    background-color:#ea6953 !important;
}
.btn-fail:hover{
    border-color: #ea6953 !important;
    background:#ea6953 !important;
    background-color:#ea6953 !important;
}

.error-required{
    border: 1px solid #ea6953 !important;  
}
.country-calling-code{

    float:left;
}

.telephone-number{
    
     float:left;
}