﻿@media only screen and (min-width: 640px) {
        .country-calling-code{
    width:151px;
    margin-right:16px;
}

.telephone-number{
    width: 473px;

}
    .container{
        min-height:1380px;

    }
    .form-group-rel{
        position:relative;
        margin-bottom:9px;
    }
    .form-group-password{
        margin-bottom:0px;
    }
            #login-form .form-group-password{
        margin-bottom:16px;
    }
    /*
   .fm-area{
       position: absolute;
       bottom:0;
   }*/

    .progress .progress-bar-success{
        height:20px;
        display:block;
        background-color: #00CE7D;
    }
        .progress {
  height: 20px;
  margin-bottom: 0px;
    margin-tOP: 0px;
  overflow: hidden;
  background-color: #e8e8e8;
  border-radius: 4px;
  border: 0px solid #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0.1);
}
        .fail-message{
    height:auto;
    margin-top:0px;
}

        a:hover{
            color:#0068b0 !important;
        }
        .fail-message span{
            line-height:normal;
        }
    label.server-error-message{
    position:absolute;
        width:640px;
        bottom:-24px;
        font-size:14px;
        text-align:center;
}
     .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32.4%;
        width: 32.4%;
        max-width: 33%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #5f5f5f;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #5f5f5f;
        margin: 0.2rem;
        margin-bottom:16px;
        padding-top: 46px !important;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%); /* IE 9 */
            -webkit-transform:translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding-left:8px;
            padding-right:8px;
            font-size: 16px;
            margin-bottom: 0px;
        }
    .required-header {
     
        font-size:24px;
    }
    .input-lg{
        height:48px;
        border-radius:4px;
    }
   ::-webkit-input-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }

   ::-moz-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }
    /* firefox 19+ */
   :-ms-input-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }
    /* ie */
   input:-moz-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 24px;
    }

    .container {
        width: 640px;
    }

    .updatepanel {
        margin-top: 16px;
    }



    .form-horizontal .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }

    input[placeholder]::-webkit-input-placeholder {
        color: #009bdf;
    }

   
    

    .top-div {
        margin-top: 16px;
    }
}
