﻿@media only screen and (min-width: 320px) {
                .country-calling-code{
    width:75px;
    margin-right:8px;
}

    .telephone-number {
        width: 221px;
    }
    #orgsub-form textarea#BrandAddress{
        padding-left:2px;
        padding-right:2px;
        padding-top:2px;
    }
    .front{
        height:185px;
    }
    .flip-container{
        height:185px;
    }
    .emptytablerow {
display: none;
}
    .flipperTool img {
width: 16px;
height: 10px;
}
    .file-input-wrapper {
height: 187px;
width: 320px;
max-height: 300px;
max-width: 100%;
overflow: hidden;
position: relative;
border-style: solid;
border-width: thin;
border-color: #009bdf;
margin-left: auto;
margin-right: auto;
}
    .inner-img-upload {
display: block;
position: absolute;
bottom: 8px;
left: 8px;
background-color: transparent;
width: 6rem;
height: 6rem;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-style: solid;
border-width: 1px;
border-color: #009bdf;
}
    .inner-img-upload img {
width: 58px;
height: 58px;
}
        .fileBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 100px;
        width: 302px;
        z-index: 200;
        background-color: #bababa;
        top: 23px;
        left: 0%;
    }
    .touchpoint-container {
        margin-top: 8px;
        padding-bottom: 8px;
border-bottom: 1px solid #e8e8e8;
    }

    .marge-top {
        margin-top: 8px;
    }

    .marge-bot {
        margin-bottom: 8px;
    }

    .required-header {
        bottom: 15px;
        font-size: 16px;
    }

    .required-header-add {
        top: 48px;
        font-size: 16px;
    }

    .required-header-assist {
        top: 9px;
        font-size: 16px;
    }

    .input-lg {
        height: 24px;
    }

    #orgsub-form {
        margin-top: 8px;
    }

    .assistbox {
        margin-bottom: 8px;
    }

    label {
        margin: 0px;
    }

    body {
    }

    .updatepanel {
        margin-top: 8px;
    }

    .form-group {
        margin-bottom: 12px;
    }

    .container {
        width: 320px !important;
        padding-left: 8px;
        padding-right: 8px;
    }

    #orgsub-form input {
        line-height: 21px;
        padding: 0px 4px;
    }

    #orgsub-form ::-webkit-input-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 18px;
    }

    #orgsub-form ::-moz-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 18px;
    }
    /* firefox 19+ */
    #orgsub-form :-ms-input-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 18px;
    }
    /* ie */
    #orgsub-form input:-moz-placeholder {
        color: #009bdf;
        font-style: italic;
        font-size: 18px;
    }

    input[placeholder]::-webkit-input-placeholder {
        color: #009bdf;
        font-size: 14px;
    }


    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 14px;
    }

    .input-lg {
        height: 24px;
    }

    .login-btn {
        height: 24px;
        line-height: 4px !important;
    }

        .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 6rem;
        width: 6rem;
        opacity: 0;
    }
}
