﻿@media only screen and (min-width: 320px) {

    .grid1-font {
        font-size: 8px;
    }

    .grid2-font {
        font-size: 12px;
    }

    .grid3-font {
        font-size: 16px;
    }

    .grid4-font {
        font-size: 20px;
    }

    .grid5-font {
        font-size: 24px;
    }

    .grid6-font {
        font-size: 28px;
    }

    .grid7-font {
        font-size: 32px;
    }

    .grid8-font {
        font-size: 36px;
    }
}
@media only screen and (min-width: 1024px) {
    .grid1-font {
        font-size: 16px;
    }

    .grid2-font {
        font-size: 32px;
    }

    .grid3-font {
        font-size: 24px;
    }

    .grid4-font {
        font-size: 64px;
    }

    .grid5-font {
        font-size: 80px;
    }

    .grid6-font {
        font-size: 96px;
    }

    .grid7-font {
        font-size: 112px;
    }

    .grid8-font {
        font-size: 128px;
    }
}