.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color:#ce1415 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default:active {
	color:#ce1415 !important;
}

.ui-multiselect {
	border-color:#ce1415 !important;
}

.ui-icon-triangle-2-n-s:before {
	color:#ce1415 !important;
}

.touchpoint-ms.ui-state-active {
	background:#ce1415 url("") !important;
	color: #fff !important;
}

.ui-state-active .ui-icon-triangle-2-n-s:before {
	background:#ce1415 !important;
}

.label.ui-state-active {
	background:#ce1415 !important;
}

.ui-widget-content {
	color:#ce1415 !important;
	border-color:#ce1415 !important;
}

span.Number {
	color:#ce1415;
	border-color:#ce1415 !important;
}

span.Number:hover {
	background:#ce1415;
}

.rate-selected {
	background-color:#ce1415 !important;
}

input[placeholder]{
	color:#ce1415;
}

input[type="text"] {
	border:1px solid #ce1415;
}

textarea[placeholder]{
	color:#ce1415;
}

textarea {
	border:1px solid #ce1415;
}

.progress-bar-success {
	background-color:#ee1c25;
}
	
@media only screen and (max-width:640px) {

	.title-font { 
		font-size: 3.2rem !important;
		color:#ce1415;
	}
	
	.touchpoint-ms span {
		font-size:20px !important;
	}
	
	.survey-div {
		min-height:248px;
	}
	
	.description-text {
		font-size:16px;
		margin-top:0px;
	}
	
	.exp-area-choices {
		border:1px solid #ce1415;
		color:#ce1415;
	}
	
	.progress-bar-success {
		color:#ce1415;
	}
	
	.share-your-exp {
		border:1px solid #ce1415;
		background:#ce1415;
		height:50px;
		margin:10px;
	}
	
	.share-your-exp:hover {
		background:#ee1c25;
	}
	
	.description-text {
		font-size:14px;
	}
}
	
@media only screen and (min-width: 320px) {

	.title-font {
		color:#ce1415;
	}
	
	.exp-area-choices {
		border:1px solid #ce1415;
		color:#ce1415;
	}
	
	.share-your-exp {
		border:1px solid #ce1415;
		background:#ce1415;
		height:50px;
		padding:10px;
		margin:0px;
	}
	
}

    .centralize{
        text-align:center;
    }