﻿@font-face {
font-family: 'MyriadPro-Light';

src: url('../fonts/MyriadPro-Light.woff') format('woff');
src: url('../fonts/MyriadPro-Light.eot') format('embedded-opentype');
src: url('../fonts/MyriadPro-Light.otf') format('opentype');
}

@font-face {
font-family: 'MyriadPro';

src: url('../fonts/MYRIADPRO-REGULAR.eot') format('embedded-opentype');
src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
src: url('../fonts/MYRIADPRO-REGULAR.otf') format('opentype');
}

:focus::-webkit-input-placeholder { color:transparent !Important; }
:focus:-moz-placeholder { color:transparent !Important; } /* Firefox 18- */
:focus::-moz-placeholder{ color:transparent !Important; } /* Firefox 19+ */
:focus:-ms-input-placeholder  { color:transparent !Important; } /* oldIE ;) */

textarea[placeholder]:focus::-webkit-input-placeholder { color:transparent; }
textarea[placeholder]:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
textarea[placeholder]:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
textarea[placeholder]:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

#support-form .support-area-choices p{
    color:#009bdf;
}
#support-form .support-area-choices.choice-selected p{
    color:#fff;
}

.main-text, h2{
    color:#1b1b1b;
}
.sec-text, p, h3{
    color:#8d8d8d
}
.ter-text{
    color:#8d8d8d;
}
::-webkit-input-placeholder {
    color: #009bdf !important;
    font-style: italic;
}


::-moz-placeholder {
    color: #009bdf !important;
    font-style: italic;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #009bdf !important;
    font-style: italic;
}
/* ie */
input:-moz-placeholder {
    color: #009bdf !important;
    font-style: italic;
}

.ui-state-default.country-msb{
    font-weight:normal;
}
.country-msb label{
    color:#000;
}
.country-msb label span{
    padding-left:0px;
}
.country-msb .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #fbd850;
background: #009bdf url("") 50% 50% repeat-x;

color: #fff;
}
.btn-success{
     border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}
 .btn[disabled]{
     opacity:1;
 }

.country-msb label{
   font-style:normal;
}
.country-msb .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {

color: #fff;
}
.attachment-upload-image{
    max-width:100%;
}
#contact-form .survey-footer {
width: 100%;
text-align: right;
color: #ea6953;
padding-right: 8px;
}
.close{
    color:#009bdf;
    opacity:1;
}
.close:hover{
    color:#009bdf;
}
.close:focus{
    color:#009bdf;
}
.relativepos{
    position:relative;
}
.hr-spacer{
    padding:0px;
}
hr {
    border-color:#e8e8e8;
}
.help-block ul{
    margin-left: auto;
margin-right: auto;
padding-left: 0;
}
.country-mss span{
    font-style:normal;
}
.spliter{
    border-color:#000;
}
.problem-choices.choice-selected{
    background-color:#ea6953 !important;
    border-color:#ea6953 !important;
    color:#fff !important;
}
.solution-choices.choice-selected{
    background-color:#00ce74 !important;
    border-color:#00ce74 !important;
    color:#fff !important;
}
  .support-area-choices{
        cursor:pointer;
          word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009bdf;
        background-color:transparent;
    }
.navbar-nav{
    margin-top:0px;
    margin-bottom:0px;
}


.scroll-top{
    left:2%;
}
.btn-outline:focus {
    border-color: #009bdf !important;
}
.help-block li{

list-style-type: none;
}
.support-img-div {
    position: relative; 
}
.support-img-div img {
display: block;
margin-left: auto;
margin-right: auto;
}
body {
    font-family: 'MyriadPro-Light';
}

textarea, input[type="text"] {
    -webkit-appearance: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #fff;
    border-color: #009bdf;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-brand.cusexp-header {
    color: #1b1b1b !important;
    font-size: 18px !important;
    font-family: 'MyriadPro';
}

a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #009bdf !important;
}

.btn-submit {
    background-color: #009bdf;
    border-radius: 4px;
    color: #fff;
}

label {
    color: #bababa;
    font-weight: normal;
    font-style: italic;
}

.form-control {
    color: #009bdf;
    border: 1px solid #009bdf;
}

    .form-control:focus {
        color: #009bdf;
        border: 1px solid #009bdf;
    }

.navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}
.navbar-toggle{
    margin-right:5px;
}
.navbar-default .navbar-toggle:hover {
    border-color: #fff;
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus {
    border-color: #fff;
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #009bdf;
    }

.navbar-fixed-top {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #bbbdc0;
}

.align-left {
    text-align: left;
}

.btn-outline {
    border: 1px solid #009bdf;
    color: #009bdf;
}

.logo-list {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    margin: 5px 0 0;
    padding: 0 0 0 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
}

    .logo-list li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 12px 45px 12px;
        list-style: none outside;
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #009bdf;
    background-color: transparent;
}

.nav li {
    font-size: 14px;
    text-align:right;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #fff;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a {
        color: #009bdf;
        font-weight: bold;
    }

.navbar {
    min-height: 50px;
}
ui-icon-triangle-2-n-s:before {
font-family: "ios7-style-font-icons";
content: "\e16f";
font-size: 12px !important;
color: #009bdf;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > a {
    color: #009bdf;
}
.btn-default {
color: #fff;
background-color: #009bdf;
border-color: #009bdf;
}
.btn-default:hover {
color: #fff;
background-color: #009bdf;
border-color: #009bdf;
}
.btn-default:focus {
color: #fff;
background-color: #009bdf;
border-color: #009bdf;
}
.navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar-toggle {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar {
    font-weight: normal;
}

.navbar-default {
    background-color: transparent;
}

    .navbar-default .navbar-collapse {
        background: rgba(255, 255, 255, 0.9);
    }

.navbar-header {
    background-color: #fff;
    z-index: 1000;
}

.navbar-brand {
    padding-top: 15px;
    height: 50px;
    font-size: 15px !important;
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #009bdf;
}

.list-of-things {
    text-align: left;
}

.question-list:before {
    background: url(../Images/sprite.png) no-repeat -49px -22px;
    content: "";
    position: absolute;
    width: 15px;
    height: 9px;
    bottom: -9px;
    left: 17.35%;
}

.question-list {
    padding: 27px 1.5% 2px 3.2%;
    border: 1px solid #525353;
    border-radius: 5px;
    position: relative;
    text-align: left;
    font: 300 italic 18px/29px 'MyriadPro-Light';
    color: #5f5f5f;
    counter-reset: item;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

    .question-list li {
        margin-bottom: 29px;
        list-style: decimal inside;
    }

.win-text-container p {
    color: #8d8d8d;
}
div.sweetcaptcha {
background: #fff !important;
margin-left: auto !important;
margin-right: auto !important;
}
    .ui-icon-triangle-2-n-s {
background: none !important;
text-indent: 0 !important;
}
    .fifty{
        width:50%;
    }
@media (min-width: 320px) {
    .fifty-f {
width: 50%;
padding-left: 8px;
padding-right: 8px;
}
    .cr-footer p{
        font-size:10px !important;
    }
    .country-msb span{
    padding-left:0px;
}
     .required-header{
        position:absolute;
        color:#ec7864;
        top:26px;
        left:15px;
        font-size:24px;

    }
          .required-header-mobile{
        position:absolute;
        color:#ec7864;
        top:26px;
        left:15px;
        font-size:24px;

    }
          .required-header-message{
        position:absolute;
        color:#ec7864;
        top:7px;
        left:15px;
        font-size:24px;

    }
    .form-control{
        padding-left:8px;
        font-size:12px;
    }
 .description-text-center {
    display: block;
     font-size: 14px;
     font-style: italic;
      color: #8d8d8d;
      text-align: center;
}
       .country-mss.ui-state-active {
background: #fff !important;
color: #009bdf !important;
}
    .ui-icon {
width: 16px;
height: 13px;
}
    .ui-multiselect-menu {
background-color: #FFFFFF !important;
color: #e8e8e8 !important;
border: 1px solid #5f5f5f !important;
font-family: 'MyriadPro-Light' !important;
font-size: 12px !important;
}
    .ui-multiselect {
background-color: #FFFFFF;
color: #009BDF;
border: 1px solid #009BDF !important;
width: 100% !important;
font-family: 'MyriadPro-Light' !important;
font-size: 12px !important;
height: auto;
min-height: 24px;
line-height: 12px;
}
    .ui-icon-triangle-2-n-s:before {
font-family: "ios7-style-font-icons";
content: "\e16f";
font-size: 12px !important;
color: #009bdf;
}
      .country-mss.ui-state-active .ui-icon-triangle-2-n-s:before {
background: #fff !important;
color: #009bdf !important;
}
    .country-mss.ui-state-active{
        background:#fff !important;
         color:#009bdf !important;
    }
    .country-mss .ui-state-active, .ui-widget-content .ui-state-active{
         border-color:#009bdf !important;
         
     }
     .country-mss span{
        font-weight:normal;
        padding-left:0px;
    }
     .country-mss label{
         color:#009bdf !important;
     }
    .country-mss .ui-widget-header{
         border-color:#009bdf !important;
     }
     .country-mss.ui-state-active span{
         color:#009bdf;
     }
     .ui-multiselect-menu.country-mss{
         width:258px !important;
     }
    #support-form .login-btn {
height: 86px;
line-height: 4px;
}
        #contact-form .login-btn {
height: 86px;
line-height: 4px;
}
    .support .modal-header {
padding-top: 8px;
}
    .support-img-div img {
width: 48px !important;
}
    .attachmentinput {
cursor: pointer;
position: absolute;
height: 48px;
width: 100%;
top: 0px;
left: 0px;
opacity: 0;
}
    .description-text-center {
display: block;
font-size: 14px;
font-style: italic;
color: #8d8d8d;
}
    #support-form label {
font-weight: normal !important;
}
        .header-support h3{
        font-size:16px;
        line-height:normal !important;
    }
        .support .modal-content{
        width:300px;
        margin-left:auto;
        margin-right:auto;
    }
    .support .modal-body {
padding-top: 0px;
height: 255px;
overflow-y: scroll;
}
        #contact-form .input-lg {
height: 32px ;
padding-left:2px;
max-width:100%
}
    #support-form .input-lg {
height: 24px !important;
padding-left:8px;
}
    #support-form .support-section {
margin-bottom: 8px;
position: relative;
}
    .support-tagdiv {
min-height: 18px;
margin-top: 6px;
margin-left: auto !important;
margin-right: auto !important;
margin-bottom: 8px;
position: relative;
display: table;
table-layout: auto;
width: 100% !important;
}
      .support-area-choices {
       
        min-width: 32%;
        width: 48.8%;
        
        min-height:24px;
        max-height:24px;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
      
        margin: 0.2rem;
        padding-top: 10px !important;
        
    }

        .support-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%); /* IE 9 */
            -webkit-transform:translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 12px;
            margin-bottom:0px;
        }
    .issue-footer a {
font-size: 24px;
line-height: 40px;
cursor:pointer;
}
        .issue-footer a:hover {

text-decoration:none;
}
    .issue-footer {
z-index: 10000;
position: fixed;
width: 12px;
height: 40px;
background-color: #e8e8e8;
bottom: 46.5%;
left: 0px;
border: 1px solid #e8e8e8;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
text-align: center;
}
    .container-footer{
       
        text-align:left;
    }
    .win-text-container {
        width: 288px;
        margin-left: auto;
        margin-right: auto;
    }

    footer .footer-below {
        padding-left: 8px;
        padding-right: 8px;
        color: #1b1b1b;
        background-color: #fff;
    }

    .btn-submit {
        font-size: 16px;
        width: 100%;
        height: 86px;
    }

    #roundimg {
        max-width: 140px  !important;
    }

    .scheme-box .short:first-child {
        margin-left: 0;
    }

    .color.align {
        display: block;
        margin-bottom: 74px;
    }

    .scheme-box {
        text-align: center;
        color: #fff;
        font: 300 15px/19px "MyriadPro-Light";
        margin: -11px 0 20px;
    }

        .scheme-box strong {
            background: #525353;
            display: block;
            padding: 9px 2.5%;
            border-radius: 4px;
            position: relative;
            margin-bottom: 29px;
            font-weight: 300;
        }

        .scheme-box .short {
            width: 29%;
            margin-left: 4.9%;
            display: inline-block;
            vertical-align: top;
            border-radius: 4px;
            margin-bottom: 29px;
        }

    .boxcon-m-l {
        margin-left: -11px;
    }

    .combination-list {
        font: 300 10px/14px "MyriadPro-Light";
        margin: 27px 0 8px;
        padding: 0 0 0 0px;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        .combination-list li {
            margin: 0 11px 11px 0;
        }

        .combination-list .text {
            background: none;
            color: #525252;
            width: 27%;
            padding-left: 0;
            text-align: left;
        }

        .combination-list li {
            width: 27%;
            padding: 12px 5px;
            margin: 0 6px 8px 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .combination-list li {
            list-style: none outside;
            display: inline-block;
            vertical-align: top;
            background: #525252;
            border-radius: 3px;
            text-align: center;
            margin: 6px 6px 9px 9px;
            padding: 11px 5px;
            color: #fff;
        }

    #bigimg {
        max-width: 294px;
    }

    #boxcon {
        max-width: 60px !important;
    }

    #boximg {
        max-height: 51px;
        max-width: 84px  !important;
    }

    .btn-outline {
        min-width: 142px;
    }

    .btn-lg {
        padding-top: 6px;
        padding-bottom: 6px;
        width:100%;
        text-overflow: ellipsis;
    }
    .btn-lg, .btn-group-lg>.btn {
  padding: 10px 2px; 
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px;
}
    .btn-outline:hover {
        border-color: #e8e8e8;
        color: #000 !important;
        background-color: #e8e8e8;
    }

    .content-container {
        margin-left: auto;
        margin-right: auto;
    }

    .content-container2 {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        *position: relative;
        text-align: center;
    }

        .content-container2 h3 {
            line-height: 58px;
        }

        .content-container2 p {
            font-size: 18px;
            line-height: 24px;
        }

    .content-container {
        width: 290px;
        overflow: hidden;
        *position: relative;
    }

    .inner {
        float: left;
        position: relative;
        left: 50%;
    }

        .inner img {
            display: block;
            position: relative;
            left: -50%;
        }

    .quotes {
        color: #919191;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.6px;
        font-style: italic;
    }

    #peterdrucker {
        max-width: 294px;
    }

    section h2 strong {
        font-weight: 600;
    }

    section h2 {
        font-size: 36px;
        line-height: 58px;
    }

    h3 {
        font-size: 24px;
        line-height: 42px !important;
    }

    .container {
        width: auto;
    }

    .channel-list {
        font-size: 13px;
    }
      .relativepos label{
        font-size:16px;
    }
}

.scheme-box strong:before {
    position: absolute;
    background: url(../Images/sprite.png) no-repeat -72px -22px;
    content: "";
    width: 51px;
    height: 29px;
    bottom: -28px;
    left: 50%;
    margin: 0 0 0 -26px;
}

.bottom:before {
    display: none;
}

.bottom {
    margin-bottom: 0px !important;
}

.light-para {
    color: #8d8d8d;
}

.channel-list {
    padding-left: 0px;
    color: #fff;
    margin: 0 0 18px;
    width: 103%;
}

    .channel-list li {
        list-style: none outside;
        display: inline-block;
        vertical-align: top;
        background: #525252;
        border-radius: 5px;
        width: 39%;
        text-align: center;
        margin: 19px 19px 12px 12px;
        padding: 15px 5px;
        height: 76px;
        white-space: nowrap;
    }

        .channel-list li span {
            vertical-align: middle;
            display: inline-block;
            white-space: normal;
        }

        .channel-list li:after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 1px;
            overflow: hidden;
            margin: 0 0 0 -1px;
            vertical-align: middle;
        }
        .ui-widget-content {
background: #fff url("") !important;
}
        .ui-widget-header {
border: 1px solid #009bdf;
background: #fff url("") 50% 50% repeat-x;
color: #009bdf;
font-weight: normal;
}
@media (min-width: 768px) {
    a.btn-lg{
         width:640px;
         height: 176px;
    }
    .btn-lg{
        width:100%;
    }
    .fifty-f {
width: 50%;
padding-left: 16px;
padding-right: 16px;
}
    .cr-footer p{
        font-size:14px !important;
    }
    #headercontainer{
    padding-left:0PX;
}
    .country-msb span{
    padding-left:8px;
}
    #contact-form{
        max-width:640px;
        margin-left:auto;
        margin-right:auto;
    }
            #contact-form .login-btn {
height: 176px !important;
padding-left:8px;
}
            .btn-default:hover{
                background-color:#5f5f5f !important;
                border-color: #5f5f5f  !important;
                color:#fff  !important;

            }
   #contact-form .survey-footer {
width: 100%;
margin-left: auto;
margin-right: auto;
text-align: right;
color: #ea6953;
padding-right:16px ;
font-size: 18px;
}
    .navbar-nav > li > a {
padding-top: 17px;
padding-bottom: 11.5px;
}
    .relativepos label{
        font-size:20px;
    }
        .required-header{
        position:absolute;
        color:#ec7864;
        top:41px;
        left:15px;
        font-size:24px;

    }
                .required-header-mobile{
        position:absolute;
        color:#ec7864;
        top:41px;
        left:15px;
        font-size:24px;

    }
          .required-header-message{
        position:absolute;
        color:#ec7864;
        top:13px;
        left:15px;
        font-size:24px;

    }
    .form-control{
        padding-left:8px;
        padding-top: 0px;
        padding-bottom:0px;
        padding-right:8px;
        font-size:24px;
    }
    .country-mss span{
        font-weight:normal;
        padding-left:8px;
    }
    .ui-icon {
width: 30px !important;
height: 20px !important;
}
    .ui-icon-triangle-2-n-s {
background: none !important;
text-indent: 0 !important;
}
    .country-mss .ui-state-active {
background: #fff !important; 
}
    .ui-multiselect-menu {
background-color: #FFFFFF;
color: #009BDF;
border: 1px solid #5f5f5f !important;
font-family: 'MyriadPro-Light' !important;
font-size: 24px !important;
}
    .ui-multiselect-menu.country-mss {
width: 521px !important;
}
    .ui-multiselect {
background-color: #FFFFFF;
color: #009BDF;
border: 1px solid #009BDF !important;
width: 100% !important;
font-family: 'MyriadPro-Light' !important;
font-size: 24px !important;
height: auto;
min-height: 48px;
line-height: 24px;
}
    .ui-multiselect {
padding: 0px !important;
padding-right: 4px !important;
}
    .ui-icon-triangle-2-n-s:before {
font-family: "ios7-style-font-icons";
content: "\e16f";
font-size: 18px !important;
color: #009bdf;
}
    .fifty{
        width:50% !important;
    }
    .normal-font{
        font-size:32px;
    }
    #support-form .login-btn {
height: 176px !important;
line-height:27px;
}
    .support .modal-header {
padding-top: 15px;
}
    .support-img-div img {
width: 96px !important;
}
    .attachmentinput {
cursor: pointer;
position: absolute;
height: 96px;
width: 100%;
top: 0px;
left: 0px;
opacity: 0;
}
    .description-font-text {
font-size: 16px;
}
    .description-text-center {
display: block;
font-size: 20px;
text-align: center;
font-style: italic;
color: #8d8d8d;
}
    .support .modal-content{
        width:580px;
    }
    .support .modal-body {
padding-top: 0px;
height: 528px;
}
      #contact-form .input-lg {
height: 48px ;
padding-left:4px;
}
    #support-form .input-lg {
height: 48px !important;
}
    #support-form .support-section {
margin-bottom: 16px;
position: relative;
}
    .support-tagdiv {
min-height: 50px;
margin-top: 10px;
margin-left: auto !important;
margin-right: auto !important;
margin-bottom: 16px;
position: relative;
display: table;
table-layout: auto;
width: 100% !important;
}
      .support-area-choices {
        min-width: 49.3%;
        width: 50%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #5f5f5f;
        padding: 0px !important;
        padding-top:46px !important;
        padding-left: 4rem;
        margin: 0.2rem; 
    }
    .support-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%); /* IE 9 */
            -webkit-transform:translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 24px;
            margin-bottom: 0px;
        }
    .header-support h3{
        font-size:32px;
    }

    .issue-footer a {
font-size: 48px;
line-height: 60px;
}

    .issue-footer {
position: fixed;
width: 27px;
height: 60px;
background-color: #e8e8e8;
bottom: 46.5%;
left: 0px;
border: 1px solid #e8e8e8;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
text-align: center;
}
      .container-footer{
        padding-left:16px;
        padding-right:16px;
    }
    .win-text-container {
        width: 400px;
    }

    #peterleft {
        float: left;
    }

    #peterwidth {
        float: right;
        width: 50% !important;
    }

    footer .footer-below {
        padding-left: 16px;
        padding-right: 16px;
        color: #1b1b1b;
        background-color: #fff;
    }

    .channel-list {
        font-size: 18px;
    }

    .btn-submit {
        font-size: 34px;
        width: 100%;
        height: 176px;
    }

    #roundimg {
        max-width: 1500px  !important;
    }

    .boxcon-m-l {
        margin-left: 0px;
    }

    #bigimg {
        max-width: 1094px;
    }

    #boxcon {
        max-width: 260px !important;
    }

    #boximg {
        max-height: 246px;
        max-width: 284px;
    }

    #peterdrucker {
        max-width: 500px;
    }

    .text-container {
        position: relative;
        min-width: 568px;
        width: 768px;
        height: 343px;
        margin-left: auto;
        margin-right: auto;
    }

    .picture-container {
        position: relative;
        min-width: 568px;
        width: 727px;
        height: 343px;
        margin-left: auto;
        margin-right: auto;
    }

    .picture-container-l {
        float: left;
    }

    .picture-container-r {
        float: right;
    }

    .activity-list {
        margin: 0 auto;
        color: #919191;
        counter-reset: item;
        width: 97%;
    }

        .activity-list li {
            list-style: none outside;
            margin: 0 0 0 5px;
            display: inline-block;
            vertical-align: top;
        }

    .combination-list {
        font: 300 13px/18px "MyriadPro-Light";
        text-align: left;
        color: #e0e0e0;
        width: 100%;
        margin-bottom: 17px;
    }

        .combination-list li {
            list-style: none outside;
            display: inline-block;
            vertical-align: top;
            background: #525252;
            border-radius: 3px;
            width: 14%;
            text-align: center;
            margin: 6px 6px 9px 9px;
            padding: 22px 5px;
        }

        .combination-list .text {
            background: none;
            color: #525252;
            width: 22%;
            padding-left: 0;
            text-align: left;
        }

    .scheme-box .short:first-child {
        margin-left: 0;
    }

    .color.align {
        display: block;
        margin-bottom: 74px;
    }

    .scheme-box {
        text-align: center;
        color: #fff;
        font: 300 35px/37px "MyriadPro-Light";
        margin: -11px 0 20px;
    }

        .scheme-box strong {
            background: #525353;
            display: block;
            padding: 18px 5%;
            border-radius: 5px;
            position: relative;
            margin-bottom: 59px;
            font-weight: 300;
        }

        .scheme-box .short {
            width: 29%;
            margin-left: 4.9%;
            display: inline-block;
            vertical-align: top;
            border-radius: 7px;
            margin-bottom: 62px;
        }

    p {
        font-size: 24px;
        line-height: 38px;
    }

    .btn-outline {
        min-width: 182px;
    }

    .btn-lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .btn-outline:hover {
        border-color: #e8e8e8;
        color: #000 !important;
        background-color: #e8e8e8;
    }

    .content-container {
        margin-left: auto;
        margin-right: auto;
    }

    .content-container2 {
        width: 491px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        *position: relative;
        text-align: center;
    }

        .content-container2 h3 {
            line-height: 58px;
        }

        .content-container2 p {
            font-size: 24px;
            line-height: 38px;
        }

    .content-container {
        width: 370px;
        overflow: hidden;
        *position: relative;
    }

    .inner {
        float: left;
        position: relative;
        left: 50%;
    }

        .inner img {
            display: block;
            position: relative;
            left: -50%;
        }

    .content-container-convo {
        width: auto;
    }


    .inner2 {
        float: left;
        position: relative;
    }

        .inner2 img {
            display: block;
            position: relative;
        }

    .thinker-button-container {
        padding-top: 100px;
        padding-bottom: 122px;
    }

    .quotes {
        color: #919191;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.6px;
        font-style: italic;
    }

    section h2 strong {
        font-weight: 600;
    }

    section h2 {
        font-size: 48px;
        line-height: 77px;
    }

    h3 {
        font-size: 36px;
        line-height: 58px;
    }

    .container {
        width: auto;
        max-width: 1024px;
    }
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

@media only screen and (min-width : 320px) and (max-width : 1024px) {
    .btn-outline{
        font-size:12px;
    }
  .country-msb .ui-state-active,   .country-msb.ui-widget-content .ui-state-active {
  border-color: #e8e8e8 !important;
}
    img {
        max-width: 100% !important;
    }
}

#headercontainer {
    max-width: 2000px;
}

.error-required{
    border: 1px solid #ea6953 !important;  
    border-radius:4px;
}

label.error{
    color: #ea6953 !important;  
}

.btn-fail{
    border-color: #ea6953 !important;
    background:#ea6953 !important;
    background-color:#ea6953 !important;
}
.btn-success{
     border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}
.issue-footer{
    background-color:#fff;
    
}

.issue-footer a, .issue-footer a:hover, .issue-footer a:focus, .issue-footer a:active{
    color: rgba(49,15,81, 1) !important;
}
.relativepos a{
    color:#FFF !important;
}

.cr-footer a{
    color:#fff !important;
}