﻿#secondright{
    float:none;
}
#peterwidth{
    float: none;
}

@media only screen and (min-width: 320px) {
    #exp {
  padding-bottom: 50px;
}
    .experiencedcxo {
        height: 86px;
        padding: 14px;
    }

    .assisttextbox textarea {
        min-height: 48px !important;
    }

    .relativepos .ui-multiselect {
        height: 34px;
        font-size: 16px !important;
    }

    .relativepos .input-lg {
        font-size: 14px;
    }

    #contacter ::-webkit-input-placeholder {
        font-size: 16px;
        line-height: normal;
    }

    #contacter::-moz-placeholder {
        font-size: 16px;
    }
    /* firefox 19+ */
    #contacter:-ms-input-placeholder {
        font-size: 16px;
    }
    /* ie */
    #contacterinput:-moz-placeholder {
        font-size: 16px;
    }
}
@media only screen and (min-width: 768px) {
     #contacter ::-webkit-input-placeholder {
  font-size:24px;
  line-height:normal;
}
     .relativepos .ui-multiselect {
  
  font-size: 24px !important;
}
       .relativepos .input-lg{
    font-size:24px ;
    line-height:normal;
    border-radius:4px;
}
#contacter::-moz-placeholder {
     font-size:20px;
}
/* firefox 19+ */
#contacter:-ms-input-placeholder {
  font-size:20px;
}
/* ie */
    #contacterinput:-moz-placeholder {
        font-size: 20px;
    }

    .item img{
        margin-left:auto;
        margin-right:auto;
    }
    .experiencedcxo{
        margin-top:82px;
        padding: 42px !important;
        margin-left:auto;
        margin-right:auto;
    }
    #peterwidth {
        padding-top: 0px;
    }
    #peterleft, #secondright{
         padding-top: 100px;
         padding-bottom:75PX;
    }
    #secondright{
        float:right;
    }
    #corporateLeft{
         padding-top: 100px;
         padding-bottom:112PX;
         float:left;
    }
    #exp{
        padding-bottom:50px;
    }
    .assisttextbox textarea{
        min-height: 108px !important;
    }
}
.btn-default.btn-success{
    border-color:#313131 !important;
    background-color:#313131 !important;

}
 .text-leader{
     font-weight:bold;
     color:#fff !important;
 }
.content-text{
    padding-left:16px;
    text-align:left !important;
}
.country-msb .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #e8e8e8 !important;
  background: #e8e8e8 url("") 50% 50% repeat-x;
  color: #000 !important; 
}
.ui-widget-content .ui-state-active {
  border-color: #e8e8e8 !important;
}
#contacter .ui-multiselect {
  background-color: #e8e8e8;
  color: #000;
  border: 1px solid #000 !important;

}
.ui-widget-content {
  background: #e8e8e8 url("") !important;
}
.ui-widget-header {
  border: 1px solid #5f5f5f !important;
  background: #fff url("") 50% 50% repeat-x !important;
  color: #000;
  font-weight: normal;
}
#contacter .ui-icon-triangle-2-n-s:before {
 
  color: #000;
}
#contacter ::-webkit-input-placeholder {
    color: #000 !important;
    font-style: italic;
}

#contacter::-moz-placeholder {
    color: #000 !important;
    font-style: italic;
}
/* firefox 19+ */
#contacter:-ms-input-placeholder {
    color: #000 !important;
    font-style: italic;
}
/* ie */
#contacterinput:-moz-placeholder {
    color: #000 !important;
    font-style: italic;
}
.content-text li p {
    margin-bottom:0px;
    line-height:normal;
}
.content-text li{
    margin-bottom:16px;
    color: #e8e8e8;
}

footer .footer-below{
    background-color:transparent !important;
}
.btn-default {
  color: #fff !important;
  background-color: #8d8d8d !important;
  border-color: #8d8d8d !important;
}
.form-control {
    background-color:#e8e8e8;
    border-color:#e8e8e8 !important;
    color:#000 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #bababa !important;
}
#headercontainer a, a:hover, a:focus, a:active, a.active {
  outline: 0;
  color: #e8e8e8 !important;
}
.navbar-fixed-top {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e8e8e8 !important;
}
.navbar-header {
  background-color: rgba(49,15,81, 1) !important;
  z-index: 1000;
}
.navbar-default .navbar-collapse {
  background: rgba(49,15,81, 1) !important;
}
#headercontainer .navbar-brand.cusexp-header {
  color: #fff !important;

}
body{
    background-color: rgba(49,15,81, 1);
}

h2 {
  color: #fff !important;
}

h3{
     color:  #e8e8e8!important;
}

p{
    color:  #bababa!important;
}

.btn-outline {
    border: 1px solid #e8e8e8 !important;
    color: #e8e8e8 !important;
}

#peterwidth .btn-outline:hover {
  border-color: #e8e8e8 !important;
  color: #1b1b1b !important;
  background-color: #e8e8e8 !important;
}

.modal-content{
    background-color: rgba(49,15,81, 1) !important;
}