﻿@media only screen and (min-width: 640px) {
    .level2 {
        padding-left: 32px !important;
    }

    .level3 {
        padding-left: 64px !important;
    }

    .level4 {
        padding-left: 96px !important;
    }

    .level5 {
        padding-left: 128px !important;
    }

     .list-anchor{
        padding-top: 16px;
    }

}
