﻿.level2 {
    color:#33AFE5 !important;
}

.level3 {
    color:#66C3EC !important;
}

.level4 {
    color:#99D7F2 !important;
}

.level5 {
    color:#CCEBF9 !important;
}

    .editing-tools-bottom {
        position: absolute;
        right: 0px;
        bottom: 6px;
    }