﻿body {
}
@media only screen and (min-width: 320px) {
    .pp-container {
       
        width: 320px;
        padding-left:8px;
        padding-right:8px;
        margin-left:auto;
        margin-right:auto;
    }
    .pp-content{
        margin-top:8px;
    }
}