﻿@font-face {
font-family: 'MyriadPro-Light';

src: url('../fonts/MyriadPro-Light.woff') format('woff');
src: url('../fonts/MyriadPro-Light.eot') format('embedded-opentype');
src: url('../fonts/MyriadPro-Light.otf') format('opentype');
}

@font-face {
font-family: 'MyriadPro';

src: url('../fonts/MYRIADPRO-REGULAR.eot') format('embedded-opentype');
src: url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
src: url('../fonts/MYRIADPRO-REGULAR.otf') format('opentype');
}


body{
     font-family:'MyriadPro-Light','Roboto Condensed', Arial,Helvetica,sans-serif;
     text-align:center;
}

.table-cell-center{
    text-align: center;
}

.report-header{
    width:720px;
    border-bottom: 1px solid #eee;
    padding-left:16px;
    padding-right:16px;
     margin-left:auto;
    margin-right:auto;
}

.report-footer{
    width:720px;
    border-top: 1px solid #eee;
    padding-left:16px;
    padding-right:16px;
     margin-left:auto;
    margin-right:auto;
}

.container{
    width: 970px;
    margin-left:auto;
    margin-right:auto;
}

h3{
    font-size:22px;
    margin-bottom:16px;
     margin-top:16px;
     font-weight:normal;
}

h4{
    font-size:22px;
    margin-bottom:16px;
    margin-top:16px;
    font-weight:normal;
}