﻿/*ul.number-scale li{width:10%}*/
/* Code for using icony fonts */

input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent !important } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* oldIE ;) */

textarea[placeholder]:focus::-webkit-input-placeholder { color:transparent !important; }
textarea[placeholder]:focus:-moz-placeholder { color:transparent !important; } /* Firefox 18- */
textarea[placeholder]:focus::-moz-placeholder { color:transparent !important; } /* Firefox 19+ */
textarea[placeholder]:focus:-ms-input-placeholder { color:transparent !important; } /* oldIE ;) */
 textarea, input{
        -webkit-appearance: none !important;
    }
.flip-container.flip .back{
    backface-visibility: visible;
}
@font-face {
    font-family: 'Helvetica-Neue-45';
    src: url('../fonts/HelveticaNeue45LT.otf') format('opentype');
}
@font-face {
    font-family:'Helvetica-Neuee';
    src: url('../fonts/helveticaneue-webfont.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Helvetica-Neue-97';
    src: url('../fonts/HelveticaNeue97.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvetica-Neue-77';
    src: url('../fonts/HelveticaNeue77.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvetica-Neue-87';
    src: url('../fonts/HelveticaNeue87.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvetica-Neue-87O)';
    src: url('../fonts/HelveticaNeue87).otf') format('opentype');
}
@font-face {
    font-family: 'Helvetica-Neue-87n';
    src: url('../fonts/HelveticaNeue87New.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvetica-Neue-55';
    src: url('../fonts/HelveticaNeueLTStd-Roman55.otf') format('opentype');
}
.ui-widget{
    font-family: 'Helvetica-Neue-55', Arial, Helvetica !important; 
}
.scale{
font-family: 'Helvetica-Neue-55', Arial, Helvetica !important; 
}
textarea[placeholder]{
     font-family: 'Helvetica-Neue-45', Arial, Helvetica !important; 
     
}
input[placeholder]{
     font-family: 'Helvetica-Neue-45', Arial, Helvetica !important; 
     
}

td, .thankyou-text,.thankyou-font{
    font-family: 'Helvetica-Neue-45', Arial, Helvetica !important; 
   
    line-height:normal !important;
}
td span{
    font-family: 'Helvetica-Neue-45', Arial, Helvetica !important; 
   
    line-height:normal !important;
}
td div{
    font-family: 'Helvetica-Neue-45', Arial, Helvetica !important; 
   
    line-height:normal !important;
}
h1{
    font-family: 'Helvetica-Neue-97', Arial, Helvetica !important; 
    
}
.exp-area-choices p{
     font-family: 'Helvetica-Neue-45', Arial, Helvetica !important; 
     font-style:normal !important;
}
.question-font{
     font-family: 'Helvetica-Neue-77', Arial, Helvetica !important; 
     font-style:normal !important;
}
.description-text{
    font-family: 'Helvetica-Neue-55', Arial, Helvetica !important; 
     font-style:normal !important;
     
}
span.Number{
      font-family: 'Helvetica-Neue-55', Arial, Helvetica !important; 
}
.touchpoint-ms span {
    font-family:'Helvetica-Neue-77', Arial, Helvetica;

}
.seventyblack{
    color:#5f5f5f;
}
.hundred{
    width:100%;
}

.text-danger{
    color:#ea6953 !important;
}

.navbar-collapse {
max-height:400px !important;
}
.navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
}
.nologincontainer{
    padding-left:0px !important;
    padding-right:0px !important;
}
@charset "UTF-8";
.relativepos{
    position:relative;
}
@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../fonts/MyriadPro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../fonts/MyriadPro-Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MYRIADPRO-REGULAR.otf') format('opentype');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MYRIADPRO-REGULAR.eot') format('embedded-opentype');
}
.nav li {
font-size: 14px;
text-align: right;
}
.navbar-nav > li > a {
padding-top: 15px;
padding-bottom: 14.5px;
}
.navbar-default {
background-color: transparent !important;
border-color: #e7e7e7;
}
.navbar-header {
background-color: #fff !important;
z-index: 1000;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #009bdf !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #fff !important;
}
.navbar-default .navbar-collapse {
background: rgba(255, 255, 255, 0.9) !important;
}
    .support-area-choices{
        cursor:pointer;
          word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        -webkit-border-radius: 4px;
         -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009bdf;
        background-color:transparent;
    }
    .support-img-div{
        position:relative;
    }
    .ui-multiselect-close .icon-remove{
        color: #fff;
    }
.is-published{
    background-color:#00ce7d !important;
    border-color: #00ce7d !important;
}
.is-unpublished{
    background-color:#ea6953 !important;
     border-color: #ea6953 !important;
}
.close{
    color:#009bdf !important;
    opacity: 1 !important;
}
.attachment-div img{
    margin-left:auto;
    margin-right:auto;
}

#support-form input{
    line-height:normal !important;
}

a {
    color: #0B4892 !important;
}
label{
    font-weight:normal;
}
.ui-state-default{
    font-weight:normal;
}
.hide-input {
    visibility: hidden;
}

.logincontainer {
    margin-left: auto;
    margin-right: auto;
}

.pace .pace-progress {
    background: #009bdf;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.survey .list-section {
    cursor: pointer;
}

.sindex-pre {
    display: inline !important; 
    border: none !important; 
    background-color:#fff !important;
    padding: 0px;
}

.pace-inactive {
    display: none;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0px;
}

a:hover {
    text-decoration: none !important;
}

a:focus {
    text-decoration: none !important;
}
.problem-choices.choice-selected{
    background-color:#ea6953 !important;
    border-color:#ea6953 !important;
    color:#fff !important;
}
.solution-choices.choice-selected{
    background-color:#00ce74 !important;
    border-color:#00ce74 !important;
    color:#fff !important;
}
#progressBar {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #b91f1f;
    border-radius: 10%;
    -moz-transition: width 500ms ease-out,opacity 400ms linear;
    -ms-transition: width 500ms ease-out,opacity 400ms linear;
    -o-transition: width 500ms ease-out,opacity 400ms linear;
    -webkit-transition: width 500ms ease-out,opacity 400ms linear;
    transition: width 500ms ease-out,opacity 400ms linear;
}

    #progressBar:before {
        position: absolute;
        content: '';
        top: 0;
        opacity: 1;
        width: 10%;
        right: 0px;
        height: 2px;
        box-shadow: #b91f1f 1px 0 6px 2px;
        border-radius: 50%;
    }

.list-anchor {
    display: block;
    width: 85%;
}

.editing-tools {
    position: absolute;
    right: 0px;
    top: 12px;
}

input {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0) !important;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0) !important;
}

.ui-slider .ui-slider-range {
    background: #5f5f5f !important;
    border: 0px solid #009bdf !important;
}
.ui-tooltip.ui-widget-content{
     border: 1px solid #ce1415 !important;
    color: #fff;
    background: #ce1415 !important;
}
.ui-state-active, .ui-widget-content, .ui-state-active, .ui-widget-header {
    border: 1px solid #ce1415;
    color: #fff;
    background: #ce1415;
}

.ui-icon-triangle-2-n-s:before {
    font-family: "ios7-style-font-icons";
    content: "\e16f";
    font-size: 12px !important;
    color: #009bdf;
}


.ui-icon-triangle-2-n-s {
    background: none !important;
    text-indent: 0 !important;
}

.rotate45 {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.editor-text {
    color: #009bdf !important;
}

.description-text {
    color: #8d8d8d;
}

.description-text-center {
    display: block;
     font-size: 14px;
     font-style: italic;
      color: #8d8d8d;
      text-align: center;
}

.disabled-font {
    color: #8d8d8d;
}

.disabled-menu {
    color: #bababa;
}

.plus-icon {
    transform: rotate(-45deg);
}

.plus-padding-top {
    font-size: 1.5rem;
}

.angleright-icon {
    color: #bababa;
}
/* Font sizes in various view ports */
.ui-multiselect-header {
    background: #fff url("") 50% 50% repeat-x;
}
.support-img-div img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.white-noborder {
    background-color: #fff !important;
    border-left: hidden !important;
}

.white-rightnoborder {
    border-right: hidden !important;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}



@media only screen and (min-width: 320px) {
    .warning-font {
        font-size:48px;
    }
    .forgot-pwd-font{
        font-size:12px;
    }
    .desc-commentbox{
        margin-top:8px;
    }
        .description-font-text{
        font-size:12px;
    }
    #support-form p{
    margin-bottom:8px !important;
}
    .sort-font{
        font-size:12px;
    }

    .multiple-plus-add {
        font-size: 12px;
        margin-left: -2px !important;
    }

    .description-text {
        font-size: 14px;
        font-style: italic;
        font-weight:normal;
    }

    .description-text-center {
        display: block;
     font-size: 14px;
     font-style: italic;
      color: #8d8d8d;
}

    .sidemenu-font {
        font-size: 14px;
    }

    .icon-upload-logo-font {
        font-size: 0.5rem !important;
    }

    .options-font {
        font-size: 1.54rem;
        color: #bababa;
    }

    .helper-font {
        font-size: 0.9rem;
    }

    .plus-font {
        font-size: 21px;
    }

    .demo-plus-font {
        font-size: 14px;
    }

    .grey-text {
        color: #bababa;
    }

    .img-icon:hover {
        color: #bababa !important;
    }

    .img-icon:active {
        color: #bababa !important;
    }

    .padTag {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        padding-bottom: 0rem !important;
    }

    .flip-font {
        font-size: 1.5rem !important;
    }

    .rScale-font {
        font-size: 0.8rem;
    }

    .btn-small {
        padding: 6px 10px 5px 10px !important;
        height: 3.75rem;
    }

    .title-font {
        font-size: 2.5rem !important;
    }

    .question-font {
        font-size: 18px;
    }

    .xlarge-font {
        font-size: 3rem;
    }

    .large-font {
        font-size: 2rem !important;
    }

    .questionBtn-font {
        font-size: 1.3rem !important;
    }

    .normal-font {
        font-size: 1.5rem !important;
    }

    .survey-font {
        font-size: 1.5rem;
    }

    .medium-font {
        font-size: 1.15rem !important;
    }

    .breadcrumb-font {
        font-size: 17px !important;
    }

    .small-font {
        font-size: 1.1rem !important;
    }

    .xsmall-font {
        font-size: 12px !important;
    }

    tag-font {
        font-size: 16px;
    }

    .plus-btn-font {
        font-size: 2rem;
    }
}


@media only screen and (min-width: 640px) {
    .warning-font {
        font-size:128px;
    }
   .forgot-pwd-font{
        font-size:24px;
    }
   #support-form p{
    margin-bottom:16px !important;
}
    .sort-font {
        font-size: 18px;
    }

    .multiple-plus-add {
        font-size: 16px;
    }

    ul.rating-scale {
        margin-top: 6px !important;
    }

    ul.multiple-scale {
        margin-top: 16px !important;
    }

    .rScale-font {
        font-size: 16px;
    }

    .plus-btn-font {
        font-size: 43px;
    }

    .helper-font {
        font-size: 16px !important;
    }

    .options-font {
        font-size: 32px;
        color: #bababa;
    }

    .plus-font {
        font-size: 44px;
    }

    .demo-plus-font {
        font-size: 28px;
    }

    .index-plus-font {
        font-size: 40px;
    }

    .breadcrumb-font {
        font-size: 32px !important;
    }

    .xsmall-font {
        font-size: 23px !important;
    }

    .icon-logo-font {
        font-size: 4rem;
    }

    .icon-upload-logo-font {
        font-size: 1.4rem !important;
    }

    .flip-font {
        font-size: 3rem !important;
    }

    tag-font {
        font-size: 60rem !important;
    }

    .question-font {
        font-size: 32px;
    }

    .description-text {
        font-size: 20px;
    }

    .description-text-center {
        display: block;
      font-size: 20px;
      text-align: center;
      font-style: italic;
      color: #8d8d8d;
   }

    .btn-small {
        padding: 6px 10px 5px 10px !important;
        height: 4.5rem;
    }

    .title-font {
        font-size: 4.5rem !important;
    }

    .xlarge-font {
        font-size: 7rem;
    }

    .large-font {
        font-size: 2.8rem !important;
    }

    .questionBtn-font {
        font-size: 2.1rem !important;
    }

    .normal-font {
        font-size: 32px !important;
    }

    .uploader-font {
        font-size: 24px !important;
    }

    .medium-font {
        font-size: 1.8rem !important;
    }

    .small-font {
        font-size: 1.54rem !important;
    }
}

/****************************************************/
.darkBlue {
    color: #0068a8;
}

.bold-blue {
    color: #0068a8;
    font-weight: bold;
    font-family: 'MyriadPro';
}

@font-face {
    font-family: "icony";
    src: url("../fonts/icony.eot");
    src: url("../fonts/icony.eot?#iefix") format("embedded-opentype"), url("../fonts/icony.woff") format("woff"), url("../fonts/icony.ttf") format("truetype"), url("../fonts/icony.svg#icony") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "icony" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icony-"]:before,
[class*=" icony-"]:before {
    font-family: "icony" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icony-ahtung:before {
    content: "a";
}

.icony-apple:before {
    content: "b";
}

.icony-badge:before {
    content: "c";
}

.icony-battery:before {
    content: "d";
}

.icony-contrast:before {
    content: "e";
}

.icony-creditcard:before {
    content: "f";
}

.icony-cup:before {
    content: "g";
}

.icony-dice:before {
    content: "h";
}

.icony-fork:before {
    content: "i";
}

.icony-game:before {
    content: "j";
}

.icony-gift:before {
    content: "k";
}

.icony-goggles:before {
    content: "l";
}

.icony-ldarrow:before {
    content: "m";
}

.icony-location:before {
    content: "n";
}

.icony-lock:before {
    content: "o";
}

.icony-magnify:before {
    content: "p";
}

.icony-music:before {
    content: "q";
}

.icony-nice:before {
    content: "r";
}

.icony-pacman:before {
    content: "s";
}

.icony-paper:before {
    content: "t";
}

.icony-radioactive:before {
    content: "u";
}

.icony-rain:before {
    content: "v";
}

.icony-8:before {
    content: "a";
}

.icony-ahtung:before {
    content: "b";
}

.icony-apple:before {
    content: "c";
}

.icony-badge:before {
    content: "d";
}

.icony-battery:before {
    content: "e";
}

.icony-bell:before {
    content: "f";
}

.icony-book:before {
    content: "g";
}

.icony-bookmark:before {
    content: "h";
}

.icony-candy:before {
    content: "i";
}

.icony-chain:before {
    content: "j";
}

.icony-chronometer:before {
    content: "k";
}

.icony-clock:before {
    content: "l";
}

.icony-cloud:before {
    content: "m";
}

.icony-compass:before {
    content: "n";
}

.icony-contrast:before {
    content: "o";
}

.icony-creditcard:before {
    content: "p";
}

.icony-cup:before {
    content: "q";
}

.icony-dice:before {
    content: "r";
}

.icony-dicenum:before {
    content: "s";
}

.icony-drop:before {
    content: "t";
}

.icony-earth:before {
    content: "u";
}

.icony-excl:before {
    content: "v";
}

.icony-export:before {
    content: "w";
}

.icony-eye:before {
    content: "x";
}

.icony-family:before {
    content: "y";
}

.icony-filter:before {
    content: "z";
}

.icony-flag:before {
    content: "A";
}

.icony-fork:before {
    content: "B";
}

.icony-game:before {
    content: "C";
}

.icony-gift:before {
    content: "D";
}

.icony-goggles:before {
    content: "E";
}

.icony-green:before {
    content: "F";
}

.icony-halfmoon:before {
    content: "G";
}

.icony-heart:before {
    content: "H";
}

.icony-home:before {
    content: "I";
}

.icony-icecream:before {
    content: "J";
}

.icony-info:before {
    content: "K";
}

.icony-lamp:before {
    content: "L";
}

.icony-larrow:before {
    content: "M";
}

.icony-layers:before {
    content: "N";
}

.icony-ldarrow:before {
    content: "O";
}

.icony-location:before {
    content: "P";
}

.icony-lock:before {
    content: "Q";
}

.icony-magnify:before {
    content: "R";
}

.icony-mail:before {
    content: "S";
}

.icony-man:before {
    content: "T";
}

.icony-manspeak:before {
    content: "U";
}

.icony-mars:before {
    content: "V";
}

.icony-martini:before {
    content: "W";
}

.icony-mess:before {
    content: "X";
}

.icony-message:before {
    content: "Y";
}

.icony-messages:before {
    content: "Z";
}

.icony-microphone:before {
    content: "0";
}

.icony-music:before {
    content: "1";
}

.icony-nice:before {
    content: "2";
}

.icony-pacman:before {
    content: "3";
}

.icony-paper:before {
    content: "4";
}

.icony-pen:before {
    content: "5";
}

.icony-phone:before {
    content: "6";
}

.icony-photo:before {
    content: "7";
}

.icony-photorotate:before {
    content: "8";
}

.icony-pic:before {
    content: "9";
}

.icony-place:before {
    content: "!";
}

.icony-plane:before {
    content: "\"";
}

.icony-planet:before {
    content: "#";
}

.icony-play:before {
    content: "$";
}

.icony-portfolio:before {
    content: "%";
}

.icony-post:before {
    content: "&";
}

.icony-question:before {
    content: "'";
}

.icony-radioactive:before {
    content: "(";
}

.icony-rain:before {
    content: ")";
}

.icony-refresh:before {
    content: "*";
}

.icony-run:before {
    content: "+";
}

.icony-sale:before {
    content: ",";
}

.icony-settings:before {
    content: "-";
}

.icony-share:before {
    content: ".";
}

.icony-shirt:before {
    content: "/";
}

.icony-shoppingbag:before {
    content: ":";
}

.icony-shoppingcart:before {
    content: ";";
}

.icony-splash:before {
    content: "<";
}

.icony-standby:before {
    content: "=";
}

.icony-star:before {
    content: ">";
}

.icony-sun:before {
    content: "?";
}

.icony-switcher:before {
    content: "@";
}

.icony-tachometer:before {
    content: "[";
}

.icony-taho:before {
    content: "]";
}

.icony-thermo:before {
    content: "^";
}

.icony-thumbsdown:before {
    content: "_";
}

.icony-thumbsup:before {
    content: "`";
}

.icony-tick:before {
    content: "{";
}

.icony-tie:before {
    content: "|";
}

.icony-tool:before {
    content: "}";
}

.icony-trashcan:before {
    content: "~";
}

.icony-tree:before {
    content: "\";
}

.icony-umbrella:before {
    content: "\e000";
}

.icony-venus:before {
    content: "\e001";
}

.icony-video:before {
    content: "\e002";
}

.icony-voicemail:before {
    content: "\e003";
}

.icony-voloff:before {
    content: "\e004";
}

.icony-volume:before {
    content: "\e005";
}

.icony-wifi:before {
    content: "\e006";
}

.icony-windows:before {
    content: "\e007";
}

/****************************************/
/***************Rating Styles************/
.rating-scale {
    display: table;
    table-layout: fixed;
}

ul.rating-scale {
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    height: 3rem;
}

    ul.rating-scale li {
        list-style: none;
        display: table-cell;
        margin: 0rem;
        padding: 0rem;
        line-height: 28px;
    }
    .support input[type="text"] {
background: #fff !important;
border: 1px solid #009bdf;
}
        .support input[type="email"] {
background: #fff !important;
border: 1px solid #009bdf;
}
/* Rating span based on varoius view ports */
.ui-multiselect-checkboxes label input {
    width: 0px;
}


@media only screen and (min-width: 320px) {
     span.Number:hover {
        background-color: #ce1415 !important;
        color: #fff;
    }
    .navbar-nav {
margin: 0px -15px !important;
}
    .cr-footer{
        font-size:10px;
    }
    .fifty{
    width:50%;
    padding-left:8px;
    padding-right:8px;
}
    .ui-icon {
width: 16px;
height: 13px;
}
        #support-form .support-section{
        margin-bottom:8px;
        position:relative;
    }
    .submit-btn-style{
        height: 86px !important;
    }
        .indexrating-font{
        font-size:12px;
    }
        .attachment-images img{
        max-width:100%;
    }
    .attachmentinput{
        cursor:pointer;
        position:absolute;
        height: 48px;
        width:100%;
        top:0px;
        left:0px;
        opacity:0;
    }
    .support .modal-header{
        padding-top:8px;
    }
    .support .modal-body{
        padding-top:0px;
        height:255px;
        overflow-y:scroll;
    }
        .support-tagdiv {
        min-height:18px;
    margin-top: 6px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 8px;
    position: relative;
    display: table;
    table-layout: auto;
    width: 100% !important;
    
}
     .support-area-choices {
       
        min-width: 32%;
        width: 48.8%;
        
        min-height:24px;
        max-height:24px;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
      
        margin: 0.2rem;
        padding-top: 10px !important;
        
    }

        .support-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%); /* IE 9 */
            -webkit-transform:translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 12px;
            margin-bottom:0px;
        }
     .country-ms .ui-state-active, .ui-widget-content .ui-state-active{
         border-color:#009bdf !important;
     }
     .country-ms span{
        font-weight:normal;
    }
     .country-ms label{
         color:#009bdf !important;
     }
    .country-ms .ui-widget-header{
         border-color:#009bdf !important;
     }
     .country-ms.ui-state-active span{
         color:#009bdf;
     }
    
     ::-webkit-input-placeholder {
   
    font-style: italic !important;
    font-size:12px !important;
}

::-moz-placeholder {
    
    font-style: italic !important;
    font-size:12px !important;
}
/* firefox 19+ */
:-ms-input-placeholder {
   
    font-style: italic !important;
    font-size:12px !important;
}
/* ie */
input:-moz-placeholder {
    
    font-style: italic !important;
    font-size:12px !important;
}
    #support-form input{
    line-height:24px !important;
}
    h3{
        font-size:16px !important;
    }
    .country-mss.ui-state-active .ui-icon-triangle-2-n-s:before {
background: #fff !important;
color: #009bdf !important;
}
    .country-mss.ui-state-active{
        background:#fff !important;
         color:#009bdf !important;
    }
    .country-mss .ui-state-active, .ui-widget-content .ui-state-active{
         border-color:#ce1415 !important;
         
     }
     .country-mss span{
        font-weight:normal;
    }
     .country-mss label{
         color:#009bdf !important;
     }
    .country-mss .ui-widget-header{
         border-color:#009bdf !important;
     }
     .country-mss.ui-state-active span{
         color:#009bdf;
     }
     .ui-multiselect-menu.country-mss{
         width:258px !important;
     }
    #support-form .btn-lg{
        height:24px;
        line-height:4px;
    }    #support-form .btn-lg{
        height:24px;
        line-height:4px;
    }
             #support-form .login-btn{
        height:86px;
        line-height:4px;
    }
      #support-form ::-webkit-input-placeholder {
    color: #009bdf !important;
    font-style: italic !important;
    font-size:12px !important;
}
#support-form label{
    font-weight:normal !important;
}
#support-form ::-moz-placeholder {
    color: #009bdf !important;
    font-style: italic !important;
    font-size:12px !important;
}
/* firefox 19+ */
#support-form :-ms-input-placeholder {
    color: #009bdf !important;
    font-style: italic !important;
    font-size:12px !important;
}
/* ie */
#support-form input:-moz-placeholder {
    color: #009bdf !important;
    font-style: italic !important;
    font-size:12px !important;
}

     #support-form .input-lg{
        height:24px !important;
    }
    .support-img-div img{
   width: 48px !important;
}
    .issue-footer {
        z-index:10000;
        position:fixed;
        width:18px;
        height:40px;
        background-color:#e8e8e8;
        bottom:46.5%;
        left:0px;
        border:1px solid #e8e8e8;
        border-top-right-radius:4px;
        border-bottom-right-radius:4px;
        text-align:center;
    }
    .issue-footer a{
        font-size:24px;
        line-height:40px;
    }
    .login-btn {
        height: 48px;
        line-height: 24px;
    }
    .create-modify-date {
        position: relative;
    }

    .cr-footer {
        padding-left: 0px;
    }

  

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .logincontainer {
        padding-left: 24px;
        padding-right: 24px;
        width: 320px;
    }

    .ui-widget-header input[type="checkbox"] {
        margin: 0px;
    }

    .ui-multiselect-checkboxes label {
        border: 1px solid transparent;
        padding: 0px 4px !important;
        min-height: 24px;
        height: auto;
        line-height: 21px;
    }


    .right-hyperlink {
        line-height: 15px !important;
    }


    .dupe-span {
        line-height: 14px;
    }

        .dupe-span img {
            height: 14px !important;
            width: 14px !important;
        }

    .front {
        height: 185px;
    }

    span.Daisy {
        background-image: url("../Images/daisy-30disable.png");
        display: inline-block;
        background-size: 22px 22px;
        height: 22px;
        width: 22px;
    }


    .ui-multiselect {
        background-color: #FFFFFF;
        color: #009BDF;
        border: 1px solid #009BDF;
        width: 100% !important;
        font-family: 'MyriadPro-Light' !important;
        font-size: 12px !important;
        height: auto;
        min-height: 24px;
        line-height: 12px;
    }


    .ui-multiselect-menu {
        background-color: #FFFFFF !important;
        color: #ce1415  !important;
        border: 1px solid #ce1415  !important;
        font-family: 'MyriadPro-Light' !important;
        font-size: 12px !important;
    }

    .s-blue-div {
        position: relative;
        border: 1px solid #009BDF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        text-align: center;
        min-height: 24px;
        height: auto;
        margin-bottom: 8px;
    }

    .s-blue-div-hover p {
        margin: 0px;
    }

    .s-blue-div-hover {
        border: 1px solid #009BDF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        text-align: center;
        margin-bottom: 8px;
        min-height: 24px;
        height: auto;
        line-height: 24px;
    }
    /*
.s-blue-div-hover:hover {
   background-color: #009BDF;
   color: #FFFFFF;
}*/
    ul.rating-scale li {
        line-height: 12px;
    }

    ul.multiple-scale {
        margin-top: 4px !important;
    }

    .container-fluid {
        padding: 0px !important;
        margin: 0px !important;
    }

    span.Number {
        padding-top: 0.4rem;
        padding-left: 0.1rem;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        margin-bottom: 0.1rem !important;
        margin-top: 0.1rem !important;
        width: 22px;
        height: 22px;
        font-size: 12px;
        background-color: #e8e8e8;
        text-align: center;
        vertical-align: central;
        display: inline-block;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #e8e8e8;
    }
    
    span.Number-Selected {
        padding-top: 0.4rem;
        padding-left: 0.1rem;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        margin-bottom: 0.1rem !important;
        margin-top: 0.1rem !important;
        width: 22px;
        height: 22px;
        font-size: 12px;
        text-align: center;
        vertical-align: central;
        display: inline-block;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #e8e8e8;
        background-color: #009bdf !important;
        color: #FFFFFF !important;
    }

    span.Heart-Selected:before {
        font-family: "ios7-style-font-icons";
        content: "\e0d0";
        color: #009bdf !important;
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
        margin-bottom: 0.1rem !important;
        margin-top: 0.3rem !important;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 21px;
        text-align: center;
        vertical-align: middle;
    }

    span.Heart:before {
        font-family: "ios7-style-font-icons";
        content: "\e0d1";
        font-size: 21px;
        color: #009bdf;
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
        margin-bottom: 0.1rem !important;
        margin-top: 0.3rem !important;
        width: 4.5rem;
        height: 4.5rem;
        text-align: center;
        vertical-align: middle;
    }

    span.Star:before {
        font-family: "ios7-style-font-icons";
        content: "\e045";
        font-size: 19px;
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
        margin-bottom: 0.1rem !important;
        margin-top: 0.3rem !important;
        width: 4.5rem;
        height: 4.5rem;
        color: #009bdf !important;
        text-align: center;
        vertical-align: middle;
    }

    span.Star-Selected:before {
        font-family: "ios7-style-font-icons";
        content: "\e042";
        font-size: 1.6rem;
        color: #009bdf !important;
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
        margin-bottom: 0.1rem !important;
        margin-top: 0.3rem !important;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 1.6rem;
        text-align: center;
        vertical-align: middle;
    }
}


@media only screen and (min-width: 640px) {
    .navbar-nav {
margin: 0px 0px !important;
}
    .cr-footer{
        font-size:14px;
    }
    .fifty{
    width:50%;
    padding-left:16px;
    padding-right:16px;
}
    #support-form .support-section{
        margin-bottom:16px;
        position:relative;
    }
        .submit-btn-style{
        height: 176px !important;
    }
     .attachment-images img{
        max-width:100%;
    }
    .indexrating-font{
        font-size:22px;
    }
    .attachmentinput{
        cursor:pointer;
        position:absolute;
        height: 96px;
        width:100%;
        top:0px;
        left:0px;
        opacity:0;
    }
    .support .modal-header{
        padding-top:15px;
    }
        .support .modal-body{
        padding-top:0px;
          height:528px;
    }
    .support-tagdiv {
min-height: 50px;
margin-top: 10px;
margin-left: auto !important;
margin-right: auto !important;
margin-bottom:16px;
position: relative;
display: table;
table-layout: auto;
width: 100% !important;
}

      .support-area-choices {
        min-width: 49.3%;
        width: 50%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #009BDF;
        padding: 0px !important;
        padding-top:46px !important;
        padding-left: 4rem;
        margin: 0.2rem; 
    }
    .support-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%); /* IE 9 */
            -webkit-transform:translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 24px;
            margin-bottom: 0px;
        }
     h3{
        font-size:32px !important;
    }
      .country-mss span{
        font-weight:normal;
        color: #009bdf;
    }
     .country-mss label{
         color:#009bdf !important;
     }
    .country-mss .ui-widget-header{
         border-color:#009bdf !important;
     }
    .country-mss .ui-state-active{
        background:#009bdf !important;
    }
     .country-mss .ui-state-active span{
         color:#fff;
     }
     .country-mss.ui-state-active span{
         color:#009bdf;
     }
      .country-mss .ui-state-active label{
         color:#fff !important;
     }
     .ui-multiselect-menu.country-mss{
         width:521px !important;
     }
    .header-support{
        margin-bottom:16px;
    }
    .description-font-text{
        font-size:16px;
    }
    .country-ms span{
        font-weight:normal;
    }
     .country-ms label{
         color:#009bdf !important;
     }
    .country-ms .ui-widget-header{
         border-color:#009bdf !important;
     }
    .country-ms .ui-state-active{
        background:#fff !important;
    }
     .country-ms.ui-state-active span{
         color:#fff;
     }
      .country-ms .ui-state-active label{
         color:#fff !important;
     }


        ::-webkit-input-placeholder {
  
    font-style: italic !important;
    font-size:24px !important;
}

::-moz-placeholder {
    
    font-style: italic !important;
    font-size:24px !important;
}
/* firefox 19+ */
:-ms-input-placeholder {
    
    font-style: italic !important;
    font-size:24px !important;
}
/* ie */
input:-moz-placeholder {
    
    font-style: italic !important;
    font-size:24px !important;
}
    #support-form ::-webkit-input-placeholder {
    color: #009bdf !important;
    font-style: italic !important;
    font-size:24px !important;
}
#support-form label{
    font-weight:normal !important;
}
#support-form ::-moz-placeholder {
    color: #009bdf !important;
    font-style: italic !important;
    font-size:24px !important;
}
/* firefox 19+ */
#support-form :-ms-input-placeholder {
    color: #009bdf !important;
    font-style: italic !important;
    font-size:24px !important;
}
/* ie */
#support-form input:-moz-placeholder {
    color: #009bdf !important;
    font-style: italic !important;
    font-size:24px !important;
}
#support-form .input-lg{
    height:48px !important;
}
#support-form .login-btn{
    height:176px !important;
}
    #support-form .btn-lg{
        height:48px;
        line-height:27px !important;
    }
     .support-img-div img{
   width: 96px !important;
}
    .ui-multiselect{
        padding:0px !important;
        padding-right:4px !important;
    }
    .ui-multiselect span{
        padding-left:12px;
    }
   

    .issue-footer {
        position:fixed;
        width:27px;
        height:60px;
        background-color:#e8e8e8;
        bottom:46.5%;
        left:0px;
        border:1px solid #e8e8e8;
        border-top-right-radius:4px;
        border-bottom-right-radius:4px;
        text-align:center;
    }
    .issue-footer a{
        font-size:48px;
        line-height:60px;
    }

    .email-description {
        margin-top: 0px;
        color: #5f5f5f;
    }

    .front, .back {
        height: 384px;
    }

    .login-btn {
        height: 48px;
        line-height: 24px;
    }

    .logincontainer {
        width: 640px;
    }

    .ui-multiselect-checkboxes label {
        border: 1px solid transparent !important;
        padding: 0px 8px !important;
        min-height: 40px;
        height: auto;
        line-height: 28px;
    }

    .list-anchor {
        display: block;
        width: 90%;
    }

    .editing-tools {
        position: absolute;
        right: 0px;
        top: 6px;
    }

    .right-hyperlink {
        line-height: 43px !important;
    }

    .dupe-span img {
        height: 32px !important;
        width: 32px !important;
    }

    span.Number:hover {
        background-color: #ce1415 !important;
        color: #fff;
    }

    .front {
        height: 384px;
    }

    .ui-icon {
        width: 30px !important;
        height: 20px !important;
    }
    .ui-state-default{
        background: #fff url("") !important;
    }
    .ui-widget-sel .ui-icon-triangle-2-n-s:before {
        
        color: #fff;
    }
    .ui-icon-triangle-2-n-s:before {
        font-family: "ios7-style-font-icons";
        content: "\e16f";
        font-size: 18px !important;
        color: #009bdf;
    }
    .country-mss.ui-state-hover .ui-icon-triangle-2-n-s:before {
        font-family: "ios7-style-font-icons";
        content: "\e16f";
        font-size: 18px !important;
        color: #009bdf;
    }
    .ui-icon-triangle-2-n-s {
        background: none !important;
        text-indent: 0 !important;
    }

    .ui-multiselect {
        background-color: #FFFFFF;
        color: #009BDF;
        border: 1px solid #009BDF;
        width: 100% !important;
        font-family: 'MyriadPro-Light' !important;
        font-size: 24px !important;
        height: auto;
        min-height: 48px;
        line-height: 24px;
    }


    .ui-multiselect-menu {
        background-color: #FFFFFF;
        color: #ce1415 ;
        border: 1px solid #ce1415  !important;
        font-family: 'MyriadPro-Light' !important;
        font-size: 24px !important;
    }

    .create-survey {
        position: absolute;
        right: 6px;
        bottom: 8px;
    }

    .survey-font {
        font-size: 24px;
    }

    .s-blue-div {
        border: 1px solid #009BDF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        text-align: center;
        min-height: 48px;
        height: auto;
        margin-bottom: 16px;
    }

    .s-blue-div-hover p {
        margin: 0px;
    }

    .s-blue-div-hover {
        border: 1px solid #009BDF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        text-align: center;
        margin-bottom: 16px;
        min-height: 48px;
        height: auto;
        line-height: 48px;
    }

        .s-blue-div-hover:hover {
            background-color: #009BDF;
            color: #FFFFFF;
        }

    ul.rating-scale li {
        line-height: 28px;
    }

    ul.multiple-scale {
        margin-top: 16px !important;
    }

    span.Star-Selected:before {
        font-family: "ios7-style-font-icons";
        content: "\e042";
        font-size: 42px;
        color: #009bdf !important;
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
        margin-bottom: 0.1rem !important;
        margin-top: 0.3rem !important;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 42px;
        text-align: center;
        vertical-align: middle;
    }

    span.Heart-Selected:before {
        font-family: "ios7-style-font-icons";
        content: "\e0d0";
        font-size: 42px;
        color: #009bdf !important;
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
        margin-bottom: 0.1rem !important;
        margin-top: 0.3rem !important;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 42px;
        text-align: center;
        vertical-align: middle;
    }

    .sidemenu-font {
        font-size: 32px;
    }

    .container-fluid {
        padding: 0px !important;
        margin: 0px !important;
    }

    .surveypanel {
        margin-left: auto !important;
        margin-right: auto !important;
        /* width: 1024px !important;*/
    }

    span.Number {
        padding-top: 9px;
        margin-left: 0rem !important;
        margin-right: 0.5rem !important;
        margin-bottom: 15px !important;
        margin-top: 0.1rem !important;
        width: 48px;
        height: 48px;
        font-size: 2.5rem;
        background-color: #ffffff;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #e8e8e8;
    }

    span.Number-Selected {
        padding-top: 9px !important;
        margin-left: 0rem !important;
        margin-right: 0.5rem !important;
        margin-bottom: 15px !important;
        margin-top: 0.1rem !important;
        width: 48px;
        height: 48px;
        font-size: 2.5rem !important;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #e8e8e8;
        background-color: #009bdf !important;
        color: #FFFFFF !important;
    }

    span.Heart:before {
        font-family: "ios7-style-font-icons";
        content: "\e0d1";
        color: #009bdf !important;
        margin: 2rem;
        color: #009bdf;
        font-size: 42px;
    }

    span.Star:before {
        font-family: "ios7-style-font-icons";
        content: "\e045";
        margin: 0.5rem;
        color: #009bdf !important;
        font-size: 42px;
    }

    .back {
        padding-top: 0px;
    }
}
/********************************************************/
/****************Navigation Bar Styles*******************/

.navbar-inverse .navbar-nav > li > a {
    color: #009bdf !important;
}

.navbar-brand {
    color: #231f20 !important;
    font-family: 'MyriadPro';
    font-size: 20px;
}
.navbar-collapse .navbar-nav .navbar-brand {
    color: #231f20 !important;
    font-family: 'MyriadPro';
    font-size: 20px;
}
.navbar-collapse .navbar-nav .navbar-brand:hover {
    color: #231f20 !important;
    font-family: 'MyriadPro';
    font-size: 20px;
}
.navbar-inverse {
    background-color: #fff !important;
    border-color: #bbbdc0 !important;
}

.navbar-toggle {
    position: relative !important;
    float: right !important;
    padding: 3px 3px !important;
    margin-top: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 8px !important;
    background-color: #FFF !important;
    background-image: none !important;
    border: none !important;
    color: #000;
}

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px !important;
        height: 2px;
        border-radius: 1px;
        color: #000 !important;
    }

.navbar-inverse .navbar-toggle {
    border-color: #333;
}

    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: #fff !important;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000 !important;
        border: 1px solid #009BDF;
        color: #fff !important;
        border-color: #009bdf !important;
    }

.navbar-inverse .navbar-collapse {
    border-color: #bababa !important;
}

    .navbar-inverse .navbar-collapse .navbar-inverse .navbar-form {
        border-color: #bababa;
    }

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #0068b0 !important;
        background-color: transparent;
    }


/***************************************************/
/**************Default Button Styles****************/

.btn-default {
    border-color: #009bdf;
    color: #fff;
    background-color: #009bdf;
}

btn-default-pink {
    border-color: #767676 !important;
    color: #767676 !important;
}

.btn-default:hover {
    background-color: #009bdf;
    color: #fff !important;
}

    .btn-default:hover .caret {
        border-top-color: #fff !important;
    }

.btn-default:focus {
    background-color: #009bdf;
    color: #fff;
    border-top-color: #fff;
    outline: none;
}

    .btn-default:focus .caret {
        border-top-color: #fff !important;
    }

/***************************************************/
/**************Default Input Styles****************/

input[type="text"] {
    background: #fff !important;
    border: 1px solid #ce1415;
    -webkit-appearance: none;
}

input[type="checkbox"] ~ label {
    background: #fff !important;
    border-color: #ce1415 !important;
}


input[type="text"]:focus {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #ce1415 !important;
    box-shadow: none;
}

input[type="password"] {
    background: #fff !important;
    border: 1px solid #ce1415;
}

    input[type="password"]:focus {
        border-width: 1px !important;
        border-style: solid !important;
        border-color: #ce1415 !important;
        box-shadow: none !important;
    }

select {
    width: 100%;
}

textarea {
    background: #fff !important;
    border: 1px solid #ce1415 !important;
}

    textarea:focus {
        border-width: 1px !important;
        border-style: solid !important;
        border-color: #ce1415 !important;
        box-shadow: none !important;
    }

/***************************************************************/
/******Default style for the paragraph Content PlaceHolder******/

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    font-style: italic;
    color: #ce1415;
}

::-webkit-input-placeholder {
    color: #ce1415;
    font-style: italic;
}

::-moz-placeholder {
    color: #ce1415;
    font-style: italic;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #ce1415;
    font-style: italic;
}
/* ie */
input:-moz-placeholder {
    color: #ce1415;
    font-style: italic;
}


/****************************************************************/
/**************Default Heading and List Style*********************/

.heading-section {
    padding: 1rem;
    background: #ffffff;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e8e8e8;
}

.list-section {
    padding: 1rem;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e8e8e8;
    clear: both;
    position: relative;
}

    .list-section:active {
        background: #fff;
    }

#foo {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #f00;
}


/****************************************************************/



.inline-paragraph {
    display: inline;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99999;
    top: 0;
    left: 0;
    opacity: 0.5;
}

#overlay2 {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.right-hyperlink {
    float: right;
    padding-top: 0px;
    padding-left: 1.1rem;
    color: #009bdf;
}

.right-create {
    float: right;
    padding-top: 3px;
    padding-right: 1.1rem;
    text-decoration: none !important;
}

.container {
    min-height: 100px;
}
footer .container{
    min-height:100px;
}

/*
.exp-area-choices {
    text-align: center;
    display: inline-block;
    border: 1px solid #009BDF;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem !important;
    padding-bottom: 1rem !important;
    margin-top: 2rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #009BDF;
    position: relative;
    min-height: 6rem;
}
.exp-area-choices1 {
    text-align: center;
    display: inline-block;
    border: 1px solid #009BDF;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem !important;
    padding-bottom: 1rem !important;
    margin-top: 2rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #009BDF;
    position: relative;
    min-height: 6rem;
}*/


.padTag {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-bottom: 2rem !important;
}

.menu-section {
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bbbdc0;
}

.blue-link {
    color: #009BDF;
    cursor: pointer;
}

.blue-font {
    color: #ce1415 !important;
}

.grey-link {
    color: #bbbdc0;
}

.seperate-dash {
    padding-left: 2rem;
    padding-right: 2rem;
}

/******************FLIP Image Styles************************/
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    position: relative;
    display: block;
    height: 380px;
}

    .flip-container.flip .flipper {
        -ms-transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

.flipper {
    -webkit-transition: 0.1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.1s;
    -ms-transform-style: preserve-3d;
    -moz-transition: 0.1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.1s;
    -o-transform-style: preserve-3d;
    transition: 0.1s;
    transform-style: preserve-3d;
    text-align: center;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    height:383px;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#fff;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    z-index:3;
}

.front .name {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

/***************************************************************/


footer {
    z-index: 99999 !important;
}

.top-div {
    margin-top: 10rem;
}

.italic {
    font-style: italic;
}

.underlined-paragraph {
    color: #939597;
    border-bottom: 1px solid;
    border-color: #e8e8e8;
}

a {
    cursor: pointer;
}




/*
.ui-multiselect {
    background-color: #FFFFFF !important;
    color: #009BDF !important;
    border: 1px solid #009BDF !important;
    width: 100% !important;
    font-family: 'MyriadPro-Light' !important;
    font-size: 24px !important;
    height: 48px !important;
}


.ui-multiselect-menu {
    background-color: #FFFFFF !important;
    color: #009BDF !important;
    border: 1px solid #009BDF !important;
    font-family: 'MyriadPro-Light' !important;
    font-size: 24px !important;

}
    */
.ui-multiselect-menu label {
    font-weight: normal;
}

button .ui-state-hover {
    color: #fff;
}
.ui-widget-content{
    background:#fff url("") !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover {
    background-color: #fff !important;
    color: #009bdf !important;
    background: #fff url("") !important;
    font-weight:normal;
}

    .ui-state-hover .ui-icon-triangle-2-n-s:before {
        color: #fff !important;
    }
    .ui-multiselect.ui-widget.ui-state-default.ui-corner-all.country-mss.ui-state-hover .ui-icon-triangle-2-n-s:before {
        color: #fff !important;
    }

.ui-multiselect-header {
    background: #fff url("") 50% 50% repeat-x !important;
    color: #009bdf !important;
}

.ui-widget-sel {
    background-color: #009BDF !important;
    color: #FFFFFF !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.login-fail {
    border: 1px solid #ea6953 !important;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.05s, border-color 0.05s ease-in-out;
    transition: box-shadow 0.05s, border-color 0.045s ease-in-out;
}

a:focus {
    text-decoration: none !important;
}


.absolutepos-img {
  position:absolute;
}

.error-required{
    border: 1px solid #ea6953 !important;  
}

table.no-style, table.no-style tr td, table.no-style tr {
border: 0px solid transparent;
background: transparent;
font-size: inherit;
padding: 0;
margin: 0;
}

div.sweetcaptcha {
    background: #fff !important; 
    margin-left:auto !important; 
    margin-right:auto !important; 
}

label.error {
    color: #ea6953 !important;  
}

.btn-fail{
    border-color: #ea6953 !important;
    background:#ea6953 !important;
    background-color:#ea6953 !important;
}
.btn-success{
     border-color: #00ce7d !important;
    background:#00ce7d !important;
    background-color:#00ce7d !important;
}

 label.ui-state-active{
    background:#ce1415 !important;
    color:#fff !important;
}
 .normal-lineheight span{
     line-height:normal !important;
 }

 .breakwords{
     word-wrap:break-word;
 }