﻿@media only screen and (min-width: 558px) {
        #support-form label.error{
        bottom:-23px;
        
        left:0px;
    }
      .footer{
       
        font-size:14px;
    }
      .sup-container{
          width:564px;
          padding-left:20px;
          padding-right:20px;
          padding-bottom:20px;
          margin-left:auto;
          margin-right:auto;
      }
    #support-form .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
        color:#009bdf !important;
    }
    #supportDiv .large-font {
        font-size: 2.8rem !important;
    }
    
    .support-img-div{
        margin-bottom:16px;
    }
    #SupportEmail-error, #SupportPhoneNumber-error{
        width:100%;
        text-align:center;
    }
     #support-form .form-control{
           max-width:521px !important;
           min-width:521px !important;
       }
     #support-form textarea[placeholder] {
font-family: 'MyriadPro-Light' !important;
border-color:#009bdf !Important;
}
    .unknown-attachment{
        margin-top:32px;
    }
    .attachment-images video{
        max-width:100%;
    }
    .attachment-images {
max-width: 100% !important;
}
    .survey-footer {
width: 100% !important;
text-align: right;
color: #ea6953;
padding-right: 0px;
font-size: 18px;
}
    .commentbox{
        margin-top:16px;
        margin-bottom: 16px;
    }
    .support-required {
        position:absolute;
        color: #ec7864;
        top: -17px;
        left: 0px;
        font-size: 24px;
    }
    .support-required-one {
        position:absolute;
        color: #ec7864;
        top: 11px;
        left: 0px;
        font-size: 24px;
    }
        .support-required-two {
        position:absolute;
        color: #ec7864;
        top: 39px;
        left: 0px;
        font-size: 24px;
    }
     .support-required-desc {
        position:absolute;
        color: #ec7864;
        top: -17px;
        left: 0px;
        font-size: 24px;
    }
      .support-required-captcha {
        position:absolute;
        color: #ec7864;
        top: -19px;
        left: 0px;
        font-size: 24px;
    }
       .textarea-width{
      max-width:521px;

  }

        .progress-bar-success {
        height: 8px;
        color: #00CE7D;
        display: none;
    }
}
