﻿@media only screen and (min-width: 320px) {
    .captchatop {
        margin-top: 16px;
    }

    #support-form label.error {
        bottom: -18px;
        font-size: 10px;
    }

    .footer {
        font-size: 10px;
    }

    .sup-container {
        width: 300px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    #supportDiv .large-font {
        font-size: 2rem !important;
    }

    #support-form .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        color: #009bdf !important;
    }

    #support-form .ui-multiselect {
        border-color: #009bdf !important;
    }

    #support-form .ui-icon-triangle-2-n-s:before {
        color: #009bdf !important;
    }

    #support-form .form-control {
        max-width: 258px !important;
        min-width: 258px !important;
    }

    #support-form textarea[placeholder] {
        color: #009bdf;
    }

    #support-form textarea {
        background: #fff !important;
        border: 1px solid #009bdf !important;
    }

    #support-form .ui-widget-content {
        color: #009bdf !important;
        border-color: #009bdf !important;
    }

    #support-form .country-mss .ui-state-active, .ui-widget-content .ui-state-active {
        border-color: #009bdf !important;
    }

    #support-form label.ui-state-active {
        background: #009bdf !important;
        color: #fff !important;
    }

    .support-img-div {
        margin-bottom: 8px;
    }

    #SupportEmail-error, #SupportPhoneNumber-error {
        width: 100%;
        text-align: center;
    }

    .unknown-attachment {
        margin-top: 20px;
    }

    .attachment-images video {
        max-width: 100%;
    }

    .survey-footer {
        width: 100% !important;
        text-align: right;
        color: #ea6953;
        padding-right: 0px;
    }

    .commentbox {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .textarea-width {
        max-width: 100%;
    }

    .support-required {
        position: absolute;
        color: #ec7864;
        top: -12px;
        left: 0px;
        font-size: 18px;
    }

    .support-required-one {
        position: absolute;
        color: #ec7864;
        top: 11px;
        left: 0px;
        font-size: 18px;
    }

    .support-required-two {
        position: absolute;
        color: #ec7864;
        top: 31px;
        left: 0px;
        font-size: 18px;
    }

    .support-required-desc {
        position: absolute;
        color: #ec7864;
        top: -12px;
        left: 0px;
        font-size: 18px;
    }

    .support-required-captcha {
        position: absolute;
        color: #ec7864;
        top: px;
        left: 0px;
        font-size: 18px;
        z-index: 1001;
    }

    .input-lg {
        font-size: 12px;
        border-radius: 4px;
        padding: 0px 4px;
    }

    .special-pad {
        padding: 0px 4px;
    }

    .progress-bar-success {
        height: 8px;
        color: #00CE7D;
        display: none;
    }
}
