﻿  #supportDiv .choice-selected p{
         color: #fff;
     }
        #supportDiv p{
         color: #009bdf;
     }
    #supportDiv .blue-font{
         color: #009bdf;
     }
    .footer{
        margin-top:21px;
        padding-top:21px;
         border-top:1px solid #e8e8e8;
    }