﻿#progressbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1040;
}

#progressbar.ui-corner-all {
    border-radius: 0px;
}

.ui-progressbar {
    border-radius: 0px;
    border: 0px !important;
}

#progressbar .ui-widget-header {
    background: #00ce7d url("");
    border: 0px !important;
    margin: 0px;
    height: 2px !important;
}

.question-numbering {
    color: #8d8d8d;
}

.special-promo {
    color: #df002c;
}

#ent-feat, #sme-feat, #pro-feat {
    overflow: hidden;
}

sup.promo-sup {
    font-size: 100%;
}

.feature-list, .feature-btn {
    border-bottom: 1px solid #e2e2e2;
}

.btn {
    white-space: normal;
}

.leadout {
    border: 1px solid #bababa;
    border-radius: 10px;
    padding: 8px;
}

.sub-type-header {
    font-family: 'MyriadPro';
}

.leadout-container {
    width: 100%;
    height: 100%;
}

    .leadout-container .sme, .leadout-container .pro, .leadout-container .enterprise {
        border-bottom: 1px solid #e2e2e2;
        height: 100%;
    }

.body {
    overflow: hidden;
}

.ui-state-disabled {
    opacity: 1;
    border-color: #5f5f5f !important;
    color: #fff !important;
    background-color: #5f5f5f !important;
}

    .ui-state-disabled .ui-icon-triangle-2-n-s:before {
        color: #5f5f5f !important;
    }

.touchpoint-ms.ui-state-active {
    background: #009bdf url("") !important;
}

.touchpoint-ms.ui-state-focus {
    color: #009bdf !important;
}

.survey-div-sp {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.survey-footer {
    width: 100%;
    text-align: left !important;
    color: #ea6953;
    padding-right: 8px;
}

.title-appreciation {
    padding-left: 32px;
    padding-right: 32px;
}

.unclickable-box.exp-area-choices {
    border-color: #5f5f5f;
    color: #5f5f5f;
    padding-top: 9% !important;
}

.whiteoverlay {
    z-index: 9999;
    background-color: #fff;
    position: absolute;
}

.touchpoint-container button {
    text-align: center;
}

.active-arrow {
    color: #009bdf !important;
}

.inactive-arrow {
    color: #5F5F5F !important;
}


.demo p {
    margin: 0px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.ui-corner-all {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.close-icon {
    padding: 0px !important;
}

.ui-state-active .ui-widget-content .ui.state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #009bdf !important;
    color: #009bdf !important;
}

.carousel-indicators {
    left: 35%;
    width: 90%;
}

body, html {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

input[type="text"] {
    background: #fff !important;
    border: 1px solid #009bdf;
}

.tooltip-inner {
    min-width: 200px;
    background-color: #FFFFFF;
    color: #009bdf !important;
    font-size: 16px;
    border: 1px solid #009bdf !important;
}

textarea[placeholder]::-webkit-input-placeholder {
    color: #009bdf;
}

span.Number {
    background-color: #fff;
    color: #009bdf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #009bdf !important;
}

.share-your-exp:hover {
    color: #fff;
    background-color: #009bdf;
    cursor: pointer;
}

.share-your-exp-success {
    color: #fff !important;
    border: 1px solid #fff !important;
    background-color: #00ce7d !important;
    -webkit-transition: background-color 100ms linear !important;
    -moz-transition: background-color 100ms linear !important;
    -o-transition: background-color 100ms linear !important;
    -ms-transition: background-color 100ms linear !important;
    transition: background-color 100ms linear !important;
}

.selectHelper select {
    background: transparent;
    padding: 5px;
    width: 64px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 32px;
    -webkit-appearance: none;
    position: absolute;
    border-color: #009bdf !important;
    border: 1px solid;
    border-radius: 4px;
    outline: none;
}

.selectHelper {
    height: 32px;
    width: 64px;
    overflow: hidden;
    position: relative;
}

    .selectHelper select:active {
        background-color: #009bdf !important;
        color: #FFFFFF !important;
    }

.selectDown {
    position: absolute;
    top: 12px;
    left: 42px;
}

.menu-section {
    text-align: center;
}

.question-header {
    display: none;
    text-align: center;
    width: 100%;
    position: relative;
}

.survey-section-height {
    min-height: 100%;
}

.module-area {
    position: relative;
}


.rate-selected, span.Number.rate-selected:hover {
    background-color: #009bdf !important;
    color: #ffffff !important;
}

.tag-selected, .tag-selected:hover {
    background-color: #009bdf !important;
    color: #ffffff !important;
}

.choice-selected, .choice-selected:hover {
    background-color: #009bdf !important;
    color: #ffffff !important;
}

.logofileinput {
    position: absolute;
    left: 0;
    top: 0;
    height: 12rem;
    width: 12rem;
    opacity: 0;
}

.corner-slider {
    padding-top: 1rem;
    float: right;
}



span.trashbutton {
    position: absolute;
    top: -10%;
    right: 5%;
}

.social-media {
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.socialmedia-box {
    text-align: center;
}

.middletext {
    text-align: center;
}

.uploadTxtBox {
    width: 100%;
}

.fileBrowserBtn {
    opacity: 0;
}

.fileBrowser {
    width: 100%;
}

.flipperTool {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999;
}

.flipBack {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e2e2e2;
}

p {
    outline: 0rem;
}

.showhidebutton {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 1;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #009bdf;
    background: #009bdf url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #009bdf;
    background: #fff url("") 50% 50% repeat-x;
    font-weight: normal;
    color: #009bdf;
}

.ui-slider-horizontal {
    height: 0.8rem;
}

.description-para {
}

.ui-state-active {
    background: #009bdf !important;
    color: #fff !important;
}

    .ui-state-active .ui-icon-triangle-2-n-s:before {
        background: #009bdf !important;
        color: #fff !important;
    }

.ui-widget-content {
    border: 1px solid #fff;
    background: #bababa url("") 50% top repeat-x;
    color: #bababa;
}

.ui-widget-header {
    border: 1px solid #009bdf;
    background: #5f5f5f url("") 50% 50% repeat-x;
    color: #ffffff;
    font-weight: normal;
}

.glyphicon:hover, .glyphicon:active {
    color: #0068b0;
}

.answer-numbers:hover, .answer-numbers:active {
    color: #bbbdc0;
}

.file-input-wrapper {
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: 0;
    border-color: transparent !important;
    border-radius: 4px;
}



.imgdisplay {
    left: 0;
    top: 0;
    height: 40rem;
    min-width: 100%;
}

.surveypanel {
    margin-top: 0rem;
    min-height: 64rem;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.questioncontentattach {
    padding-bottom: 0rem;
}

.survey-div {
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e2e2e2;
    padding-right: 0rem;
    padding-left: 0rem;
    clear: both;
    position: relative;
    border-radius: 0px;
}

.row {
    margin: 0px !important;
}


.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

ul.image-scale {
    padding: 0;
    margin: 0;
}

    ul.image-scale li {
        list-style: none;
        display: inline-block;
        margin: 0rem;
        padding: 0.4rem;
        font-size: xx-large;
    }

.no-margin {
    margin: 0px !important;
}

.remove {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: x-large;
    color: #009BDF;
    z-index: 800;
}

.myBreadCrumbs {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 998;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.duplicate {
    font-size: x-large;
    color: #009BDF;
}

.top-add {
    position: absolute;
    top: -12px;
    left: 127px;
    z-index: 999;
}

.bottom-add {
    position: absolute;
    margin-top: -11px;
    left: 127px;
    z-index: 999;
}

.question-add {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.spaced {
    display: block;
    min-height: 50px;
}

.demographics-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pull-top-right {
    position: absolute;
    top: -3px;
    right: 3px;
}


.carousel-container {
    max-height: 48px;
    padding-top: 1rem;
}

.carousel-inner {
    margin-top: 2px;
    border: 1px solid #bababa;
    border-radius: 4px;
}

.carousel-indicators {
    bottom: 0px;
}

    .carousel-indicators .completed {
        background-color: #56cbff;
        border: 1px solid #009bdf;
        /* background-color: #56cbff;*/
    }

    .carousel-indicators .active .completed {
        background-color: #009bdf;
        border: 1px solid #009bdf;
        /* background-color: #56cbff;*/
    }

    .carousel-indicators .not-completed {
        background-color: #ea6953 !important;
        border: 1px solid #ea6953 !important;
        /* background-color: #56cbff;*/
    }

    .carousel-indicators .active .not-completed {
        background-color: #ea6953 !important;
        border: 1px solid #ea6953 !important;
        /* background-color: #56cbff;*/
    }

.carousel-control:hover, .carousel-control:focus {
    color: #009bdf;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}

.carousel-control {
    color: #009bdf;
    text-shadow: 0px 0px 0px #fff;
}

    .carousel-control.left {
        background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0) 0),color-stop(rgba(0,0,0,0) 100%));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-repeat: repeat-x;
    }

    .carousel-control.right {
        background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0) 0),color-stop(rgba(0,0,0,0) 100%));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-repeat: repeat-x;
    }

.addOptionBtn {
    margin-top: 0.2rem;
    margin-left: 0px;
}

.addSMOptionBtn {
    margin-top: 0.5rem;
    margin-left: 0px;
}

.addSliderOptionBtn {
    margin-top: 1rem;
    margin-left: 2px;
}

.upload-btn-container {
    position: relative;
}

.box {
    border: thick;
    border-style: solid;
    padding: 0rem;
}

.center-question {
    text-align: center;
}

#scaleLeft {
    float: left;
    padding-left: 12px;
}

#scaleRight {
    float: right;
    padding-right: 12px;
}

#testBorder {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.submitexperience {
    padding: 2rem;
    text-align: center;
}

.otherBox {
    width: 20% !important;
}

.otherDisabledBox {
    border: dashed thin !important;
    width: 80% !important;
}


.bluemenu {
    color: #009bdf !important;
}

    .bluemenu:hover {
        color: #fff !important;
    }

.caret {
    border-top-color: #009bdf !important;
}

.uploadImg {
    width: 100%;
}

.margin5top {
    margin-top: 5px;
}

.margin4top {
    margin-top: 4px;
}


.tagdiv {
    margin-top: 7px;
    margin-left: auto !important;
    width: 100% !important;
    margin-right: auto !important;
    position: relative;
    display: table;
    table-layout: auto;
}

#slide-panel {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.9;
}

.inner-img-upload {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: white;
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f2f3;
}

    .inner-img-upload img {
        z-index: 1000;
    }

.uploadImgIcon {
    vertical-align: middle;
}

.brandLogoZIndex {
    z-index: 99;
}

.uploadLogoIcon {
    z-index: 89;
    vertical-align: middle;
    margin-top: 12.5px;
    margin-bottom: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.uploadImgIcon img {
    width: 70px;
    height: 70px;
}

.inner-img-upload img {
    width: 50px;
    height: 50px;
}

.upload-icon {
    display: block;
    margin-top: 0rem;
    text-align: center;
    margin-bottom: auto;
}

.uploadResizer img {
    width: 50px !important;
    height: 50px !important;
}

.btn-sz {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

.file-input-wrapper {
    max-height: 220px;
    max-width: 100%;
    height: 220px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bbbdc0;
    margin-left: auto;
    margin-right: auto;
}

.link-input-wrapper {
    min-height: 200px;
    min-width: 290px;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bbbdc0;
}

.slideBack {
    position: absolute;
    top: 0rem;
    margin-left: 0rem;
    font-size: 2rem;
}

.slideMainBack {
    position: absolute;
    top: 0rem;
    left: 1rem;
    margin-left: -1.7rem;
    font-size: 2rem;
}

.slideMainOpen {
    position: absolute;
    top: 0rem;
    left: 0rem;
    margin-left: 0rem;
}

.whitebox {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 300;
    vertical-align: middle;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    width: 80%;
    border-radius: 4px;
}

.optionChoices {
    display: none;
    vertical-align: middle;
    position: relative;
    min-width: 30%;
    max-width: 30%;
    height: 100%;
    float: left;
    padding-top: 2rem;
    min-height: 100%;
    padding-left: 2rem;
}

.questionChoices {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    min-height: 100%;
}

.editMenu ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #c2c2c2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.editMenu li {
    text-align: center;
    display: table-row;
    background: pink;
}

.editMenu span {
    display: table-cell;
    vertical-align: middle;
    /*border-top: 1px solid green;*/
}

.sideEdit {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #009BDF;
    min-height: 100%;
}

.editMenu {
    position: absolute;
    top: 0px;
    right: -13px;
    z-index: 999;
    min-height: 20px;
    max-height: 20px;
    min-width: 150px;
    color: #009BDF;
}

.questionHolder {
    padding-top: 0rem;
    text-align: center;
    position: relative;
    display: table;
    table-layout: auto;
    width: 100% !important;
    min-height: 0px !important;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    position: relative;
    display: none;
    padding-right: 0rem;
    height: 100%;
    margin-bottom: 0px;
    min-height: 320px;
}

.question-area-choices a {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
    padding: 3px;
}

.helper50 {
    width: 50%;
}

.helper502 {
    width: 50%;
    padding-left: 8px;
}

.helper60 {
    width: 60%;
}

.helperRow {
    min-height: 20px;
    max-height: 20px;
}

.helper40 {
    width: 40%;
}

.helper40 label {
    margin-bottom: 0px;
}

.eightzeropwidth {
    width: 248px !important;
}

.helperFloaterLeft {
    float: left;
}

.margineightleft {
    margin-left: 2px;
}

.alignleft {
    text-align: left !important;
}

.alignright {
    text-align: right !important;
}

.aligncenter {
    text-align: center !important;
}

.marginoneleft {
    margin-left: 1px !important;
}

.choicecontainer {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.rankcontainer {
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.rankcontainerfirst {
    position: relative;
    width: 100%;
    margin-top: 2px;
}

.addbtncontainer {
    padding-top: 89px;
}

.addbtncontainerdemo {
    padding-top: 600px;
    padding-left: 0px;
}

.demo {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}

.democontainer {
    position: relative;
    width: 100%;
    margin-top: 16px;
}

.democontainerfirst input[type="checkbox"] {
    width: 8px;
    height: 8px;
    margin: 0px;
    margin-top: 2px;
}

.democontainer input[type="checkbox"] {
    width: 8px;
    height: 8px;
    margin: 0px;
    margin-top: 2px;
}

.democontainerfirst {
    position: relative;
    width: 100%;
    margin-top: 2px;
}

.rank {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}

.choice {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.helperFloaterRight {
    float: right;
}

.rotateFork {
    transform: rotate(180deg);
    padding-top: 0px;
    padding-left: 16px !important;
    padding-right: 0px !important;
}

.sliderTable {
    width: 100%;
}

.leftOptionTd {
    text-align: center;
    width: 20%;
}

.rightOptionTd {
    text-align: center;
    width: 20%;
}

.sliderOptionTd {
    width: 60%;
}

.caret-down-sps {
    position: absolute;
    font-size: 0.5rem;
    top: 8px;
    right: 4px;
}

.caret-down {
    font-size: 0.5rem;
}

/*
@media only screen and (min-width: 540px) {

    .sidepanel {
        margin-top: 3rem;
        top: 50px;
        right: 0rem;
        max-width: 10rem;
        background-color: #dddedf;
        height: 45rem;
        min-width: 25rem;
        position: absolute;
        border-bottom-left-radius: 15px;
        opacity: 0.8;
        display: none;
    }

        .sidepanel:hover {
            opacity: 1;
        }

    span.trashbutton {
        position: absolute;
        top: 0%;
        right: 5%;
    }

    .editMenu ul {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
        border: 1px solid #c2c2c2;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .editMenu li {
        text-align: center;
        display: table-row;
        background: pink;
    }

    .editMenu span {
        display: table-cell;
        vertical-align: middle;
        /*border-top: 1px solid green;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: -20px;
        color: #009BDF;
        min-height: 100%;
    }

    .editMenu {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 999;
        min-height: 100%;
        color: #009BDF;
    }

    .questionChoices {
        padding-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 520px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 520px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 1px 3px;
        font-size: 0.8rem;
        line-height: 1.5;
        border-radius: 4px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .questionHelper {
        position: absolute;
        padding-top: 0rem;
        bottom: 0px;
        text-align: left;
        width: 100%;
    }

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 6rem;
        width: 6rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 520px;
        margin-right: auto;
        margin-left: auto;
    }

    .survey-div {
        width: 520px;
        min-height: 320px;
        padding-right: 0rem;
        margin-right: auto;
        margin-left: auto;
    }

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 32%;
        max-width: 32%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 12% !important;
        height: 0px;
        cursor:pointer;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%); /* IE 9 
            -webkit-transform:translate(-50%, -50%); /* Opera, Chrome, and Safari 
            padding: 3px;
            font-size: 2rem;
        }

    .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 32% !important;
        border: 1px solid #009BDF;
        padding: 1rem !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        min-height: 0.1rem !important;
    }

        .share-your-exp p {
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 2rem;
        }

    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 324px;
        min-width: 520px;
        max-height: 300px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 100px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 50%;
        left: 5%;
        background-color: white;
        width: 6rem;
        height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #f1f2f3;
    }

        .inner-img-upload img {
            width: 6rem;
            height: 6rem;
        }
}

*/
@media screen and (min-width: 640px) {
    .choicecontainer {
        margin-bottom: 16px;
    }


    .sidepanel {
        margin-top: 3rem;
        top: 50px;
        right: 0rem;
        max-width: 10rem;
        background-color: #dddedf;
        height: 45rem;
        min-width: 25rem;
        position: absolute;
        border-bottom-left-radius: 15px;
        opacity: 0.8;
    }

        .sidepanel:hover {
            opacity: 1;
        }

    .flip-container {
        height: 395px;
    }

    .carousel-paragraph {
        padding-left: 20px;
        padding-right: 20px;
    }

    .democontainerfirst {
        position: relative;
        width: 100%;
        margin-top: 8px;
    }

        .democontainerfirst input[type="checkbox"] {
            width: 16px;
            height: 16px;
            margin: 0px;
            margin-top: 2px;
        }

    .democontainer input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 0px;
        margin-top: 2px;
    }

    .margin5top {
        margin-top: 14px;
    }

    .tagdiv {
        margin-top: 13px;
    }

    .helperRow {
    }

    .questionHolder {
        min-height: 0px !important;
    }

    .editMenu {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 999;
        min-height: 20px;
        max-height: 20px;
        min-width: 320px;
        color: #009BDF;
    }

    .top-add {
        position: absolute;
        top: -20px;
        left: 47%;
        z-index: 999;
    }

    .bottom-add {
        position: absolute;
        margin-top: -20px;
        left: 47%;
        z-index: 999;
    }

    .questionText {
        margin-top: 8px;
    }

    .fileBrowserBtnWrapper {
        position: absolute;
        height: 395px;
        width: 610px;
        left: 50%;
    }

    .fileBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 395px;
        width: 590px;
        z-index: 200;
        background-color: #bababa;
        top: 32px;
        left: -50%;
    }

    .textbox-abs {
        position: absolute;
        bottom: -3px;
        width: 640px;
    }

    .carouseltext {
        padding-top: 4px;
    }

    .carousel-control.right {
        right: -35px;
    }

    .carousel-control.left {
        left: -35px;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #009bdf;
        border-radius: 10px;
    }

    .scale p {
        margin-bottom: 7px;
        margin-top: 7px;
    }

    .carousel-indicators .active {
        width: 8px;
        height: 8px;
        margin: 1px;
        background-color: #009bdf;
    }

    .carousel-indicators-sp {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .eightzeropwidth {
        width: 100% !important;
    }

    .pull-top-right {
        font-size: 32px !important;
    }

    .padright-at {
        padding-right: 79px;
    }

    .helperRow-ch-abs {
        position: absolute;
        bottom: -8px;
        left: 148px;
    }

    .helperRow-chin-abs {
        position: absolute;
        bottom: -8px;
        left: 112px;
    }

    .helperRow-op-at-abs {
        position: absolute;
        bottom: 18px;
    }

    .helperRow-op-rate-abs {
        position: absolute;
        bottom: 49px;
    }

    .helperRow-rate-abs {
        position: absolute;
        bottom: 38px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-op-tag-abs {
        position: absolute;
        bottom: 89px;
    }

    .helperRow-tag-abs {
        position: absolute;
        bottom: 82px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-tag-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-dd {
        position: absolute;
        left: 145px;
        bottom: -42px;
    }

    helperRow-rate-2-abs-box {
        position: absolute;
        left: -18px;
    }

    .helperRow-at-abs {
        position: absolute;
        bottom: 7px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helper502pos {
        position: absolute;
        bottom: -4px;
        left: 328px;
    }

    .attachqh {
        height: 36px;
    }

    .HRPadtop {
        padding-top: 8px;
    }

    .paddingleftdemo {
        padding-left: 218px;
    }

    .gridratescale {
        margin-top: 8px !important;
    }

    .padright-demo {
        padding-right: 21px;
    }

    .democontainer {
        position: relative;
        width: 100%;
        margin-top: 16px;
    }

    .rotateFork {
        transform: rotate(180deg);
        padding-top: 0px;
        padding-left: 32px !important;
        padding-right: 0px !important;
    }

    .carousel-container {
        margin-top: 0rem;
        min-height: 40px;
        max-height: 40px;
        padding-top: 0rem;
    }

    .selectable {
        border: 1px solid #009bdf !important;
    }

    .carousel-inner {
        margin-top: 8px;
        border: 1px solid #bababa;
        border-radius: 4px;
        padding-bottom: 16px;
    }

    .carousel-control {
        height: 30px;
        position: absolute;
        top: 38%;
        left: 0;
        width: 15%;
        font-size: 24px;
        color: #009bdf;
        text-align: center;
        opacity: 1;
        filter: alpha(opacity=50);
    }

    .carousel-indicators {
        bottom: -5px;
    }

    .carouselsizer {
    }

    .social-media {
        margin-top: 4px;
    }

    .goldenmeanbox {
        position: relative;
        margin-top: 2px;
        width: 640px;
        height: 395px;
        border: 1px solid #bababa;
    }

    .attachmentimgdiv {
        padding-top: 147px;
    }

        .attachmentimgdiv img {
            height: 100px;
            width: 100px;
        }

    .locationimgdiv {
        padding-top: 46px;
    }

    .nopadding {
        padding: 0px !important;
    }

    .radioBtnSz {
        height: 48px;
        width: 48px;
    }

    .addOptionBtn {
        margin-top: 16px;
        margin-left: 0px;
    }

    .twotwoxheight {
        height: 21px !important;
        max-height: 21px !important;
    }

    .twofourpxheight {
        height: 48px !important;
        max-height: 48px !important;
    }

    .btn-control {
        padding: 2px 4px !important;
    }

    .form-control {
        display: block;
        width: 100%;
        min-height: 48px;
        padding: 6px 12px;
        font-size: 24px;
        line-height: 32px;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) !important;
        box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) !important;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .carousel-paragraph {
        line-height: 50px;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .pad-arrow-left {
        padding-left: 8px;
    }

    .pad-arrow-right {
        padding-right: 8px;
    }

    .form-control-sp {
        display: block;
        width: 160px;
        height: 32px;
        padding: 0px 4px;
        font-size: 16px;
        line-height: 1.428571429;
        color: #009bdf;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .rowmenu-s {
        padding-right: 32px;
    }

    .rowmenu-sp {
        padding-left: 32px;
    }

    .editMenuItems span {
        float: right;
        padding-right: 32px;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        top: -4px;
        z-index: 2;
        width: 16px;
        height: 16px;
        cursor: default;
    }


    .commentbox {
        margin-top: 8px;
    }

    .commentbox-sp {
        margin-top: 24px;
    }

    textarea[placeholder] {
        color: #009bdf;
    }

    input[placeholder] {
        color: #009bdf;
    }

    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 24px;
    }

    .firstTD {
        width: 60% !important;
    }

    .secondTD {
        width: 40% !important;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: -3px;
        color: #009BDF;
        min-height: 100%;
    }


    .form-group {
        padding-top: 31px;
        padding-right: 0px;
    }

    .question-start {
        padding-top: 24px;
    }

    .questionChoices {
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 0px 0px;
        font-size: 8px;
        line-height: 1.5;
        border-radius: 4px;
    }

    .btn-24 {
        height: 48px;
        width: 48px;
    }


    .btn64px {
        width: 72px;
        text-align: left;
    }

    .btn72px {
        width: 72px;
        text-align: left;
    }

    .btn32px {
        width: 32px;
        text-align: left;
    }

    .paddinglefthelper {
        padding-right: 3px;
    }

    .paddingleftrank {
        padding-left: 4px;
        padding-right: 1px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .questionHelper {
        position: absolute;
        bottom: 18px;
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
    }

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
            padding: 0px !important;
            height: 16px;
        }

        .questionHelper tr {
            height: 19px;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
        padding: 0px !important;
        height: 24px;
    }

    .questionHelperAttach tr {
        height: 24px;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .answercontent {
        padding-top: 8px;
    }

        .answercontent ul {
            margin-top: 6px;
        }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 9rem;
        width: 9rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 640px;
        margin-right: auto;
        margin-left: auto;
    }

    .survey-div {
        width: 640px;
        min-height: 64px;
        margin-right: auto;
        margin-left: auto;
        /*
        background:url("../Images/Gridline with goldenratio640.png");
        */
    }

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 29%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 12% !important;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 32px;
            margin-bottom: 0px;
        }

    .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 600px !important;
        height: 150px;
        border: 1px solid #009BDF;
        padding: 1rem !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        min-height: 0.1rem !important;
    }

        .share-your-exp p {
            display: table-cell;
            vertical-align: middle;
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 56px;
        }

    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 395px;
        width: 640px;
        max-height: 395px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 20px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .touchpoints {
        margin-top: 8px;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 5%;
        left: 5%;
        background-color: white;
        width: 9rem;
        height: 9rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #f1f2f3;
    }

        .inner-img-upload img {
            width: 9rem;
            height: 9rem;
        }
}


.error-required {
    border: 1px solid #ea6953 !important;
}


.validation-error {
    border: 1px solid #ea6953 !important;
    border-radius: 4px;
}

.multiselect-sel {
    background: #009bdf;
    color: #fff;
    font-weight: bold !important;
}

label.ui-corner-all {
    margin-bottom: 0px;
}

.exp-area-choices {
    cursor: pointer;
}

.rating-commentbox p, .commentbox-sp p, .commentbox p, .tag-answer-content p, .text-answer-content p {
    height: auto;
    text-align: left;
}

body {
    height: initial;
}

.footerZIndex {
    position: relative !important;
}

.location-thank-you {
    display: none;
}

.success-text {
    color: #00ce7d !important;
}
