﻿@media only screen and (min-width: 640px) {
    .touchpoint-ms .ui-multiselect-checkboxes{
    max-height:500px !important;
    text-align:center;
}
        .map-canvas {
    width: 600px;
    height: 400px;
    background-color: #CCC;
    display: none;
}
        .location-dropzone{
        padding-top:80px;
    }
    .location-dropzone img{
        height:96px;
    }
    .ui-progressbar {
        height: 8px;
    }
    .leadout-container .sme,.leadout-container .pro, .leadout-container .enterprise{
  
    border-bottom:0px solid #e2e2e2;
    
}
    .blank-list{
        display:block;
    }
    .class-head{
        font-size:20px;
        margin-top:24px;
        margin-bottom:16px;
    }
    .leadout-font{
        font-size:48px;
        font-weight:bold;
        font-family: 'MyriadPro';
    }
    .leadout-container .sme, .leadout-container .pro, .leadout-container .enterprise {
        width: 33.3%;
        float:left;
    }
    .special-promo{margin-bottom:9px;}
    .view-boxer{
        display:none;
    }
    .version-image img{
        max-height: 311px;
    }
            .version-image{
                margin-bottom:16px;
            height:311px;
        }
    .leadout{
       
    }
   
    .leadout-container .sme,.leadout-container .pro, .leadout-container .enterprise{
    padding-left:8px;
    padding-right:8px;
}
    .get-started,.sub-type, .price-point{
        margin-bottom:8px;
    }
  
    .enterprise{
        padding-top:0px;
   /* border-right:1px solid #bababa;*/
}
    .sme{
        padding-top:0px;
     /* border-right:1px solid #bababa;*/
}
    .pro{
        padding-top:0px;
    }
    .feature-btn{
        margin-bottom:16px;
    }
    .feature-list{
        margin-bottom:16px;
         font-size:16px !important;
    }
    .subtype-font{
          font-size:32px;
      }
    .asterik-font{
        font-size:24px;
    }
    p.thankyou-text div,  p.thankyou-text p{
        line-height:normal !important;
    }
    .ui-tooltip.ui-widget-content{
        border-color:#5f5f5f !important;
    }
    .ui-tooltip .ui-tooltip-content{
        color:#000 !important;
    }
    .multiple-question-margin{
        margin-bottom:10px;
    }
    #ui-multiselect-10-option-0:focus{
        color:#000;
    }
    .demo-field .rating-commentbox textarea{
        margin-bottom:16px;
    }
     .ui-multiselect-menu.touchpoint-ms{
        width: 638px !important;
    }
    label.error{
        position:absolute;
        width:300px;
        bottom:-7px;
        left:158px;
        text-align:center;
    }


     .compcomm{
        margin-top:16px !important;
    }
       
    .touchpoint-ms.ui-multiselect-single .ui-multiselect-checkboxes label {
 padding: 0px !important; 
}
        .touchpoint-ms span{
        font-size:40px !important;
    }
    .question-numbering{
        padding-left:16px;
        margin-bottom:-32px;
    }
    .sidemenutext-font{
        font-size:24px;
    }
    .touchpoint-ms .ui-multiselect-checkboxes span {
font-size: 48px;
line-height: normal;
font-weight: normal !important;
}
        .sidemenutext-font{
        font-size:24px;
    }
      .question-numbering{
        padding-left:16px;
    }
    .thankyou-font{
        font-size:36px;
    }
    .thankyou-text{
        font-size: 20px
    }
    .touchpoint-section{
        min-height:0px !important;
        height: 121px;
    }
    .disclaimer-text{
        margin-top:16px;
    }
   
    .touchpoint-container span{
        font-size:3rem;
        line-height:normal;
    }
    .touchpoint-container button{
        height:32px;
    }
    .touchpoint-container{
        position:relative;
    }
    .touchpoint-container .ui-icon-triangle-2-n-s{
       font-size: 40px !important;
        line-height:normal;
       height:auto !important;
    }
    .touchpoint-container{
        min-height:0px !important;
    }
    .touchpoint-container .ui-icon-triangle-2-n-s:before {

font-size: 40px !important;
position:absolute;
right:25px;
top:3px;

}
    .Table-text{
        font-size:24px;
    }
        .demo-field{
        position:relative;
    }
    .demo-required-header{
        position: relative;
  text-align: left;
  line-height: 2px;
  color: #ea6953;
  font-size: 24px;
}

    
     .demo-required-text-header{
          position:absolute;
          margin-top:8px;
        color:#ea6953;
        float:left;
        font-size:24px;
        line-height:20px;
        bottom:57px;
    }
    .required-header{
        position:absolute;
        color:#ec7864;
        top:25px;
        left:16px;
        font-size:24px;

    }
    .surveyeditpanel .survey-footer {
        width:640px !important;
        margin-left:auto;
        margin-right:auto;
        text-align:right;
        color:#ea6953;
       font-size:18px;
    }
      .expires {
        position: absolute;
        display: block;
        bottom: 0%;
        right: 2%;
    }
        .description-text{
        font-weight:normal;
    }
    .expires p{
        display: inline;
    }
    .app-back{
        padding-top:0px !important;
    }
    .tancP{
        font-size:32px;
    }
     .tandc{
            
            text-align:left;
            padding-left:16px;
            padding-right:16px;
        }
    .termsconditions {
         position: absolute;
        display: block;
        bottom: 0%;
        left: 2%;
        margin:0px;
    }
    .logofileinput {
position: absolute;
left: 0;
top: 0;
height: 96px;
width: 96px;
opacity: 0;
}
    .appreciation-logo-img {
width: 96px;
height: 96px;
min-width: 96px;
min-height: 96px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
     .inner-img-appreciation {
        display: block;
        position: absolute;
        bottom: 16px;
        left: 16px;
        background-color: transparent;
        width: 98px;
        height: 98px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 0px;
        border-color: #bababa;
    }
     .attachmentimgdiv img{
        width:96px;
    }
     span.Daisy{
        background:url("../Images/daisy-unselected.png") no-repeat;
        display: inline-block;
        background-size: 42px 42px;
        height:42px;
        width:42px;
    }
     .title-appreciation{
         margin:0px;
         width:100%;
         position:absolute;
     }
    span.Daisy-Selected{
        background:url("../Images/daisy-selectedv2.png") no-repeat;
        display: inline-block;
        background-size: 42px 42px;
        height:42px;
        width:42px;
    }
    .demo button{
        height:48px !important;
        font-size:24px !important;
        width: 608px !important;
        line-height:24px;
        padding-left: 17px;
    }
    .questionHelper button{
        height:34px !important;
        font-size: 22px !important;
        line-height:16px;
    }
     .questionHelper li{
        height:34px !important;
        font-size: 16px !important;
    }
    .demo-select span{
        font-size:48px !important;
    }
    .demo{
        width:608px;
    }
    .demographics-container input{
        margin-bottom:16px;
    }
    .demographics-container button{
        margin-bottom:16px;
    }
    .questioncontent p{
        margin-bottom:0px;
    }
    .text-answer-content{
        text-align:center;
        padding-top:3px;
    }
     .text-answer-content textarea{
     /*  height:48px !important;*/
    }
    .rating-answer-content{
        text-align:center;
        padding-top:0px;
    }
    .tag-answer-content{
        text-align:center;
        padding-top:4px;
    }
   
   
    .choicecontainer {
        margin-bottom: 16px;
    }

    .choice-answercontent{
        margin-top:3px;
    }
    .sidepanel {
        margin-top: 3rem;
        top: 50px;
        right: 0rem;
        max-width: 10rem;
        background-color: #dddedf;
        height: 45rem;
        min-width: 25rem;
        position: absolute;
        border-bottom-left-radius: 15px;
        opacity: 0.8;
    }

        .sidepanel:hover {
            opacity: 1;
        }
        .flipperTool img {
        width: 25px;
        height: 16px;
    }
    .flip-container {
        height: 385px;
    }

    .carousel-paragraph {
        padding-left: 20px;
        padding-right: 20px;
    }

    .democontainerfirst {
        position: relative;
        width: 100%;
        margin-top: 8px;
    }

        .democontainerfirst input[type="checkbox"] {
            width: 16px;
            height: 16px;
            margin: 0px;
            margin-top: 2px;
        }

    .democontainer input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 0px;
        margin-top: 2px;
    }

    .margin5top {
        margin-top: 14px;
    }

    .tagdiv {
        margin-top: 13px;
    }

    .helperRow {
    }

    .questionHolder {
        min-height: 0px !important;
    }

    .editMenu {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 999;
        min-height: 20px;
        max-height: 20px;
        min-width: 320px;
        color: #009BDF;
    }

    .top-add {
        position: absolute;
        top: -20px;
        left: 47%;
        z-index: 999;
    }

    .bottom-add {
        position: absolute;
        margin-top: -20px;
        left: 47%;
        z-index: 999;
    }

    
    .fileBrowserBtnWrapper {
        position: absolute;
        height: 395px;
        width: 610px;
        left: 50%;
    }

    .fileBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 395px;
        width: 590px;
        z-index: 200;
        background-color: #bababa;
        top: 32px;
        left: -50%;
    }

    .textbox-abs {
        position: absolute;
        bottom: -3px;
        width: 640px;
    }

  

    .scale p {
        margin-bottom: 7px;
        margin-top: 8px;
    }
      
    .eightzeropwidth {
        width: 100% !important;
    }

    .pull-top-right {
        font-size: 32px !important;
    }

    .padright-at {
        padding-right: 79px;
    }

    .helperRow-ch-abs {
        position: absolute;
        bottom: -8px;
        left: 148px;
    }

    .helperRow-chin-abs {
        position: absolute;
        bottom: -8px;
        left: 112px;
    }

    .helperRow-op-at-abs {
        position: absolute;
        bottom: 18px;
    }

    .helperRow-op-rate-abs {
        position: absolute;
        bottom: 49px;
    }

    .helperRow-rate-abs {
        position: absolute;
        bottom: 38px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-op-tag-abs {
        position: absolute;
        bottom: 89px;
    }

    .helperRow-tag-abs {
        position: absolute;
        bottom: 82px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-tag-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-dd {
        position: absolute;
        left: 145px;
        bottom: -42px;
    }

    helperRow-rate-2-abs-box {
        position: absolute;
        left: -18px;
    }

    .helperRow-at-abs {
        position: absolute;
        bottom: 7px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helper502pos {
        position: absolute;
        bottom: -4px;
        left: 328px;
    }

    .attachqh {
        height: 36px;
    }

    .HRPadtop {
        padding-top: 8px;
    }

    .paddingleftdemo {
        padding-left: 218px;
    }

    .gridratescale {
        margin-top: 8px !important;
    }

    .padright-demo {
        padding-right: 21px;
    }

    .democontainer {
        position: relative;
        width: 100%;
        margin-top: 16px;
    }

    .rotateFork {
        transform: rotate(180deg);
        padding-top: 0px;
        padding-left: 32px !important;
        padding-right: 0px !important;
    }

   

    .selectable {
        border: 1px solid #009bdf !important;
    }

    .multiple-answer-content{
        margin-top:16px;
    }
    .multiple-choice-answercontent{
        padding-top:16px;
    }
    

    .social-media {
        margin-top: 4px;
    }
    .attachment-upload-btn input {
         width:96px;
            height:96px;
    }
    .attachment-upload-btn{
        position:absolute;
        left:256px;
        top:16px;
        opacity:0;
        width:96px;
            height:96px;
            background:#bababa;
    }
    .goldenmeanbox {
        position: relative;
        margin-top: 2px;
        width: 640px;
        height: 395px;
        border: 1px solid #bababa;
    }

    .attachmentimgdiv {
        padding-top: 16px;
    }

         .attachmentimgdiv img{
        width:96px;
        height:96px;
    }
         
         .socialmedia-box img{
        width:96px;
        height:96px;
    }


    .locationimgdiv {
        padding-top: 46px;
    }

    .nopadding {
        padding: 0px !important;
    }

    .radioBtnSz {
        height: 48px;
        width: 48px;
    }

    .addOptionBtn {
        margin-top: 16px;
        margin-left: 0px;
    }

    .twotwoxheight {
        height: 21px !important;
        max-height: 21px !important;
    }

    .twofourpxheight {
        height: 48px !important;
        max-height: 48px !important;
    }

    .btn-control {
        padding: 2px 4px !important;
    }

    .form-control {
        max-width:606px !important;
        min-width:606px !important;
        display: block;
        width: 100%;
        min-height: 48px;
        padding: 6px 6px;
        font-size: 24px;
        line-height: normal;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) !important;
        box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) !important;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .carousel-paragraph {
        line-height: 50px;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .carousel-inner {
        margin-top: -7px;
        border: 1px solid #bababa;
        border-radius: 4px;
        padding-bottom: 20px;
        min-height: 128px;
    }

    .carousel-control {
       
        position: absolute;
        top: 40%;
        padding-top:0px;
        left: 0;
        width: 15%;
        font-size: 32px;
        color: #009bdf;
        text-align: center;
        opacity: 1;
        filter: alpha(opacity=50);
    }
        .unclickable-box.exp-area-choices p{
    font-size: 24px;
}

    .carousel-indicators {
        bottom: -7px;
    }

    .carousel-container {
        margin-top: 0rem;
        min-height: 40px;
        max-height: 40px;
        padding-top: 0rem;
    }
    .carouseltext {
        padding-top: 4px;
    }

    .carousel-control.right {
        right: -35px;
    }

    .carousel-control.left {
        left: -35px;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #009bdf;
        border-radius: 10px;
    }

    .carousel-indicators .active {
        width: 10px;
        height: 10px;
        margin: 1px;
        background-color: #009bdf !important;
    }
    .carousel-indicators .completed {
      background:#fff url(../Images/bluetick.png) no-repeat;
     background-size: 8px 8px;
    }
    .active.completed {
     background:#009bdf url(../Images/tick.png) no-repeat;
     background-size: 8px 8px;
    }
    .carousel-indicators .active .completed:hover {
     background:#009bdf url(../Images/tick.png) no-repeat;
     background-size: 8px 8px;
    }
    .carousel-indicators .completed:hover {
     background:#e2e2e2 url(../Images/bluetick.png) no-repeat !important;
     background-size: 8px 8px !important;
    }

    .carousel-indicators-sp {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .pad-arrow-left {
        padding-left: 8px;
    }

    .pad-arrow-right {
        padding-right: 8px;
    }
    .socialmedia-box{
        margin-top:16px;
    }
    .form-control-sp {
        display: block;
        width: 160px;
        height: 32px;
        padding: 0px 4px;
        font-size: 16px;
        line-height: 1.428571429;
        color: #009bdf;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
        box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .rowmenu-s {
        padding-right: 32px;
    }

    .rowmenu-sp {
        padding-left: 32px;
    }

    .editMenuItems span {
        float: right;
        padding-right: 32px;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        top: -4px;
        z-index: 2;
        width: 16px;
        height: 16px;
        cursor: default;
    }
    .rating-commentbox {
margin-top:-5px;
}

    .commentbox {
        margin-top: 14px;
    }

    .commentbox-sp {
        margin-top: 0px;
    }

    textarea[placeholder] {
        color: #009bdf;
    }

    input[placeholder] {
        color: #009bdf;
    }

    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 24px;
    }

    .firstTD {
        width: 60% !important;
    }

    .secondTD {
        width: 40% !important;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: -3px;
        color: #009BDF;
        min-height: 100%;
    }


    .form-group {
        padding-top: 31px;
        padding-right: 0px;
    }

    .question-start {
        padding-top: 24px;
    }

    .questionChoices {
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 0px 0px;
        font-size: 8px;
        line-height: 1.5;
        border-radius: 4px;
    }

    .btn-24 {
        height: 48px;
        width: 48px;
    }


    .btn64px {
        width: 72px;
        text-align: left;
    }

    .btn72px {
        width: 72px;
        text-align: left;
    }

    .btn32px {
        width: 32px;
        text-align: left;
    }

    .paddinglefthelper {
        padding-right: 3px;
    }

    .paddingleftrank {
        padding-left: 4px;
        padding-right: 1px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .questionHelper {
        position: absolute;
        bottom: 18px;
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
    }

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
            padding: 0px !important;
            height: 16px;
        }

        .questionHelper tr {
            height: 19px;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
        padding: 0px !important;
        height: 24px;
    }

    .questionHelperAttach tr {
        height: 24px;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .answercontent {
        padding-top: 8px;
    }

        .answercontent ul {
            margin-top: 6px;
        }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 9rem;
        width: 9rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 640px;
        margin-right: auto;
        margin-left: auto;
    }

    .survey-div {
        width: 638px;
        min-height: 448px;
        margin-right: auto;
        margin-left: auto;
        padding-top:32px;
        padding-bottom:32px;
        padding-left:16px;
        padding-right:16px;
    }

    .survey-sections {
        margin-left:auto;
        margin-right:auto;
        width: 640px;
        margin-top:0px;
    }

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 29%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 12% !important;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%); /* IE 9 */
            -webkit-transform:translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 32px;
            margin-bottom: 0px;
        }

     .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 100% !important;
        border: 1px solid #009BDF;
        background: #009bdf;
        padding: 0px !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        margin: 0.2rem;
        height:140px;
        min-height: 0.1rem !important;
    }

        .share-your-exp p {
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 32px;
        }

    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 385px;
        width: 640px;
        max-height: 395px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 0px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }
    #myimage{
        width:640px;
    }
        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .touchpoints {
        margin-top: 8px;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 16px;
        left: 16px;
        background-color: transparent;
        width: 9rem;
        height: 9rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 0px;
        border-color: #f1f2f3;
    }

    .inner-img-upload img {
        width: 9rem;
        height: 9rem;
    }

    .progress-bar-success {
        height: 8px;
        color: #00CE7D;
        display: none;
    }
    .tagdiv {
 
    margin-left:-10px !important;
    width: 103.2% !important;
    
}
     .ui-autocomplete{
        min-height:40px;
        font-size:24px;
        border-radius:4px;
    }
     .STAFF-box{
        margin-bottom:16px;
    }
      .question-font span {
        line-height: normal !important;
    }
          .dir-input-container{
          position:relative;
          height:67px;
      }
    .dir-cross{
        position:absolute;
        right:4px;
    }
    .scale{
        height:35px;
    }
    .emptytablerow{
        font-size:6px;
    }
     .rating-commentbox p, .commentbox-sp p, .commentbox p,  .tag-answer-content p, .text-answer-content p{
        min-height:72px;
  
    }
}
