﻿.alerts-save {
    width: 107px;
    float: right;
}

.showhidebutton-left {
    text-align: left;
}

.showhidebutton {
    text-align: right;
}

.alert-settings .icon-remove.marge-bot {
    position: absolute;
    right: 0px;
}

.alert-settings .required-header {
    line-height: 0px;
    color: #ea6953;
}

.alert-settings label.description-text-center {
    font-weight: normal;
}

.alert-settings .form-control {
    border-color: #009bdf;
}

.cursor-pedit-fix {
    text-align: center;
}

p.form-control {
    border-color: #009bdf;
}

.icon-plus, .pe-7s-close {
    cursor: pointer;
}

.title-font {
    color: #009bdf;
}

.modal {
    top: 40px;
}

.showhidebutton-left {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 1010;
}

.file-type {
    position: absolute;
}

p.form-control:focus {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.facebook-img-upload {
    position: relative;
    float: left;
}

.editable-p {
    height: auto !important;
}

.sidepanel {
    z-index: 1009;
    opacity: 0.9 !important;
}

.sidepanel-left {
    z-index: 1009;
    opacity: 0.9 !important;
}

.helperRow-demo2-abs input {
    border: 1px solid #009bdf !important;
    border-radius: 4px;
}

#slider {
    border: 1px solid #5f5f5f;
}

.socialmedia-box {
    text-align: center;
}

.fb-form-control {
    color: #009bdf;
    background-color: #fff;
    border: 1px solid #009bdf;
    border-radius: 4px;
    text-align: left;
}

    .fb-form-control:focus {
        outline: 0px;
    }

.fb-inpts textarea[placeholder] {
    color: #009bdf;
    font-style: italic;
}

.fb-inputs {
    float: left;
}

    .fb-inputs textarea.form-control {
        height: auto !important;
    }

.socialmedia-box input[type="text"] {
    border: 1px solid #009bdf;
}

.fbfileinput {
    position: absolute;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.demo-section {
    position: relative;
}

input[type="text"] {
    -webkit-appearance: none; /* Remove default shadow */
}

.survey-div-sp {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.thanks-pad {
    padding-bottom: 18rem !important;
}

.disabled {
    border: 1px solid #5F5F5F !important;
}

.active-arrow {
    color: #009bdf !important;
}

.inactive-arrow {
    color: #5F5F5F !important;
}


.disabled:hover {
    border: 1px solid #5F5F5F !important;
    background-color: #5F5F5F !important;
    color: #FFFFFF;
}

.touchpoint-container button {
    text-align: center;
}

.touchpoint-ms .ui-multiselect-checkboxes {
    max-height: 500px !important;
    text-align: center;
}

.disabled-link {
    color: #5F5F5F !important;
}

.demo-textarea {
    border: 1px solid #009bdf !important;
    background: #fff !important;
}

.uploadimg .ui-widget-content {
    border: 1px solid #5f5f5f !important;
    color: #bababa !important;
}

.ui-state-active {
    background: #009bdf !important;
    color: #fff !important;
}

    .ui-state-active .ui-icon-triangle-2-n-s:before {
        background: #009bdf !important;
        color: #fff !important;
    }

.ui-widget {
    font-size: initial;
}

.ui-widget-header {
    background: #8d8d8d url("") 50% 50% repeat-x;
}

.main-menu {
    cursor: pointer;
}

.close-icon {
    margin: 0px !important;
}

body, html {
    height: 100%;
}

.plus-for-multiple {
    margin-bottom: -2px;
    border: 0px solid #fff !important;
    border-radius: 0px !important;
    width: 16px !important;
    height: 16px !important;
    text-indent: 0 !important;
}

.scale p {
    color: #009bdf;
}

p {
    margin: 0px;
}

input[type="text"] {
    background: #fff !important;
}

span.Heart:before {
    color: #bababa !important;
}

span.Star:before {
    color: #bababa !important;
}

span.Number {
    color: #8d8d8d !important;
}

.add-multiple-question {
    z-index: 999;
}

.selectHelper select {
    background: transparent;
    padding: 5px;
    width: 64px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 32px;
    -webkit-appearance: none;
    position: absolute;
    border-color: #009bdf !important;
    border: 1px solid;
    border-radius: 4px;
    outline: none;
}

.selectHelper {
    height: 32px;
    width: 64px;
    overflow: hidden;
    position: relative;
}

    .selectHelper select:active {
        background-color: #009bdf !important;
        color: #FFFFFF !important;
    }

.selectDown {
    position: absolute;
    top: 12px;
    left: 42px;
}

.menu-section {
    text-align: center;
}

.question-header {
    display: none;
    text-align: center;
    width: 100%;
    position: relative;
}

.survey-section-height {
    padding-top: 100px;
    min-height: 100%;
}

.module-area {
    position: relative;
}

.logofileinput {
    position: absolute;
    left: 0;
    top: 0;
    height: 12rem;
    width: 12rem;
    opacity: 0;
}

.corner-slider {
    padding-top: 1rem;
    float: right;
}



span.trashbutton {
    position: absolute;
    top: -9%;
    right: 1%;
}

.social-media {
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    display: block;
    min-width: 100%;
    box-sizing: border-box; /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box; /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari    */
}

.middletext {
    text-align: center;
}

.uploadTxtBox {
    width: 100%;
}

.fileBrowserBtn {
    opacity: 0;
}

.fileBrowser {
    width: 100%;
}

.flipperTool {
    position: absolute;
    top: 1px;
    left: 5px;
    z-index: 999;
}

.flipBack {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e2e2e2;
}

#brand-front-img {
    background-image: url("Images/Brand.jpg");
}

p {
    outline: 0rem;
}

.myBreadCrumbs span {
    cursor: default;
}

    .myBreadCrumbs span.blue-font {
        cursor: pointer;
    }

.ui-state-highlight {
    border: 0px solid transparent;
    background: #fff url() 50% top repeat-x;
    color: #363636;
}

.showhidebutton {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 1010;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}

#slider .ui-state-hover, #slider .ui-widget-content .ui-state-hover, #slider .ui-widget-header .ui-state-hover, #slider .ui-state-focus, #slider .ui-widget-content .ui-state-focus, #slider .ui-widget-header .ui-state-focus {
    border: 1px solid #009bdf;
    background: #009bdf url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x !important;
    font-weight: normal;
    color: #009bdf;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #009bdf;
    background: #009bdf url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #009bdf;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #009bdf;
    background: #fff url("") 50% 50% repeat-x;
    font-weight: normal;
    color: #009bdf;
}

.uploadimg .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #009bdf url("") 50% 50% repeat-x;
}

.ui-slider-horizontal {
    height: 0.8rem;
}

.description-para {
}

.ui-widget-content {
    border: 0px solid #bababa;
    background: #bababa url("") 50% top repeat-x;
    color: #bababa;
}

.ui-widget-header {
    border: 1px solid #009bdf;
    background: #5f5f5f url("") 50% 50% repeat-x;
    color: #ffffff;
    font-weight: normal;
}


.glyphicon:hover, .glyphicon:active {
    color: #0068b0;
}

.answer-numbers:hover, .answer-numbers:active {
    color: #bbbdc0;
}

.file-input-wrapper {
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bbbdc0;
}

.touchpoints option {
    text-align: center;
}

.imgdisplay {
    left: 0;
    top: 0;
    height: 40rem;
    min-width: 100%;
}

.surveypanel {
    margin-top: 0rem;
    min-height: 64rem;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden-textarea {
    display: none;
    padding: 0;
    border: 0;
    left: 0px;
    margin: 0px;
    outline: none;
    overflow: no-display;
}

.questioncontentattach {
    padding-bottom: 0rem;
}

.survey-div {
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e2e2e2;
    padding-right: 0rem;
    padding-left: 0rem;
    clear: both;
    position: relative;
}

.row {
    margin: 0px !important;
}


.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

ul.image-scale {
    padding: 0;
    margin: 0;
}

    ul.image-scale li {
        list-style: none;
        display: inline-block;
        margin: 0rem;
        padding: 0.4rem;
        font-size: xx-large;
    }

.no-margin {
    margin: 0px !important;
}

.remove {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: x-large;
    color: #009BDF;
    z-index: 800;
}



.duplicate {
    font-size: x-large;
    color: #009BDF;
}

.top-add {
    position: absolute;
    top: -12px;
    left: 127px;
    z-index: 999;
}

.bottom-add {
    position: absolute;
    margin-top: -11px;
    left: 151px;
    z-index: 999;
}

.question-add {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.questionHelper .options-table td, .questionHelperDemographic .options-table td {
    width: 25%;
}

.questionHelper .options-table .table-checkbox, .questionHelperDemographic .options-table .table-checkbox {
    text-align: right;
}

.ui-multiselect-single .ui-multiselect-checkboxes label {
    margin-bottom: 0px !important;
}


.spaced {
    display: block;
    min-height: 0px;
}

#successSaveSurvey {
    font-family: 'MyriadPro-Light';
    color: #06AA7D;
    opacity: 0;
}

#myButton {
    width: 100px;
}

#myIconButton {
    width: 60px;
}

#hoverText {
    margin-bottom: 0rem;
}

.demographics-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pull-top-right {
    position: absolute;
    top: -2px;
    right: 3px;
    z-index: 9999;
}


.carousel-container {
    max-height: 48px;
    padding-top: 1rem;
}

.carousel-inner {
    margin-top: 2px;
    border: 1px solid #009bdf;
    border-radius: 4px;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-control:hover, .carousel-control:focus {
    color: #009bdf;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}

.carousel-control {
    color: #009bdf;
    top: 24px !important;
    text-shadow: 0px 0px 0px #fff;
}

    .carousel-control.left {
        background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0) 0),color-stop(rgba(0,0,0,0) 100%));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-repeat: repeat-x;
    }

    .carousel-control.right {
        background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0) 0),color-stop(rgba(0,0,0,0) 100%));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-repeat: repeat-x;
    }

.addOptionBtn {
    margin-top: 0.2rem;
    margin-left: 0px;
}

.addSMOptionBtn {
    margin-top: 0.5rem;
    margin-left: 0px;
}

.addSliderOptionBtn {
    margin-top: 1rem;
    margin-left: 2px;
}

.box {
    border: thick;
    border-style: solid;
    padding: 0rem;
}

.center-question {
    text-align: center;
}

#scaleLeft {
    float: left;
    padding-left: 12px;
}

#scaleRight {
    float: right;
    padding-right: 12px;
}

#testBorder {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.submitexperience {
    padding: 2rem;
    text-align: center;
}

.otherBox {
    width: 20% !important;
}

.otherDisabledBox {
    border: dashed thin !important;
    width: 80% !important;
}


.bluemenu {
    color: #009bdf !important;
}

    .bluemenu:hover {
        color: #fff !important;
    }

.caret {
    border-top-color: #009bdf !important;
}

.uploadImg {
    width: 100%;
}

.margin5top {
    margin-top: 5px;
}

.margin4top {
    margin-top: 4px;
}


.tagdiv {
    margin-top: 7px;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    display: table;
    table-layout: auto;
    width: 100% !important;
}

#slide-panel {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.9;
}





.inner-img-upload {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: white;
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f2f3;
}

    .inner-img-upload img {
        z-index: 1000;
    }

.uploadImgIcon {
    vertical-align: middle;
}

.brandLogoZIndex {
    z-index: 99;
}

.uploadLogoIcon {
    z-index: 89;
    vertical-align: middle;
    margin-top: 12.5px;
    margin-bottom: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.uploadImgIcon img {
    width: 70px;
    height: 70px;
}

.inner-img-upload img {
    width: 50px;
    height: 50px;
}

.upload-icon {
    display: block;
    margin-top: 0rem;
    text-align: center;
    margin-bottom: auto;
}

.uploadResizer img {
    width: 50px !important;
    height: 50px !important;
}

.btn-sz {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

.file-input-wrapper {
    max-height: 220px;
    max-width: 100%;
    height: 220px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bbbdc0;
    margin-left: auto;
    margin-right: auto;
}

.link-input-wrapper {
    min-height: 200px;
    min-width: 290px;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bbbdc0;
}

.slideBack {
    position: absolute;
    top: 0rem;
    margin-left: 0rem;
    font-size: 2rem;
}

.slideMainBack {
    position: absolute;
    top: 0rem;
    left: 1rem;
    margin-left: -1.7rem;
    font-size: 2rem;
}

.slideMainOpen {
    position: absolute;
    top: 0rem;
    left: 0rem;
    margin-left: 0rem;
}

.whitebox {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 300;
    vertical-align: middle;
}



.optionChoices {
    display: none;
    vertical-align: middle;
    position: relative;
    min-width: 30%;
    max-width: 30%;
    height: 100%;
    float: left;
    padding-top: 2rem;
    min-height: 100%;
    padding-left: 2rem;
}

.questionChoices {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    min-height: 100%;
}

.editMenuItems span {
    cursor: pointer;
}

    .editMenuItems span.sort {
        cursor: move;
    }

.editMenu ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #c2c2c2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.editMenu li {
    text-align: center;
    display: table-row;
    background: pink;
}

.editMenu span {
    display: table-cell;
    vertical-align: middle;
}



.sideEdit {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #009BDF;
    min-height: 100%;
}

.editMenu {
    position: absolute;
    top: 0px;
    right: -13px;
    z-index: 999;
    min-height: 20px;
    max-height: 20px;
    min-width: 150px;
    color: #009BDF;
    padding-top: 1px;
}

.questionHolder {
    padding-top: 0rem;
    text-align: center;
    position: relative;
    display: table;
    table-layout: auto;
    width: 100% !important;
    min-height: 288px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    position: relative;
    display: none;
    padding-right: 0rem;
    height: 100%;
    margin-bottom: 0px;
    min-height: 320px;
}

.question-area-choices a {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
    padding: 3px;
}

.helper50 {
    width: 50%;
}

.helper502 {
    width: 50%;
    padding-left: 8px;
}

.helper60 {
}

.helperRow {
    min-height: 20px;
    max-height: 20px;
}

.helper40 {
    width: 40%;
}

    .helper40 label {
        margin-bottom: 0px;
    }

.eightzeropwidth {
    width: 248px !important;
}

.helperFloaterLeft {
    float: left;
}

.margineightleft {
    margin-left: 2px;
}

.alignleft {
    text-align: left !important;
}

.alignright {
    text-align: right !important;
}

.aligncenter {
    text-align: center !important;
}

.marginoneleft {
    margin-left: 1px !important;
}

.choicecontainer {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.rankcontainer {
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.rankcontainerfirst {
    position: relative;
    width: 100%;
    margin-top: 2px;
}

.addbtncontainer {
    padding-top: 89px;
}

.addbtncontainerdemo {
    padding-top: 600px;
    padding-left: 0px;
}

.demo {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}

.democontainer {
    position: relative;
    width: 100%;
    margin-top: 16px;
}

.democontainerfirst input[type="checkbox"] {
    width: 8px;
    height: 8px;
    margin: 0px;
    margin-top: 2px;
}

.democontainer input[type="checkbox"] {
    width: 8px;
    height: 8px;
    margin: 0px;
    margin-top: 2px;
}

.democontainerfirst {
    position: relative;
    width: 100%;
    margin-top: 2px;
}

.rank {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}

.choice {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.helperFloaterRight {
    float: right;
}

.rotateFork {
    transform: rotate(180deg);
    padding-top: 0px;
    padding-left: 24px !important;
    padding-right: 0px !important;
}

.sliderTable {
    width: 100%;
}

.leftOptionTd {
    text-align: center;
    width: 20%;
}

.rightOptionTd {
    text-align: center;
    width: 20%;
}

.sliderOptionTd {
    width: 60%;
}

.caret-down-sps {
    position: absolute;
    font-size: 0.5rem;
    top: 8px;
    right: 4px;
}

.caret-down {
    font-size: 0.5rem;
}

.btn-fail {
    border-color: #ea6953 !important;
    background: #ea6953 !important;
    background-color: #ea6953 !important;
}

.demo-area-choices {
    cursor: pointer;
}

.options-selection {
    text-align: right;
}

.options-name {
    text-align: left;
}

.options-helper {
    text-align: left;
}

.settings-section {
    border-bottom: 1px #e8e8e8 solid;
}

.required-header {
    color: #ea6953;
    position: absolute;
}

label.server-error-message {
    color: #ea6953 !important;
}

  .publish-form {
      padding-bottom: 16px;
  }
