﻿@media only screen and (min-width: 640px) {
    
    .day-ms span.ui-icon.ui-icon-triangle-2-n-s, .alerts-ms span.ui-icon.ui-icon-triangle-2-n-s{
        padding-right:23px;
    }
    .alerts-ms .ui-multiselect-checkboxes li{
        font-size:22px !important;
        
    }

    .required-header {
        top:132px;
        font-size:24px;
    }
    
    .alerts-ms .ui-multiselect-checkboxes{
        max-height:323px !important;
        height:323px;
    }
    .alerts-ms .ui-multiselect-checkboxes label{
       line-height:28px;
        height:40px;
    }
    .alerts-ms.ui-multiselect-menu{
        width:640px !important;
        height: 246px !important;
    }
    .alert-options{
       margin-top:16px;
   }
     .alert-settings .required-header{
        
         font-size:24px;
     }
    .alert-settings .choice-addOptionBtn{
        margin-top:16px;
    }
        .day-ms .ui-multiselect-checkboxes li{
        font-size:22px !important;
        
    }
    .day-ms .ui-multiselect-checkboxes{
        max-height:279px !important;
        height:323px;
    }
    .day-ms .ui-multiselect-checkboxes label{
       line-height:28px;
        height:40px;
    }
    .day-ms.ui-multiselect-menu{
        width:640px !important;
        height: 323px !important;
    }
   
    .published-info{
        margin-top:16px;
    }
    .location-dropzone{
        padding-top:80px;
    }
    .location-dropzone img{
        height:96px;
    }
    .header-paragraphs{
        margin-bottom:8px;
        text-align:center;
    }
    .settings-section{
        padding-bottom:16px;
        margin-bottom:16px;
    }
    .settingspanel{
        padding-top:16px;
        position:relative;
    }
    .settings-section .qrcode{
        margin-bottom:0px;
    }
    .settings-survey-details{
        margin-bottom:16px;
    }
          .footerZIndex{
        position:relative;
    }
        img#toggle-icon-btn, img#toggle-icon-btn-left{
        width:20px;
    }
    .cascading-menu{
        font-size:14px;
        line-height:20px;
    }
    .sidemenutext-font{
        font-size:24px;
    }
      .question-numbering{
        padding-left:16px;
    }
    .front, .back {
       
        height: 383px;
    }
    .file-type{
        bottom:34px;
    }
    .helperRow-tag-mar{
        margin-top:10px;
    }
    .tag-textbox{
        margin-bottom:16px;
        margin-top:43px;
    }
    .tag-textbox textarea.form-control{
        min-height:133px ;
    }
        .demographics-container .helperRow input{

        padding-left:2px;
    }
    .demographics-container .helperRow button,.demographics-container button {
       min-height:24px !important;
        height:24px !important;
        line-height:24px !important;
    }
    .helperRow-rate-2-abs-box .ui-multiselect span, .helperRow .ui-multiselect span{
        padding-right:0px;
    }
    .lh-adjustments{
        line-height:30px;
    }
    .survey-div.branding{
        padding-left:0px;
        padding-right:0px;
    }
    .appreciation-text p{
        padding-left:30px;
        padding-right:30px;
        width:606px;
    }
    .mtl-width{
        width:100px;
    }
    .demotagmultiline textarea{
        margin-bottom:16px;
    }
    .padright-mtl{
        padding-left:157px;
    }
    .padright-mtl2{
        padding-left:28px;
    }
     .padright-mtl2 textarea{
       height: 26px;
       border-radius:4px;
    }
    .padding502top{
        padding-top:5px;
    }
 .helperRow-demo2-abs input, .options-table.helperRow input{
     border-radius:4px;
        width:149px;
       
    }
.options-table.helperRow input:focus{
   outline:0;
       
    }
    .padright-thank{
        position: absolute;
        left:270px;
        bottom:-36px;
    }
    .padright-default{
        padding-top:5px;
    }
    .helperRow-choice-abs{
         position: absolute;
        bottom: 102px;
        right: 16px;
        z-index: 998;
    }
        .padright-choice{
          padding-left: 150px;
  padding-top: 20px;
    }
    .question-area{
        min-height:370px;
    }
    .helper60{
    padding-top:3px;
}
   .helperRow .demographics-multiselect.ui-multiselect {
        padding-left:4px !important;
        width:150px !important;
    }
   .demographics-multiselect.ui-multiselect-menu{
       width:149px;
   }
    .demographics-multiselect.ui-multiselect-menu .ui-multiselect-checkboxes label{
        height:auto;
        line-height:normal;
    }
    .demographics-multiselect.ui-multiselect span{
        padding-left:0px;
    }
     .demographics-multiselect.ui-multiselect .ui-icon-triangle-2-n-s{
         width:20px;
     }
    .socialmedia-box-container{
    margin-top:16px;
}
     .fb-form-control {
        display: block;
        width: 495px;
       
        padding: 4px 12px;
        font-size: 24px;
        line-height: 41px;
        
        vertical-align: middle;
       
      
    }
    .fb-inputs input[type="text"]{
    border:1px solid #009bdf;
    width: 495px;
  
    
}
    .fb-inputs{
        width:495px;
    }
    .fbfileinput{
        top:0px;
    left:0px;
    opacity:0;
    height:96px;
    width:96px;
}
    .fb-inputs textarea{
        
    margin-top:16px;
    }
    .facebook-img-upload {
display: block;


float:left;
background-color: transparent;
width: 96px;
height: 96px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-style: solid;
border-width: 1px;
border-color: #009bdf;
margin-right:16px;
margin-bottom:16px;

}
    .fb-inputs textarea[placeholder] {
        color: #009bdf !important;
        line-height: normal;
    }
       .touchpoint-ms.ui-multiselect-single .ui-multiselect-checkboxes label {
 padding: 0px !important; 
}
        .touchpoint-ms span{
        font-size:40px !important;
    }
    .touchpoint-ms .ui-multiselect-checkboxes span {
font-size: 48px;
line-height: normal;
font-weight: normal !important;
}
    .disclaimer-text {
        margin-top: 16px;
    }

    .helperRow ::-webkit-input-placeholder {
        font-size: 14px !important;
    }

    .helperRow ::-moz-placeholder {
        font-size: 14px !important;
    }
    /* firefox 19+ */
    .helperRow :-ms-input-placeholder {
        font-size: 14px !important;
    }
    /* ie */
    .helperRow :-moz-placeholder {
        font-size: 14px !important;
    }
            .ui-multiselect.demographics-multiselect span{
            padding-right:0px;
        }
    .Table-text {
        font-size: 24px;
    }
    .ui-multiselect span{
        padding-right:44px;
    }
    .ui-multiselect-checkboxes li {
 
  padding-right: 0px;
}
    .touchpoint-container span {
        font-size: 3rem;
        line-height: normal;
    }

    .touchpoint-container button {
        text-align: center;
        height: 56px;
    }

    .touchpoint-container {
        margin-top: 16px;
        position: relative;
    }

        .touchpoint-container .ui-icon-triangle-2-n-s {
            font-size: 40px !important;
            line-height: normal;
            height: auto !important;
        }

    .touchpoint-ms .ui-multiselect-checkboxes label {
        min-height: 50px !important;
        height: auto;
    }

    .touchpoint-ms .ui-multiselect-checkboxes span {
        font-size: 48px;
        line-height: normal;
        font-weight: normal !important;
    }

    .touchpoint-container .ui-icon-triangle-2-n-s:before {
        font-size: 40px !important;
        position: absolute;
        right: 4px;
        top: 7px;
    }

    .helperRow select[multiple] {
        height: 16px;
        min-height: 24px;
        min-width: 100px;
    }

    .helperRow button {
        height: 16px;
        min-height: 24px;
        width: 134px !important;
        min-width: 134px;
    }

    span.Daisy {
        background: url("../Images/daisy-30disable.png") no-repeat;
        display: inline-block;
        background-size: 42px 42px;
        height: 42px;
        width: 42px;
    }

    .questionHelper button {
        height: 16px !important;
        font-size: 16px !important;
        line-height: 16px;
    }

    .questionHelper li {
        height: 34px !important;
        font-size: 16px !important;
    }

    .demo-select span {
        font-size: 48px !important;
    }

    .demo-section {
        margin-bottom: 34px;
    }

    .demo {
        width: 608px;
    }

    .sliderTab .ui-corner-all {
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }

    .demographics-container button {
        margin-bottom: 16px;
    }

    .demographics-container input {
        margin-bottom: 12px;
    }

    .demographics-container {
        margin-top: 6px;
    }

    .mulitple-choice-answercontent {
        padding-top: 16px;
    }

    .multiple-commentbox {
        padding-bottom: 128px !important;
        padding-top: 6px;
    }

    .add-multiple-question {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .logic-img {
        width: 32px !important;
        height: 32px !important;
    }

    .welcome-content {
        padding-top: 20px;
        text-align: center;
    }

    .questioncontentattach {
        padding-top: 0px;
    }

    .multiple-addOptionBtn {
        margin-top: 11px;
        margin-left: 0px;
    }

    .add-new-multiple-question {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .carousel-inner {
        min-height: 128px;
        margin-top: 6px;
    }

    .carousel-control.right {
        right: 0px;
    }

    .carousel-control.left {
        left: 0px;
    }

    .carousel-paragraph {
        padding-left: 20px;
        padding-right: 20px;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #009bdf;
        border-radius: 10px;
    }

    .carousel-indicators .active {
        width: 10px;
        height: 10px;
        margin: 1px;
        background-color: #009bdf;
    }

    .carousel-indicators-sp {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .carousel-container {
        margin-top: 0rem;
        min-height: 40px;
        max-height: 40px;
        padding-top: 0rem;
    }

    .carousel-control {
        height: 96px;
        margin-top: 16px;
        padding-top: 31px;
        position: absolute;
        top: 0px !important;
        bottom: 0;
        left: 0;
        width: 6%;
        font-size: 32px;
        color: #009bdf;
        text-align: center;
        opacity: 1;
        filter: alpha(opacity=50);
    }

    .carousel-indicators {
        bottom: -12px;
    }

    .carousel-questioncontent {
        padding-top: 14px;
    }

    .questionHolder {
        height: 575px !important;
        min-height: 575px !important;
    }

    .editMenu {
        position: absolute;
        top: -1px;
        right: -6px;
        z-index: 999;
        min-height: 40px;
        color: #009BDF;
        width: 300px;
        max-height: 40px;
    }
    .settingseditMenu {
        position: absolute;
        top: -1px;
        right: -6px;
        z-index: 999;
        min-height: 40px;
        color: #009BDF;
        width: 300px;
        max-height: 40px;
    }

    .scale {
        min-height: 19px;
        padding-top: 0px;
    }

    .tagdiv {
        padding-top: 7px;
        min-height: 50px;
        margin-top: 0px;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
        display: table;
        table-layout: auto;
        width: 100% !important;
    }

    .democross {
        position: absolute;
        right: 0px;
    }

    .demotagdiv {
        padding-top: 7px;
        min-height: 50px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
        display: table;
        table-layout: auto;
        width: 100% !important;
    }

    .helperRow .ui-multiselect  {
        background-color: #FFFFFF;
        color: #009BDF;
        border: 1px solid #009BDF !important;
        width: 100% !important;
        font-family: 'MyriadPro-Light' !important;
        font-size: 14px !important;
        height: auto;
        min-height: 28px;
        line-height: 24px;
    }

    .mulitple-choice-answercontent {
        padding-top: 9px;
    }

    .choice-answercontent {
        padding-top: 6px;
       
    }

    .choice-addOptionBtn {
        margin-top: -5px;
        margin-left: 0px;
    }

    .tag-tagdiv {
        min-height: 50px;
        margin-top: 10px;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
        display: table;
        table-layout: auto;
        width: 100% !important;
    }

    .text-answer-content {
        padding-top: 8px;
    }

    .tag-answer-content {
        padding-top: 8px;
    }

    .rating-answer-content {
        text-align: center;
        padding-top: 0px;
    }

    .choice-answer-content {
        text-align: center;
        padding-top: 0px;
        margin-bottom: 108px;
    }

    .rating-container {
        min-height: 64px;
    }

    .rating-commentbox {
        padding-bottom: 2px;
        padding-top: 13px;
    }

    .myBreadCrumbs {
        position: absolute;
        top: 24px;
        left: 16px;
        z-index: 998;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .rotateFork {
        transform: rotate(180deg);
        padding-top: 0px;
        padding-left: 33px !important;
        padding-right: 0px !important;
    }

    .top-add {
        position: absolute;
        top: -23px;
        left: 296px;
        z-index: 999;
    }

    .bottom-add {
        position: absolute;
        margin-top: -22px;
        left: 48.9%;
        z-index: 999;
    }

    .dup-span {
        line-height: 12px;
    }

    .editMenuItems span img {
        position: relative;
        top: 0px;
        height: 31px !important;
        width: 31px !important;
    }

    .socialmedia-box {
        margin-top: 16px;
    }

    .tag-whitespace {
        min-height: 200px;
    }
    .spaced {
    display: block;
    min-height: 16px;
}
    .questionHelper table.options-table, .questionHelperDemographic table.options-table{
    width:606px;
}

     .questionHelper table.options-table .td-padright, .questionHelperDemographic table.options-table .td-padright{
    padding-right:19px !important;
}
.questionHelper table.options-table .td-padleft, .questionHelperDemographic table.options-table .td-padleft{
    padding-left:16px !important;
}

    .sidepanel {
        margin-top: 50px !important;
        top: 0px;
        right: 0rem;
        max-width: 140px;
        
        background-color: #fff;
        border:1px solid #bababa;
        border-top:0px;
        border-right:0px;
        padding-left:16px;
        padding-right:16px;
        padding-top:16px;
        min-width: 140px;
        position: fixed;
        border-bottom-left-radius: 4px;
        opacity: 0.8;
        /* display: none;*/
    }
    .fb-form-control {
        margin-top: 16px;
    }
        .sidepanel-left {
        margin-top: 50px !important;
        top: 0px;
       padding-top:36px;
        left: 0rem;
        max-width: 10rem;
        background-color: #fff;
         border:1px solid #bababa;
         border-top:0px;
        min-width: 25rem;
        position: fixed;
        border-bottom-right-radius: 0px;
        opacity: 0.8;
        height:500px;
        
        /* display: none;*/
    }

        .tree-view{
            margin-bottom:8px;
           padding-left:8px;
           padding-right:8px;
        }
        .sidepanel-content{
           
        padding-left:40px;
        overflow-y:scroll;
        overflow-x:hidden;
        height:100%;
        }


    .leftsidepanel {
        margin-top: 3rem;
        top: 50px;
        left: 0rem;
        max-width: 10rem;
        background-color: #dddedf;
        height: 45rem;
        min-width: 25rem;
        position: absolute;
        border-bottom-left-radius: 15px;
        opacity: 0.8;
    }

    .sidepanel:hover {
        opacity: 1;
    }


    .flip-container {
        height: 385px;
    }

    .tandc {
        text-align: left;
        padding-left: 16px;
        padding-right: 16px;
    }

    .choice-choose-dd .ui-multiselect {
        width: 134px !important;
    }

    .appreciationBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 235px;
        width: 606px;
        z-index: 200;
        background-color: #bababa;
        top: 27px;
        left: 0px;
        cursor: pointer;
    }

    .title-appreciation {
        margin-left: 32px;
        margin-right: 32px;
    }

    .fileBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 235px;
        width: 604px;
        z-index: 200;
        background-color: #bababa;
        top: 30px;
        left: 0;
    }

    .welcomespacer {
        padding-bottom: 16px;
    }



    .eightzeropwidth {
        width: 100% !important;
    }

    .questioncontent {
        padding-top: 0px;
    }

    .textbox-abs {
        position: absolute;
        bottom: 28px;
        width: 100%;
    }

    .carouseltext {
        padding-top: 4px;
    }


    .pull-top-right {
        font-size: 16px;
    }

    .padright-at {
         position: absolute;
  left: 270px;
    }

    .helperRow-rate-numberbox {
        position: absolute;
        left: 168px;
        bottom: 3px;
    }

    .helperRow-ch-abs {
        position: absolute;
        bottom: 105px;
        left: 320px;
    }

    .choice-choose-qh {
        margin-top: 12px;
    }

    .choice-choose-dd {
        margin-top: 7px;
    }

    .helperRow-chin-abs {
        position: absolute;
        bottom: 105px;
        left: 243px;
        z-index: 998;
    }

    .helperRow-demo2-abs {
        bottom: 34px;
        left: 243px;
        z-index: 998;
    }

    .demo2-padleft {
        padding-left: 12px;
    }

    .comment-abs-rate {
        position: absolute;
        bottom: 0px;
        left: 8px;
    }

    .number-abs-rate {
        position: absolute;
        bottom: -33px;
        left: 8px;
    }

    .numberbox-abs-rate {
        position: absolute;
        bottom: -31px;
        left: -4px;
    }

    .pad-cb-rate {
        padding-top:4px;
        padding-left: 114px;
        
    }

    .helperRow-op-demo-abs {
        position: absolute;
        bottom: 97px;
    }

    .helperRow-demo-abs {
        position: absolute;
        bottom: 76px;
    }

    .helperRow-demo-abs-2 {
        position: absolute;
        bottom: 44px;
    }

    .helper-demo-cb {
        position: absolute;
        left: -75px;
        bottom: 57px;
    }

    .helper-demo-dd {
        position: absolute;
        left: 235px;
        bottom: -10px;
    }

    .helperRow-op-at-abs {
        position: absolute;
        bottom: 130px;
    }

    .helperRow-op-rate-abs {
        position: absolute;
        bottom: 130px;
    }

    .helperRow-rate-abs {
        position: absolute;
        bottom: 120px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-op-tag-abs {
        position: absolute;
        bottom: 129px;
    }

    .helperRow-tag-abs {
        position: absolute;
        bottom: 117px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-tag-2-abs {
        position: absolute;
        bottom: -28px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    helperRow-rate-2-abs-box {
        position: absolute;
        left: -10px;
    }

    .helperRow-at-abs {
        position: absolute;
        bottom: 117px;
        min-height: 8px !important;
        max-height: 8px !important;
        z-index: 999;
    }

    .helper502pos {
        position: absolute;
        bottom: 107px;
        left: 311px;
    }

    .helperRow-rate-dd {
        position: absolute;
        left: 151px;
        bottom: -42px;
    }

    .attachqh {
        height: 36px;
    }

    .HRPadtop {
        padding-top: 8px;
    }

    .paddingleftdemo {
        padding-left: 88px;
    }

    .gridratescale {
        margin-top: 8px !important;
    }


    .carouselsizer {
    }

    .social-media {
        margin-top: 4px;
    }

    .attachmentimgdiv img {
        width: 96px;
    }

    .multiple-closebutton {
        font-size: 24px !important;
    }

    .goldenmeanbox {
        position: relative;
        margin-top: 5px;
        width: 608px;
        height: 275px;
        border: 0px solid #bababa;
    }

    .attachmentimgdiv {
        padding-top: 80px;
    }

    .goldenmeanbox span {
        color: #fff;
    }

    .locationimgdiv {
        padding-top: 46px;
    }

    .nopadding {
        padding: 0px !important;
    }

    .radioBtnSz {
        height: 24px;
        width: 24px;
    }

    .twotwoxheight {
        height: 42px !important;
        max-height: 42px !important;
    }

    .twofourpxheight {
        height: 48px !important;
        max-height: 48px !important;
    }

    .btn-control {
        padding: 2px 4px !important;
    }

    textarea.form-control {
        height: 72px ;
        overflow: hidden;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 48px;
        padding: 4px 12px;
        font-size: 24px;
        line-height: 41px;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .form-control-sp {
        display: block;
        width: 128px;
        height: 26px;
        padding: 0px 4px;
        font-size: 16px;
        line-height: 1.428571429;
        color: #009bdf;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .editMenuItems span {
        float: right;
        margin-right: 33px;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        top: -4px;
        z-index: 2;
        width: 16px;
        height: 16px;
        cursor: default;
    }

    .scale p {
        margin-bottom: 7px;
    }

    .commentbox {
        padding-bottom: 2px;
    }

    .commentbox-sp {
        margin-top: 8px;
    }

    textarea[placeholder]::-webkit-input-placeholder {
        color: #009bdf;
    }

    input[placeholder] {
        color: #009bdf;
    }

    ::-webkit-input-placeholder {
        font-size: 24px !important;
    }

    ::-moz-placeholder {
        font-size: 24px !important;
    }
    /* firefox 19+ */
    :-ms-input-placeholder {
        font-size: 24px !important;
    }
    /* ie */
    input:-moz-placeholder {
        font-size: 24px !important;
    }

    input[placeholder]::-webkit-input-placeholder {
        color: #009bdf;
    }

    .commentplaceholder::-webkit-input-placeholder {
        color: #bababa;
        vertical-align: middle;
        font-size: 32px;
    }

    .firstTD {
        width: 60% !important;
    }

    .secondTD {
        width: 40% !important;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: 22px;
        color: #009BDF;
        min-height: 100%;
    }
    .settingssideEdit {
        position: absolute;
        top: 4px;
        right: 22px;
        color: #009BDF;
        min-height: 100%;
    }


    .form-group {
        padding-top: 31px;
        padding-right: 0px;
    }

    .question-start {
        padding-top: 24px;
    }

    .questionChoices {
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 0px 0px;
        font-size: 8px;
        line-height: 1.5;
        border-radius: 4px;
    }

    .btn-24 {
        height: 24px;
        width: 24px;
    }


    .btn64px {
        width: 72px;
        text-align: left;
    }

    .btn72px {
        width: 72px;
        text-align: left;
    }

    .btn32px {
        width: 32px;
        text-align: left;
    }

    .paddinglefthelper {
        padding-right: 3px;
    }

    .paddingleftrank {
        padding-left: 4px;
        padding-right: 1px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .brandtext {
        height: 24px !important;
        font-size: 16px !important;
        line-height: 16px !important;
    }

    .questionHelper {
        position: relative;
       padding-top:16px;
        min-height:204px;
        text-align: left;
        width: 100%;
    }

    .brandinghelper {
        bottom: -64px;
    }

        .brandinghelper input {
            width: 520px;
        }

    .questionHelper table {
        width: 100%;
    }

    .questionHelper td {
        width: 50%;
        padding: 0px !important;
        height: 16px;
    }

    .questionHelper tr {
        height: 19px;
    }

    .questionHelperAttach table {
        width: 100%;
    }


    .questionHelperAttach td {
        width: 50%;
        padding: 0px !important;
        height: 24px;
    }

    .questionHelperAttach tr {
        height: 24px;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .answercontent {
        padding-top: 9px;
    }

    .answercontent-sp {
        padding-top: 3px;
    }

    .fb-share img {
        width: 96px;
    }

    .socialmedia-container {
        margin-top: 16px;
    }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 96px;
        width: 96px;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 640px;
        margin-right: auto;
        margin-left: auto;
    }

    .survey-sections {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 640px;
        margin-top: 3px;
    }

    .ui-state-highlight {
       position: relative;
       width: 640px;
       min-height: 688px;
       padding-top: 64px;
       padding-left: 16px;
       padding-right: 16px;
       margin-right: auto;
       margin-left: auto;
       background-color: #e8e8e8;
    }

    .survey-div {
        position: relative;
        width: 640px;
        min-height: 640px;
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
        margin-right: auto;
        margin-left: auto;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

        .question-area-choices:hover, .demo-area-choices:hover {
            color: #fff;
            background-color: #009bdf;
        }

            .question-area-choices:hover a {
                color: #fff !important;
            }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 29%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #009BDF;
        padding: 0px !important;
        padding-top: 78px !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 32px;
            margin-bottom: 0px;
        }

    .demo-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 29%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #009BDF;
        padding: 0px !important;
        padding-top: 48px !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
    }

        .demo-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 32px;
            margin-bottom: 0px;
        }

    .btn-optionsadd {
        width: 200px !important;
        position: absolute;
        bottom: -12px;
        right: 0px;
    }


    .app-back {
        padding-top: 0px !important;
    }

    .tancP {
        font-size: 32px;
    }

    .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 100% !important;
        border: 1px solid #009BDF;
        padding: 0px !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        min-height: 0.1rem !important;
        height: 140px;
    }

        .share-your-exp p {
            display: table-cell;
            vertical-align: middle;
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 32px;
        }


    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 385px;
        width: 640px;
        max-height: 385px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #009bdf;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .appreciation-logo-img {
        width: 96px;
        height: 96px;
        min-width: 96px;
        min-height: 96px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 0px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
        padding-top:38px;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .inner-img-appreciation {
        display: block;
        position: absolute;
        bottom: 16px;
        left: 16px;
        background-color: transparent;
        width: 98px;
        height: 98px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #009bdf;
    }

    .expires {
        position: absolute;
        display: block;
        bottom: 0%;
        right: 2%;
    }

        .expires p {
            display: inline;
        }

    .termsconditions {
        position: absolute;
        display: block;
        bottom: 0%;
        left: 2%;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 16px;
        left: 16px;
        background-color: transparent;
        width: 96px;
        height: 96px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #009bdf;
    }

        .inner-img-upload img {
            width: 94px;
            height: 94px;
        }

    .brand-abs {
        position: absolute;
        left: 90px;
    }
    /*
        .modal-body{
            height:522px;
            overflow-y:scroll;
        }
            */
    .demo-icon-remove {
        position: absolute;
        right: 4px;
        top: 6px;
    }

    .demo-item {
        position: relative;
        height: 64px;
    }

    .demo-remove {
        position: absolute;
        top: -4px;
        right: 4px;
    }

    .demo-type {
        height: auto;
        padding-top: 24px;
    }

    .dummy-arrow {
        position: absolute;
        font-size: 20px;
        right: 16px;
        top: 14px;
        color: #bababa;
    }

    .lowerdemoplus {
        margin-bottom: 16px;
    }

    .ui-multiselect-checkboxes li {
        font-size: 12px;
        line-height: 12px;
    }

    .ui-multiselect-checkboxes label {
        line-height: 12px;
        min-height: 26px !important;
        height: 26px;
    }

    .padright-att {
        padding-left: 157px;
        padding-top: 4px;
    }

    .questionHelperDemographic {
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
        margin-top: 12px;
    }

    .add-demo {
        position: absolute;
        top: -3px;
        right: -41px;
        font-size: 30px;
    }

    .socialmedia-box {
        margin: auto;
        text-align: center;
    }

             .socialmedia-box img{
        width:94px;
        height:94px;
    }
                 .qrcode{
        margin-top:16px;
        margin-bottom:16px;
    }

   .qrcode img{
        width:128px;
        height:128px;
        margin:auto;
    }
   .STAFF-box{
        margin-bottom:16px;
    }
   .options-settings{
       width:608px;
       margin-bottom:16px;
   }

   .options-settings tr{
     max-height:26px;
     height:32px;
   }
   .options-settings .ui-multiselect{
       height:26px;
       min-height:26px;
       min-width: 134px;
       width:234px !important;
       font-size:14px;
   }
      .options-settings .ui-multiselect span{
     padding-right: 26px;
       font-size:14px;
       padding-left:12px;
   }
   .options-name{
       width:244px;
   }
    .options-selection{
        width:364px;
   }

    .options-selection input{
        margin-bottom:0px;
        border-radius:4px;
        width:234px;
    }
    .options-selection input{
        margin-bottom:0px;
        border-radius:4px;
        width:234px;
        font-size:14px;
    }
     .options-selection button{
        margin-bottom:0px;
       height:26px !important;
    }
      .options-selection textarea{
        margin-bottom:0px;
        height:26px;
        border-radius:4px;
        min-width:234px;
        width:234px;
        float:right;
       
    }
     .options-selection input:focus{
        outline:0px;
    }

    .options-selection ::-webkit-input-placeholder {
   font-size:14px !important;
}

  .options-selection ::-moz-placeholder {
  font-size:14px !important;
}
/* firefox 19+ */
  .options-selection :-ms-input-placeholder {
   font-size:14px !important;
}
/* ie */
  .options-selection input:-moz-placeholder {
   font-size:14px !important;
    }
}
