﻿@media only screen and (min-width: 320px) {
     .day-ms span.ui-icon.ui-icon-triangle-2-n-s, .alerts-ms span.ui-icon.ui-icon-triangle-2-n-s{
        padding-right:23px;
    }
    .alerts-ms .ui-multiselect-checkboxes li{
        font-size:22px !important;
        
    }

    .required-header {
        top: 102px;
        font-size: 16px;
    }
    
    .alerts-ms .ui-multiselect-checkboxes{
        max-height:323px !important;
        height:323px;
    }
    .alerts-ms .ui-multiselect-checkboxes label{
       line-height:10px;
        height:40px;
    }
    .alerts-ms.ui-multiselect-menu{
        width:304px !important;
       
    }
    .alert-options{
       margin-top:16px;
   }
     .alert-settings .required-header{
        
         font-size:24px;
     }
    .alert-settings .choice-addOptionBtn{
        margin-top:8px;
    }
        .day-ms .ui-multiselect-checkboxes li{
        font-size:22px !important;
        
    }
    .day-ms .ui-multiselect-checkboxes{
        max-height:279px !important;
       
    }
    .day-ms .ui-multiselect-checkboxes label{
       line-height:10px;
        
    }
    .day-ms.ui-multiselect-menu{
        width:304px !important;
       
    }
   .alert-options{
       margin-top:8px;
   }
     .alert-settings .required-header{
         
         font-size:14px;
     }
        .published-info{
        margin-top:8px;
    }
        .location-dropzone{
        padding-top:16px;
    }
    .location-dropzone img{
        height:48px;
    }
        .header-paragraphs{
        margin-bottom:4px;
        text-align:center;
    }
    .settings-section{
        padding-bottom:8px;
        margin-bottom:8px;
    }
    .settingspanel{
        width:320px;
        padding-top:8px;
        position:relative;
        padding-left:8px;
        padding-right:8px;
        margin-left:auto;
        margin-right:auto;
    }
    .settings-section .qrcode{
        margin-bottom:0px;
    }
    .settings-survey-details{
        margin-bottom:8px;
    }
    .main-menu .survey-div span{
        line-height:30px;
    }
    .disabled:hover {
  border: 1px solid #5f5f5f !important;
  background-color: #fff !important;
  color: #5f5f5f;
}
    .footerZIndex{
        position:relative;
    }
        .back {
       
        height: 184px;
        width:99%;
        left:1px;
    }
    .question-numbering{
        padding-left:8px;
    }
        .sidemenutext-font{
        font-size:14px;
    }

        .fb-form-control {
        margin-top: 8px;
    }
    body{
        padding-top:37px;
    }
    img#toggle-icon-btn, img#toggle-icon-btn-left{
        width:14px;
    }
        .questionHelper table.options-table, .questionHelperDemographic table.options-table{
    width:303px;
}
         .questionHelper table.options-table td, .questionHelperDemographic table.options-table td{
             height:12px;
         }

     .questionHelper table.options-table .td-padright, .questionHelperDemographic table.options-table .td-padright{
    padding-right:8px !important;
}
.questionHelper table.options-table .td-padleft, .questionHelperDemographic table.options-table .td-padleft{
    padding-left:8px !important;
}
    .cascading-menu{
        font-size:12px;
    }
    .questionHelper.attachqh{
        margin-bottom:28px;
    }
      .file-type{
        bottom:-16px;
        line-height:12px;
    }
       .file-type div{
       
        line-height:12px;
    }
    .questionHelperDemographic input {
        font-size:10px;
    }
        .helperRow-tag-mar{
        margin-top:0px;
    }
    .tag-textbox{
        margin-bottom:8px;
        margin-top:30px;
    }
    .tag-textbox textarea.form-control{
        min-height:40px ;
    }
    .uploadLogoIcon
    {
        margin-top:2px;
    }
    .icon-upload-logo-font{
        font-size:10px;
    }
    .validation-pad{
        padding-top: 5px !important;
    }
    .demographics-container .helperRow input{
        margin-bottom:0px;
        height:17px;
        padding-left:2px;
    }
     .demographics-container .helperRow input::-webkit-input-placeholder{
       font-size:10px !important;
    }
    .demographics-container .helperRow button{
       min-height:17px !important;
        height:17px !important;
        line-height:11px !important;
    }
    .mobile-lh{
        line-height:10px;
    }
    .front {
  height: 185px;
}
.appreciation-text p{
        padding-left:30px;
        padding-right:30px;
        width:302px;
    }
    .mtl-width{
        width:83px;
    }
    .demotagmultiline textarea{
        margin-bottom:16px;
    }
    .padright-mtl{
        padding-left:0px;
    }
    .padright-mtl2{
        padding-left:0px;
    }
     .padright-mtl2 textarea{
       height: 20px;
       border-radius:4px;
       width:30px;
    }
    .padding502top{
        padding-top:5px;
    }
 .helperRow-demo2-abs input{

        width:86px;
       
    }
    .padright-thank{
        position: absolute;
        left:135px;
        bottom:-32px;
    }
    .padright-default{
        padding-top:5px;
    }
    .helperRow-choice-abs{
         position: absolute;
        bottom: 30px;
        right: 8px;
        z-index: 998;
    }
        .padright-choice{
          padding-left: 64px;
  padding-top: 19px;
    }
    .question-area{
        min-height:153px;
    }
     .questionHelper {
        min-height:86px;
        position: relative;
        margin-bottom:16px;
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
    }
    .helper60{
    padding-top:0px;
}
     .socialmedia-box-container{
    margin-top:8px;
}
     .fb-form-control {
        display: block;
        width: 95px;
       
        padding: 4px 2px;
        font-size: 12px;
        line-height: 41px;
        
        vertical-align: middle;
       
      
    }
    .fb-inputs input[type="text"]{
    border:1px solid #009bdf;
    width: 230px;
  
    
}
    .fb-inputs{
        width:230px;
    }
    .fbfileinput{
        top:0px;
    left:0px;
    opacity:0;
    height:64px;
    width: 64px;
}
    .fb-inputs textarea{
        
    margin-top:8px;
    }
        .facebook-img-upload {
        display: block;

        background-color: transparent;
        width: 64px;
        height: 64px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #009bdf;
        margin-right:8px;
margin-bottom:8px;
    }

           
    .disclaimer-text {
        margin-top: 8px;
    }

    .title-font span {
        line-height: normal;
    }

    .touchpoint-container span {
        font-size: 24px;
        line-height: normal;
    }

    .touchpoint-container button {
        height: 34px;
    }

    .touchpoint-container {
        margin-top: 8px;
        position: relative;
    }

        .touchpoint-container .ui-icon-triangle-2-n-s {
            font-size: 20px !important;
            line-height: normal;
            height: auto !important;
        }

            .touchpoint-container .ui-icon-triangle-2-n-s:before {
                font-size: 20px !important;
                position: absolute;
                right: 4px;
                top: 6px;
            }

    .touchpoint-ms .ui-multiselect-checkboxes label {
        min-height: 25px;
        height: 25px;
        padding: 2px !important;
    }

    .touchpoint-ms .ui-multiselect-checkboxes span {
        font-size: 24px;
        line-height: normal;
        font-weight: normal !important;
    }

    .helperRow select[multiple] {
        height: 12px;
        min-height: 12px;
    }

    .helperRow button {
        height: 12px;
        min-height: 12px;
        min-width: 74px;
    }

    span.Daisy {
        background: url("../Images/daisy-30disable.png") no-repeat;
        display: inline-block;
        background-size: 22px 22px;
        height: 22px;
        width: 22px;
    }

    .emptytablerow {
        display: none;
    }

    .locationimg {
        width: 15px !important;
        height: 25px !important;
    }

    .emailimg {
        width: 15px !important;
        height: 11px !important;
    }

    .phoneimg {
        width: 15px !important;
        height: 15px !important;
    }

    .question-checkbox {
        font-size: 10px;
    }
    .ui-multiselect-checkboxes li span {
  font-size: 12px;
  
}
    .demo button {
        height: auto;
        min-height: 19px !important;
        font-size: 10px !important;
        width: 74px !important;
        line-height: 19px;
    }

    .questionHelper button {
        height: 17px !important;
        font-size: 11px !important;
        width: 80px !important;
        line-height: 11px;
    }

    .padright-att-dd {
        position: absolute;
        left: 45px;
    }

    .questionHelper li {
        height: 17px !important;
        font-size: 8px !important;
    }

    .demo-select span {
        font-size: 24px !important;
    }

    .ui-multiselect-single .ui-multiselect-checkboxes label {
        height: auto;
    }

    .lowerdemoplus {
        margin-bottom: 8px;
    }

    .demo-section {
        margin-bottom: 24px;
    }

    .demo {
        width: 304px;
    }

    .demographics-container button {
        margin-bottom: 8px;
    }

    .demographics-container input {
        margin-bottom: 8px;
    }

    .demographics-container {
        margin-top: 3px;
    }

    .helperRow-op-demo-abs {
        position: absolute;
        bottom: 42px;
    }

    .helperRow-demo-abs {
        position: absolute;
        bottom: 28px;
    }

    .helperRow-demo-abs-2 {
        position: absolute;
        bottom: 11px;
    }

    .helper-demo-cb {
        position: absolute;
        left: -38px;
        bottom: 6px;
    }

    .helper-demo-dd {
        position: absolute;
        left: 95px;
        bottom: 1px;
    }

    .mulitple-choice-answercontent {
        padding-top: 4px;
    }

    .multiple-commentbox {
        padding-bottom: 28px !important;
    }

    .add-multiple-question {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .welcome-content {
        padding-top: 10px;
        text-align: center;
    }

    .logic-img {
        width: 32px !important;
        height: 32px !important;
    }

    .questioncontentattach {
        padding-top: 0px;
    }

    .add-new-multiple-question {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .scale {
        min-height: 19px;
    }

    .tagdiv {
        min-height: 50px;
        margin-top: 0px;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
        display: table;
        table-layout: auto;
        width: 100% !important;
    }

    .demotagdiv {
        min-height: 50px;
        margin-top: 8px;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 8px;
        position: relative;
        display: table;
        table-layout: auto;
        width: 100% !important;
    }

    .add-new-multiple-question {
        background: url(../images/plus.png) no-repeat;
        background-size: 5px 5px;
    }

    .choice-answercontent {
        padding-top: 9px;
        padding-bottom: 0px;
    }

        .choice-answercontent textarea {
            height: 24px;
        }

    .choice-addOptionBtn {
        margin-top: -3px;
        margin-left: 0px;
    }

    .tag-tagdiv {
        min-height: 50px;
        margin-top: 6px;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;
        display: table;
        table-layout: auto;
        width: 100% !important;
    }

    .text-answer-content {
        padding-top: 8px;
    }

        .text-answer-content textarea {
            height: 25px;
        }

    .tag-answer-content {
        padding-top: 8px;
    }

        .tag-answer-content textarea {
            height: 25px;
        }
        .demographics-multiselect span{
            padding-right:0px;
        }
    .rating-answer-content {
        text-align: center;
        padding-top: 8px;
    }
   .carousel-questioncontent .multiple-closebutton{
       font-size:24px !important;
   }
    .carousel-indicators{
        left:40%;
        width: 80%;
    }
    .choice-answer-content {
        text-align: center;
        padding-top: 2px;
        
    }

    .socialmedia-box {
        margin-top: 8px;
    }

    .rating-container {
        min-height: 31px;
    }

    .rating-commentbox {
        padding-bottom: 2px;
        padding-top: 0px;
    }

        .rating-commentbox textarea {
            height: 25px;
        }

    .myBreadCrumbs {
        position: absolute;
        top: 14px;
        left: 9px;
        z-index: 998;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .rotateFork {
        transform: rotate(180deg);
        padding-top: 0px;
        padding-left: 20px !important;
        padding-right: 0px !important;
    }

    .top-add {
        position: absolute;
        top: -14px;
        left: 150px;
        z-index: 999;
    }

    .bottom-add {
        position: absolute;
        margin-top: -11px;
        left: 47.9%;
        z-index: 999;
    }

    .dup-span {
        line-height: 12px;
    }

    .editMenuItems span img {
        position: relative;
        top: 0px;
        height: 13px !important;
        width: 13px !important;
    }

    .tag-whitespace {
        min-height: 0px;
    }

    .sidepanel {
        margin-top: 36px !important;
        top: 0px;
        right: 0rem;
        max-width: 30%;
         background-color: #fff;
         border:1px solid #bababa;
          border-top:0px;
         border-right:0px;
       
        height: 240px;
        min-width: 30%;
        position: fixed;
        border-bottom-left-radius: 4px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top:16px;
        opacity: 0.9;
     
        
    }
    .showhidebutton, .showhidebutton-left{
        top:50px;
    }
    .spaced {
    display: block;
    min-height: 8px;
}
        .sidepanel-left {
        margin-top: 36px !important;
        top: 0px;
        padding-top:58px;
        left: 0rem;
        max-width: 40%;
         background-color: #fff;
         border:1px solid #bababa;
         border-top:0px;
        height: 23rem;
        min-width: 40%;
        position: fixed;
        border-bottom-left-radius: 0px;
        padding-left: 8px;
        padding-right: 0px;
        opacity: 0.9;
         height:320px;
       
    }
        
        .tree-view{
            margin-bottom:8px;
            padding-left:4px;
            padding-right:4px;
            line-height:14px;
        }
        .sidepanel-content{
           
        padding-left:6px;
        padding-right: 8px;
        overflow-y:auto;
        overflow-x:hidden;
        height:100%;
        }
    .leftsidepanel {
        margin-top: 3rem;
        top: 50px;
        left: 0rem;
        max-width: 10rem;
        background-color: #dddedf;
        height: 18rem;
        min-width: 9rem;
        position: absolute;
        border-bottom-left-radius: 4px;
        padding-left: 8px;
        padding-right: 8px;
        opacity: 0.8;
        display: none;
        z-index: 9999;
    }




    .flip-container {
        height: 187px;
    }

    .fileBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 100px;
        width: 302px;
        z-index: 200;
        background-color: #bababa;
        top: 23px;
        left: 0%;
    }

    .carousel-inner {
        min-height: 64px;
        padding-bottom:16px;
    }

    .carouseltext {
        padding-top: 4px;
    }

    .carousel-control.right {
        right: 0px;
    }

    .carousel-control.left {
        left: 0px;
    }

    .carousel-paragraph {
        margin-left: 10px;
        margin-right: 14px;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 7px;
        height: 7px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #009bdf;
        border-radius: 10px;
    }

    .carousel-indicators .active {
        width: 7px;
        height: 7px;
        margin: 1px;
        background-color: #009bdf;
    }

    .carousel-indicators-sp {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .carousel-container {
        margin-top: 0rem;
        min-height: 40px;
        max-height: 40px;
        padding-top: 0rem;
    }

    .carousel-control {
        height: 48px;
        margin-top: 8px;
        padding-top: 16px;
        position: absolute;
        top: 0px !important;
        bottom: 0;
        left: 0;
        width: 6%;
        font-size: 16px;
        color: #009bdf;
        text-align: center;
        opacity: 1;
        filter: alpha(opacity=50);
    }

    .carousel-indicators {
        bottom: -15px;
    }

    .carouselsizer {
    }

    .welcomespacer {
        padding-bottom: 16px;
    }

    .eightzeropwidth {
        width: 100% !important;
    }

    .questioncontent {
        padding-top: 0px;
    }

    .textbox-abs {
        position: absolute;
        bottom: 0px;
        width: 304px;
        
    }

    .pull-top-right {
        font-size: 16px !important;
    }

    .padright-at {
        position: absolute;
  left: 135px;
    }

    .helperRow-comment {
        position: absolute;
        left: 8px;
        bottom: 0px;
    }

    .helperRow-rate-numberbox {
        position: absolute;
        left: 72px;
        bottom: -3px;
    }

    .default-textbox {
        width: 100px;
    }

    .helperRow-ch-abs {
        position: absolute;
        bottom: 31px;
        left: 160px;
        z-index: 998;
    }

    .choice-choose-qh {
        margin-top: -2px;
    }

    .choice-choose-dd {
        margin-top: -3px;
    }

    .helperRow-chin-abs {
        position: absolute;
        bottom: 32px;
        left: 108px;
        z-index: 998;
    }

    .helperRow-demo2-abs {
        bottom: 25px;
        left: 122px;
        z-index: 998;
    }

    .demo2-padleft {
        padding-left: 0px;
    }

    .helperRow-op-at-abs {
        position: absolute;
        bottom: 52px;
    }

    .helperRow-op-rate-abs {
        position: absolute;
        bottom: 59px;
    }

    .helperRow-rate-abs {
        position: absolute;
        bottom: 52px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-op-tag-abs {
        position: absolute;
        bottom: 55px;
    }

    .helperRow-tag-abs {
        position: absolute;
        bottom: 48px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-tag-2-abs {
        position: absolute;
        bottom: -15px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-2-abs {
        position: absolute;
        bottom: -16px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    helperRow-rate-2-abs-box {
        position: absolute;
        left: -10px;
    }

    .comment-abs-rate {
        position: absolute;
        bottom: 0px;
        left: 8px;
    }

    .number-abs-rate {
        position: absolute;
        bottom: -16px;
        left: 8px;
    }

    .numberbox-abs-rate {
        position: absolute;
        bottom: -16px;
        left: 0px;
    }

    .pad-cb-rate {
        padding-left: 70px;
        padding-bottom: 22px;
    }

    .helperRow-at-abs {
        position: absolute;
        bottom: 45px;
        min-height: 8px !important;
        max-height: 8px !important;
        z-index: 999;
    }

    .helper502pos {
        position: absolute;
        bottom: 41px;
        left: 152px;
    }

    .helperRow-rate-dd {
        position: absolute;
        left: 64px;
        bottom: -30px;
    }

    .attachqh {
        height: 36px;
    }

    .HRPadtop {
        padding-top: 8px;
    }

    .paddingleftdemo {
        padding-left: 88px;
    }

    .gridratescale {
        margin-top: 8px !important;
    }

    .social-media {
        margin-top: 4px;
    }

    .goldenmeanbox {
        position: relative;
        margin-top: 5px;
        width: 303px;
        height: 133px;
        border: 0px solid #bababa;
    }

        .goldenmeanbox span {
            color: #fff;
        }

    .attachmentimgdiv img {
        width: 48px;
    }

    .attachmentimgdiv {
        padding-top: 16px;
    }

    .locationimgdiv {
        padding-top: 46px;
    }

    .nopadding {
        padding: 0px !important;
    }

    .radioBtnSz {
        height: 24px;
        width: 24px;
    }

    .twotwoxheight {
        height: 21px !important;
        max-height: 21px !important;
    }

    .twofourpxheight {
        height: 24px !important;
        max-height: 24px !important;
    }

    .btn-control {
        padding: 2px 4px !important;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 4px 2px;
        font-size: 12px;
        line-height: 24px;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .form-control-sp {
        display: block;
        width: 80px;
        height: 16px;
        padding: 0px 4px;
        font-size: 8px;
        line-height: 1.428571429;
        color: #009bdf;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .editMenuItems span {
        float: right;
        margin-right: 19px;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        top: -4px;
        z-index: 2;
        width: 16px;
        height: 16px;
        cursor: default;
    }

    .scale p {
        margin-bottom: 7px;
    }

    .commentbox {
        padding-bottom: 2px;
    }

    .commentbox-sp {
        margin-top: 2px;
    }

        .commentbox-sp textarea {
            overflow-y: hidden;
        }

    .commentbox textarea {
        height: 25px;
    }

    textarea[placeholder] {
        color: #009bdf;
        line-height: normal;
    }

    input[placeholder] {
        color: #009bdf;
        line-height: 17px;
    }

        input[placeholder]::-webkit-input-placeholder {
            color: #009bdf;
        }
         textarea[placeholder]::-webkit-input-placeholder {
            color: #009bdf;
        }

    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 12px;
    }

    .firstTD {
        width: 60% !important;
    }

    .secondTD {
        width: 40% !important;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: 22px;
        color: #009BDF;
        min-height: 100%;
    }
        .settingssideEdit {
        position: absolute;
        top: 4px;
        right: 10px;
        color: #009BDF;
       
    }

    .form-group {
        padding-top: 31px;
        padding-right: 0px;
    }

    .question-start {
        padding-top: 24px;
    }

    .questionChoices {
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 302px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 302px;
        margin-left: auto;
        margin-right: auto;
    }

        .sliderTab .ui-corner-all {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 8px;
        height: 8px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 0px 0px;
        font-size: 8px;
        line-height: 1.5;
        border-radius: 4px;
    }

    .btn-24 {
        height: 24px;
        width: 24px;
    }


    .btn64px {
        width: 72px;
        text-align: left;
    }

    .btn72px {
        width: 72px;
        text-align: left;
    }

    .btn32px {
        width: 32px;
        text-align: left;
    }

    .paddinglefthelper {
        padding-right: 3px;
    }

    .paddingleftrank {
        padding-left: 4px;
        padding-right: 1px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

   

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
            padding: 0px !important;
            height: 16px;
        }

        .questionHelper tr {
            height: 19px;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
        padding: 0px !important;
        height: 24px;
    }

    .questionHelperAttach tr {
        height: 24px;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .answercontent {
        padding-top: 9px;
    }

    .answercontent-sp {
        padding-top: 3px;
    }


    .answercontent textarea {
        height: 25px;
    }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 6rem;
        width: 6rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    .survey-sections {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 318px;
        margin-top: 3px;
    }

    .survey-div {
        position: relative;
        width: 320px;
        min-height: 320px;
        padding-top: 32px;
        padding-left: 8px;
        padding-right: 8px;
        margin-right: auto;
        margin-left: auto;
        /*
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2OMq7zlw4AEGEECi9rVtsDECAsAAOT/DgI2coh6AAAAAElFTkSuQmCC)repeat;
            
             background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHElEQVQYV2N88eLFfwY8gBGkQEJCghGXmuGhAADz+x/A4Zb29gAAAABJRU5ErkJggg==)repeat; 
        background:url("../Images/320px.png")repeat;*/
    }
    .table-checkbox input{
        width:74px;
        border-radius:4px;
    }
    .demographics-multiselect.ui-multiselect .ui-icon-triangle-2-n-s{
         width:14px;
     }
     .table-checkbox input:focus::-webkit-input-placeholder { color:transparent; }
 .table-checkbox input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
 .table-checkbox input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
 .table-checkbox input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 33px !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 29%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 15% !important;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px 8px;
            font-size: 16px;
            margin-bottom: 0px;
        }

    .demo-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 29%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 11% !important;
    }

    .question-font span {
        line-height: 24px !important;
    }

    .demo-area-choices p {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); /* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
        padding: 0px;
        font-size: 16px;
        margin-bottom: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 100% !important;
        border: 1px solid #009BDF;
        padding: 0px !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        min-height: 0.1rem !important;
        height: 70px !important;
    }

        .share-your-exp p {
            display: table-cell;
            vertical-align: middle;
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 20px;
            line-height:70px;
        }

    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 186px;
        width: 320px;
        max-height: 300px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #009bdf;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 0px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

     .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
    }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
        padding-top:32px;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .appreciation-logo-img {
        width: 64px !important;
        height: 64px !important;
        min-width: 64px;
        min-height: 64px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .appreciationBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 45px;
        width: 273px;
        z-index: 200;
        background-color: #bababa;
        top: 20px;
        left: 0px;
        cursor: pointer;
    }

    .inner-img-appreciation {
        display: block;
        position: absolute;
        bottom: 8px;
        left: 8px;
        background-color: transparent;
        width: 64px;
        height: 64px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #009bdf;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 8px;
        left: 8px;
        background-color: transparent;
        width: 6rem;
        height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #009bdf;
    }

        .inner-img-upload img {
            width: 58px;
            height: 58px;
        }

    .brandinghelper {
        bottom: -22px;
    }

        .brandinghelper input {
            width: 260px;
        }

    .fb-share img {
        width: 48px;
    }

    .socialmedia-container {
        margin-top: 8px;
    }

    .brand-abs {
        position: absolute;
        left: 48px;
    }

    .brandtext {
        height: 24px !important;
        font-size: 12px !important;
        line-height: 12px !important;
    }

    .expires {
        position: absolute;
        display: block;
        bottom: -1%;
        right: 2%;
        font-size: 14px;
    }

    .title-appreciation {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 16px;
    }

    .tandc {
        font-size: 8px;
        text-align: left;
        padding-left: 8px;
        padding-right: 8px;
    }

    .expires p {
        display: inline;
    }

    .termsconditions {
        position: absolute;
        display: block;
        bottom: 5%;
        left: 2%;
        font-size: 16px;
    }

    .modal {
        z-index: 10001;
    }

    .modal-body {
        height: 242px;
        overflow-y: scroll;
    }

    .demo-icon-remove {
        position: absolute;
        font-size: 8px !important;
        right: 4px;
        top: 4px;
    }

    .demo-item {
        position: relative;
        height: 32px;
    }

    .demo-remove {
        position: absolute;
        top: 3px;
        right: 4px;
    }

    .demo-type {
        height: auto;
        position: relative;
        padding-top: 24px;
    }

    .dummy-arrow {
        position: absolute;
        font-size: 14px;
        right: 8px;
        top: 4px;
        color: #bababa;
    }

    .ui-multiselect-checkboxes li {
        font-size: 8px;
        line-height: 8px;
    }

    .ui-multiselect-checkboxes label {
        line-height: 8px;
        min-height: 17px !important;
        height: 17px;
    }

    .padright-att {
        padding-left: 74px;
        padding-top: 0px;
    }

    .questionHelperDemographic {
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
        margin-top: 4px;
    }

    .add-demo {
        position: absolute;
        top: -2px;
        right: -27px;
        font-size: 23px;
    }

    .btn-optionsadd {
        position: absolute;
        bottom: -11px;
        right: 0px;
    }

    .questionHelperDemo button {
        width: 88px !important;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui.widget-header .ui-state-active {
        border: 1px solid #009bdf;
    }

    .modal-title {
        text-align: left !important;
    }

    .demo-type {
        position: relative;
    }

    .demo-req {
        float: left;
        padding-top: 4px;
    }

    #demo-close {
        font-size: 21px !important;
        line-height: 1;
        width: auto !important;
    }
    .qrcode{
        margin-top:8px;
        margin-bottom:8px;
    }
       .qrcode img{
        width:128px;
        height:128px;
        margin:auto;
    }
       .STAFF-box{
        margin-bottom:8px;
    }
       .facebook-img-upload .logo-img{
           max-width: 61px;
           max-height:61px;
       }
          .options-settings{
       width:304px;
       margin-bottom:8px;
   }

   .options-settings tr{
     max-height:26px;
     height:26px;
   }
   .options-settings .ui-multiselect{
       height:22px;
       min-height:22px;
       min-width: 134px;
       width:178px !important;
       font-size:14px;
       padding-top:4px;
   }
      .options-settings .ui-multiselect span{
     padding-right: 26px;
       font-size:12px;
       padding-left:6px;
   }
   .options-name{
       width:122px;
   }
    .options-selection{
        width:182px;
   }

    .options-selection input{
        margin-bottom:0px;
        border-radius:4px;
        width:178px;
    }
    .options-selection input{
        margin-bottom:0px;
        border-radius:4px;
        width:178px;
        font-size:12px;
    }
     .options-selection button{
        margin-bottom:0px;
       height:22px !important;
    }
      .options-selection textarea{
        margin-bottom:0px;
        height:22px;
        border-radius:4px;
        min-width:178px;
        width:178px;
        float:right;
       
    }
     .options-selection input:focus{
        outline:0px;
    }

    .options-selection ::-webkit-input-placeholder {
   font-size:12px !important;
}

  .options-selection ::-moz-placeholder {
  font-size:12px !important;
}
/* firefox 19+ */
  .options-selection :-ms-input-placeholder {
   font-size:12px !important;
}
/* ie */
  .options-selection input:-moz-placeholder {
   font-size:12px !important;
    }

  .options-settings .helper-font{
      font-size:11px;
  }
}
