﻿.comments-username{
    font-weight:bold;
    font-size:16px;
}

textarea.expertcomment{
    border-radius:4px;
}
.comments-container{
    position:relative;
}
.comments-container .icon-remove{
    position: absolute;
    top: 0;
    right: 0;
    
}
.comment-togglezone{
    display:none;
}
.expert-comment-container{
    border-bottom: 1px solid  #e2e2e2;
}
div.tooltip {   
  position: absolute;           
  text-align: center;           
                  
  height: auto;                 
  padding: 4px;     
     
  background: white;   
  border: 1px solid transparent;      
  border-radius: 4px;           
  pointer-events: none;         
  font-family: 'MyriadPro-Light';
}

.modal{
    top:50px;
}
.demo-field .description-text{
    display:none;
}
.demographics-container{
    text-align: left;
}
.mine-analytics{
   
    padding:8px;
}

.analytics-border{
 
   /*  border:0px solid #bababa;*/
    border-radius:4px;
}
.mine-analytics .analytics-search-section{
    margin-bottom:0px;
}
#analytics-carousel-control{
    z-index:1000;
}
.x.label{
    font-weight:normal;
}
.carousel-indicators{
    z-index:1000;
}
    .tooltip span{
        line-height:normal !important;
    }
.demo-field{
    text-align:center;
}
.demo-required-text-header, .demo-required-header{
    text-align:left;
    line-height:1px;
    color:#ea6953;
    display:none;
}

.row{
    position:relative;
    z-index:999;
}
.legend{
    position:relative;
    z-index:1000;
}
.reset-filter{
    width:33% !important;
    border-radius: 4px;
}
.load-all{
    width:49% !important;
    border-radius: 4px;
}
.load-more{
    float:left !important;
    width:49% !important;
    border-radius: 4px;
}
.touchpoint-ms .ui-multiselect-checkboxes input[type=checkbox]{
    display:none;
}
.view-selected{
    cursor: default;
    color:#333 !important;
}
.experience-font{
    cursor:pointer;
}
.dash-line{
    margin-left:auto;
     margin-right:auto;
    height:5px;
    width:16px;
}
.ui-widget{
    font-family: 'MyriadPro-Light','Roboto Condensed', Arial,Helvetica,sans-serif;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
position: relative;
min-height: 1px;
padding-right: 0px;
padding-left: 0px;
}
.attachment-images-thumbnail{
    overflow-y:hidden;
    float:left;
}
.active-arrow {
    color: #009bdf !important;
}
#STAFF-chartdiv{
    border-bottom-color:#ffffff !important;
}
.inactive-arrow {
    color: #5F5F5F !important;
}

input[disabled], textarea[disabled],
select[disabled='disabled']{
   -webkit-text-fill-color: #5f5f5f; 
   -webkit-opacity: 1; 
   color: #5f5f5f; 
   border-color: #5f5f5f !important;
}
.EV-multiselect{
    text-align:center;
}
.FV-multiselect{
    text-align:center;
}
 .EV-multiselect.ui-multiselect span.ui-icon-triangle-2-n-s{
        position:absolute;
        right:24px;
    }
    .FV-multiselect.ui-multiselect span.ui-icon-triangle-2-n-s{
        position:absolute;
        right:24px;
    }
.EV-multiselect ul.ui-multiselect-checkboxes label.ui-state-active{
           margin-bottom:0px !important;
       }
 .FV-multiselect ul.ui-multiselect-checkboxes label.ui-state-active{
           margin-bottom:0px !important;
       }
.comment-box{
    cursor:pointer;
}
.ui-multiselect-header {
    color: #fff !important;
}
.ui-multiselect-close{
    color: #fff !important;
}
.multiselect-sel{
    background:#009bdf;
    color: #fff;
    font-weight:bold !important;
}
 .ui-state-active{
        background:#009bdf !important;
        color:#fff !important;
    }
 .ui-state-active .ui-icon-triangle-2-n-s:before{
        background:#009bdf !important;
        color:#fff !important;
    }
 .socialmedia-box{
         text-align:center;
     }
          .attachment-modal-box{
             text-align:center;
         }

 .wordcloudsize{
     width: 24%;
display: inline-table;
 }
 .wordcloudspan{
        width:100%;
        border-bottom:1px solid #e8e8e8;
    }
@media only screen and (min-width: 320px) {
    .container{
        max-width:320px;
    width:320px;
    padding-left:0px !important;
    padding-right:0px !important;
    }
}
@media only screen and (min-width: 640px) {
    .container {
        max-width: 640px;
        width: 640px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
.s-blue-div p{
    margin-bottom:0px;
    height:100%;
}
.ui-widget-sel .ui-icon-triangle-2-n-s:before{
    color:#fff;
}
.close-icon {
    padding: 0px !important;
}

.ui-widget-header a{
    color:#fff;
} 
.ui-multiselect-header {
    background: #009bdf url("") 50% 50% repeat-x !important;
}
.ui-multiselect-header {
    background: #009bdf url("") 50% 50% repeat-x !important;
   
}
.search-button-success{
    background-color: #00ce7d !important;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border: 1px solid #00ce7d !important;
    color: #fff !important;
}

.search-button-success:hover{
    background-color: #00ce7d !important;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border: 1px solid #00ce7d !important;
    color: #fff !important;
}

.search-button-success:disabled{
    background-color: #00ce7d !important;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border: 1px solid #00ce7d !important;
    color: #fff !important;
}

.search-button-fail{
    background-color: #ea6953 !important;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border: 1px solid #ea6953 !important;
    color: #fff !important;
}
.search-button-fail:hover{
    background-color: #ea6953 !important;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border: 1px solid #ea6953 !important;
    color: #fff !important;
}
.search-button-fail:disabled{
    background-color: #ea6953 !important;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    border: 1px solid #ea6953 !important;
    color: #fff !important;
}
body, html {
    height: 100%;
}
.ui-multiselect-checkboxes{
    overflow-x:hidden;
}

.selectHelper select {
   background: transparent;
   padding: 5px;
   width: 64px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 32px;
   -webkit-appearance: none;
    position: absolute;
   border-color: #009bdf !important;
   border: 1px solid;
   border-radius: 4px;
   outline: none;
   }

.selectHelper {
   height: 32px;
   width: 64px;
   overflow: hidden;
   position: relative;
}

.selectHelper select:active {
        background-color: #009bdf !important;
    color: #FFFFFF !important;
}
#downloadReport{
    text-align:right;
}
.selectDown {
    position: absolute;
    top: 12px;
    left: 42px;
}

.menu-section {
    text-align: center;
}

.question-header {
    display: none;
    text-align: center;
    width: 100%;
    position: relative;
}

.survey-section-height {
    padding-top: 100px;
    min-height: 100%;
}

.module-area {
    position: relative;
}



.logofileinput {
    position: absolute;
    left: 0;
    top: 0;
    height: 12rem;
    width: 12rem;
    opacity: 0;
}

.corner-slider {
    padding-top: 1rem;
    float: right;
}



span.trashbutton {
    position: absolute;
    top: -20%;
    right: 0%;
}

.social-media {
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    display: block;
    min-width: 100%;
    box-sizing: border-box; /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box; /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari    */
}

.middletext {
    text-align: center;
}

.uploadTxtBox {
    width: 100%;
}

.fileBrowserBtn {
    opacity: 0;
}

.fileBrowser {
    width: 100%;
}

.flipperTool {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
}

.flipBack {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e2e2e2;
}

p {
    outline: 0rem;
}



.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #009bdf;
    background: #009bdf url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #fff !important;
}
.ui-state-hover .ui-icon-triangle-2-n-s:before{
    color:#ffffff !important;
  
}
.ui-tooltip.ui-widget-content{
    color:#5f5f5f;
    
    border:1px solid #5f5f5f;
    word-wrap:break-word;
    
}
.comment-box b, .comment-box strong{
    color: #0068b0 !important;
}
.ui-autocomplete.ui-widget-content{
    color: #009bdf;
    border-color:#009bdf;
    border-radius:4px;
}
.ui-autocomplete.ui-widget-content .ui-menu-item.ui-state-focus{
   font-weight:normal;
}

.showhidebutton {
    position: fixed;
    
    right: 10px;
    z-index: 10000;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #009bdf;
background: #fff url("") 50% 50% repeat-x;
font-weight: normal;
color: #009bdf ;
}

.ui-slider-horizontal {
    height: 0.8rem;
}

.description-para {
}

.ui-widget-content {
    border: 1px solid #fff;
    background: #bababa url("") 50% top repeat-x;
    color: #bababa;
}

.ui-widget-header {
    border: 1px solid #009bdf;
    background: #5f5f5f url("") 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}


.sidepanel{
    z-index:9999;
    opacity:0.8 !important;
}



.glyphicon:hover, .glyphicon:active {
    color: #0068b0;
}

.answer-numbers:hover, .answer-numbers:active {
    color: #bbbdc0;
}

.file-input-wrapper {
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bbbdc0;
}

.touchpoints option {
    text-align: center;
}

.imgdisplay {
    left: 0;
    top: 0;
    height: 40rem;
    min-width: 100%;
}

.surveypanel {
    margin-top: 0rem;
    min-height: 64rem;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.togglemenu{
    cursor:pointer;
}
.hidden-textarea {
    display: none;
    padding: 0;
    border: 0;
    left: 0px;
    margin: 0px;
    outline: none;
    overflow: no-display;
}

.questioncontentattach {
    padding-bottom: 0rem;
}

.survey-sections {
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:transparent;
    padding-right: 0rem;
    padding-left: 0rem;
    clear: both;
    position: relative;
    page-break-before: always;
}

.row {
    margin: 0px !important;
}


.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

ul.image-scale {
    padding: 0;
    margin: 0;
}

    ul.image-scale li {
        list-style: none;
        display: inline-block;
        margin: 0rem;
        padding: 0.4rem;
        font-size: xx-large;
    }
        .list-section {
    padding: 0rem;
   
}

.no-margin {
    margin: 0px !important;
}

.remove {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: x-large;
    color: #009BDF;
    z-index: 800;
}

.myBreadCrumbs {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 998;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.duplicate {
    font-size: x-large;
    color: #009BDF;
}

.top-add {
    position: absolute;
    top: -12px;
    left: 127px;
    z-index: 999;
}

.bottom-add {
    position: absolute;
    margin-top: -11px;
    left: 151px;
    z-index: 999;
}

.question-add {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}



.spaced {
    display: block;
    min-height: 50px;
}

#successSaveSurvey {
    font-family: 'MyriadPro-Light';
    color: #06AA7D;
    opacity: 0;
}

#myButton {
    width: 100px;
}

#myIconButton {
    width: 60px;
}
/*
.questionFirstHalf{
    margin-right:2rem;
    float:left;
    width:15%;
}
.questionSecondHalf{
    float:right;
    width:45%;
}
*/
#hoverText {
    margin-bottom: 0rem;
    /*
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border-width: 1px;
    border-color: #009bdf;
    border-style: solid;
        */
}

/*
#hoverText:hover {
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    -webkit-transition: box-shadow 0.2s linear; 
    -moz-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear; 
    transition: box-shadow 0.2s linear;
    -webkit-box-shadow: #009bdf 0px 0px 3px;
    -moz-box-shadow: #009bdf 0px 0px 3px;
    box-shadow: #009bdf 0px 0px 5px;
}

#hoverText:focus {
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: #009bdf 0px 0px 3px;
    -moz-box-shadow: #009bdf 0px 0px 3px;
    box-shadow: #009bdf 0px 0px 5px;
}
*/

.demographics-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pull-top-right {
    position: absolute;
    top: -3px;
    right: 3px;
}


.carousel-container {
    padding-top: 1rem;
}

.carousel-inner {
    margin-top:2px;
    border: 1px solid #bababa;
    border-radius:4px;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-control:hover, .carousel-control:focus {
color: #009bdf;
text-decoration: none;
opacity: .9;
filter: alpha(opacity=90);
}

.carousel-control {
    color: #009bdf;
    top: 93px ;
    text-shadow: 0px 0px 0px #fff;
}

    .carousel-control.left {
        background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0) 0),color-stop(rgba(0,0,0,0) 100%));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-repeat: repeat-x;
    }

    .carousel-control.right {
        background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0) 0),color-stop(rgba(0,0,0,0) 100%));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
        background-repeat: repeat-x;
    }
.legend{
    cursor: default;
}
.addOptionBtn {
    margin-top: 0.2rem;
    margin-left: 0px;
}

.addSMOptionBtn {
    margin-top: 0.5rem;
    margin-left: 0px;
}

.addSliderOptionBtn {
    margin-top: 1rem;
    margin-left: 2px;
}

.box {
    border: thick;
    border-style: solid;
    padding: 0rem;
}

.center-question {
    text-align: center;
}

#scaleLeft {
    float: left;
    padding-left: 12px;
}

#scaleRight {
    float: right;
    padding-right: 12px;
}

#testBorder {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.submitexperience {
    padding: 2rem;
    text-align: center;
}

.otherBox {
    width: 20% !important;
}

.otherDisabledBox {
    border: dashed thin !important;
    width: 80% !important;
}
.datepicker input{
    border-radius:4px;
}

.bluemenu {
    color: #009bdf !important;
}

    .bluemenu:hover {
        color: #fff !important;
    }

.caret {
    border-top-color: #009bdf !important;
}

.uploadImg {
    width: 100%;
}

.margin5top {
    margin-top: 5px;
}

.margin4top {
    margin-top: 4px;
}

.tagdiv {
    margin-top: 7px;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    display: table;
    table-layout: auto;
    width: 100% !important;
}

#slide-panel {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.9;
}

.tag-selected {
    background-color: #009bdf !important;
    color: #ffffff !important;
}

.inner-img-upload {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: white;
    width: 4rem;
    height: 4rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f2f3;
}

.inner-img-upload img {
        z-index: 1000;
}

.uploadImgIcon {
    vertical-align: middle;
}

.brandLogoZIndex {
    z-index: 99;
}

.uploadLogoIcon {
    z-index: 89;
    vertical-align: middle;
    margin-top: 12.5px;
    margin-bottom: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

.uploadImgIcon img {
    width: 70px;
    height: 70px;
}

.inner-img-upload img {
    width: 50px;
    height: 50px;
}

.upload-icon {
    display: block;
    margin-top: 0rem;
    text-align: center;
    margin-bottom: auto;
}

.uploadResizer img {
    width: 50px !important;
    height: 50px !important;
}

.btn-sz {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

.file-input-wrapper {
    max-height: 220px;
    max-width: 100%;
    height: 220px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bbbdc0;
    margin-left: auto;
    margin-right: auto;
}

.link-input-wrapper {
    min-height: 200px;
    min-width: 290px;
    overflow: hidden;
    position: relative;
    border-style: solid;
    border-width: thin;
    border-color: #bbbdc0;
}

.slideBack {
    position: absolute;
    top: 0rem;
    margin-left: 0rem;
    font-size: 2rem;
}

.slideMainBack {
    position: absolute;
    top: 0rem;
    left: 1rem;
    margin-left: -1.7rem;
    font-size: 2rem;
}

.slideMainOpen {
    position: absolute;
    top: 0rem;
    left: 0rem;
    margin-left: 0rem;
}

.whitebox {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 300;
    vertical-align: middle;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    width: 80%;
    border-radius: 4px;
}

.optionChoices {
    display: none;
    vertical-align: middle;
    position: relative;
    min-width: 30%;
    max-width: 30%;
    height: 100%;
    float: left;
    padding-top: 2rem;
    min-height: 100%;
    padding-left: 2rem;
}

.questionChoices {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    min-height: 100%;
}

.editMenu ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #c2c2c2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.editMenu li {
    text-align: center;
    display: table-row;
    background: pink;
}

.editMenu span {
    display: table-cell;
    vertical-align: middle;
    /*border-top: 1px solid green;*/
}

.sideEdit {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #009BDF;
    min-height: 100%;
}

.editMenu {
    position: absolute;
    top: 0px;
    right: -13px;
    z-index: 999;
    min-height: 20px;
    max-height: 20px;
    min-width: 150px;
    color: #009BDF;
}

.questionHolder {
    padding-top: 0rem;
    text-align: center;
    position: relative;
    display: table;
    table-layout: auto;
    width: 100% !important;
    min-height: 298px !important;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    position: relative;
    display: none;
    padding-right: 0rem;
    height: 100%;
    margin-bottom: 0px;
    min-height: 320px;
}
/*
.question-area-choices {
    position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 30% !important;
        width: 30% !important;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        border-radius: 0.5rem;
        color: #009BDF;
        margin: 0.2rem;
        min-height: 30% !important;
        height:30%;
        
    }*/
.question-area-choices a {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
}
    
.helper50 {
    width: 50%;
}

.helper502 {
    width: 50%;
    padding-left: 8px;
}

.helper60 {
    width: 60%;
}

.helperRow {
    min-height: 20px;
    max-height: 20px;
}

.helper40 {
    width: 40%;
}

    .helper40 label {
        margin-bottom: 0px;
}

.eightzeropwidth {
    width: 248px !important;
}

.helperFloaterLeft {
    float: left;
}

.margineightleft {
    margin-left: 2px;
}

.alignleft {
    text-align: left !important;
}

.alignright {
    text-align: right !important;
}

.aligncenter {
    text-align: center !important;
}

.marginoneleft {
    margin-left: 1px !important;
}

.choicecontainer {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
    
.rankcontainer {
    position: relative;
    width: 100%;
    margin-top: 8px;
}
    
.rankcontainerfirst {
    position: relative;
    width: 100%;
    margin-top: 2px;
}

.addbtncontainer {
    padding-top: 89px;
}

.addbtncontainerdemo {
    padding-top: 600px;
    padding-left: 0px;
}

.demo {
    position: relative;
    width: 100%;
    height: 100%;
    
}
    
.democontainer {
    position: relative;
    width: 100%;
    margin-top: 16px;
}

.democontainerfirst input[type="checkbox"] {
        width: 8px;
        height: 8px;
    margin: 0px;
    margin-top: 2px;
    }

.democontainer input[type="checkbox"] {
        width: 8px;
        height: 8px;
    margin: 0px;
    margin-top: 2px;
    }
    
.democontainerfirst {
    position: relative;
    width: 100%;
    margin-top: 2px;
}

.rank {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}

.choice {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.helperFloaterRight {
    float: right;
}

.rotateFork {
    transform: rotate(180deg);
    padding-top: 0px;
    padding-left: 16px !important;
    padding-right: 0px !important;
}

.sliderTable {
    width: 100%;
}

.leftOptionTd {
    text-align: center;
    width: 20%;
}

.rightOptionTd {
    text-align: center;
    width: 20%;
}

.sliderOptionTd {
    width: 60%;
}

.caret-down-sps {
    position: absolute;
    font-size: 0.5rem;
    top: 8px;
    right: 4px;
}
    
.caret-down {
    font-size: 0.5rem;
}


.Number-Selected {
    background-color: #009bdf !important;
    color: #ffffff !important;
}

.Comment-Selected {
    background-color: #009bdf !important;
    color: #ffffff !important;
}

.choice-selected {
    background-color: #009bdf !important;
    color: #ffffff !important;
}

.demodiv {
    display: none;
}

.paragraph-cusindex {
    display: inline-block;
         width: 60px;
         font-size: 54px;
         text-align:right;
}

.pagebreakbefore {
    page-break-before: always;
}



/*
@media only screen and (min-width: 540px) {

    span.trashbutton {
        position: absolute;
        top: 0%;
        right: 5%;
    }
    
    .editMenu ul {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
        border: 1px solid #c2c2c2;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .editMenu li {
        text-align: center;
        display: table-row;
        background: pink;
    }

    .editMenu span {
        display: table-cell;
        vertical-align: middle;
        /*border-top: 1px solid green;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: -20px;
        color: #009BDF;
        min-height: 100%;
    }

    .editMenu {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 999;
        min-height: 100%;
        color: #009BDF;
    }

    .questionChoices {
        padding-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 520px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 520px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 1px 3px;
        font-size: 0.8rem;
        line-height: 1.5;
        border-radius: 4px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .questionHelper {
        position: absolute;
        padding-top: 0rem;
        bottom: 0px;
        text-align: left;
        width: 100%;
    }

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }


    .answercontent textarea {
        height: 32px;
    }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 6rem;
        width: 6rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 520px;
        margin-right: auto;
        margin-left: auto;
    }

    .survey-sections {
        width: 520px;
        min-height: 320px;
        padding-right: 0rem;
        margin-right: auto;
        margin-left: auto;
    }

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 299%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 299%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 32%;
        max-width: 32%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 12% !important;
        height: 0px;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 3px;
            font-size: 2rem;
        }

    .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 32% !important;
        border: 1px solid #009BDF;
        padding: 1rem !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        min-height: 0.1rem !important;
    }

        .share-your-exp p {
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 2rem;
        }

    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 324px;
        min-width: 520px;
        max-height: 300px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 100px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 50%;
        left: 5%;
        background-color: white;
        width: 6rem;
        height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #f1f2f3;
    }

        .inner-img-upload img {
            width: 6rem;
            height: 6rem;
        }
}
*/