﻿@media only screen and (min-width: 640px) {
    .chart-container{
        margin-top:16px;
    }
        .pp-container{
        margin-top:16px;
    }
    .view-container{
        margin-top:16px;
    }
   
    .table-cell-font{
        font-size:14px;
    }
    .required-header{
          position: absolute;
  color: #ec7864;
  top: 25px;
  left: 0px;
  font-size: 24px;
    }
    .summary-table-top{
        margin-top:16px;
        margin-left:16px;
        margin-right:16px;

    }
     .summary-table-bot{
  
        margin-left:16px;
        margin-right:16px;

    }
    .summary-namevalue{
    font-size:20px;
}
.summary-keyvalue{
    font-size:20px;
}
.survey-sections .questionHolder #analytics-carousel-control{
        padding-top:0px !important;
        height:128px !important;
    }
    .questionHolder #analytics-carousel-control{
        padding-top:45px !important;
        height:128px !important;
    }
        .hashtag-section{
        margin-top:80px;
    }
        .hashtag-container{
        margin-top:16px;
    }
        .hashtag-search{
        margin-top:16px;
    }
        .no-style pre{
        margin:0px;
    }
        .demo-field {
position: relative;
}
        .demo-required-header {
position: relative;
text-align:left;
color: #ea6953;
line-height:2px;
font-size: 24px;
}
        .demo-required-text-header {
position: absolute;
margin-top: 8px;
color: #ea6953;
float: left;
font-size: 24px;
line-height: 20px;
bottom: 57px;
}
    .middlehyperlink{
        position:absolute;
        right:4px;
        top:28px;
    }
    p{margin:0px;}
     .paragraph-sno {
  
    width: 60px;
   
}
    .name{
        width:252px;
    }
    .paragraph-name{
        width:auto;
    }
    .paragraph-date{
        width: 160px;
    }
    .paragraph-cusindex{
        font-size:61px;
        width:130px;
    }
    .s-blue-div-hover:hover {
            background-color: #fff;
            color: #5f5f5f;
        }
    textarea.form-control {
height: 48px;
}
    .s-blue-div-hover{
        border-color:#5f5f5f;
        color:#5f5f5f;
    }
   span.Heart:before {

color: #5f5f5f !important;

}
span.Star:before {

color: #5f5f5f !important;

}
span.Star-Selected:before {

 color:#5f5f5f !important;

}
span.Number {
    color: #5f5f5f !important;
}
span.Number-Selected {
   color: #fff !important;
background-color:#5f5f5f !important;
}
      span.Heart-Selected:before{
        color:#5f5f5f !important;
    }
      .choice-selected{
          background-color: #5f5f5f !important;
          border-color: #5f5f5f !important;
      }
      .s-blue-div{
          color: #5f5f5f;
          border-color: #5f5f5f;
      }
        ::-webkit-input-placeholder {
    color: #5f5f5f !important;
    font-style: italic !important;
    font-size:24px !important;
}

::-moz-placeholder {
    color: #5f5f5f !important;
    font-style: italic !important;
    font-size:24px !important;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #5f5f5f !important;
    font-style: italic !important;
    font-size:24px !important;
}
/* ie */
input:-moz-placeholder {
    color: #5f5f5f !important;
    font-style: italic !important;
    font-size:24px !important;
}
     
    pre{
        padding: 4px;
        border: 0px;
        background-color: transparent;
        line-height:normal;

    }
    .ui-state-active{
        margin-bottom:0px !important;
    }
     .sort-by p{
        margin-bottom:0px;
        
    }
    .sort-by{
       margin-left:16px;
        margin-bottom:16px;
    }
    .sort-by .ui-multiselect{
        width:606px !important;
    }
    .welcome-tag{
        margin-top:43px;
    }
    .surveyeditpanel .survey-sections{
        padding-left:0px !important;
        padding-right:0px !important;
    }
     #paginationHolder{
        margin-top:16px;
        padding-left:8px;
        padding-right:8px;
    }
    .demo input[type="text"]{
        margin-bottom:16px;
    }
    .multiple-answer-content{
        margin-top:16px;
    }
     .m-blue-div-hover p{
        margin: 0px;
    }
.m-blue-div-hover {
   border: 1px solid #009BDF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #009BDF;
   text-align:center; 
 
   min-height:48px;
   height:auto;
    line-height:48px;
}

.m-blue-div-hover:hover {
   background-color: #009BDF;
   color: #FFFFFF;
}
     .multiple-choice-answercontent{
        margin-top:16px;
    }
    .s-blue-div p{
    
    height:48px;
}
    .demo .ui-multiselect {
         margin-bottom:16px;
    }
    .demographics-container{
        margin-bottom:16px;
    }
     .demo{
        padding-top:16px;
    }
     .questionSection{
         padding-top:8px;
     }
    .question-sections {
        position: relative;
        width: 620px;
        height: 448px;
        min-height: 224px;
        /*
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2OMq7zlw4AEGEECi9rVtsDECAsAAOT/DgI2coh6AAAAAElFTkSuQmCC)repeat;
                    background:url("../Images/320PXAnaly.png");
             background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHElEQVQYV2N88eLFfwY8gBGkQEJCghGXmuGhAADz+x/A4Zb29gAAAABJRU5ErkJggg==)repeat;
       */
    }
     
    .ui-multiselect-menu{
   width:606px !important;
}
    [class^="pe-7s-"], [class*=" pe-7s-"]{
        line-height:16px;
    }
    .search-button{
        width:100%;
        height:48px;
    }

    .reset-button{
        width:100%;
        height:48px;
    }

    .datepicker-right input{
        width:236px;
        z-index:9999;
        padding-left:4px;
        padding-right:4px;
        height:48px;
    }
    .datepicker-left input{
        width:236px;
        z-index:9999;
        padding-left:4px;
        padding-right:4px;
        height:48px;
    }
     .analytics-menu{
        margin-bottom:108px;
    }
    .datepicker{
        margin-bottom:70px;
    }

    .datepicker-to{
        position:absolute;
        left: 49.5%;
        text-align:center;
        line-height:49px;
        z-index:1;
        font-size:24px;
    }
    .doughnut{
        position:absolute;
        width:606px;
        height: 384px;
    }
    .legend-table{
        width:604px;
        max-width:604px;
        table-layout: fixed;
        margin-bottom:16px;
       
    }
    
    .legend-table td{  
         height:48px;
        border-bottom:1px solid #bababa;
    }
    .legend-table-color{
        width:6%;
        max-width:6%;
    }
    .legend-table-option{
        text-align:left;
        width:68%;
        max-width:68%;
        padding-left:4px;
    }
    .legend-table-percentage{
        width:13%;
        max-width:13%;
    }
    .legend-table-number{
         width:13%;
        max-width:13%;
    }
  
    .lr-padding{
        padding-right:0px;
        padding-left:0px;
    }
     .legend span{
        font-size:20px;
    }
    .legend{
        padding-bottom:16px;
        padding-top: 200px;
    }
    .chart-labelling{
        position:absolute;
        padding-top:94px;
        left:272px;
        height:60px;
        width:60px;
        font-size:24px;
        text-align:center;
    }
     canvas{
        height:225px !important;
        width:450px !important;
    }
    .analytics-row{
        position:relative;
        min-height:64px;
        width:100%;
    }
    
    .flip-container {
    height: 395px;
}

    upload-icon-spacer {
        min-height: 100px;
        height: 100px;
    }
    
    .democontainerfirst {
        position: relative;
        width: 100%;
        margin-top: 8px;
}

    .democontainerfirst input[type="checkbox"] {
width: 16px;
height: 16px;
margin: 0px;
margin-top: 2px;
}

        .democontainer input[type="checkbox"] {
width: 16px;
height: 16px;
margin: 0px;
margin-top: 2px;
}

    .margin5top {
margin-top: 14px;
}

   
    .tagdiv {
 margin-top: 13px;
    margin-left:-10px !important;
    width: 103.2% !important;
    
}

    .helperRow {
    }
        
    .questionHolder {
        min-height: 405px !important;
    }

    .editMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
        margin-top: 4px;
    min-height: 20px;
    max-height: 20px;
        min-width: 320px;
    color: #009BDF;
}

    .top-add {
    position: absolute;
    top: -20px;
    left: 47%;
    z-index: 999;
}

.bottom-add {
    position: absolute;
    margin-top: -20px;
    left: 49%;
    z-index: 999;
}

    .questionText {
        margin-top: 8px;
    }

    .fileBrowserBtnWrapper {
        position: absolute;
        height: 395px;
        width: 610px;
        left: 50%;
    }

    .fileBrowserBtn {
    opacity: 0;
        position: absolute;
        height: 273px;
        width: 590px;
        z-index: 200;
        background-color: #bababa;
        top: 160px;
        left: 0%;
    }
   
    .textbox-abs {
        position: absolute;
        bottom: -3px;
        width: 640px;
    }
  .appreciation-logo-img {
width: 96px;
height: 96px;
min-width: 96px;
min-height: 96px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
     .inner-img-appreciation {
        display: block;
        position: absolute;
        bottom: 16px;
        left: 16px;
        background-color: transparent;
        width: 98px;
        height: 98px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 0px;
        border-color: #bababa;
    }
   

    .scale p {
margin-bottom: 7px;
margin-top: 7px;
}
   
    
    .eightzeropwidth {
width: 589px !important;
}

    .pull-top-right {
        font-size: 32px !important;
    }

    .padright-at {
        padding-right: 102px;
    }

    .helperRow-ch-abs {
        position: absolute;
        bottom: 11px;
        left: 320px;
    }

    .helperRow-chin-abs {
        position: absolute;
        bottom: 11px;
        left: 257px;
    }

    .helperRow-op-at-abs {
        position: absolute;
        bottom: 34px;
    }

    .helperRow-op-rate-abs {
        position: absolute;
        bottom: 60px;
    }

    .helperRow-rate-abs {
        position: absolute;
        bottom: 54px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
     }

    .helperRow-op-tag-abs {
        position: absolute;
        bottom: 89px;
    }

    .helperRow-tag-abs {
        position: absolute;
        bottom: 82px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-tag-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
     }

    .helperRow-rate-dd {
        position: absolute;
        left: 121px;
        bottom: -42px;
     }

    helperRow-rate-2-abs-box {
        position: absolute;
        left: -18px;
     }

    .helperRow-rate-numberbox {
        position: absolute;
        right: -50px;
     }

    .helperRow-at-abs {
        position: absolute;
        bottom: 23px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helper502pos {
        position: absolute;
        bottom: 10px;
        left: 303px;
    }

    .helper-demo-cb {
        position: absolute;
        left: -102px;
    }

    .attachqh {
        height: 36px;
    }

    .HRPadtop {
        padding-top: 8px;
    }

    .paddingleftdemo {
        padding-left: 202px;
    }

    .gridratescale {
        margin-top: 8px !important;
    }

    .padright-demo {
        padding-right: 21px;
    }

    .questioncontent {
padding-top: 8px;
}

    .democontainer {
position: relative;
width: 100%;
margin-top: 32px;
}

    .rotateFork {
transform: rotate(180deg);
padding-top: 0px;
padding-left: 64px !important;
padding-right: 0px !important;
}


    .social-media {
        margin-top: 4px;
    }

    .goldenmeanbox {
        position: relative;
        margin-top: 2px;
        width: 640px;
        height: 395px;
        border: 1px solid #bababa;
    }

    .attachmentimgdiv {
        padding-top: 16px;
        
    }

    .locationimgdiv {
        padding-top: 46px;
    }

    .nopadding {
        padding: 0px !important;
    }

    .radioBtnSz {
        height: 48px;
        width: 48px;
    }

    .addOptionBtn {
margin-top: 16px;
margin-left: 0px;
}

    .twotwoxheight {
        height: 21px !important;
        max-height: 21px !important;
    }

    .twofourpxheight {
        height: 48px !important;
        max-height: 48px !important;
    }
        
    .btn-control {
        padding: 2px 4px !important;
    }

    .form-control-hundred{
        max-width:100% !important;
    }

    .form-control {
display: block;
width: 100%;
max-width:640px;
height: 48px;
padding: 6px 6px;
font-size: 22px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .carousel-paragraph {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pad-arrow-left {
        padding-left: 8px;
    }

    .pad-arrow-right {
        padding-right: 8px;
    }

    .form-control-sp {
display: block;
width: 160px;
height: 32px;
padding: 0px 4px;
font-size: 16px;
line-height: 1.428571429;
color: #009bdf;
vertical-align: middle;
background-color: #fff;
border: 1px solid #009bdf;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .rowmenu-s {
        padding-right: 32px;
    }

    .rowmenu-sp {
        padding-left: 32px;
    }

    .editMenuItems span {
        float: right;
        padding-right: 64px;
    }

    .input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
text-align: center;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
}

    .ui-slider .ui-slider-handle {
position: absolute;
        top: -4px;
z-index: 2;
width: 16px;
height: 16px;
cursor: default;
}

    .commentbox {
        margin-top: 30px;
    }

    .commentbox-sp {
        margin-top: 16px;
    }

    .commentbox textarea {
        height: 48px;
        max-width: 640px;
        font-size:22px;
    }

    textarea[placeholder] {
        color: #1b1b1b;
        line-height:34px;
        
    }


    input[placeholder] {
        color: #1b1b1b;
       
    }

    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 16px;
    }

    .firstTD {
        width: 60% !important;
    }

    .secondTD {
        width: 40% !important;
    }

    .sideEdit {
    position: absolute;
    top: 0px;
    right: -3px;
    color: #009BDF;
    min-height: 100%;
}

    
    .form-group {
        padding-top: 31px;
        padding-right: 0px;
    }

    .question-start {
        padding-top: 24px;
    }

    .questionChoices {
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 100%;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .sliderTab {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 0px 0px;
        font-size: 8px;
        line-height: 1.5;
        border-radius: 4px;
    }
        
    .btn-24 {
        height: 48px;
        width: 48px;
    }


    .btn64px {
        width: 72px;
        text-align: left;
    }

    .btn72px {
        width: 72px;
        text-align: left;
    }

    .btn32px {
        width: 32px;
        text-align: left;
    }

    .paddinglefthelper {
        padding-right: 3px;
    }

    .paddingleftrank {
        padding-left: 4px;
        padding-right: 1px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .questionHelper {
        position: absolute;
        bottom: 18px;
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
    }

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
            padding: 0px !important;
            height: 16px;
        }

         .questionHelper tr {
            height: 19px;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
        padding: 0px !important;
        height: 24px;
    }
        
    .questionHelperAttach tr {
        height: 24px;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .answercontent {
        padding-top: 8px;
        max-width: 640px;
    }

    .answercontent textarea {
        height: 48px;
    }

    .answercontent ul {
        margin-top: 6px;
    }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 9rem;
        width: 9rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 640px;
        margin-right: auto;
        margin-left: auto;
    }

    .survey-sections {
        margin-left:auto;
        margin-right:auto;
        width: 640px;
        margin-top:3px;
    }

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 299%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 299%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .touchpoints {
        margin-top: 23px;
}

    .welcomespacer {
        padding-bottom: 16px;
    }

     .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32%;
        width: 29%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #5f5f5f;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #5f5f5f;
        margin: 0.2rem;
        padding-top: 12% !important;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%); /* IE 9 */
            -webkit-transform:translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 32px;
            margin-bottom: 0px;
        }

    
    .attachmentimgdiv img {
        height: 100px;
        width: 100px;
    }

        .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 100% !important;
        height: 140px;
        border: 1px solid #5f5f5f;
        padding: 1rem !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        background-color: #5f5f5f;
        margin: 0.2rem;
        min-height: 0.1rem !important;
    }

        .share-your-exp p {
            display: table-cell;
            vertical-align: middle;
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 32px;
        }
        .choice-answercontent{
        margin-top:16px;
    }
    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 395px;
        width: 640px;
        max-height: 395px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 0px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 16px;
        left: 16px;
        background-color: transparent;
        width: 9rem;
        height: 9rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 0px;
        border-color: #f1f2f3;
    }

    .inner-img-upload img {
        width: 9rem;
        height: 9rem;
    }

       .carousel-inner {
        padding-bottom:16px;
        min-height: 128px;
        margin-top: 6px;
    }
    .carousel-control.right {
        right: -26px;
    }

    .carousel-control.left {
        left: -26px;
    }

    .carousel-paragraph {
        padding-left: 20px;
        padding-right: 20px;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #009bdf;
        border-radius: 10px;
    }

    .carousel-indicators .active {
        width: 10px;
        height: 10px;
        margin: 1px;
        background-color: #009bdf;
    }

   .carousel-indicators-sp {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }
   .carousel-container {
        margin-top: 0rem;
        min-height: 40px;
        max-height: 40px;
        padding-top: 0rem;
    }

   .carousel-control {
        height: 30px;
        position: absolute;
        top: 40% !important;
        bottom: 0;
        
        width: 15%;
        font-size: 32px;
        color: #009bdf;
        text-align: center;
        opacity: 1;
        filter: alpha(opacity=50);
    }

    .carousel-indicators {
        bottom: -12px;
    }

        .survey-div {
        width: 640px;
        min-height: 448px;
        margin-right: auto;
        margin-left: auto;
        padding-top:32px;
        padding-bottom:32px;
        padding-left:0px;
        padding-right:0px;
    }
       .response-delete {
width: 30%;

float: right;
padding-left: 16px;
padding-right: 0px;
margin-top: -51px;
margin-bottom: 16px;
}
              .top-response-delete {
width: 30%;


padding-left: 16px;
padding-right: 0px;
margin-top: 16px;
margin-bottom: 16px;
}
       .touchpoint-ms span {
font-size: 48px !important;
}
       .touchpoint-container span {
font-size: 3rem;
line-height: normal;
}.touchpoint-container .ui-icon-triangle-2-n-s {
font-size: 40px !important;
line-height: normal;
height: auto !important;
}

       .touchpoint-container .ui-icon-triangle-2-n-s:before {
font-size: 40px !important;
position: absolute;
right: 25px;
top: 50px;
}
       .STAFF-box {
margin-bottom: 16px;
}
       .rating-commentbox{
           margin-top:8px;
       }
       .demo-field .rating-commentbox{
           margin-top:0px;
           margin-bottom:16px;
       }
            .rating-commentbox p, .commentbox-sp p, .commentbox p,  .tag-answer-content p, .text-answer-content p{
        min-height:72px;
  
    }
}