﻿@media screen and (min-width: 320px) {
    .touchpoint-ms .ui-multiselect-checkboxes{
    max-height:158px !important;
    text-align:center;
}
    .map-canvas {
    width: 300px;
    height: 200px;
    background-color: #CCC;
    display: none;
}
       .location-dropzone{
        padding-top:16px;
    }
    .location-dropzone img{
        height:64px;
    }
        .ui-progressbar {
        height: 4px;
    }
    .thankyou-zone{
        margin-bottom: 16px;
    }
        .blank-list{
        display:none;
    }
    .class-head{
        margin-top:16px;
        margin-bottom:8px;
    }
           .leadout-font{
        font-size:24px;
      
        font-family: 'MyriadPro';
    }
           .price-point{
               font-size:18px !important;
           }
        .version-image img{
        max-height: 458px;
        width:264px !important;
    }
        .view-boxer{
            margin-bottom:8px;
            display:block;
        }
            .leadout-container .sme, .leadout-container .pro, .leadout-container .enterprise {
                margin-top:8px;
              
        width: 281px;
        margin-left:auto;
        margin-right:auto;
    }
    .leadout-container .pro, .leadout-container .enterprise {
        /*background-color:#e8e8e8;*/
    }
        .version-image{
            margin-top:0px;
            height:458px;
               margin-bottom:8px;
               text-align:center;
        }
    .leadout{
       
    }
      .leadout-container #sme-content,.leadout-container #pro-content, .leadout-container #ent-content{
    padding-left:48px;
    padding-right:48px;
}
      .subtype-font{
          font-size:32px;
      }
    .get-started,.sub-type, .price-point{
        margin-bottom:4px;
    }
  
    .enterprise{
    
}
    .sme{
   
}
    .feature-btn{
        margin-bottom:24px;
        font-size: 14px !important;
    }
    .feature-list{
        margin-bottom:8px;
       
    }
        .sidemenutext-font{
        font-size:14px;
    }
      .question-numbering{
        padding-left:8px;
       
    }

    .asterik-font{
        font-size:14px;
    }
    .required-zone.survey-footer{
        width: 320px !important;
    }
    .front {
  height: 192px !important;
}
    .unclickable-box.exp-area-choices p{
    font-size: 10px;
}
    .rating-commentbox textarea{
        padding-left:0px;
    }

        .commentbox-sp textarea{
        padding-left:0px;
    }

       .text-answer-content textarea{
            padding-left:0px;
        }
    .s-blue-div-hover p{
        line-height:normal !important;
    }

    textarea, input{
        -webkit-appearance: none;
    }

     .dir-input-container{
          position:relative;
          height:32px;
      }
    .dir-cross{
        position:absolute;
        right:4px;
    }
     .ui-multiselect-menu.touchpoint-ms{
        width: 316px !important;
    }
    label.error {
        position: absolute;
        width: 300px;
        bottom: -4px;
        left: 0px;
        text-align: center;
        font-size:10px;
    }

    .compcomm {
        margin-top: 8px !important;
    }

    .heading-section {
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }
    .ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:auto; height:auto !important; max-height:165px !important; }
    .touchpoint-ms.ui-multiselect-single .ui-multiselect-checkboxes label {
        padding: 0px !important;
    }

    .touchpoint-ms span {
        font-size: 20px !important;
    }

    .touchpoint-ms .ui-multiselect-checkboxes span {
        font-size: 24px;
        line-height: normal;
        font-weight: normal !important;
    }

    .thankyou-font {
        font-size: 18px;
    }

    .thankyou-text {
        font-size: 12px;
    }

   .surveyeditpanel .survey-footer {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        color: #ea6953;
        font-size: 12px;
    }
   .scale{
        height:16px;
    }
    .touchpoint-container {
        min-height: 0px !important;
    }

    .disclaimer-text {
        margin-top: 8px;
    }

    .touchpoint-container .ui-state-active, .ui-widget-content .ui-state-active {
        border-color: #009bdf;
    }

    .touchpoint-container span {
        font-size: 16px;
        line-height: normal;
    }

    .touchpoint-container button {
        height: 34px;
    }

    .touchpoint-container {
        position: relative;
    }

        .touchpoint-container .ui-icon-triangle-2-n-s {
            font-size: 20px !important;
            line-height: normal;
            height: auto !important;
        }

            .touchpoint-container .ui-icon-triangle-2-n-s:before {
                font-size: 20px !important;
                position: absolute;
                right: 8px;
                top: 6px;
            }

    .question-font span {
        line-height: 24px !important;
    }

    .emptytablerow {
        display: none;
    }

    .locationimg {
        width: 15px !important;
        height: 25px !important;
    }

    .emailimg {
        width: 15px !important;
        height: 11px !important;
    }

    .phoneimg {
        width: 15px !important;
        height: 15px !important;
    }

    .demo-field {
        position: relative;
    }

    .demo {
        margin-top: 16px;
    }

    .demo-required-header {
        position: relative;
        text-align:left;
        line-height:0px;
        color: #ea6953;
       
    }

    .demo-required-text-header {
        position: absolute;
        color: #ea6953;
        bottom: 24px;
        left: 0px;
    }

    .required-header {
        position: absolute;
        color: #ec7864;
        top: 11px;
        left: 12px;
    }

    .survey-footer {
        width: 100%;
        text-align: right;
        color: #ea6953;
        padding-right: 8px;
    }

    .description-text {
        font-weight: normal;
    }

    p {
        margin: 0px;
    }

        p span {
            line-height: normal !important;
        }

    .expires {
        position: absolute;
        display: block;
        bottom: 5%;
        right: 2%;
        font-size: 16px;
    }

    .demo label {
        margin-bottom: 0px;
    }

    .title-appreciation {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 16px;
        margin-bottom: 0px;
        width: 242px;
        position: absolute;
    }

    .expires p {
        display: inline;
    }

    .termsconditions {
        position: absolute;
        display: block;
        bottom: 5%;
        left: 2%;
        font-size: 16px;
        margin: 0px;
    }

    .appreciation-logo-img {
        width: 64px !important;
        height: 64px !important;
        min-width: 64px;
        min-height: 64px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .inner-img-appreciation {
        display: block;
        position: absolute;
        bottom: 5%;
        left: 5%;
        background-color: transparent;
        width: 66px;
        height: 66px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 0px;
        border-color: #bababa;
    }

    .attachmentimgdiv img {
        width: 64px;
    }

    .ui-state-hover {
        background: #fff !important;
        color: #009bdf !important;
        border: 0px !important;
    }

    span.Daisy {
        background: url("../Images/daisy-unselected.png") no-repeat;
        display: inline-block;
        background-size: 22px 22px;
        height: 22px;
        width: 22px;
    }

    span.Daisy-Selected {
        background: url("../Images/daisy-selectedv2.png") no-repeat;
        display: inline-block;
        background-size: 22px 22px;
        height: 22px;
        width: 22px;
    }

    .attachment-upload-btn input {
        width: 64px;
        height: 64px;
    }

    .attachment-upload-image {
        width: 304px;
        height: 187px;
    }

    .attachment-upload-btn {
        position: absolute;
        left: 120px;
        top: 8px;
        opacity: 0;
        width: 64px;
        height: 64px;
        background: #bababa;
    }

    .demo button {
        height: 24px !important;
        font-size: 12px !important;
        width: 302px !important;
        line-height: 16px;
        padding-left: 4px;
    }

    .demographics-container button {
        margin-bottom: 10px;
    }

    .demographics-container input {
        margin-bottom: 10px;
    }

    .question-font p {
        margin: 0px !important;
    }

    .rating-commentbox {
        margin-top: 0px;
        margin-bottom: 8px;
    }

    .questioncontent p {
        margin-bottom: 0px;
    }

    .text-answer-content {
        text-align: center;
        padding-top: 2px;
    }

        .text-answer-content textarea {
            /* height:24px !important;*/
        }

    .rating-answer-content {
        text-align: center;
        padding-top: 4px;
    }

    .tag-answer-content {
        text-align: center;
        padding-top: 2px;
    }

        .tag-answer-content textarea {
            /* height:24px !important;*/
        }

    .rating-commentbox textarea {
        /*  height:24px !important;*/
    }

    .commentbox textarea {
        /* height:24px !important;*/
    }

    .commentbox-sp textarea {
        /* height:24px !important;*/
    }

    .answercontent-sp textarea {
        /*  height:24px !important;*/
    }

    .answercontent textarea {
        /*height:24px !important;*/
    }

    .choicecontainer {
        margin-bottom: 16px;
    }

    .multiple-answer-content {
        margin-top: 12px;
    }

    .choice-answercontent {
        margin-top: 2px;
    }

    .sidepanel {
        margin-top: 3rem;
        top: 50px;
        right: 0rem;
        max-width: 10rem;
        background-color: #dddedf;
        height: 45rem;
        min-width: 25rem;
        position: absolute;
        border-bottom-left-radius: 15px;
        opacity: 0.8;
        display: none;
    }

        .sidepanel:hover {
            opacity: 1;
        }

    .flipperTool {
        position: absolute;
        top: 1px;
        right: 5px;
        z-index: 999;
    }

    .tandc {
        font-size: 8px;
        text-align: left;
        padding-left: 8px;
        padding-right: 8px;
    }

    .flipperTool img {
        width: 16px;
        height: 10px;
    }

    .flip-container {
        height: 192px;
    }

    .carousel-inner {
        min-height: 64px;
        padding-bottom:16px;
    }

    .eightzeropwidth {
        width: 100% !important;
    }

    .questioncontent {
        padding-top: 0px;
    }

    .textbox-abs {
        position: absolute;
        bottom: 5px;
        width: 272px;
    }

    .carouseltext {
        padding-top: 4px;
    }

    .carousel-control.right {
        right: -13px;
    }

    .carousel-control.left {
        left: -13px;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #009bdf;
        border-radius: 10px;
    }

    .carousel-paragraph {
        padding-left: 10px;
        padding-right: 10px;
    }

    .carousel-indicators .active {
        width: 8px;
        height: 8px;
        margin: 1px;
        background-color: #009bdf !important;
    }

    .carousel-indicators-sp {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .pull-top-right {
        font-size: 16px !important;
    }

    .padright-at {
        padding-right: 34px;
    }

    .helperRow-ch-abs {
        position: absolute;
        bottom: -8px;
        left: 148px;
    }

    .helperRow-chin-abs {
        position: absolute;
        bottom: -8px;
        left: 112px;
    }

    .helperRow-op-at-abs {
        position: absolute;
        bottom: 10px;
    }

    .helperRow-op-rate-abs {
        position: absolute;
        bottom: 26px;
    }

    .helperRow-rate-abs {
        position: absolute;
        bottom: 20px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-op-tag-abs {
        position: absolute;
        bottom: 58px;
    }

    .helperRow-tag-abs {
        position: absolute;
        bottom: 52px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-tag-2-abs {
        position: absolute;
        bottom: -15px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-2-abs {
        position: absolute;
        bottom: -16px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    helperRow-rate-2-abs-box {
        position: absolute;
        left: -10px;
    }

    .helperRow-at-abs {
        position: absolute;
        bottom: 4px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helper502pos {
        position: absolute;
        bottom: 8px;
        left: 136px;
    }

    .helperRow-rate-dd {
        position: absolute;
        left: 49px;
        bottom: -28px;
    }

    .attachqh {
        height: 36px;
    }

    .HRPadtop {
        padding-top: 8px;
    }

    .paddingleftdemo {
        padding-left: 88px;
    }

    .gridratescale {
        margin-top: 8px !important;
    }

    .carousel-container {
        margin-top: 0rem;
        min-height: 40px;
        max-height: 40px;
        padding-top: 0rem;
    }

    .carousel-control {
       
        padding-top: 0px;
        position: absolute;
        top: 40%;
        width: 15%;
        font-size: 16px;
        color: #009bdf;
        text-align: center;
        opacity: 1;
        filter: alpha(opacity=50);
    }

    .carousel-indicators {
        bottom: -14px;
    }

    .carouselsizer {
    }

    .social-media {
        margin-top: 4px;
    }

    .goldenmeanbox {
        position: relative;
        margin-top: 5px;
        width: 272px;
        height: 168px;
        border: 1px solid #bababa;
    }

    .attachmentimgdiv {
        padding-top: 8px;
    }

    .locationimgdiv {
        padding-top: 46px;
    }

    .nopadding {
        padding: 0px !important;
    }

    .radioBtnSz {
        height: 24px;
        width: 24px;
    }

    .twotwoxheight {
        height: 21px !important;
        max-height: 21px !important;
    }

    .twofourpxheight {
        height: 24px !important;
        max-height: 24px !important;
    }

    .btn-control {
        padding: 2px 4px !important;
    }

    .form-control {
        display: block;
        width: 100%;
        max-width: 300px;
        min-width: 300px;
        height: 34px;
        padding: 4px 4px;
        font-size: 12px;
        line-height: 12px;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) !important;
        box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) !important;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .form-control-sp {
        display: block;
        width: 80px;
        height: 16px;
        padding: 0px 4px;
        font-size: 8px;
        line-height: 1.428571429;
        color: #009bdf;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
        box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .editMenuItems span {
        float: right;
        padding-right: 16px;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        top: -4px;
        z-index: 2;
        width: 16px;
        height: 16px;
        cursor: default;
    }

    .scale p {
        margin-bottom: 7px;
    }

    .commentbox {
        padding-bottom: 2px;
    }

    .commentbox-sp {
        margin-top: 8px;
    }

    textarea[placeholder] {
        color: #009bdf;
    }

    input[placeholder] {
        color: #009bdf;
    }

    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 12px;
    }

    .firstTD {
        width: 60% !important;
    }

    .secondTD {
        width: 40% !important;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: -3px;
        color: #009BDF;
        min-height: 100%;
    }


    .form-group {
        padding-top: 31px;
        padding-right: 0px;
    }

    .question-start {
        padding-top: 24px;
    }

    .questionChoices {
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 8px;
        height: 8px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 0px 0px;
        font-size: 8px;
        line-height: 1.5;
        border-radius: 4px;
    }

    .btn-24 {
        height: 24px;
        width: 24px;
    }


    .btn64px {
        width: 72px;
        text-align: left;
    }

    .btn72px {
        width: 72px;
        text-align: left;
    }

    .btn32px {
        width: 32px;
        text-align: left;
    }

    .paddinglefthelper {
        padding-right: 3px;
    }

    .paddingleftrank {
        padding-left: 4px;
        padding-right: 1px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .questionHelper {
        position: absolute;
        bottom: 18px;
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
    }

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
            padding: 0px !important;
            height: 16px;
        }

        .questionHelper tr {
            height: 19px;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
        padding: 0px !important;
        height: 24px;
    }

    .questionHelperAttach tr {
        height: 24px;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .answercontent {
        padding-top: 6px;
    }

    .answercontent-sp {
        padding-top: 3px;
    }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 6rem;
        width: 6rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }


    .multiple-choice-answercontent {
        padding-top: 8px;
    }

    .survey-div {
        position: relative;
        width: 316px;
        min-height: 224px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: auto;
        margin-right: auto;
        /*
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2OMq7zlw4AEGEECi9rVtsDECAsAAOT/DgI2coh6AAAAAElFTkSuQmCC)repeat;
        background:url("../Images/320preandpub.png");*/
    }

    .survey-sections {
        margin-left: auto;
        margin-right: auto;
        width: 318px;
        margin-top: 3px;
    }

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 29%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 31%;
        width: 29%;
        max-width: 32%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 12% !important;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%); /* Opera, Chrome, and Safari */
            padding: 0px;
            font-size: 16px;
            margin-bottom: 0px;
        }


    .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 99% !important;
        border: 1px solid #009BDF;
        background: #009bdf;
        padding: 0px !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        margin: 0.2rem;
        height:70px;
        min-height: 0.1rem !important;
    }

        .share-your-exp p {
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 20px;
            line-height:70px;
        }

    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 193px;
        width: 320px;
        max-height: 300px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 20px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 5%;
        left: 5%;
        background-color: transparent;
        width: 6rem;
        height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 0px;
        border-color: #f1f2f3;
    }

        .inner-img-upload img {
            width: 6rem;
            height: 6rem;
            margin-left: -2px;
        }

    .carousel-indicators .completed {
        background: #fff url(../Images/bluetick.png) no-repeat;
        background-size: 6px 6px;
    }

    .carousel-indicators .active.completed {
        background: #009bdf url(../Images/tick.png) no-repeat;
        background-size: 6px 6px;
    }

        .carousel-indicators .active.completed:hover {
            background: #009bdf url(../Images/tick.png) no-repeat;
            background-size: 6px 6px;
        }

    .tagdiv {
        margin-left: -4px !important;
        width: 102% !important;
    }

    .ui-autocomplete {
        min-height: 20px;
        font-size: 12px;
        border-radius: 4px;
    }
     .STAFF-box{
        margin-bottom:8px;
    }
     .rating-commentbox p, .commentbox-sp p, .commentbox p,  .tag-answer-content p, .text-answer-content p{
   min-height:48px;
  
}
}
