﻿@media only screen and (min-width: 640px) {

    .socialSharing {
        margin-top: 16px;
    }

    .wordcloudsize {
        font-size: 24px;
    }

    #question-view-carousel-control {
        top: 0% !important;
        height: 128px !important;
        padding-top: 42px !important;
    }

    pre {
        padding: 4px;
        border: 0px;
        background-color: transparent;
        line-height: normal;
    }

    #analytics-carousel-control {
        top: 0% !important;
        height: 264px !important;
        padding-top: 120px !important;
    }

    .multiple-choice-answercontent {
        margin-top: 16px;
    }

    .s-blue-div p {
        height: 48px;
    }

    .demo .ui-multiselect {
        margin-bottom: 16px;
    }

    .demographics-container {
        margin-bottom: 16px;
    }

    .demo {
        padding-top: 16px;
    }

    .questionSection {
        padding-top: 8px;
    }

    .question-sections {
        position: relative;
        width: 620px;
        height: auto;
        min-height: 448px;
        border-bottom: 1px solid #e8e8e8;
       }

        .question-sections .carousel-inner {
            height: 128px;
            min-height: 128px;
            margin-top: 6px;
        }

        .question-sections .carousel-control.right {
            right: -26px;
        }

        .question-sections .carousel-control.left {
            left: -26px;
        }

        .question-sections .carousel-paragraph {
            padding-left: 20px;
            padding-right: 20px;
        }

        .question-sections .carousel-indicators li {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            border: 1px solid #009bdf;
            border-radius: 10px;
        }

        .question-sections .carousel-indicators .active {
            width: 10px;
            height: 10px;
            margin: 1px;
            background-color: #009bdf;
        }

        .question-sections .carousel-indicators-sp {
            background: url(../images/plus.png) no-repeat;
            background-size: 7px 7px;
        }

        .question-sections .carousel-container {
            margin-top: 0rem;
            min-height: 40px;
            max-height: 40px;
            padding-top: 0rem;
        }

        .question-sections .carousel-control {
            height: 30px;
            position: absolute;
            top: 46px !important;
            bottom: 0;
            width: 15%;
            font-size: 32px;
            color: #009bdf;
            text-align: center;
            opacity: 1;
            filter: alpha(opacity=50);
        }

        .question-sections .carousel-indicators {
            bottom: -12px;
        }

    .ui-multiselect-menu {
        width: 620px !important;
    }

    [class^="pe-7s-"], [class*=" pe-7s-"] {
        line-height: 16px;
    }

    .search-button {
        width: 100%;
        height: 48px;
    }

    .datepicker-right input {
        width: 236px;
        z-index: 9999;
        padding-left: 4px;
        padding-right: 4px;
        height: 48px;
    }

    .datepicker-left input {
        width: 236px;
        z-index: 9999;
        padding-left: 4px;
        padding-right: 4px;
        height: 48px;
    }

    .analytics-menu {
        margin-bottom: 108px;
    }

    .datepicker {
        margin-bottom: 70px;
    }

    .datepicker-to {
        position: absolute;
        left: 49.5%;
        text-align: center;
        line-height: 49px;
        z-index: 1;
        font-size: 24px;
    }

    .doughnut {
        position: static;
        width: 606px;
        height: 384px;
    }

    .legend {
        font-size: 20px;
        margin-top: -384px;
        padding-bottom: 16px;
        padding-top: 200px;
    }

    .legend-table {
        width: 604px;
        max-width: 604px;
        table-layout: fixed;
        margin-bottom: 16px;
        text-align: center;
        font-size: 20px;
    }

        .legend-table td {
            height: 48px;
            border-bottom: 1px solid #bababa;
        }

    .legend-table-color {
        width: 6%;
        max-width: 6%;
    }

    .legend-table-option {
        font-size: 20px;
        text-align: left;
        width: 68%;
        max-width: 68%;
        padding-left: 4px;
    }

    .legend-table-percentage {
        font-size: 20px;
        width: 13%;
        max-width: 13%;
    }

    .legend-table-number {
        font-size: 20px;
        width: 13%;
        max-width: 13%;
    }

    .wordcloudspan {
        font-size: 24px;
    }

    .fb-share img {
        width: 96px;
        height: 96px;
    }

    .lr-padding {
        padding-right: 0px;
        padding-left: 0px;
    }

    .legend span {
        font-size: 20px;
    }

    .legend {
        font-size: 20px;
        padding-bottom: 16px;
        padding-top: 200px;
        text-align: center;
    }

    .chart-labelling {
        position: absolute;
        padding-top: 94px;
        left: 272px;
        height: 60px;
        width: 60px;
        font-size: 24px;
        text-align: center;
    }

    canvas {
        height: 225px !important;
        width: 450px !important;
    }

    .analytics-row {
        position: relative;
        min-height: 64px;
        width: 100%;
    }

    .flip-container {
        height: 395px;
    }

    upload-icon-spacer {
        min-height: 100px;
        height: 100px;
    }

    .democontainerfirst {
        position: relative;
        width: 100%;
        margin-top: 8px;
    }

        .democontainerfirst input[type="checkbox"] {
            width: 16px;
            height: 16px;
            margin: 0px;
            margin-top: 2px;
        }

    .democontainer input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 0px;
        margin-top: 2px;
    }

    .margin5top {
        margin-top: 14px;
    }

    .tagdiv {
        margin-top: 13px;
    }

    .helperRow {
    }

    .questionHolder {
        min-height: 600px !important;
    }

    .editMenu {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 999;
        margin-top: 4px;
        min-height: 20px;
        max-height: 20px;
        min-width: 320px;
        color: #009BDF;
    }

    .top-add {
        position: absolute;
        top: -20px;
        left: 47%;
        z-index: 999;
    }

    .bottom-add {
        position: absolute;
        margin-top: -20px;
        left: 49%;
        z-index: 999;
    }

    .questionText {
        margin-top: 8px;
    }

    .fileBrowserBtnWrapper {
        position: absolute;
        height: 395px;
        width: 610px;
        left: 50%;
    }

    .fileBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 273px;
        width: 590px;
        z-index: 200;
        background-color: #bababa;
        top: 160px;
        left: 0%;
    }

    .textbox-abs {
        position: absolute;
        bottom: -3px;
        width: 640px;
    }

    .carouseltext {
        padding-top: 4px;
    }

    .carousel-control.right {
        right: -8px;
    }

    .carousel-control.left {
        left: -8px;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #009bdf;
        border-radius: 10px;
    }

    .scale p {
        margin-bottom: 7px;
        margin-top: 7px;
    }

    .carousel-indicators .active {
        width: 8px;
        height: 8px;
        margin: 1px;
        background-color: #009bdf;
    }

    .carousel-indicators-sp {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .eightzeropwidth {
        width: 589px !important;
    }

    .pull-top-right {
        font-size: 32px !important;
    }

    .padright-at {
        padding-right: 102px;
    }

    .helperRow-ch-abs {
        position: absolute;
        bottom: 11px;
        left: 320px;
    }

    .helperRow-chin-abs {
        position: absolute;
        bottom: 11px;
        left: 257px;
    }

    .helperRow-op-at-abs {
        position: absolute;
        bottom: 34px;
    }

    .helperRow-op-rate-abs {
        position: absolute;
        bottom: 60px;
    }

    .helperRow-rate-abs {
        position: absolute;
        bottom: 54px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-op-tag-abs {
        position: absolute;
        bottom: 89px;
    }

    .helperRow-tag-abs {
        position: absolute;
        bottom: 82px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-tag-2-abs {
        position: absolute;
        bottom: -32px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-dd {
        position: absolute;
        left: 121px;
        bottom: -42px;
    }

    helperRow-rate-2-abs-box {
        position: absolute;
        left: -18px;
    }

    .helperRow-rate-numberbox {
        position: absolute;
        right: -50px;
    }

    .helperRow-at-abs {
        position: absolute;
        bottom: 23px;
        min-height: 8px !important;
        max-height: 8px !important;
    }
    

    .helper502pos {
        position: absolute;
        bottom: 10px;
        left: 303px;
    }

    .helper-demo-cb {
        position: absolute;
        left: -102px;
    }

    .attachqh {
        height: 36px;
    }

    .HRPadtop {
        padding-top: 8px;
    }

    .paddingleftdemo {
        padding-left: 202px;
    }

    .gridratescale {
        margin-top: 8px !important;
    }

    .padright-demo {
        padding-right: 21px;
    }

    .questioncontent {
        padding-top: 8px;
    }

    .democontainer {
        position: relative;
        width: 100%;
        margin-top: 32px;
    }

    .rotateFork {
        transform: rotate(180deg);
        padding-top: 0px;
        padding-left: 64px !important;
        padding-right: 0px !important;
    }

    .carousel-container {
        margin-top: 0rem;
        min-height: 40px;
        max-height: 40px;
        padding-top: 0rem;
    }

    .carousel-inner {
        margin-top: 8px;
        border: 1px solid #009bdf;
        border-radius: 4px;
        min-height: 384px;
        height: auto;
    }

    .carousel-control {
        height: 30px;
        position: absolute;
        top: 158px !important;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 32px;
        color: #009bdf;
        text-align: center;
        opacity: 1;
        filter: alpha(opacity=50);
    }

    .carousel-indicators {
        bottom: -10px;
    }

    .carouselsizer {
    }

    .social-media {
        margin-top: 4px;
    }

    .goldenmeanbox {
        position: relative;
        margin-top: 2px;
        width: 640px;
        height: 395px;
        border: 1px solid #bababa;
    }

    .attachmentimgdiv {
        padding-top: 147px;
    }

    .locationimgdiv {
        padding-top: 46px;
    }

    .nopadding {
        padding: 0px !important;
    }

    .radioBtnSz {
        height: 48px;
        width: 48px;
    }

    .addOptionBtn {
        margin-top: 16px;
        margin-left: 0px;
    }

    .twotwoxheight {
        height: 21px !important;
        max-height: 21px !important;
    }

    .twofourpxheight {
        height: 48px !important;
        max-height: 48px !important;
    }

    .btn-control {
        padding: 2px 4px !important;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 48px;
        padding: 6px 12px;
        font-size: 22px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        min-height: 48px;
    }

    .carousel-paragraph {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pad-arrow-left {
        padding-left: 8px;
    }

    .pad-arrow-right {
        padding-right: 8px;
    }

    .form-control-sp {
        display: block;
        width: 160px;
        height: 32px;
        padding: 0px 4px;
        font-size: 16px;
        line-height: 1.428571429;
        color: #009bdf;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .rowmenu-s {
        padding-right: 32px;
    }

    .rowmenu-sp {
        padding-left: 32px;
    }

    .editMenuItems span {
        float: right;
        padding-right: 64px;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        top: -4px;
        z-index: 2;
        width: 16px;
        height: 16px;
        cursor: default;
    }

    .keywordSection {
        margin-top: 16px;
    }

    .commentbox {
        margin-top: 30px;
    }

    .commentbox-sp {
        margin-top: 16px;
    }

    .commentbox textarea {
        height: 48px;
        max-width: 640px;
    }

    textarea[placeholder] {
        color: #009bdf;
    }

    input[placeholder] {
        color: #009bdf;
    }

    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 16px;
    }

    .firstTD {
        width: 60% !important;
    }

    .secondTD {
        width: 40% !important;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: -3px;
        color: #009BDF;
        min-height: 100%;
    }


    .form-group {
        padding-top: 31px;
        padding-right: 0px;
    }

    .question-start {
        padding-top: 24px;
    }

    .questionChoices {
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }

    .uploadTxtBox {
        width: 640px;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 0px 0px;
        font-size: 8px;
        line-height: 1.5;
        border-radius: 4px;
    }

    .btn-24 {
        height: 48px;
        width: 48px;
    }


    .btn64px {
        width: 72px;
        text-align: left;
    }

    .btn72px {
        width: 72px;
        text-align: left;
    }

    .btn32px {
        width: 32px;
        text-align: left;
    }

    .paddinglefthelper {
        padding-right: 3px;
    }

    .paddingleftrank {
        padding-left: 4px;
        padding-right: 1px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .questionHelper {
        position: absolute;
        bottom: 18px;
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
    }

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
            padding: 0px !important;
            height: 16px;
        }

        .questionHelper tr {
            height: 19px;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
        padding: 0px !important;
        height: 24px;
    }

    .questionHelperAttach tr {
        height: 24px;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .answercontent {
        padding-top: 8px;
        max-width: 640px;
    }

        .answercontent textarea {
            height: 48px;
        }

        .answercontent ul {
            margin-top: 6px;
        }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 9rem;
        width: 9rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 640px;
        margin-right: auto;
        margin-left: auto;
    }

    .survey-sections {
        width: 640px;
        min-height: 640px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 299%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 299%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

    .touchpoints {
        margin-top: 23px;
    }

    .welcomespacer {
        padding-bottom: 16px;
    }

    .exp-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 32.4%;
        width: 32.4%;
        max-width: 33%;
        min-height: 24px;
        max-height: 24px;
        border: 1px solid #5f5f5f;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #5f5f5f;
        margin: 0.2rem;
        margin-bottom: 16px;
        padding-top: 46px !important;
    }

        .exp-area-choices p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: 8px;
            padding-right: 8px;
            font-size: 16px;
            margin-bottom: 0px;
        }


    .attachmentimgdiv img {
        height: 100px;
        width: 100px;
    }

    .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 600px !important;
        height: 140px;
        border: 1px solid #009BDF;
        padding: 1rem !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        min-height: 0.1rem !important;
    }

        .share-your-exp p {
            display: table-cell;
            vertical-align: middle;
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 48px;
        }

    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 395px;
        width: 640px;
        max-height: 395px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
        margin-left: auto;
        margin-right: auto;
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 0px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 4%;
        left: 5%;
        background-color: white;
        width: 9rem;
        height: 9rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        border-color: #f1f2f3;
    }

        .inner-img-upload img {
            width: 9rem;
            height: 9rem;
        }

    .ui-state-hover label {
        background-color: #56cbff !important;
        color: #FFFFFF !important;
    }

    .keywords-filter p {
        margin: 0px;
        font-size: 18px;
    }

    .keywords-filter input {
        margin-bottom: 16px;
    }

    .analytics-search {
        padding-top: 16px;
    }

        .analytics-search button {
            margin-bottom: 16px;
        }

    .ui-state-active {
        margin-bottom: 192px !important;
    }

    .comment-box {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #bababa;
    }

    .toggle-box {
        position: absolute;
        width: 640px;
        height: 55px;
    }   
}
