﻿@media only screen and (min-width: 320px) {
            .pp-container{
        margin-top:16px;
    }
    .view-container{
        margin-top:8px;
    }
    .track-header th, .track-table td {
   
    font-size: 12px;
}
    #session-view table {
    width: 304px;
}
         .rating-commentbox p, .commentbox-sp p, .commentbox p,  .tag-answer-content p, .text-answer-content p{
   min-height:48px;
  
}.tdwidth{
     min-width:144px;
     max-width:144px;
 }
         .module-minimizer{
             padding-right:8px;
         }
         .survey-div{
             padding-top:16px;
             padding-left:8px;
             padding-right: 8px;
         }
         .survey-div-brand{
           
             padding-left:0px;
             padding-right: 0px;
         }
         .summary-table-top tr,  .summary-table-bot tr{
             line-height:16px;
         }
    .top-response-delete{
        padding-left: 8px;
padding-right: 8px;
margin-top:8px;
margin-bottom: 8px;
    }
    .required-header {
  position: absolute;
  color: #ec7864;
  top: 11px;
  left: 4px;
}
    .flipperTool img {
width: 16px;
height: 10px;
}
    
    .front, .back {
        height:176px;
    }
    #ResponseView{
        width:320px;
        margin-left:-8px;
    }
        .summary-table-top{
        margin-top:8px;
        margin-left:8px;
        margin-right:8px;

    }
     .summary-table-bot{
  
        margin-left:8px;
        margin-right:8px;

    }
            .demo-field .rating-commentbox{
           margin-top:0px;
           margin-bottom:8px;
       }
    .summary-namevalue{
    font-size:12px;
}
.summary-keyvalue{
    font-size:12px;
}
    .hashtag-section{
        margin-top:40px;
    }
    .hashtag-container{
        margin-top:8px;
        padding:0px 8px;
    }
     .hashtag-search{
        margin-top:8px;
    }
    .demo-field {
position: relative;
}
    .s-blue-div-hover p span{
        line-height:normal !important;
    }
    .demo-required-header {
position: relative;
color: #ea6953;
text-align:left;
line-height:0px;
}
    .demo-required-text-header {
position: absolute;
color: #ea6953;
bottom: 22px;
left: 0px;
}

    .no-style pre{
        margin:0px;
    }
    .s-blue-div-hover{
        border-color:#5f5f5f;
        color:#5f5f5f;
    }
       span.Heart:before {

color: #5f5f5f !important;

}
span.Star:before {

color: #5f5f5f !important;

}
span.Star-Selected:before {

color: #5f5f5f !important;

}
span.Number {
    color: #5f5f5f !important;
}
span.Number-Selected {
    color: #fff !important;
background-color:#5f5f5f !important;
}
      span.Heart-Selected:before{
        color:#5f5f5f !important;
    }
      .choice-selected{
          background-color: #5f5f5f !important;
          border-color: #5f5f5f !important;
      }
      .s-blue-div{
          color: #5f5f5f;
          border-color: #5f5f5f;
      }
        ::-webkit-input-placeholder {
    color: #5f5f5f !important;
    font-style: italic !important;
    font-size:12px !important;
}
        .middlehyperlink{
             position:absolute;
        right:0px;
        top:13px;
        }
          .emptytablerow{
        display:none;
    }
    .locationimg{
        width:15px !important;
        height:25px !important;
    }
    .emailimg{
        width:15px !important;
        height:11px !important;
    }
    .phoneimg{
        width:15px !important;
        height:15px !important;
    }
::-moz-placeholder {
    color: #5f5f5f !important;
    font-style: italic !important;
    font-size:12px !important;
}
/* firefox 19+ */
:-ms-input-placeholder {
    color: #5f5f5f !important;
    font-style: italic !important;
    font-size:12px !important;
}
/* ie */
input:-moz-placeholder {
    color: #5f5f5f !important;
    font-style: italic !important;
    font-size:12px !important;
}
    textarea.form-control {
height: 24px;
}
     pre{
        padding: 0px;
        border: 0px;
        background-color: transparent;
        line-height:normal;
    }
    .sort-by .ui-multiselect span{
        line-height:20px;
    }
     .ui-state-active{
        margin-bottom:0px !important;
        border:1px solid #009bdf;
    }
    .sort-by p{
        margin-bottom:0px;
        font-size:12px;
    }
    .sort-by{
        padding-left:8px;
        padding-right:8px;
        margin-bottom:8px;
    }
    .welcome-tag{
        margin-top:14px;
    }
    #paginationHolder{
        margin-left:0px;
        margin-top:8px;
        padding-left:8px;
        padding-right:8px;
        width:320px;
    }
    /*.front img{
        width: 286px;
        height:187px;
    }*/
    .survey{
        padding-left:0px;
        padding-right:0px;
    }
    .demo input[type="text"]{
        margin-bottom:8px;
    }
    .multiple-choice-answercontent{
        margin-top:8px;
    }
    .s-blue-div p{
    
    height:24px;
}
     .demographics-container{
        margin-bottom:8px;
    }
    .demo{
        padding-top:8px;
    }
    .demo .ui-multiselect {
         margin-bottom:8px;
    }
    .questionSection{
         padding-top:4px;
     }
    .text-answer-content {
        margin-top:8px;
    }
    .text-answer-content textarea {
        height:25px;
    }
    .choice-answercontent{
        margin-top:8px;
    }
    .light-theme a, .light-theme span {
	
	font-size:10px !important;
	line-height:21px !important;
    min-width:23px !important;
	padding: 0 2px !important;
    margin-right:4px !important;

}
    .light-theme span.icon-angle-left,.light-theme span.icon-angle-right {
	
	
    margin-right:0px !important;

}
   .light-theme .prev, .light-theme .next{
        padding:0px !important;
   }
   .light-theme .ellipse{
       min-width:10px !important;
   }
    .questioncontent p {
        margin-bottom: -1px;
    }

    .ui-multiselect-menu {
        width: 304px !important;
    }

    .ui-multiselect-header ul li {
        line-height: 18px;
    }

    .ui-multiselect-header ul {
        font-size: 12px;
    }

    .questionSection span {
        line-height: 18px;
    }

    .demo span {
        line-height: 18px;
    }

    .search-button {
        width: 100%;
        height: 24px;
        font-size: 12px;
        line-height: 0px;
    }

      .reset-button {
        width: 100%;
        height: 24px;
        font-size: 12px;
        line-height: 0px;
    }

    .analytics-menu {
        margin-bottom: 49px;
    }

    .datepicker {
        margin-top: 8px;
        margin-bottom: 32px;
    }

    .datepicker-right input {
        width: 112px;
        z-index: 9999;
        padding-top: 8px;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 24px;
        height: 24px;
    }

    .datepicker-left input {
        width: 112px;
        z-index: 9999;
        padding-top: 8px;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 24px;
        height: 24px;
    }

    .datepicker-to {
        position: absolute;
        width: 16px;
        text-align: center;
        line-height: 24px;
        left: 48%;
    }

    .doughnut {
        position: absolute;
        width: 302px;
        height: 192px;
    }

    .legend-table {
        width: 302px;
        max-width: 302px;
        table-layout: fixed;
    }

        .legend-table td {
            height: 24px;
            border-bottom: 1px solid #bababa;
        }

    .legend-table-color {
        width: 6%;
        max-width: 6%;
    }

    .legend-table-option {
        text-align: left;
        width: 68%;
        max-width: 68%;
        padding-left: 4px;
    }

    .legend-table-percentage {
        width: 13%;
        max-width: 13%;
    }

    .legend-table-number {
        width: 13%;
        max-width: 13%;
    }

    .lr-padding {
        padding-right: 8px;
        padding-left: 8px;
    }

    .legend span {
        font-size: 12px !important;
    }
    .legend td{
        font-size :10px;
    }

    .legend {
        padding-top: 103px;
        padding-bottom: 16px;
    }

    .chart-labelling {
        position: absolute;
        padding-top: 47px;
        left: 128px;
        height: 60px;
        width: 60px;
        text-align: center;
    }

    canvas {
        height: 114px !important;
        width: 228px !important;
    }

    .analytics-row {
        position: relative;
        min-height: 32px;
        width: 100%;
    }

    .flip-container {
        height: 187px;
    }

    .fileBrowserBtn {
        opacity: 0;
        position: absolute;
        height: 133px;
        width: 240px;
        z-index: 200;
        background-color: #bababa;
        top: 89px;
        left: 0%;
    }

    .welcomespacer {
        padding-bottom: 16px;
    }

   


    .questioncontent {
        padding-top: 8px;
    }

    .textbox-abs {
        position: absolute;
        bottom: 5px;
        width: 272px;
    }
   
    p{margin:0px;}
    .pull-top-right {
        font-size: 16px !important;
    }

    .padright-at {
        padding-right: 34px;
    }
    .paragraph-sno {
  
    width: 30px;
   
}
    .name{
        width:95px;
    }
    .paragraph-name{
        width:auto;
    }
    .paragraph-date{
        width: 74px;
    }
    .paragraph-cusindex{
        font-size:28px;
    }
    .helperRow-ch-abs {
        position: absolute;
        bottom: -8px;
        left: 148px;
    }

    .helperRow-chin-abs {
        position: absolute;
        bottom: -8px;
        left: 112px;
    }

    .helperRow-op-at-abs {
        position: absolute;
        bottom: 10px;
    }

    .helperRow-op-rate-abs {
        position: absolute;
        bottom: 26px;
    }

    .helperRow-rate-abs {
        position: absolute;
        bottom: 20px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-op-tag-abs {
        position: absolute;
        bottom: 58px;
    }

    .helperRow-tag-abs {
        position: absolute;
        bottom: 52px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-tag-2-abs {
        position: absolute;
        bottom: -15px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helperRow-rate-2-abs {
        position: absolute;
        bottom: -16px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    helperRow-rate-2-abs-box {
        position: absolute;
        left: -10px;
    }

    .helperRow-at-abs {
        position: absolute;
        bottom: 4px;
        min-height: 8px !important;
        max-height: 8px !important;
    }

    .helper502pos {
        position: absolute;
        bottom: 8px;
        left: 136px;
    }

    .helperRow-rate-dd {
        position: absolute;
        left: 49px;
        bottom: -28px;
    }

    .attachqh {
        height: 36px;
    }

    .HRPadtop {
        padding-top: 8px;
    }

    .paddingleftdemo {
        padding-left: 88px;
    }

    .gridratescale {
        margin-top: 8px !important;
    }
     

    .social-media {
        margin-top: 4px;
    }

    .goldenmeanbox {
        position: relative;
        margin-top: 5px;
        width: 272px;
        height: 168px;
        border: 1px solid #bababa;
    }

    .attachmentimgdiv {
        padding-top: 16px;
    }

    .locationimgdiv {
        padding-top: 46px;
    }

    .nopadding {
        padding: 0px !important;
    }

    .radioBtnSz {
        height: 24px;
        width: 24px;
    }

    .twotwoxheight {
        height: 21px !important;
        max-height: 21px !important;
    }

    .twofourpxheight {
        height: 24px !important;
        max-height: 24px !important;
    }

    .btn-control {
        padding: 2px 4px !important;
    }

    .form-control {
        display: block;
        width: 100%;
        max-width:320px;
        height: 24px;
        padding: 4px 4px;
        font-size: 12px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .form-control-sp {
        display: block;
        width: 80px;
        height: 16px;
        padding: 0px 4px;
        font-size: 8px;
        line-height: 1.428571429;
        color: #009bdf;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #009bdf;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .editMenuItems span {
        float: right;
        padding-right: 16px;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .ui-slider .ui-slider-handle {
        position: absolute;
        top: -4px;
        z-index: 2;
        width: 16px;
        height: 16px;
        cursor: default;
    }

    .scale p {
        margin-bottom: 7px;
    }

    .commentbox {
        padding-bottom: 2px;
    }

    .commentbox-sp {
        margin-top: 8px;
    }
    .textarea{
        height:25px;
    }
    .commentbox textarea {
        height: 25px;
    }

    textarea[placeholder] {
        color: #1b1b1b;
    }

    input[placeholder] {
        color: #1b1b1b;
    }

    .commentplaceholder::-webkit-input-placeholder {
        color: #009bdf;
        vertical-align: middle;
        font-size: 12px;
    }

    .firstTD {
        width: 60% !important;
    }

    .secondTD {
        width: 40% !important;
    }

    .sideEdit {
        position: absolute;
        top: 0px;
        right: -3px;
        color: #009BDF;
        min-height: 100%;
    }


    .form-group {
        padding-top: 31px;
        padding-right: 0px;
    }

    .question-start {
        padding-top: 24px;
    }

    .questionChoices {
        padding-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        min-width: 30%;
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        min-height: 100%;
    }
  
    .uploadTxtBox {
        width: 288px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderTab {
        width: 272px;
        margin-left: auto;
        margin-right: auto;
    }

    .sliderQTab {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .questionHelper input[type="checkbox"] {
        width: 8px;
        height: 8px;
    }

    .questionHelperAttach input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }

    .btn-xxs {
        padding: 0px 0px;
        font-size: 8px;
        line-height: 1.5;
        border-radius: 4px;
    }

    .btn-24 {
        height: 24px;
        width: 24px;
    }


    .btn64px {
        width: 72px;
        text-align: left;
    }

    .btn72px {
        width: 72px;
        text-align: left;
    }

    .btn32px {
        width: 32px;
        text-align: left;
    }

    .paddinglefthelper {
        padding-right: 3px;
    }

    .paddingleftrank {
        padding-left: 4px;
        padding-right: 1px;
    }

    .questionHelperAttach {
        padding-top: 1rem;
        text-align: left;
        width: 100%;
    }

    .questionHelper {
        position: absolute;
        bottom: 18px;
        padding-bottom: 4px;
        text-align: left;
        width: 100%;
    }

        .questionHelper table {
            width: 100%;
        }

        .questionHelper td {
            width: 50%;
            padding: 0px !important;
            height: 16px;
        }

        .questionHelper tr {
            height: 19px;
        }

    .questionHelperAttach table {
        width: 100%;
    }

    .questionHelperAttach td {
        width: 50%;
        padding: 0px !important;
        height: 24px;
    }

    .questionHelperAttach tr {
        height: 24px;
    }

    .questionHelperFirst {
        float: left;
        width: 50%;
        padding-right: 1rem;
    }

    .questionHelperFull {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }

    .questionHelperSecond {
        width: 50%;
        float: left;
    }

    .answercontent {
        padding-top: 6px;
    }

    .answercontent-sp {
        padding-top: 3px;
    }


    .answercontent textarea {
        height: 25px;
    }

    .image-input-wrapper {
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #fff;
        height: 200px;
    }


        .image-input-wrapper > input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            height: 10rem;
            min-width: 100%;
            padding-top: 0px;
            opacity: 0;
        }

    .logofileinput {
        position: absolute;
        left: 0;
        top: 0;
        height: 6rem;
        width: 6rem;
        opacity: 0;
    }

    .slideBack {
        position: absolute;
        top: -2rem;
        margin-left: -1.7rem;
        font-size: 2rem;
    }

    .heading-section {
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }
    .multiple-answer-content{
     margin-top:8px;
    }
    .survey-sections {
        position: relative;
        width: 320px;
        min-height: 0px;
       
        margin-left: 0px;
        
        padding-bottom:8px;
        /*
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2OMq7zlw4AEGEECi9rVtsDECAsAAOT/DgI2coh6AAAAAElFTkSuQmCC)repeat;

             background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHElEQVQYV2N88eLFfwY8gBGkQEJCghGXmuGhAADz+x/A4Zb29gAAAABJRU5ErkJggg==)repeat;
       
        background: url("../Images/320PXAnaly.png");*/
    }

    .question-sections {
        position: relative;
        width: 300px;
        height: 224px;
        min-height: 224px;
        /*
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2OMq7zlw4AEGEECi9rVtsDECAsAAOT/DgI2coh6AAAAAElFTkSuQmCC)repeat;
                    background:url("../Images/320PXAnaly.png");
             background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHElEQVQYV2N88eLFfwY8gBGkQEJCghGXmuGhAADz+x/A4Zb29gAAAABJRU5ErkJggg==)repeat;
       */
    }
    .attachmentimgdiv img {
width: 64px;
height: 64px;
}

    .question-area-choices {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 299%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
    }

    .question-area-choices-special {
        word-wrap: break-word;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 29%;
        width: 299%;
        max-width: 29%;
        border: 1px solid #009BDF;
        padding: 0rem !important;
        padding-left: 4rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #009BDF;
        margin: 0.2rem;
        padding-top: 8% !important;
        height: 0px;
        opacity: 0;
    }

    #slide-panel {
        display: none;
        top: 0rem;
        left: 0rem;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 1;
        z-index: 99;
    }

    .firstSlidePanel {
        position: absolute;
        top: 0px;
        display: table;
        padding-top: 50px;
        float: left;
        opacity: 1;
        height: 40%;
        width: 100%;
        max-height: 40%;
        text-align: center !important;
        background-color: #d8d9da;
        z-index: 500;
    }

    .questionSlidePanel {
        position: absolute;
        top: 0px;
        padding-top: 50px;
        font-size: 0.1rem !important;
        float: left;
        text-align: center !important;
        opacity: 1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 40%;
        max-height: 40%;
        background-color: #d8d9da;
        display: table;
        z-index: 501;
    }

    .thirdSlidePanel {
        position: absolute;
        top: 40%;
        padding-top: 50px;
        padding-left: 2rem;
        opacity: 1;
        min-width: 100%;
        min-height: 60%;
        background-color: #d8d9da !important;
    }

   
    .exp-area-choices {
word-wrap: break-word;
position: relative;
vertical-align: middle;
text-align: center;
display: inline-table;
min-width: 32%;
width: 29%;
max-width: 32%;
min-height: 24px;
max-height: 24px;
border: 1px solid #5f5f5f;
padding: 0rem !important;
padding-left: 4rem;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #5f5f5f;
margin: 0.2rem;
padding-top: 12% !important;
}

        .exp-area-choices p {
width: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
padding: 0px;
font-size: 16px;
margin-bottom: 0px;
}

    .share-your-exp {
        vertical-align: middle;
        text-align: center;
        display: inline-table;
        min-width: 28% !important;
        width: 100% !important;
        border: 1px solid #5f5f5f;
        padding: 1rem !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        background-color: #5f5f5f;
        margin: 0.2rem;
        min-height: 0.1rem !important;
    }

        .share-your-exp p {
            padding: 0rem !important;
            width: 100% !important;
            height: inherit !important;
            margin: 0px !important;
            font-size: 2rem;
        }

    .grid-wrapper {
        width: 240px;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .file-input-wrapper {
        height: 193px;
        width: 320px;
        max-height: 300px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: transparent;
        margin-left: 0px;
       
    }

    .link-input-wrapper {
        height: 300px;
        width: 540px;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: thin;
        border-color: #bbbdc0;
    }

    .logo-img {
        width: 6rem;
        height: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .uploadImgIcon {
        vertical-align: middle;
        margin-top: 0px;
    }

    .grid-box {
        padding: 3px;
        word-wrap: break-word;
        text-align: center;
        width: 79px;
        height: 79px;
        border: 1px solid #009bdf;
        float: left;
    }

        .grid-box p {
            width: 71px;
            height: 71px;
            max-width: 72px;
            max-height: 71px;
            vertical-align: middle;
            display: table-cell;
        }

    .btn-sz {
        padding: 7.5px 13px;
        font-size: 15px;
        line-height: 1.415;
        border-radius: 4px;
    }

    .upload-icon {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon2 {
        display: block;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: auto;
    }

    .upload-icon3 {
        display: block;
        margin-top: 0rem;
        text-align: center;
        margin-bottom: auto;
    }

    .imageResizer img {
        width: 280px;
        height: 180px;
    }

    .inner-img-upload {
        display: block;
        position: absolute;
        bottom: 5%;
        left: 5%;
        background-color: transparent;
        width: 6rem;
        height: 6rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-style: solid;
        border-width: 0px;
        border-color: transparent;
    }

        .inner-img-upload img {
            width: 6rem;
            height: 6rem;
        }
         .carousel-inner {
        padding-bottom: 10px;
        min-height: 64px !important;
    }

     .carouseltext {
        padding-top: 4px;
    }

    .carousel-control.right {
        right: -13px;
    }

   .carousel-control.left {
        left: -13px;
    }

   .carousel-paragraph {
        padding-left: 10px;
        padding-right: 10px;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 7px;
        height: 7px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border: 1px solid #009bdf;
        border-radius: 10px;
    }

    .carousel-indicators .active {
        width: 7px;
        height: 7px;
        margin: 1px;
        background-color: #009bdf;
    }

     .carousel-indicators-sp {
        background: url(../images/plus.png) no-repeat;
        background-size: 7px 7px;
    }

    .carousel-container {
        margin-top: 0rem;
        min-height: 40px;
        max-height: 40px;
        padding-top: 0rem;
    }

     .carousel-control {
        height: 30px;
        position: absolute;
        top: 40% !important;
        bottom: 0;
        width: 15%;
        font-size: 16px;
        color: #009bdf;
        text-align: center;
        opacity: 1;
        filter: alpha(opacity=50);
    }

    .carousel-indicators {
        bottom: -15px;
        left:40%;
        width:80%;
    }
           .response-delete {
width: 30%;

float: right;
padding-left: 8px;
padding-right: 8px;
margin-top: 16px;
margin-bottom: 0px;
}
           .tagdiv {
margin-left: -4px !important;
width: 102% !important;
}
           .questioncontent span{
               line-height:normal !important;
           }
            .questioncontentattach span{
               line-height:normal !important;
           }
.touchpoint-ms span {
font-size: 24px !important;
}
       .touchpoint-container span {

line-height: normal;

}.touchpoint-container .ui-icon-triangle-2-n-s {
font-size: 20px !important;
line-height: normal;
height: auto !important;
}

       .touchpoint-container .ui-icon-triangle-2-n-s:before {
font-size: 20px !important;
position: absolute;
right: 13px;
top: 21px;
}
       .STAFF-box {
margin-bottom: 8px;
}
      
}
/*
    EMPTY STUFF
    EMPTY STUFF
    EMPTY STUFF
    EMPTY STUFF
    EMPTY STUFF
    EMPTY STUFF
    EMPTY STUFF


    */

input[disabled], textarea[disabled],
select[disabled='disabled']{
   -webkit-text-fill-color: #5f5f5f; 
   -webkit-opacity: 1; 
   color: #5f5f5f; 
   border-color: #5f5f5f;
}