﻿@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>CusExperience.com</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=0" />

    <style type="text/css">
        body {
            display: none;
        }
    </style>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Roboto:300|Roboto+Condensed:300' rel='stylesheet' type='text/css' />
    <link href="@Href("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Href("~/Content/pe-icon-7-stroke.css")" rel="stylesheet" />
    <link href="@Href("~/Content/helper.css")" rel="stylesheet" />
    <link href="@Href("~/Content/ios7-style-font-icons.min.css")" rel="stylesheet" />
    <link href="@Href("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Href("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />
    <link href="@Href("~/Content/Style-support.css")" rel="stylesheet" />
    <link href="@Href("~/Content/survey-publish.css")" rel="stylesheet" />
    <link rel="stylesheet" media="screen and (max-width: 557px)" href="@Href("~/Content/survey-publish-mobile.css")" type="text/css" />
    <link rel="stylesheet" media="screen and (max-width: 3024px)" href="@Href("~/Content/survey-publish-desktop.css")" type="text/css" />
    <link href="@Href("~/Content/supportview-ace.css")" rel="stylesheet" />
    <link media="only screen and (max-width: 557px)"
          href="@Href("~/Content/supportview-mobile-ace.css")" type="text/css" rel="stylesheet" />
    <link media="only screen and (max-width: 2024px)"
          href="@Href("~/Content/supportview-desktop-ace.css")" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="@Href("~/Content/pe-icon-7-stroke.css")" />
    <style>
        .modal-header {
            border: 0px;
        }
    </style>

    <script src="@Href("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/respond.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/Scripts/socialmedia.js")"></script>
    <script src="@Href("~/Scripts/modernizr-2.7.3.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>

    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/support.js")"></script>

    <meta property="og:image" content="http://cusexperience.com/Images/CusExperienceBanner.png" />
    <meta property="og:title" content="CusExperience - Your Customer Experience">

</head>
<body>
    <div class="sup-container">
        <div id="body-content" class="container-fluid body-content">
            <div class="header-support">
                <h3 class="modal-title" id="myModalLabel">Facing a <b>Problem</b> and/or have a <b>Solution</b> to suggest for Action Community for Entrepreneurship?</h3>
            </div>
            <form id="support-form">
                <div class="support-tagdiv">
                    <div class="support-area-choices problem-choices" data-bind="selectProblem: {}"><p>Problem</p></div>
                    <div class="support-area-choices solution-choices" data-bind="selectSolution: {}"><p>Solution</p></div>
                </div>
                <div class="support-section">
                    <div class="support-required">*</div>
                    <input id="support" type="text" data-bind="value: $root.Support().Title" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" placeholder="Title of your Problem and/or Solution" required />
                </div>
                <div class="support-section">
                    <div class="support-required-desc">*</div>
                    <div class="desc-commentbox">
                        <textarea id="Description" name="Description" class="form-control commentplaceholder uploader-font textarea-width special-pad" data-bind="autosizeSupport:{}, value: $root.Support().Description" placeholder="Describe your Problem and/or Solution" required></textarea>
                    </div>
                </div>
                <div align="center">
                    <label class="description-text-center">Would you like to attach anything?</label>
                    <label class="description-text-center description-font-text">You can add a photo, video or file. Please make sure it is below 1MB so it loads faster for you. </label>
                    <!-- ko foreach: $root.Support().Attachments -->
                    <span class="pe-7s-close large-font blue-font pull-right" data-bind="click: $parent.Support().removeAttachment"></span>
                    <div style="text-align:center;" class="attachment-images">
                        <!-- ko if: $data.FileType() === "IMAGE" -->
                        <img data-bind="attr: { src: $data.FilePath}" class="attachment-upload-image" />
                        <!-- /ko -->
                        <!-- ko if: $data.FileType() === "VIDEO" -->
                        <video class="attachment-upload-image" controls>
                            <source data-bind="attr: { src: $data.FilePath}">
                            Your browser does not support the video tag.
                        </video>
                        <!-- /ko -->
                        <!-- ko if: $data.FileType() === "UNKNOWN" -->
                        <div class="support-img-div unknown-attachment">
                            <img src="@Href("~/Images/Attachment.png")" /><br />
                            <span data-bind="html: $data.FileName"></span>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="commentbox">
                        <textarea class="form-control commentplaceholder" data-bind="autosizeSupport: {}, value: $data.CommentText" placeholder="Write your comment"></textarea>
                    </div>
                    <!-- /ko -->
                    <div class="support-img-div" data-bind="if: !$root.Support().Attachment()">
                        <img src="@Href("~/Images/Attachment.png")" width="50" />
                        <input name="attachment" class="attachmentinput" type="file" data-bind="uploadSupportAttachment: { property: 'filename'}">
                    </div>
                </div>
                <div class="support-section">
                    <div class="support-required-two">*</div>
                    <label class="description-text-center">Your Given Names <br /> eg. Amber Rose</label>
                    <input id="Given Names" name="Given Names" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" placeholder="Given Names" type="text" data-bind="value: $root.Support().GivenNames" required />
                </div>
                <div class="support-section">
                    <div class="support-required-two">*</div>
                    <label class="description-text-center">Your Surname <br /> eg. Black</label>
                    <input id="Surname" name="Surname" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" placeholder="Surname" type="text" data-bind="value: $root.Support().Surname" required />
                </div>
                <div id="modal-country"></div>
                <div class="support-section">
                    <div class="support-required-one">*</div>
                    <label class="description-text-center">Country</label>
                    <select id="SVCountry" name="SVCountry" data-bind="selectSupport: {}, options: COUNTRIES, value: $root.Support().Country,  multiselectOptions: { header: 'Country', multiple: false, selectedList: 1, classes:'country-mss' }" required></select>
                </div>
                <div class="support-section">
                    <div class="support-required-two">*</div>
                    <label class="description-text-center">
                        Your Mobile number inclusive of Country and Area Codes<br />
                        eg. +65 9876 5432
                    </label>
                    <input id="SupportPhoneNumber" name="SupportPhoneNumber" data-bind="value: $root.Support().Mobile" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" placeholder="Mobile" type="text" required />
                </div>
                <div class="support-section">
                    <div class="support-required-two">*</div>
                    <label class="description-text-center">
                        Your Email address<br />
                        eg. Amber.Black@CusExperience.com
                    </label>
                    <input id="SupportEmail" name="SupportEmail" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Support().EmailAddress" placeholder="Email" type="text" required />
                </div>
                <div class="support-section captchatop">
                    <div class="support-required-captcha">*</div>
                    <div class="captchadiv" id="captchadiv">
                        @{ Html.RenderAction("Index", "Captcha", null); }
                    </div>
                    <label class="error" data-bind="visible: !$root.ServerValidations['Captcha'].valid(), text: $root.ServerValidations['Captcha'].message"></label>
                </div>
                <div>
                    <button class="btn btn-lg btn-default btn-block normal-font login-btn" data-bind="click: $root.requestSupport" id="support-button">Submit</button>
                    <div class="survey-footer">* required</div>
                </div>
            </form>
            <div class="footer">CusSupport is powered by <a href="http://cusexperience.com">Cus<b>Experience</b>.com</a> &copy; 2015 CusXP Pte Ltd. All Rights Reserved.</div>
        </div>
</div>
</body>
</html>