﻿@using Newtonsoft.Json

@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" itemscope itemtype="http://schema.org/Article"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" itemscope itemtype="http://schema.org/Article"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" itemscope itemtype="http://schema.org/Article"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" itemscope itemtype="http://schema.org/Article">
 <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Share Your GExperience of Great Eastern Life Singapore | GExperience - Customer Experience Feedback Survey</title>
    <link rel="stylesheet" href="/gelrs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/gelrs/css/tooltipster.css">
    <link rel="stylesheet" href="/gelrs/css/prettyPhoto.css">
    <link rel="stylesheet" href="/gelrs/css/main.css">
    <script src="/gelrs/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!--[if IE 8]>
     <link rel="stylesheet" href="/gelrs/css/ie8.css">
    <![endif]-->
    <!--[if IE 9]>
     <link rel="stylesheet" href="/gelrs/css/ie9.css">
    <![endif]-->

    <style type="text/css">
        body {
            display: none;
        }
        .leadout {
            display: none;
        }
    </style>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Roboto:300|Roboto+Condensed:300' rel='stylesheet' type='text/css' />
    <link href="@Href("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Href("~/Content/pe-icon-7-stroke.css")" rel="stylesheet" />
    <link href="@Href("~/Content/helper.css")" rel="stylesheet" />
    <link href="@Href("~/Content/ios7-style-font-icons.min.css")" rel="stylesheet" />
    <link href="@Href("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Href("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")" rel="stylesheet" />
    <link href="@Href("~/Content/jquery.multiselect.css")" rel="stylesheet" />
    <link href="@Href("~/Content/Style-GEL.css")" rel="stylesheet" />
    <link href="@Href("~/Content/survey-publish-gel.css")" rel="stylesheet" />
    <link rel="stylesheet" media="screen and (min-width: 320px) and (max-width: 639px)" href="@Href("~/Content/survey-publish-gel-mobile.css")" type="text/css" />
    <link rel="stylesheet" media="screen and (min-width: 640px) and (max-width: 3024px)" href="@Href("~/Content/survey-publish-gel-desktop.css")" type="text/css" />
    <link href="@Href("~/Content/GELbrand-style.css")" rel="stylesheet" />

    <script src="@Href("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script src="@Href("~/Scripts/respond.js")"></script>

    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/Scripts/socialmedia.js")"></script>
    <script src="@Href("~/Scripts/modernizr-2.7.3.js")"></script>


    <!-- jQuery easing plugin -->
    <script src="/gelrs/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="/gelrs/js/jquery.backstretch.min.js" type="text/javascript"></script>
    <script src="/gelrs/js/plugins.js"></script>
    <script src="/gelrs/js/survey_en.js" type="text/javascript"></script>
    <script src="/gelrs/js/validation.js" type="text/javascript"></script>
    <script src="/gelrs/js/form.js" type="text/javascript"></script>
    <script src="/gelrs/js/main.js" type="text/javascript"></script>



    <script type="text/javascript">
        window.fbAsyncInit = function () {
            // here is where fb.init() code was
            FB.init({
                appId      : '1483096311978474', //'605449709545952', //'269132676600135',
                status     : true,
                xfbml      : true
            });
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1483096311978474";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function shareFB()
        {
            FB.ui({
                method: 'feed',
                name: "<%= articleTitle %>",
                link: "<%= urlToContent %>",
                picture: '<%= socialShareImageFB %>',
                caption: 'Great Eastern Live Great',
                description: "<%= metaDescription %>"
            },
            function(response) {
                if (response && response.post_id) {
                    //alert('Post was published.');
                } else {
                    //alert('Post was not published.');
                }
            });

            if(articleId.indexOf("article_") != -1)
            {
                //SiteCat Tracking
                //s_social('facebook:share:lg:<%=articleCategory%>:<%=articleId%>');
                //GA Tracking
                //_gaq.push (['_trackEvent','icon','social','facebook:share:lg:<%=articleCategory%>:<%=articleId%>',,false]);
            }
            else
            {
                //s_social('facebook:sharepage:lg:<%=articleId%>');
                //_gaq.push(['_trackEvent','icon','social','facebook:sharepage:lg:<%=articleId%>',,false]);
            }
        }

        function shareTweet()
        {
            var newwindow = window.open("https://twitter.com/share?url=<%= URLEncoder.encode(urlToContent) %>&text=<%= metaDescriptionTwitter %>",'Tweet','height=300,width=600');
            if (window.focus) { newwindow.focus(); }
            if(articleId.indexOf("article_") != -1)
            {
                //SiteCat Tracking
                //s_social('twitter:share:lg:<%=articleCategory%>:<%=articleId%>');
                //GA Tracking
                //_gaq.push (['_trackEvent','icon','social','twitter:share:lg:<%=articleCategory%>:<%=articleId%>',,false]);
             }
            else
            {
            // s_social('twitter:sharepage:lg:<%=articleId%>');
            //_gaq.push(['_trackEvent','icon','social','twitter:sharepage:lg:<%=articleId%>',,false]);
            }
        return false;
        }

        function shareGoogle()
        {
            var newwindow = window.open('https://plus.google.com/share?url=<%= URLEncoder.encode(urlToContent) %>','GooglePlus','height=300,width=600');
            if (window.focus) { newwindow.focus(); }
            if(articleId.indexOf("article_") != -1)
            {
                //SiteCat Tracking
                //s_social('google+:share:lg:<%=articleCategory%>:<%=articleId%>');
                //GA Tracking
                //_gaq.push (['_trackEvent','icon','social','google+:share:lg:<%=articleCategory%>:<%=articleId%>',,false]);
            }
            else
            {
            //s_social('google+:sharepage:<%=articleId%>');
            //_gaq.push(['_trackEvent','icon','social','google+:sharepage:lg:<%=articleId%>',,false]);
            }
            return false;
        }

        function sharePin()
        {
            var newwindow = window.open("http://www.pinterest.com/pin/create/button/?url=<%= URLEncoder.encode(urlToContent) %>&media=<%= socialShareImageFB %>&description=<%= metaDescription %>",'Pinterest','height=300,width=600');
            if (window.focus) { newwindow.focus(); }
            if(articleId.indexOf("article_") != -1)
            {
                //SiteCat Tracking
                //s_social('pinterest:share:lg:<%=articleCategory%>:<%=articleId%>');
                //GA Tracking
                //_gaq.push (['_trackEvent','icon','social','pinterest:share:lg:<%=articleCategory%>:<%=articleId%>',,false]);
            }
            else
            {
                //s_social('pinterest:sharepage:lg:<%=articleId%>');
                //_gaq.push(['_trackEvent','icon','social','pinterest:sharepage:lg:<%=articleId%>',,false]);
            }
        return false;
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('a[href^="#"]').bind('click.smoothscroll',function (e) {
                e.preventDefault();

                var target = this.hash,
                $target = $(target);

                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top
                }, 900, 'swing', function () {
                    window.location.hash = target;
                });
            });

            $( "header ul.menu" ).click(function() {
                if ($(window).width()<768) {
                    $(this).css('top','-350px');
                }
            });
        });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <script>
        var $buoop = {c:2};
        function $buo_f(){
            var e = document.createElement("script");
            e.src = "//browser-update.org/update.js";
            document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    </script>

    <script type="text/javascript">
        var GUrl = document.URL;
        var currUrl = GUrl.toUpperCase();
        var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
    </script>

    @Scripts.Render("~/bundles/model")

    <script src="@Href("~/JS/common-pp.js")"></script>
    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/survey-publish.js")"></script>

    <meta property="og:image" content="http://cusexperience.com/Images/CusExperienceBanner.png" />
    <meta property="og:title" content="CusExperience - Your Customer Experience">
</head>
<body>
    <header>
        <div class="container">
            <div class="row one">
                <div class="col-sm-7"><div id="logo"><div class="logo-wrapper"><a href=".."><img src="/gelrs/images/logo-great-eastern-life.png" alt="GE Logo"></a></div></div></div>
                <div class="col-sm-5">
                    <div id="social">
                        <div class="social-wrapper">
                            <ul class="list-inline">
                                <li class="fb"><a href="https://www.facebook.com/GreatEasternLifeSG" target="_blank">fb</a></li>
                                <li class="tw"><a href="http://twitter.com/GreatEasternSG" target="_blank">twitter</a></li>
                                <li class="yt"><a href="http://www.youtube.com/greateasternsg" target="_blank">youtube</a></li>
                                <li class="pin"><a href="http://www.pinterest.com/greateasternpin" target="_blank">pinterest</a></li>
                                <li class="lin"><a href="http://www.linkedin.com/company/great-eastern-life" target="_blank">linkedin</a></li>
                                <li class="ins"><a href="http://instagram.com/greateasternlife" target="_blank">instagram</a></li>
                                <li class="gplus"><a href="https://plus.google.com/104307105512567237356/posts" target="_blank">google-plus</a></li>
                            </ul>
                            <div class="button-live"><a href="https://livegreat.greateasternlife.com/sg/welcome.htm" target="_blank">live great programme</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row two">
                <div class="col-sm-12">
                    <div class="mobile-nav"><span>icon</span></div>
                    <ul class="list-inline menu">
                        <li><a href="#About">About</a></li>
                        <li><a href="#Survey">Start Survey</a></li>
                        <li><a href="#Contact">Contact</a></li>
                        <li class="social clearfix">
                            <span class="fb"><a href="https://www.facebook.com/GreatEasternLifeSG" target="_blank">facebook</a></span>
                            <span class="tw"><a href="http://twitter.com/GreatEasternSG" target="_blank">twitter</a></span>
                            <span class="yt"><a href="http://www.youtube.com/greateasternsg" target="_blank">youtube</a></span>
                            <span class="pin"><a href="http://www.pinterest.com/greateasternpin" target="_blank">pinterest</a></span>
                            <span class="link"><a href="http://www.linkedin.com/company/great-eastern-life" target="_blank">linkedin</a></span>
                            <span class="insta"><a href="http://instagram.com/greateasternlife" target="_blank">instagram</a></span>
                            <span class="gplus"><a href="https://plus.google.com/104307105512567237356/posts" target="_blank">google-plus</a></span>
                            <span class="button-live"><a href="https://livegreat.greateasternlife.com/sg/welcome.htm" target="_blank">live great programme</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div id="About" class="container">
        <div class="row bannerWrapper">
            <div class="col-sm-6">
                <div class="kmaTitle"><img src="/gelrs/images/YourExperienceMatterstoUs.png"></div>
                <div class="kmaContent">
                    At Great Eastern Life, the customer is at the centre
                    of what we do. That is why knowing how you rate your experience with us really matters.
                </div>
                <a href="#Survey" class="btn btn-danger surveyBtn">START SURVEY</a>
            </div>
            <div class="col-sm-6">
                <div class="kmabanner">
                    <img src="/gelrs/images/kma.jpg">
                </div>

            </div>
        </div>
    </div>

    <div id="Survey" class="mainWrapper">
        <div class="container">
            <div class="row">
                <div id="body-content" class="container-fluid body-content">
                    @{ Html.RenderPartial("_SurveyPanel"); }
                </div>
            </div>
            <div class="contact-container">
                <div id="Contact" class="row">
                    <div class="contactTitle"><img src="/gelrs/images/ContactUs.png"></div>
                </div>
                <div class="row contactContentWrapper">
                    <div class="col-sm-6">
                        <div class="contactContent">If you prefer to speak to a customer service officer regarding a specific issue, please feel free to get in touch with us directly through the following means. </div>
                        <div class="contactNos">
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    <span class="contactInfo">+65 6248 2211 (Product Enquiry)</span>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-earphone"></span>
                                    <span class="contactInfo">+65 6248 2888 (Customer Service)</span>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="contactInfo"><a href="mailto:wecare-sg@greateasternlife.com">wecare-sg@greateasternlife.com</a></span>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="contactAddr">
                            We are located at :<br>
                            1 Pickering Street #01-01<br>
                            Great Eastern Centre,Singapore 048659<br><br>
                            Operating Hours (Mondays to Fridays)<br>
                            Cashier: 9.00am to 4.30pm<br>
                            Customer Service: 9.00am to 5.30pm<br>
                            Closed on Saturdays, Sundays & Public Holidays
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="footer-nav list-inline">
                        <li><a href="http://www.greateasternlife.com/sg/en/index.jsp" target="_blank">Great Eastern Life Assurance</a></li>
                        <li><a href="http://www.greateasternlife.com/sg/en/corporate/oac.jsp" target="_blank">Overseas Assurance</a></li>
                        <li><a href="http://ocbc.com/group/Group-Home.html" target="_blank">OCBC</a></li>
                        <li><a href="http://www.greateasternlife.com/sg/en/career.jsp" target="_blank">Careers</a></li>
                        <li><a href="http://www.greateasternlife.com/sg/en/termsnconditions.htm" target="_blank">Terms & Conditions</a></li>
                        <li><a href="http://www.greateasternlife.com/sg/en/pncpolicies.htm" target="_blank">Privacy Policy</a></li>
                        <li><a href="http://www.greateasternlife.com/apps/en/feedback/writeus.jsp" target="_blank">Feedback</a></li>
                        <li class="last"><a href="http://www.greateasternlife.com/sg/en/cs/contact.jsp" target="_blank">Customer Care</a></li>
                    </ul>
                    <p>Copyright&copy;2015 Great Eastern Holdings Limited (Reg No 1999 03008M)</p>
                    <ul class="list-inline nav-bottom">
                        <li>Great Eastern Holdings Ltd</li>
                        <li>Great Eastern Life Assurance Co Ltd</li>
                        <li>Overseas Assurance Corp Ltd</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>