﻿@{
    ViewBag.Title = "Survey";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>CusExperience - Your Customer Experience</title>
    <link href="@Href("~/Content/Style.css")" rel="stylesheet" />
    <link href="@Href("~/Content/pe-icon-7-stroke.css")" rel="stylesheet" />
    <link href="@Href("~/Content/helper.css")" rel="stylesheet" />
    <link href="@Href("~/Content/ios7-style-font-icons.min.css")" rel="stylesheet" />
    <link href="@Href("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Href("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")" rel="stylesheet">
    <link href="@Href("~/Content/survey-publish.css")" rel="stylesheet" />
    <link media="only screen and (max-width: 639px)"
          href="@Href("~/Content/survey-publish-mobile.css")" type="text/css" rel="stylesheet" />
    <link media="only screen and (max-width: 2024px)"
          href="@Href("~/Content/survey-publish-desktop.css")" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />

    <script src="@Href("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.filter.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
    <script src="@Href("~/Scripts/socialmedia.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/Model/questionmodel.js")"></script>
    <script src="@Href("~/JS/Model/answermodel.js")"></script>
    <script src="@Href("~/JS/Model/analyticsmodel.js")"></script>
    <script src="@Href("~/JS/Model/searchmodel.js")"></script>
    <script src="@Href("~/JS/Model/surveymodel.js")"></script>
    <script src="@Href("~/JS/Model/searchmodel.js")"></script>
    <script src="@Href("~/JS/common-pp.js")"></script>
    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/JS/SKM_K@W_Publish.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var surveyResponse = new AppViewModel();
            surveyResponse.loadSurvey();
            ko.applyBindings(surveyResponse);
            $('.whiteoverlay').width($(document).width());
            $('.whiteoverlay').height($(document).height());
            var offsetTop = ($(window).height() - ($(window).outerHeight()) / 2 - ($('.loading-spinner').outerHeight()) / 2);
            $('.loading-spinner').css('padding-top', offsetTop + "px");
        });
    </script>

    <meta property="og:image" content="http://cusexperience.com/SurveyImages/d8fcef7f-9227-4b4f-a307-c02227150d8c_k@w.png" />
    <meta property="og:title" content="CusExperience - Your Customer Experience" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, , user-scalable=0" >
</head>
<body>
    <div class="whiteoverlay">
        <div class="loading-spinner">
            <center>
                <img src="@Href("~/Images/loading.gif")" width="60" height="60" /><br />
                <span>Loading Survey</span>
            </center>
        </div>
    </div>
    <div >
        <div class="container-fluid">
            @{ Html.RenderPartial("_SurveyPanel"); }
        </div>
        <footer class="footerZIndex">
            <hr />
            <p style="font-family: 'MyriadPro-Light'; color: #4c4c4c;">&copy; 2014 <a href="http://cusexperience.com">Cus<b>Experience</b>.com</a> All Rights Reserved.</p>
        </footer>
    </div>
    <div id="fb-root"></div>
</body>
</html>

