﻿@using Newtonsoft.Json

<link href="@Href("~/Content/simplePagination.css")" rel="stylesheet" />

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>
<script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
<script src="@Href("~/JS/Model/listmodel.js")"></script>
<script src="@Href("~/JS/survey-index.js")"></script>
<div class="container">
    <div>
        <p align="center" class="title-font">Manage</p>
    </div>
    <div class="heading-section">
        <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
    </div>
    <div class="list-section">
        <div class="search-survey clearfix alignright">
            <input type="text" data-bind="value: Surveys.SearchText,enterKey: Surveys.search, valueUpdate: 'input'" id="search-input" class="search-bar" placeholder="Search" />
            <button data-bind="click: Surveys.search" id="search-survey-button" class="clearfix" style="display:none">Search</button>
        </div>
    </div>
    
    <div class="template-survey" data-bind="foreach: Surveys.Items">
        <!-- ko if:$data.IsTemplate -->
        <div class="list-section">
            <a class=" survey-font blue-font list-anchor" data-bind="displayText: $data.SurveyTitle,attr: {href: $root.editSurvey($data) }">
            </a>
        </div>
        <!-- /ko -->
    </div>
    <div class="list-section" data-bind="click: function() { window.open($root.createSurvey(),'_self') }">
        <a class="survey-font blue-font" data-bind="attr: {href: $root.createSurvey()}">Create from Scratch</a>
    </div>
    <div class="survey" data-bind="foreach: {data: Surveys.CurrentItems, afterAdd: $root.afterAdd }">
        <div class="list-div">
            <!-- ko if:!$data.IsTemplate -->
            <div class="list-section">
                <a class=" survey-font blue-font list-anchor" data-bind="displayText: $data.SurveyTitle,attr: {href: $root.editSurvey($data) }">
                </a>
                <div class="editing-tools">
                    <!--<span class="icon-remove sidemenu-font close-icon right-hyperlink" data-bind="deleteSurvey : {}" title="Delete Survey"></span>
                        <span class="dupe-span right-hyperlink" data-bind="duplicateSurvey : {}"><img style="fill:#009bdf; height:32px; width:32px;" class="duplicate-icon" src="@Href("~/Images/Browsers.png")" /></span>-->
                    <span class="icon-remove sidemenu-font close-icon right-hyperlink" data-bind="deleteSurvey : {}" title="Delete Survey"></span>
                    <span class="dupe-span duplicate-hyperlink" data-bind="duplicateSurvey : {}">Duplicate</span>
                </div>
                <div class="create-modify-date">
                    <table>
                        <tr>
                            <td>
                                <p class="inline-paragraph small-font">Created:</p>
                            </td>
                            <td>
                                <pre class="sindex-pre small-font" data-bind="text: $data.StringCreatedDate"></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="inline-paragraph small-font">Edited: </p>
                            </td>
                            <td>
                                <pre class="sindex-pre small-font" data-bind="text: $data.StringLastUpdatedDate"></pre>
                            </td>
                        </tr>
                        <!-- ko if: $data.Status == "PUBLISHED" -->
                        <tr>
                            <td> <p class="inline-paragraph small-font">Status:&nbsp;&nbsp;&nbsp;</p></td>
                            <td>
                                <pre class="sindex-pre small-font" data-bind="text: $data.StringPublishedDate"></pre><span class="sindex-pre small-font pub-list">&nbsp;Published</span>

                            </td>
                        </tr>
                        <tr>
                            <td><p class="inline-paragraph small-font">URL:</p></td>
                            <td><a class="small-font" data-bind="attr : { href: $root.FullPublishedURL($data) } , text: $root.FullPublishedURL($data)"></a></td>
                        </tr>
                        <!-- /ko -->
                        <!-- ko if: $data.Status == "UNPUBLISHED" || $data.Status == null -->
                        <tr>
                            <td>
                                <p class="inline-paragraph small-font">Status:</p>
                            </td>
                            <td>
                                <pre class="sindex-pre small-font" data-bind="text: $data.StringPublishedDate"></pre><span class="sindex-pre small-font unpub-list">&nbsp;Unpublished</span>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </table>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!--
    <div data-bind="if: $root.Surveys.ItemsCount() > 0" >
        <div data-bind="pagination:{}" id="paginationHolder"></div>
    </div>
    -->
</div>