﻿@using Newtonsoft.Json

<link rel="stylesheet" href="@Href("~/Content/survey-publish.css")">

<link rel="stylesheet" media="screen and (max-width: 639px)" href="@Href("~/Content/survey-publish-mobile.css")" type="text/css" />
<link rel="stylesheet" media="screen and (max-width: 3024px)" href="@Href("~/Content/survey-publish-desktop.css")" type="text/css" />

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>

<script src="@Href("~/JS/Model/constant.js")"></script>
<script src="@Href("~/JS/Model/questionmodel.js")"></script>
<script src="@Href("~/JS/Model/answermodel.js")"></script>
<script src="@Href("~/JS/Model/analyticsmodel.js")"></script>
<script src="@Href("~/JS/Model/searchmodel.js")"></script>
<script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
<script src="@Href("~/JS/Model/surveymodel.js")"></script>
<script src="@Href("~/JS/Model/searchmodel.js")"></script>
<script src="@Href("~/JS/common-pp.js")"></script>
<script src="@Href("~/JS/survey-preview.js")"></script>
<script src="@Href("~/JS/Model/searchmodel.js")"></script>
<script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>

<div class="container-fluid" style="padding-top:38px !important;">
    @{ Html.RenderPartial("_SurveyPanel"); }
</div>