﻿@using Newtonsoft.Json
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>@ViewBag.Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=no" />

    <style type="text/css">
        body {
            display: none;
        }
    </style>
    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51962624-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Roboto:300|Roboto+Condensed:300' rel='stylesheet' type='text/css' />
    <link href="@Href("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Href("~/Content/pe-icon-7-stroke.css")" rel="stylesheet" />
    <link href="@Href("~/Content/helper.css")" rel="stylesheet" />
    <link href="@Href("~/Content/ios7-style-font-icons.min.css")" rel="stylesheet" />
    <link href="@Href("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Href("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />
    <link href="@Href("~/Content/Style.css")" rel="stylesheet" />
    <link href="@Href("~/Content/survey-publish.css")" rel="stylesheet" />
    <link rel="stylesheet" media="screen and (max-width: 639px)" href="@Href("~/Content/survey-publish-mobile.css")" type="text/css" />
    <link rel="stylesheet" media="screen and (max-width: 3024px)" href="@Href("~/Content/survey-publish-desktop.css")" type="text/css" />

    <script type="text/javascript">
        var GUrl = document.URL;
        var currUrl = GUrl.toUpperCase();
        var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model));
    </script>

    <script src="@Href("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/modernizr-2.7.3.js")"></script>
    <script src="@Href("~/Scripts/respond.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.preload.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/Scripts/socialmedia.js")"></script>
    <script src="@Href("~/Scripts/iframeResizer.contentWindow.min.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/JS/common-pp.js")"></script>
    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/survey-publish.js")"></script>
    <script src="@Href("~/JS/support_view.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    @Scripts.Render("~/bundles/model")
    <meta property="og:image" content="http://cusexperience.com/Images/CusExperienceBanner.png" />
    <meta property="og:title" content="CusExperience - Your Customer Experience" />

</head>
<body>
    <div>
        <div id="body-content" class="container-fluid body-content">
            <div id="progressbar"></div>

            @{ Html.RenderPartial("_SurveyPanel"); }
        </div>
        <footer class="footerZIndex clearfix">
            <hr />
            <div class="cr-footer">
                <div class="pull-left fifty">
                    <div id="google_translate_element"></div>


                    <p style=" color: #4c4c4c;">&copy; 2015 <a href="http://cusexperience.com">Cus<b>Experience</b>.com</a> CusXP Pte Ltd. All Rights Reserved. @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Public")</p>
                </div>
                <div class="pull-right fifty alignright">
                    <p style="text-align:right;">Best viewed on the latest browsers.</p>
                </div>

            </div>
        </footer>
        <div class="issue-footer">
            <a onclick="showSupportView()">
                <img src="@Href("~/Images/Support.png")" />

            </a>
        </div>
    </div>
    <div id="supportDiv">
        @{ Html.RenderPartial("_SupportViewPublish"); }
    </div>
    <div id="fb-root">
    </div>
</body>
</html>
