﻿<script>
    function AppViewModel() {
        var self = this;
    }

    $(document).ready(function () {
        var indexViewModel = new AppViewModel();
        ko.applyBindings(indexViewModel, document.getElementById('body-content'));
        $('body').show();
    });
   
    ko.bindingHandlers.sendAlert = {
        init: function (element, valueAccessor) {

        },
        update: function (element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
           
            $(element).click(function () {
                console.log("console");
                $.ajax({
                    type: "POST",
                    url: '/api/AddNewEmailAlert',
                    contentType: 'application/json',
                    dataType: 'json'
                }).success(function (data) {

                }).fail(function (data) {

                });
            });
        }
    }

</script>
<div>
    <button data-bind="sendAlert: {} "> Start Scheduler </button>
</div>