﻿<div class="heading-section">
    <p align="center" class="title-font">Contact</p>
   
</div>
<div id="updatepanel clearfix">
    <form id="orgsub-form">
        <div class="form-group relativepos">
            <label class="description-text-center">Your Given Names</label>
            <label class="description-text-center">eg. Steven Paul</label>
            <div class="required-header">*</div>
            <input id="Email" name="GivenNames" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().GivenNames" placeholder="Given Names" type="text" required />
        </div>
        <div class="form-group relativepos">
            <label class="description-text-center">Your Surname</label>
            <label class="description-text-center">eg. Jobs</label>
            <div class="required-header">*</div>
            <input id="Surname" name="Surname" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Surname" placeholder="Surname" type="text" required />
        </div>
        <div class="form-group relativepos">
            <label class="description-text-center">Your Organisation</label>
            <label class="description-text-center">eg. Apple Inc.</label>
            <div class="required-header">*</div>
            <input id="Organisation" name="Organisation" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Organisation" placeholder="Organisation" type="text" required />
        </div>
        <div class="form-group relativepos">
            <label class="description-text-center">Country</label>
            <div class="required-header">*</div>
            <select id="CFCountry" name="CFCountry" data-bind="select: {}, value: $root.Contact().Country, options: COUNTRIES , multiselectOptions: { header: 'Country', multiple: false, selectedList: 1}" required></select>
        </div>
        <div class="form-group relativepos">
            <label class="description-text-center">Your Mobile number inclusive of Country and Area Codes</label>
            <label class="description-text-center">eg. +1 408 996 1010</label>
            <div class="required-header">*</div>
            <input id="Mobile" name="Mobile" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Mobile" placeholder="Mobile" type="text" required />
        </div>
        <div class="form-group relativepos">
            <label class="description-text-center">Your Email</label>
            <label class="description-text-center">eg. Steve.Jobs@Apple.com</label>
            <div class="required-header">*</div>
            <input id="Email" name="Email" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().EmailAddress" placeholder="Email Address" type="email" required />
        </div>
        <div class="form-group relativepos">
            <label class="description-text-center">How can we assist?</label>
            <div class="required-header-assist">*</div>
            <textarea class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font assistbox" data-bind="autosize:{} ,value: $root.Contact().Comment" placeholder=""></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click: $root.postContactForm" id="savebutton">Submit</button>
        </div>
    </form>
    <p align="center" class="survey-font">Or contact us at <a href="mailto:hi@cusjo.com">hi[at]cusjo.com</a>. </p>
    
</div>
