﻿<div class="survey-div" data-bind="with: $data.ModuleData()">
    <div class="questioncontentattach center-question ">
        <p contenteditable="true" class="question-font editor-text" id="hoverText" data-bind="editableText: $data.QuestionData().QuestionText" placeholder="Enter Statement"></p>
        <p contenteditable="true" class="description-text editor-text" id="hoverText" data-bind="editableText: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
    </div>

    <div class="demographics-container">
        <div class="demo" data-bind="foreach: $data.QuestionData().DGQuestionFields">
            <span class="icon-plus demo-plus-font blue-link" data-bind="DGFieldAddBetween: {}"></span>
            <span class="pe-7s-close large-font blue-font pull-right democross" data-bind="DGFieldRemoveClick:{}"></span>

            <!-- ko if: $data.FieldType() == UNSET -->
            <div class="demotagdiv">
                <br />
                <p class="description-text">Personal</p>

                <!-- ko foreach: PERSONALDGFIELDKEYS -->
                <div class="demo-area-choices demo-section clearfix">
                    <p class="medium-font" data-bind="DGFieldChangeFieldType: {} , text: $data"></p>
                </div>
                <!-- /ko -->
                <br />

                <br />
                <p class="description-text">Organisational</p>
                <!-- ko foreach: ORGANISATIONALDGFIELDKEYS -->
                <div class="demo-area-choices demo-section clearfix">
                    <p class="medium-font" data-bind="DGFieldChangeFieldType: {} , text: $data"></p>
                </div>
                <!-- /ko -->
                <br />

                <br />
                <p class="description-text">Customised</p>
                <!-- ko foreach: DEMOGRAPHICFIELDVALUES -->
                <div class="demo-area-choices demo-section clearfix">
                    <p class="medium-font" data-bind="DGFieldChangeFieldType: {} , text: $data"></p>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTSINGLELINE -->
            <div class="demotagdiv">
                <p contenteditable="true" class="description-text editor-text" data-bind="editableText: $data.DescriptionText" placeholder="Enter Demographics Description"></p>
                <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder demo-textarea blue-font" type="text" data-bind="value: $data.FieldName" placeholder="Enter Label" />
                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                    <textarea class="form-control commentplaceholder" readonly placeholder="Write your comment"></textarea>
                </div>
                <div class="options-helper">
                    
                    <table class="options-settings">
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Required</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsRequired" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Comment</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsCommentable" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Anonymize</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsAnonymized" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Default</span></td>
                            <td class="options-selection"><input data-bind="value : $data.DefaultValue" type="text" class="default-textbox" placeholder="Enter default text" /></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Validation</span></td>
                            <td class="options-selection"><select class="form-control form-control-sp" data-bind="options: VALIDATIONTYPES, value: $data.Validation, selectSingle: true"></select></td>
                        </tr>
                    </table>
                    <!--
                    <table class="options-table helperRow">
                        <tr>
                            <td>
                                <span class="helper-font options-font">Required </span>
                            </td>
                            <td class="table-checkbox td-padright">
                                <span data-bind="checkBox : $data.IsRequired" class="icon-check-empty blue-font question-checkbox"></span>
                            </td>
                            <td class="td-padleft">
                                <span class="helper-font options-font">Default </span>
                            </td>
                            <td class="table-checkbox">
                                <input data-bind="value : $data.DefaultValue" type="text" class="default-textbox" placeholder="Enter default text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="helper-font options-font">Commentable </span>
                            </td>
                            <td class="table-checkbox td-padright">
                                <span data-bind="checkBox : $data.IsCommentable" class="icon-check-empty blue-font question-checkbox"></span>
                            </td>
                            <td class="td-padleft">
                                <span class="helper-font options-font">Validation </span>
                            </td>
                            <td class="table-checkbox">
                                <select class="form-control form-control-sp" data-bind="options: VALIDATIONTYPES, value: $data.Validation, selectSingle: true"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="helper-font options-font">Anonymize </span>
                            </td>
                            <td class="table-checkbox td-padright">
                                <span data-bind="checkBox : $data.IsAnonymized" class="icon-check-empty blue-font question-checkbox"></span>
                            </td>
                            <td class="td-padleft">
                                <span class="helper-font options-font"> </span>
                            </td>
                            <td class="table-checkbox"></td>
                        </tr>
                    </table>-->
                    <!--
        <div class="helperFloaterLeft helper50">
            <div class="helperFloaterLeft helper40">
                <div class="helperRow ">
                    <span class="helper-font options-font lh-adjustments demo-req">Required</span>
                </div>
            </div>
            <div class="helperFloaterLeft helper60" style="text-align:right;">
                <div class="helperRow padright-att">
                    <span data-bind="checkBox : $data.IsRequired" class="icon-check-empty blue-font question-checkbox"></span>
                </div>
            </div>
        </div>
        <div class="helperFloaterLeft helper502 ">
            <div class="helperFloaterLeft helper40 helperRow-demo2-abs">
                <div class="helperRow padright-default mobile-lh">
                    <span class="helper-font options-font mobile-lh demo2-padleft">Default</span>
                </div>
            </div>
            <div class="helperFloaterLeft helper60 helperRow-demo2-abs" style="text-align:right;">
                <div class="helperRow helperFloaterRight">
                    <input data-bind="value : $data.DefaultValue" type="text" class="default-textbox" placeholder="Enter default text" />
                </div>
            </div>
        </div>
        <div class="helperFloaterLeft helper50">
            <div class="helperFloaterLeft helper40">
                <div class="helperRow ">
                    <span class="helper-font options-font demo-req lh-adjustments">Commentable</span>
                </div>
            </div>
            <div class="helperFloaterLeft helper60" style="text-align:right;">
                <div class="helperRow padright-att">
                    <span data-bind="checkBox : $data.IsCommentable" class="icon-check-empty blue-font question-checkbox"></span>
                </div>
            </div>
        </div>
        <div class="helperFloaterLeft helper502 padding502top validation-pad">
            <div class="helperFloaterLeft helper40 helperRow-demo2-abs">
                <div class="helperRow mobile-lh">
                    <span class="helper-font options-font  demo2-padleft">Validation</span>
                </div>
            </div>
            <div class="helperFloaterLeft helper60 helperRow-demo2-abs mobile-lh" style="text-align:right;">
                <div class="helperRow helperFloaterRight">
                    <select class="form-control form-control-sp" data-bind="options: VALIDATIONTYPES, value: $data.Validation, selectSingle: true"></select>
                </div>
            </div>
        </div>
        <div class="helperFloaterLeft helper50">
            <div class="helperFloaterLeft helper40">
                <div class="helperRow ">
                    <span class="helper-font options-font demo-req lh-adjustments">Anonymize</span>
                </div>
            </div>
            <div class="helperFloaterLeft helper60" style="text-align:right;">
                <div class="helperRow padright-att">
                    <span data-bind="checkBox : $data.IsAnonymized" class="icon-check-empty blue-font question-checkbox"></span>
                </div>
            </div>
        </div>-->
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTMULTILINE -->
            <div class="demotagdiv demotagmultiline">
                <p contenteditable="true" class="description-text editor-text" data-bind="editableText: $data.DescriptionText" placeholder="Enter Demographics Description"></p>
                <textarea class="form-control helperFloaterLeft twofourpxheight commentplaceholder demo-textarea blue-font" data-bind="value: $data.FieldName" placeholder="Enter Label"></textarea>
                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                    <textarea class="form-control commentplaceholder" readonly placeholder="Write your comment"></textarea>
                </div>
                <div class="options-helper">

                    <table class="options-settings">
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Required</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsRequired" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Comment</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsCommentable" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Anonymize</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsAnonymized" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Default</span></td>
                            <td class="options-selection"><textarea data-bind="value : $data.DefaultValue" placeholder="Enter default text"></textarea></td>
                        </tr>
                       
                    </table>
                    <!--
                    <div class="helperFloaterLeft helper50">
                        <div class="helperFloaterLeft helper40">
                            <div class="helperRow">
                                <span class="helper-font options-font  demo-req">Required</span>
                            </div>
                            <div class="helperRow">
                                <span class="helper-font options-font  demo-req">Default</span>
                            </div>
                        </div>
                        <div class="helperFloaterLeft helper60 mtl-width" style="text-align:right;">
                            <div class="helperRow padright-mtl">
                                <span data-bind="checkBox : $data.IsRequired" class="icon-check-empty blue-font question-checkbox"></span>
                            </div>
                            <div class="helperRow padright-mtl2">
                                <textarea data-bind="value : $data.DefaultValue" placeholder="Enter default text"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="helperFloaterLeft helper50">
                        <div class="helperFloaterLeft helper40">
                            <div class="helperRow ">
                                <span class="helper-font options-font  demo-req">Commentable</span>
                            </div>
                        </div>
                        <div class="helperFloaterLeft helper60" style="text-align:right;">
                            <div class="helperRow padright-att">
                                <span data-bind="checkBox : $data.IsCommentable" class="icon-check-empty blue-font question-checkbox"></span>
                            </div>
                        </div>
                    </div>
                    <div class="helperFloaterLeft helper50">
                        <div class="helperFloaterLeft helper40">
                            <div class="helperRow ">
                                <span class="helper-font options-font demo-req lh-adjustments">Anonymize</span>
                            </div>
                        </div>
                        <div class="helperFloaterLeft helper60" style="text-align:right;">
                            <div class="helperRow padright-att">
                                <span data-bind="checkBox : $data.IsAnonymized" class="icon-check-empty blue-font question-checkbox"></span>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div> 
            <!-- /ko -->
            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.SELECTONE || $data.FieldType() == DEMOGRAPHICFIELDTYPES.SELECTMULTIPLE -->
            <div class="demotagdiv">
                <p contenteditable="true" class="description-text editor-text" data-bind="editableText: $data.DescriptionText" placeholder="Enter Demographics Description"></p>
                <div class="relativepos clearfix">
                    <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder demo-textarea blue-font" type="text" data-bind="value: $data.FieldName" placeholder="Enter Label">
                    <span data-bind="toggleDemographicsDropdown:{}" class="icon-angle-up dummy-arrow grey-text blue-font isclickable"></span>
                </div>
                <div class="options-panel clearfix">
                    <div data-bind="foreach: $data.SelectValues" class="demo-body">
                        <div class="demo-item">
                            <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder blue-font demo-textarea" type="text" data-bind="value: $parent.SelectValues()[$index()]" placeholder="Enter option">
                            <span class="icon-remove demo-icon-remove blue-font isclickable" data-bind="click: $parent.SelectValueRemoveClick"></span>
                        </div>

                    </div>
                    <span class="icon-plus plus-font blue-link pull-left" data-bind="click: $data.SelectValueAddClick">
                    </span>
                </div>
                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                    <textarea class="form-control commentplaceholder" readonly placeholder="Write your comment"></textarea>
                </div>
                <div class="options-helper">
                    
                    <table class="options-settings">
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Required</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsRequired" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Comment</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsCommentable" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Anonymize</span></td>
                            <td class="options-selection"><span data-bind="checkBox : $data.IsAnonymized" class="icon-check-empty blue-font question-checkbox"></span></td>
                        </tr>
                        <tr>
                            <td class="options-name"><span class="helper-font options-font">Default</span></td>
                            <td class="options-selection"><select class="form-control form-control-sp" data-bind=" options: $data.SelectValues, selectedOptions: $data.DefaultValues, optionsCaption: $data.FieldName, selectSingle: true, multiselectOptions: {classes: 'demographics-multiselect'}"></select></td>
                        </tr>
                    </table>
                    <!--
                    <table class="options-table helperRow">
                        <tr>
                            <td>
                                <span class="helper-font options-font">Required </span>
                            </td>
                            <td class="table-checkbox td-padright">
                                <span data-bind="checkBox : $data.IsRequired" class="icon-check-empty blue-font question-checkbox"></span>
                            </td>
                            <td class="td-padleft">
                                <span class="helper-font options-font">Default </span>
                            </td>
                            <td class="table-checkbox">
                                <select class="form-control form-control-sp" data-bind=" options: $data.SelectValues, selectedOptions: $data.DefaultValues, optionsCaption: $data.FieldName, selectSingle: true, multiselectOptions: {classes: 'demographics-multiselect'}"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="helper-font options-font">Commentable </span>
                            </td>
                            <td class="table-checkbox td-padright">
                                <span data-bind="checkBox : $data.IsCommentable" class="icon-check-empty blue-font question-checkbox"></span>
                            </td>
                            <td class="td-padleft">
                                <span class="helper-font options-font">Anonymize</span>
                            </td>
                            <td class="table-checkbox">
                                <span data-bind="checkBox : $data.IsAnonymized" class="icon-check-empty blue-font question-checkbox"></span>
                            </td>
                        </tr>
                    </table>-->
                    <!--
        <div class="helperFloaterLeft helper50">
            <div class="helperFloaterLeft helper40">
                <div class="helperRow ">
                    <span class="helper-font options-font lh-adjustments mobile-lh demo-req">Required</span>
                </div>

            </div>
            <div class="helperFloaterLeft helper60" style="text-align:right;">
                <div class="helperRow padright-att">
                    <span data-bind="checkBox : $data.IsRequired" class="icon-check-empty blue-font question-checkbox"></span>
                </div>
            </div>
        </div>
        <div class="helperFloaterLeft helper502">
            <div class="helperFloaterLeft helper40 helperRow-demo2-abs">
                <div class="helperRow">
                    <span class="helper-font options-font demo2-padleft lh-adjustments">Default</span>
                </div>
            </div>
            <div class="helperFloaterLeft helper60 helperRow-demo2-abs" style="text-align:right;">
                <div class="helperRow helperFloaterRight">
                    <select class="form-control form-control-sp" data-bind=" options: $data.SelectValues, selectedOptions: $data.DefaultValues, optionsCaption: $data.FieldName, selectSingle: true, multiselectOptions: {classes: 'demographics-multiselect'}"></select>
                </div>
            </div>
        </div>
        <div class="helperFloaterLeft helper50">
            <div class="helperFloaterLeft helper40">
                <div class="helperRow ">
                    <span class="helper-font options-font lh-adjustments demo-req">Commentable</span>
                </div>

            </div>
            <div class="helperFloaterLeft helper60" style="text-align:right;">
                <div class="helperRow padright-att">
                    <span data-bind="checkBox : $data.IsCommentable" class="icon-check-empty blue-font question-checkbox"></span>
                </div>
            </div>
        </div>
        <div class="helperFloaterLeft helper50">
            <div class="helperFloaterLeft helper40">
                <div class="helperRow ">
                    <span class="helper-font options-font demo-req lh-adjustments">Anonymize</span>
                </div>
            </div>
            <div class="helperFloaterLeft helper60" style="text-align:right;">
                <div class="helperRow padright-att">
                    <span data-bind="checkBox : $data.IsAnonymized" class="icon-check-empty blue-font question-checkbox"></span>
                </div>
            </div>
        </div>-->
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <span class="icon-plus demo-plus-font blue-link" data-bind="DGFieldAdd: {}"> </span>
    <div class="lowerdemoplus"></div>
</div>
