﻿@{
    ViewBag.Title = "Survey";
}

<div id="index-view-section">
    <div data-bind="with: $root.Survey()">
        <div data-bind="if: $data.OrgSubAnalyticsData().Statistics().length > 0">
            <div class="row survey-sections">
                <div class="questioncontent center-question questionText">
                    <p class="question-font">Organisation / Subsidiaries </p>
                    <p class="experience-font"><a title="Average Experience of each Organisation." class="org-hy-view view-selected" data-bind="toggleOSView : 'hy'">Hierarchy View</a>&nbsp;|&nbsp;<a title="Average Experience of each Organisation." class="org-exp-view view-selected" data-bind="toggleOSView : 'exp'">Experience View</a>&nbsp;|&nbsp;<a class="org-fq-view" title="Average Frequency of each Organisation." data-bind="toggleOSView : 'fq'">Frequency View</a>&nbsp;|&nbsp;<a class="org-all-view" title="Toggle both views." data-bind="toggleOSView : 'all'">All</a></p>
                    <div class="org-hierarchy-view">
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectHV: $data.OrgSubAnalyticsData(),options: $root.OrderByOptions, value: $data.OrgSubAnalyticsData().OrderByValueHV, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1, classes: 'EV-multiselect'}"></select>
                        <div class="barchart" data-bind="showHVBarChart: $data.OrgSubAnalyticsData()"></div>
                        <div class="lr-padding analytics-search clearfix" data-bind="if: $data.OrgSubAnalyticsData().HStatistics && $data.OrgSubAnalyticsData().HStatistics().length > $data.OrgSubAnalyticsData().NoofVisibleHV()">
                            <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="IncreaseHeightHV: $data.OrgSubAnalyticsData()">Load More</button>
                            <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="FullHeightHV: $data.OrgSubAnalyticsData()">Load All</button>
                        </div>
                    </div>
                    <div class="org-experience-view">
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectEV: $data.OrgSubAnalyticsData(),options: $root.OrderByOptions, value: $data.OrgSubAnalyticsData().OrderByValueEV, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1, classes: 'EV-multiselect'}"></select>
                        <div class="barchart" data-bind="showEVBarChart: $data.OrgSubAnalyticsData()"></div>
                        <div class="lr-padding analytics-search clearfix" data-bind="if: $data.OrgSubAnalyticsData().Statistics && $data.OrgSubAnalyticsData().Statistics().length > $data.OrgSubAnalyticsData().NoofVisibleEV()">
                            <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="IncreaseHeightEV: $data.OrgSubAnalyticsData()">Load More</button>
                            <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="FullHeightEV: $data.OrgSubAnalyticsData()">Load All</button>
                        </div>
                    </div>
                    <div class="org-frequency-view" style="display:none">
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectFV: $data.OrgSubAnalyticsData(),options: $root.OrderByOptions, value: $data.OrgSubAnalyticsData().OrderByValueFV, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1, classes: 'FV-multiselect'}"></select>
                        <div class="barchart" data-bind="showFVBarChart: $data.OrgSubAnalyticsData()"></div>
                        <div class="lr-padding analytics-search clearfix" data-bind="if: $data.OrgSubAnalyticsData().Statistics && $data.OrgSubAnalyticsData().Statistics().length > $data.OrgSubAnalyticsData().NoofVisibleFV()">
                            <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="IncreaseHeightFV: $data.OrgSubAnalyticsData()">Load More</button>
                            <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="FullHeightFV: $data.OrgSubAnalyticsData()">Load All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="with: $root.Survey()">
        <div data-bind="if: $data.TouchpointAnalyticsData().Statistics().length > 0">
            <div class="row survey-sections">
                <div class="questioncontent center-question questionText">
                    <p class="question-font">Touchpoint(s)</p>
                    <p class="experience-font"><a title="Average Experience of each Touchpoint." class="tp-exp-view view-selected" data-bind="toggleTPView : 'exp'">Experience View</a>&nbsp;|&nbsp;<a class="tp-fq-view" title="Average Frequency of each Touchpoint." data-bind="toggleTPView : 'fq'">Frequency View</a>&nbsp;|&nbsp;<a class="tp-all-view" title="Toggle both views." data-bind="toggleTPView : 'all'">All</a></p>
                    <div class="tp-experience-view">
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectEV: $data.TouchpointAnalyticsData(),options: $root.OrderByOptions, value: $data.TouchpointAnalyticsData().OrderByValueEV, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1, classes: 'EV-multiselect'}"></select>
                        <div class="barchart" data-bind="showEVBarChart: $data.TouchpointAnalyticsData()"></div>
                    </div>
                    <div class="tp-frequency-view" style="display:none">
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectFV: $data.TouchpointAnalyticsData(),options: $root.OrderByOptions, value: $data.TouchpointAnalyticsData().OrderByValueFV, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1, classes: 'FV-multiselect'}"></select>
                        <div class="barchart" data-bind="showFVBarChart: $data.TouchpointAnalyticsData()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="foreach: $root.Survey().Modules">
        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.RATE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <!-- ko if: $data.QuestionData().RateType() != "Comment" -->
                <div class="row">
                    <div class="doughnut" data-bind="showDoughnutChart: {}"></div>
                </div>
                <div class="legend">
                    <table class="legend-table">
                        <tr>
                            <td class="legend-table-color">
                                <div class="dash-line" data-bind="style: { backgroundColor: $data.AnalyticsData().OverallRating() < 30.0 ? '#ea6953' :  $data.AnalyticsData().OverallRating() < 70.0 ? '#fdc689' : '#82CA9C'}"></div>
                            </td>
                            <td class="legend-table-option" data-toggle="tooltip" title="Average of rating.">
                                Average &nbsp; [
                                <span data-bind="text: $data.AnalyticsData().FromRating"> </span> - <span data-bind="html: $data.AnalyticsData().ToRating"> </span> ]
                            </td>
                            <td class="legend-table-percentage">
                                <span data-bind="html: $data.AnalyticsData().OverallRating().toFixed(1)+ '%'" data-toggle="tooltip" title="Overall rating."></span>
                            </td>
                            <td class="legend-table-number">
                                <span data-bind="">(</span><span data-bind="html: $data.AnalyticsData().ResponseCount" data-toggle="tooltip" title="Number of responses."></span><span data-bind="">)</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div data-bind="foreach: $data.AnalyticsData().WordCloud">
                    <!-- ko if: $index() <= $parent.AnalyticsData().NoofVisible() -->
                    <p class="wordcloudspan"><a data-bind="html: $data.Word() + ' (' + $data.Frequency() + ')', showComments : {}"></a></p>
                    <!-- /ko -->
                </div>
                <div class="lr-padding analytics-search clearfix" data-bind="if: $data.AnalyticsData().WordCloud && $data.AnalyticsData().WordCloud().length > $data.AnalyticsData().NoofVisible()">
                    <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="LoadMore: {}">Load More</button>
                    <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="LoadAll: {}">Load All</button>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.QuestionData().RateType() == "Comment" -->

                <div class="row">
                    <div class="doughnut" data-bind="showChoiceDoughnutChart: {}"></div>
                </div>
                <div class="legend">
                    <table data-bind="foreach: $data.AnalyticsData().ChoiceWCounts" class="legend-table">
                        <tr>
                            <td class="legend-table-color">
                                <div class="dash-line" data-bind="style: { backgroundColor: CHARTCOLOURS[$index()], color: CHARTCOLOURS[$index()]}"></div>
                            </td>
                            <td class="legend-table-option">
                                <span data-bind="html: $data.ChoiceText" data-toggle="tooltip" title="Choice of answer."></span>
                            </td>
                            <td class="legend-table-percentage">
                                <!--    <span data-bind="html: $data.Percentage().toFixed(1)+'%', style: {color: CHARTCOLOURS[$index()],fontWeight:'Bold'} " data-toggle="tooltip" title="Overall rating."></span>-->
                                <span data-bind="html: $data.Percentage().toFixed(1)+'%' " data-toggle="tooltip" title="Overall rating."></span>

                            </td>
                            <td class="legend-table-number">
                                <!-- <span data-bind="style: {color: CHARTCOLOURS[$index()],fontWeight:'Bold'}">#</span><span data-bind="html: $data.Count" data-toggle="tooltip" title="Number of responses."></span>-->
                                <span data-bind="">(</span><span data-bind="html: $data.Count" data-toggle="tooltip" title="Number of responses."></span><span data-bind="">)</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div data-bind="foreach: $data.AnalyticsData().WordCloud">
                    <!-- ko if: $index() <= $parent.AnalyticsData().NoofVisible() -->
                    <p class="wordcloudspan"><a data-bind="html: $data.Word() + ' (' + $data.Frequency() + ')', showComments : {}"></a></p>
                    <!-- /ko -->
                </div>
                <div class="lr-padding analytics-search" data-bind="if: $data.AnalyticsData().WordCloud && $data.AnalyticsData().WordCloud().length > $data.AnalyticsData().NoofVisible()">
                    <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="LoadMore: {}">Load More</button>
                    <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="LoadAll: {}">Load All</button>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <span> No data found </span>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.CHOICE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->

                <div class="row">
                    <div class="doughnut" data-bind="showChoiceDoughnutChart: {}"></div>
                </div>
                <div class="legend">
                    <table data-bind="foreach: $data.AnalyticsData().ChoiceWCounts" class="legend-table">
                        <tr>
                            <td class="legend-table-color">
                                <div class="dash-line" data-bind="style: { backgroundColor: CHARTCOLOURS[$index()], color: CHARTCOLOURS[$index()]}"></div>
                            </td>
                            <td class="legend-table-option">
                                <span data-bind="html: $data.ChoiceText" data-toggle="tooltip" title="Choice of answer."></span>
                            </td>
                            <td class="legend-table-percentage">
                                <!-- <span data-bind="html: $data.Percentage().toFixed(1)+'%',style: {color: CHARTCOLOURS[$index()],fontWeight:'Bold'} " data-toggle="tooltip" title="Overall rating."></span>-->
                                <span data-bind="html: $data.Percentage().toFixed(1)+'%' " data-toggle="tooltip" title="Overall rating."></span>

                            </td>
                            <td class="legend-table-number">
                                <!-- <span data-bind="style: {color: CHARTCOLOURS[$index()],fontWeight:'Bold'}">#</span><span data-bind="html: $data.Count, style: {color: CHARTCOLOURS[$index()],fontWeight:'Bold'}" data-toggle="tooltip" title="Number of responses."></span>-->
                                <span data-bind="">(</span><span data-bind="html: $data.Count" data-toggle="tooltip" title="Number of responses."></span><span data-bind="">)</span>

                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <p> No data found </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TEXT" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <div data-bind="foreach: $data.AnalyticsData().WordCloud">
                    <!-- ko if: $index() < $parent.AnalyticsData().NoofVisible() -->
                    <p class="wordcloudspan"><span class="float-left blue-font" data-bind="text: $index()+1+'.'"></span><a data-bind="html: $data.Word() + ' (' + $data.Frequency() + ')', showComments : {}"></a></p>
                    <!-- /ko -->
                </div>
                <div class="lr-padding analytics-search clearfix" data-bind="if: $data.AnalyticsData().WordCloud && $data.AnalyticsData().WordCloud().length > $data.AnalyticsData().NoofVisible()">
                    <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="LoadMore: {}">Load More</button>
                    <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="LoadAll: {}">Load All</button>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <p> No data found </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.LOCATION" style="text-align:center">
            <!-- ko with: $data.ModuleData() -->


            <div class="location-analytics">
                <div data-bind="plotCoordinates: {}" style=" " class="map-canvas" id="map-canvas"></div>
            </div>
            <!-- /ko -->
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.STAFF" style="text-align:center">

            <div class="survey-sections">
                <div class="" id="STAFF-chartdiv">
                    <!-- ko with: $data.ModuleData() -->
                    <div class="questioncontent center-question questionText">
                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                        <p class="experience-font"><a title="Average Experience of each Staff." class="dir-exp-view view-selected" data-bind="toggleDirView : 'exp'">Experience View</a>&nbsp;|&nbsp;<a class="dir-fq-view" title="Average Frequency of each Staff." data-bind="toggleDirView : 'fq'">Frequency View</a>&nbsp;|&nbsp;<a class="dir-all-view" title="Toggle both views." data-bind="toggleDirView : 'all'">All</a></p>
                    </div>
                    <div class="dir-experience-view">
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectEV: $data.AnalyticsData(),options: $root.OrderByOptions, value: $data.AnalyticsData().OrderByValueEV, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1, classes: 'EV-multiselect'}"></select>
                        <!-- ko if: !$data.AnalyticsData().NotFound() -->
                        <div class="row">
                            <div id="expview-chart-container" class="barchart touchpoint-chart-container" data-bind="showEVBarChart: $data.AnalyticsData()"></div>
                        </div>
                        <div class="lr-padding analytics-search clearfix" data-bind="if: $data.AnalyticsData().Statistics && $data.AnalyticsData().Statistics().length > $data.AnalyticsData().NoofVisibleEV()">
                            <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="IncreaseHeightEV: $data.AnalyticsData()">Load More</button>
                            <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="FullHeightEV: $data.AnalyticsData()">Load All</button>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $data.AnalyticsData().NotFound() -->
                        <p> No data found </p>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
                <div class="" id="STAFF-chartdiv">
                    <!-- ko with: $data.ModuleData() -->
                    <div class="dir-frequency-view" style="display:none">
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectFV: $data.AnalyticsData(),options: $root.OrderByOptions, value: $data.AnalyticsData().OrderByValueFV, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1, classes: 'FV-multiselect'}"></select>
                        <!-- ko if: !$data.AnalyticsData().NotFound() -->
                        <div class="row">
                            <div id="fview-chart-container" class="barchart touchpoint-chart-container" data-bind="showFVBarChart: $data.AnalyticsData()"></div>
                        </div>
                        <div class="lr-padding analytics-search clearfix" data-bind="if: $data.AnalyticsData().Statistics && $data.AnalyticsData().Statistics().length > $data.AnalyticsData().NoofVisibleFV()">
                            <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="IncreaseHeightFV: $data.AnalyticsData()">Load More</button>
                            <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="FullHeightFV: $data.AnalyticsData()">Load All</button>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $data.AnalyticsData().NotFound() -->
                        <p> No data found </p>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TAG" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <div data-bind="foreach: $data.AnalyticsData().WordCloud">
                    <!-- ko if: $index() < $parent.AnalyticsData().NoofVisible() -->
                    <p class="wordcloudspan"><span class="float-left blue-font" data-bind="text: $index()+1+'.'"></span><a data-bind="html: $data.Word() + ' (' + $data.Frequency() + ')', showComments : {}"></a></p>
                    <!-- /ko -->
                </div>
                <div class="lr-padding analytics-search bar-adjustments" data-bind="if: $data.AnalyticsData().WordCloud && $data.AnalyticsData().WordCloud().length > $data.AnalyticsData().NoofVisible()">
                    <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="LoadMore: {}">Load More</button>
                    <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="LoadAll: {}">Load All</button>
                </div>
                <p class="normal-font">The above experience refers to:</p>
                <div data-bind="foreach: $data.AnalyticsData().TagCount">
                    <a data-bind="html: $data.TagName() + ' (' + $data.Count()+ ')', showCommentsByTag : {}" class="wordcloudsize"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <p> No data found </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.MULTIPLE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <div class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators" data-bind="visible: $data.QuestionData().QuestionItems().length > 0">
                        <!-- ko foreach: $data.QuestionData().QuestionItems-->
                        <li data-bind="attr: { 'data-slide-to': $index }, css: { 'active' : $index() == 0 }, changeCurrentSlide : {}"></li>
                        <!-- /ko -->
                    </ol>
                    <div class="carousel-inner" data-bind="foreach: $data.QuestionData().QuestionItems">
                        <div class="item" data-bind="css: { 'active' : $index() == 0 }">
                            <!-- ko if: !$parent.AnalyticsData().AnalyticsItems()[$index()].NotFound() -->
                            <!-- ko if: $parent.QuestionData().MultipleType() != MULTIPLETYPES.COMMENT && $parent.QuestionData().MultipleType() != MULTIPLETYPES.SINGLECHOICE && $parent.QuestionData().MultipleType() != MULTIPLETYPES.MULTIPLECHOICE -->
                            <div>
                                <p class="question-font" data-bind="html: $data.QuestionItemText"></p>
                                <div class="row">

                                    <div class="doughnut" data-bind="showMultipleRatingDoughnutChart: {}"></div>
                                    <div class="legend">
                                        <table class="legend-table">
                                            <tr>
                                                <td class="legend-table-color">
                                                    <div class="dash-line" data-bind="style: { backgroundColor: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 30.0 ? '#ea6953' :  $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 70.0 ? '#fdc689' : '#82CA9C'}"></div>
                                                </td>
                                                <td class="legend-table-option" data-toggle="tooltip" title="Average of rating.">
                                                    Average &nbsp; [
                                                    <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].FromRating"> </span> - <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].ToRating"> </span> ]
                                                </td>
                                                <td class="legend-table-percentage">
                                                    <!-- <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating().toFixed(1)+'%', style: { color: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 30.0 ? '#ea6953' :  $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 70.0 ? '#fdc689' : '#82CA9C', fontWeight: 'Bold'}" data-toggle="tooltip" title="Overall rating."></span>-->
                                                    <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating().toFixed(1)+'%'" data-toggle="tooltip" title="Overall rating."></span>
                                                </td>
                                                <td class="legend-table-number">
                                                    <!--<span data-bind="style: { color: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 30.0 ? '#ea6953' :  $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 70.0 ? '#fdc689' : '#82CA9C', fontWeight: 'Bold'}">#</span><span data-bind="html:$parent.AnalyticsData().AnalyticsItems()[$index()].ResponseCount, style: { color: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 30.0 ? '#ea6953' :  $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 70.0 ? '#fdc689' : '#82CA9C', fontWeight: 'Bold'}" data-toggle="tooltip" title="Number of responses."></span>-->
                                                    <span data-bind="">(</span><span data-bind="html:$parent.AnalyticsData().AnalyticsItems()[$index()].ResponseCount" data-toggle="tooltip" title="Number of responses."></span><span data-bind="">)</span>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: $parent.QuestionData().MultipleType() == MULTIPLETYPES.SINGLECHOICE || $parent.QuestionData().MultipleType() == MULTIPLETYPES.MULTIPLECHOICE  -->
                            <div>
                                <p class="question-font" data-bind="html: $data.QuestionItemText"></p>
                                <div class="row">

                                    <div class="doughnut" data-bind="showMultipleChoiceDoughnutChart: {}"></div>

                                </div>
                            </div>
                            <div class="legend">
                                <table data-bind="foreach: $parent.AnalyticsData().AnalyticsItems()[$index()].ChoiceWCounts" class="legend-table">
                                    <tr>
                                        <td class="legend-table-color">
                                            <div class="dash-line" data-bind="style: { backgroundColor: CHARTCOLOURS[$index()], color: CHARTCOLOURS[$index()]}"></div>
                                        </td>
                                        <td class="legend-table-option">
                                            <span data-bind="html: $data.ChoiceText" data-toggle="tooltip" title="Choice of Answer."></span>
                                        </td>
                                        <td class="legend-table-percentage">
                                            <!--  <span data-bind="html: $data.Percentage().toFixed(1)+'%', style: {color: CHARTCOLOURS[$index()], fontWeight:'Bold'} " data-toggle="tooltip" title="Overall rating."></span>-->
                                            <span data-bind="html: $data.Percentage().toFixed(1)+'%'" data-toggle="tooltip" title="Overall rating."></span>
                                        </td>
                                        <td class="legend-table-number">
                                            <!--<span data-bind="style: {color: CHARTCOLOURS[$index()], fontWeight:'Bold'}">#</span><span data-bind="html: $data.Count, style: {color: CHARTCOLOURS[$index()], fontWeight:'Bold'}" data-toggle="tooltip" title="Number of responses."></span>-->
                                            <span data-bind="">(</span><span data-bind="html: $data.Count" data-toggle="tooltip" title="Number of responses."></span><span data-bind="">)</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: $parent.AnalyticsData().AnalyticsItems()[$index()].NotFound() -->
                            <p> No data found </p>
                            <!-- /ko -->
                        </div>
                    </div>

                    <a id="analytics-carousel-control" class="left carousel-control alignleft pad-arrow-left" data-bind="movePreviousSlide : {}, css: $data.QuestionData().CurrentIndex() >0 ? 'active-arrow': 'inactive-arrow'"><span class="icon-angle-left"></span></a>
                    <a id="analytics-carousel-control" class="right carousel-control alignright pad-arrow-right" data-bind="moveNextSlide : {}, css: $data.QuestionData().CurrentIndex() < $data.QuestionData().QuestionItems().length -1 ? 'active-arrow': 'inactive-arrow'"><span class="icon-angle-right"></span></a>
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.ATTACH" style="text-align:center">
            <div class=" survey-sections no-bottom-border">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <div class="thumbnail-container clearfix">
                    <!-- ko foreach:$data.AnalyticsData().AllAttachments -->
                    <!-- ko if: $index() <  $parent.AnalyticsData().NoofVisible() -->
                    <div style="text-align:center;" data-toggle="tooltip" class="attachment-images-thumbnail" data-bind="attr: { title: $data.CommentText }">
                        <!-- ko if: $data.FileType() === "IMAGE" -->
                        <img data-bind="attr: { src: $data.FilePath}, showImagePopup: {}" class="attachment-upload-image" alt="Image of the uploaded file by users." />
                        <!-- /ko -->
                        <!-- ko if: $data.FileType() === "VIDEO" -->
                        <video height="375" width="608" controls>
                            <source data-bind="attr: { src: $data.FilePath}">
                            Your browser does not support the video tag.
                        </video>
                        <!-- /ko -->
                        <!-- ko if: $data.FileType() === "UNKNOWN" -->
                        <div class="unknown-div">
                            <a data-bind="attr: { href: $data.FilePath}" target="_blank">
                                <img src="@Href("~/Images/Attachment.png")" alt="Placeholder image if file is unknown." /><br />
                                <span data-bind="html: $data.FileName"></span>
                            </a>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="analytics-search attachment-search-adjustment" data-bind="if: $data.AnalyticsData().AllAttachments && $data.AnalyticsData().AllAttachments().length > $data.AnalyticsData().NoofVisible()">
                    <button class="btn btn-default btn-lg pull-right search-button" data-bind="LoadMoreAttachments: {}">Load More</button>

                </div>
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <p> No data found </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.DEMOGRAPHIC" style="text-align:center">
            <div data-bind="if: $data.ModuleData().AnalyticsData().DGStatistics().length >= 1">
                <div class=" survey-sections no-bottom-border">
                    <!-- ko with: $data.ModuleData() -->
                    <div class="questioncontent center-question questionText">
                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                    </div>
                    <div data-bind="foreach: $data.AnalyticsData().DGStatistics">
                        <div data-bind="css: { 'pagebreakbefore' : $index() > 0 }">
                            <span class="experience-font" data-bind="text: $data.DGQuestionField()"></span>
                            <select multiple="multiple" class="form-control form-control-sp" data-bind="selectFV: $data,options: $root.OrderByOptions, value: $data.OrderByValueFV, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1, classes: 'EV-multiselect'}"></select>
                            <div id="exp-view-container" class="dir-experience-view">
                                <!-- ko if: !$data.NotFound() -->
                                <div class="row">
                                    <div id="expview-chart-container" class="barchart touchpoint-chart-container" data-bind="showFVBarChart: $data"></div>
                                </div>
                                <div class="lr-padding analytics-search clearfix" data-bind="if: $data.Statistics && $data.Statistics().length > $data.NoofVisibleFV()">
                                    <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="IncreaseHeightFV: $data">Load More</button>
                                    <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="FullHeightFV: $data">Load All</button>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $data.NotFound() -->
                                <p> No data found </p>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="expert-comment-container">
            <div class="comment-header-zone">
                <p class="inline-paragraph survey-font disabled-font">
                    <a data-bind="toggleExpertComments:{}">
                        <span class="icon-plus blue-font"></span>
                        <span data-bind="text: 'Expert Comments'"></span>
                    </a>
                </p>
            </div>
            <div class="comment-togglezone">
                <p><span class="comments-username" data-bind="text: $root.CurrentUser().FirstName() + ' ' + $root.CurrentUser().LastName().toUpperCase()"></span></p>
                <textarea data-bind="autosize:{} , addExpertComment: {}" class="expertcomment" placeholder="Write your comments and press Enter to post"></textarea>
                <div data-bind="foreach: $root.Survey().ExpertComments">
                    <div data-bind="if: $data.ModuleID() == $parent.ModuleID() && $data.ModuleInfo() == 'Question'">
                        <div class="comments-container">
                            <span class="icon-remove sidemenu-font close-icon pull-right blue-font marge-bot" data-bind="removeExpertComment: {}"></span>
                            <span data-bind="text: $data.UserName" class="comments-username"> </span>
                            <span data-bind="text: $data.Comment" class="comments-text"> </span>
                            <br />
                            <span data-bind="text: $data.StringCommentDate" class="comments-timestamp"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal" data-bind="initNoofVisible: {}" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Comments</h3>
                <h2 class="modal-title" id="myModalLabel" data-bind="text:$root.CommentModalTitle">Comments</h2>

            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div class="loading-bar" id="comments-loading-bar">
                        <center>
                            <img src="@Href("~/Images/loading.gif")" width="60" height="60" /><br /><span>Loading Comments</span>
                        </center>
                    </div>
                    <div data-bind="foreach: $root.Comments">
                        <!-- ko if: $index() < $root.NoofVisible() -->
                        <div class="comment-box blue-font" data-bind="click: $root.showResponseView">
                            <span data-bind="text: $index() + 1 + '.'"></span>&nbsp;&nbsp;
                            <span data-bind="html: $data.CommentText"></span>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="lr-padding analytics-search" data-bind="if: $root.Comments().length > $root.NoofVisible()">
                        <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="LoadMoreComments: {}">Load More</button>
                        <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="LoadAllComments: {}">Load All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function isTouchDevice() {
        return true == ("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch);
    }
    if (isTouchDevice() === false) {
        $(document).tooltip({
            position: {
                my: "center top",
                at: "center bottom",
                collision: "flip flip"
            }
        });
    }
</script>

<div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="attachmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div class="attachment-modal-box">
                        <img data-bind="attr: { src: $root.AttachmentDetail.AttachmentURL()}" class="attachment-upload-image" alt="Image of the uploaded file by users." />
                        <div class="commentbox">
                            <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $root.AttachmentDetail.AttachmentComment" placeholder="Write your comment" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
