﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CusExperience.CusExperienceService;
@using System.Security.Principal;

@{ var uRep = new UserRepositoryClient(); }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>CusExperience - Your Customers' Experience</title>
    <style>
        @@font-face {
            font-family: 'MyriadPro-Light' src: url('../../fonts/MyriadPro-Light.otf') format('opentype');
        }

        @@font-face {
            font-family: 'MyriadPro';
            src: url('../../fonts/MYRIADPRO-REGULAR.otf') format('opentype');
        }

        .large-icon {
            color: #009bdf;
            font-size: xx-large !important;
        }

        .normal-icon {
            color: #009bdf;
            font-size: x-large !important;
        }

        .medium-icon {
            color: #009bdf;
            font-size: large !important;
        }

        .small-icon {
            color: #009bdf;
            font-size: medium !important;
        }
    </style>
    @Styles.Render("~/Content/css")
    <meta property="og:image" content="http://cusexperience.com/Images/CusExp.png" />
    <meta property="og:title" content="CusExperience - Your Customer Experience" />
    <link rel="stylesheet" href="@Href("~/Content/Style.css")" />
    <link rel="stylesheet" href="@Href("~/Content/pe-icon-7-stroke.css")" />
    <link rel="stylesheet" href="@Href("~/Content/helper.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ios7-style-font-icons.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/bootstrap.css")" />
    <link rel="stylesheet" href="@Href("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")">
    <link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />

    <script src="@Href("~/Scripts/jquery-2.1.1.js")"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/Scripts/jquery.simplePagination.js")"></script>
    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/Scripts/html2canvas.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/support_view.js")"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="" id="headercontainer">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand cusexp-header" href="http://cusexperience.com/#page-top">Cus<b>Experience</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-main" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink(HttpContext.Current.User.Identity.Name, "UserProfile", "Account")
                        </li>
                    } 
                    <li class="page-scroll whatmenu">
                        @Html.ActionLink("What", "Index", "Home", null, null, "what", null, null)
                    </li>
                    <li class="page-scroll whymenu">
                        @Html.ActionLink("Why", "Index", "Home", null, null, "why", null, null)
                    </li>
                    <li class="page-scroll howmenu">
                        @Html.ActionLink("How", "Index", "Home", null, null, "how", null, null)
                    </li>
                    <li class="page-scroll wheremenu">
                        @Html.ActionLink("Where", "Index", "Home", null, null, "where", null, null)
                    </li>
                    <li class="page-scroll whenmenu">
                        @Html.ActionLink("When", "Index", "Home", null, null, "when", null, null)
                    </li>
                    <li class="page-scroll whomenu">
                        @Html.ActionLink("Who", "Index", "Home", null, null, "who", null, null)
                    </li>
                    <li class="page-scroll winsmenu">
                        @Html.ActionLink("Wins", "Index", "Home", null, null, "wins", null, null)
                    </li>
                    <li class="page-scroll contactmenu">
                        @Html.ActionLink("Contact", "Index", "Home", null, null, "contact", null, null)
                    </li>
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="page-scroll">
                            <a href="@Url.Action("Login", "Account")" class="active isclickable">Login</a>
                        </li>
                    }
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li><a onclick="logoutSession()" class="isclickable">Logout</a></li>
                    } 
                </ul>
            </div>
        </div>
    </nav>
    <div id="body-content" class="container-fluid body-content">
        @RenderBody()
        <footer class="footerZIndex">
            <hr />
            <div class="cr-footer">
                <div class="pull-left fifty">
                    <p style="font-family: 'MyriadPro-Light'; color: #4c4c4c;">&copy; 2015 <a href="http://cusexperience.com">Cus<b>Experience</b>.com</a> CusXP Pte Ltd. All Rights Reserved. @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Public")</p>
                </div>
                <div class="pull-right fifty alignright">
                    <p style="text-align:right;">Best viewed on the latest browsers.</p>
                </div>

            </div>
        </footer>
        <div class="issue-footer">
            <a onclick="showSupportView()" title="Facing a Problem or Have a Solution to suggest?"><img src="@Href("~/Images/Support.png")" /></a>
        </div>
    </div>
    <div id="supportDiv">
        @{ Html.RenderPartial("_SupportView"); }
    </div>
</body>
</html>
