﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CusExperience.CusExperienceService;
@using System.Security.Principal;
@using CusExperience.Utilities;

@{ 
    var uRep = new UserRepositoryClient();
    long OrgSubID = uRep.GetCurrentUser(User.Identity.GetUserId()).OrgSub.OrgSubID;
  }
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: none;
        }
    </style>
    @Styles.Render("~/Content/css") 

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta property="og:image" content="http://cusexperience.com/Images/CusExp.png" />
    <meta property="og:title" content="CusExperience - Your Customer Experience" />

    <meta name="google-site-verification" content="bVp49hDhnateIi6Ns5-L1CIUvWSjCyw21IqLWt6qBQY" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51962624-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>
    
    <title>CusExperience - Your Customers' Experience</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|Roboto:300|Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Href("~/Content/Style.css")" />
    <link rel="stylesheet" href="@Href("~/Content/pe-icon-7-stroke.css")" />
    <link rel="stylesheet" href="@Href("~/Content/helper.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ios7-style-font-icons.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/bootstrap.css")" />
    <link rel="stylesheet" href="@Href("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")">
    <link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />
    
    <script src="@Href("~/Scripts/jquery-2.1.1.js")"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script> 
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/Scripts/jquery.simplePagination.js")"></script>
    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/Scripts/html2canvas.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/support_view.js")"></script>
</head>

<body>
    <!--<div id="overlay"></div>-->
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--@Html.ActionLink("CusExperience","Index", "Home", null, new { @class = "navbar-brand" })-->   
                <a href="@Url.Action("Index", "Home", null,Request.Url.Scheme)" class="navbar-brand">Cus<b>Experience</b></a>       
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="usermenu">@Html.ActionLink(HttpContext.Current.User.Identity.Name, "UserProfile", "Account")</li>
                    @if (uRep.isSuperAdministrator(User.Identity.GetUserId()))
                    {
                        <li class="createmenu @Html.ActivePage("Home", "Index")">@Html.ActionLink("Create", "OrgSub", "Survey")</li>
                        <li class="adminmenu @Html.ActivePage("OrgSub", "Index")">@Html.ActionLink("Administer", "Index", "OrgSub")</li>
                        <li class="managemenu @Html.ActivePage("Survey", "OrgSub")">@Html.ActionLink("Manage", "OrgSub", "Survey")</li>
                        <li class="analysemenu @Html.ActivePage("Analytics", "OrgSub")">@Html.ActionLink("Analyse", "OrgSub", "Analytics")</li>
                    }
                    @if (uRep.isAdministrator(User.Identity.GetUserId()))
                    {
                        <li class="createmenu @Html.ActivePage("Survey", "Index")">@Html.ActionLink("Create", "Index", "Survey", new { id = OrgSubID }, null)</li>
                        <li class="adminmenu @Html.ActivePage("OrgSub", "Index")">@Html.ActionLink("Administer", "Index", "OrgSub", new { id = OrgSubID }, null)</li>
                        <li class="managemenu @Html.ActivePage("Survey", "Index")">@Html.ActionLink("Manage", "Index", "Survey", new { id = OrgSubID }, null)</li>
                    }
                    @if (uRep.isAdministrator(User.Identity.GetUserId()) || uRep.isCusXPProfessional(User.Identity.GetUserId()) || uRep.isExecutive(User.Identity.GetUserId()) || uRep.isManager(User.Identity.GetUserId()))
                    {
                        <li class="analysemenu @Html.ActivePage(" analytics", "Index" )">@Html.ActionLink("Analyse", "Index", "Analytics", new { id = OrgSubID }, null)</li>
                    }
                    <li class="logoutmenu"><a onclick="logoutSession()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="body-content" class="container-fluid body-content relativeposbody">
        @RenderBody()
        <footer class="footerZIndex">
            <hr />
            <div class="cr-footer">
                <div class="pull-left fifty">
                    <p style=" color: #4c4c4c;">&copy; 2015 <a href="http://cusexperience.com">Cus<b>Experience</b>.com</a> CusXP Pte Ltd. All Rights Reserved. @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Public")</p>
                </div>
                <div class="pull-right fifty alignright">
                    <p style="text-align:right;">Best viewed on the latest browsers.</p>
                </div>

            </div>
        </footer>
        <div class="issue-footer">
            <a onclick="showSupportView()" ><img src="@Href("~/Images/Support.png")" /></a>
        </div>
    </div>
    <div id="supportDiv">
        @{ Html.RenderPartial("_SupportView"); }
    </div>
</body>
</html>
