﻿<div class="modal fade demo-modal" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"id="demo-close">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Options</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div data-bind="foreach: $data.SelectValues" class="demo-body">
                        <div class="demo-item">
                            <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder blue-font demo-textarea" type="text" data-bind="value: $parent.SelectValues()[$index()]" placeholder="Enter option">
                            <span class="icon-remove demo-icon-remove blue-font" data-bind="click: $parent.SelectValueRemoveClick"></span>
                        </div>
                       
                    </div>
                    <span class="icon-plus plus-font blue-link pull-left" data-bind="click: $data.SelectValueAddClick">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>