﻿<div class="form-group relativepos">
    <label class="description-text-center">Registered Name of Organisation<br />eg. Apple Inc.</label>
    <div class="required-header">*</div>
    <input class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $data.RegisteredName" placeholder="Registered Name" type="text" required />
</div>
<div class="form-group relativepos">
    <label class="description-text-center">Registration Number of Organisation<br />eg. 201142343S</label>
    <input class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.RegisteredNumber" placeholder="Registered Number of Organisation" type="text" required />
</div>
<div class="form-group relativepos">
    <label class="description-text-center">Industry</label>
    <div class="required-header">*</div>
    <select id="Industry" name="Industry" data-bind="select: {} , options:  INDUSTRIES , value:  $data.Industry, multiselectOptions: { header: 'Industry', multiple: false, selectedList: 1}" required></select>
</div>
<div class="form-group relativepos">
    <label class="description-text-center">Brand Name<br />eg. Apple</label>
    <div class="required-header">*</div>
    <input id="BrandName" name="BrandName" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.BrandName" placeholder="Brand Name" type="text" required />
</div>
<div class="form-group relativepos">
    <label class="description-text-center">Brand Address<br />eg. 1 Infinite Loop, Cupertino, CA 95014, United States of America</label>
    <div class="required-header-add">*</div>
    <textarea id="BrandAddress" name="BrandAddress" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="autosize: {}, value:  $data.Address" placeholder="Brand Address" required></textarea>
</div>
<div class="form-group relativepos">
    <label class="description-text-center">Brand Website<br />eg. www.Apple.com</label>
    <div class="required-header">*</div>
    <input id="BrandWebsite" name="BrandWebsite" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.BrandWebsite" placeholder="Brand Website" type="text" required />
</div>
<div class="form-group relativepos">
    <label class="description-text-center">Country</label>
    <div class="required-header">*</div>
    <select id="MOSCountry" name="MOSCountry" data-bind="select: {} , options: COUNTRIES ,value:  $data.Country, multiselectOptions: { header: 'Country', multiple: false, selectedList: 1}" required></select>
</div>
<div class="form-group relativepos clearfix">
    <label class="description-text-center">Phone<br />eg. +1 408 996 1010</label>
    <div class="required-header">*</div>
    <input data-bind="value: getCallingCode($data.Country())" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font country-calling-code" disabled>
    <input id="PhoneNumber" name="PhoneNumber" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font telephone-number" data-bind="value:  $data.PhoneNumber" placeholder="Phone" type="text" required />
</div>
<div class="form-group relativepos">
    <label class="description-text-center">Email<br />eg. Steve.Jobs@Apple.com</label>
    <div class="required-header">*</div>
    <input id="EmailAddress" name="Email" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.EmailAddress" placeholder="Email" type="email" required />
</div>
<div class="form-group relativepos clearfix">
    <label class="description-text-center">URL Prefix</label>
    <div class="required-header">*</div>
    <input data-bind="value: $data.HierarchyURL() === '' ? '/' : '/' + $data.HierarchyURL() + '/'" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" disabled>
</div>  
<div class="form-group relativepos clearfix">
    <label class="description-text-center">Survey URL</label>
    <div class="required-header">*</div>
    <input id="PublishURL" name="PublishURL" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.SurveyURL" placeholder="Publish URL" type="text" required />
</div>
<!-- ko if:$data.ParentOrgSubName() == "" -->
<div class="form-group relativepos">
    <label class="description-text-center">Parent Organisation<br />eg. Amber.Black@CusExperience.com.sg</label>
    <div class="required-header">*</div>
    <input id="ParentOrgSub" name="ParentOrgSub" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.ParentOrgSubName" placeholder="Parent Organisation" type="text" disabled />
</div>
<!-- /ko -->


