﻿<div class="clearfix" data-bind="foreach: $root.PublishedSurvey().Modules">
    <!-- ko if: $.inArray($data.ModuleID(),$root.SelectedQuestions()) > -1 -->
    <div class="question-sections" data-bind="if: $data.ModuleType() ==MODULETYPES.QUESTION, slideModule: MODULETYPES.QUESTION" style="page-break-inside:avoid">
        <div data-bind="closeQuestionSection: {}" class="togglemenu">
            <span class="expand-icon icon-minus index-plus-font right-hyperlink plus-pad-top"></span>
        </div>
        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.RATE">
            <div class="survey-div" data-bind="with: $data.ModuleData()">
                <div data-bind="resetRating : {}">
                    <div class="questioncontent center-question">
                        <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                        <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                    </div>
                    <div class="rating-answer-content">
                        <!-- ko if: $data.QuestionData().RateType() != RATETYPES.COMMENT -->
                        <div>
                            <ul class="rating-scale col-md-12" data-bind="css: $data.QuestionData().RateType()== RATETYPES.NUMBER?'normal-font':'large-font'">
                                <!-- ko foreach: $data.QuestionData().NumArray -->
                                <li><span data-bind="css: $parent.QuestionData().RateType, html: $parent.QuestionData().RateType()==RATETYPES.NUMBER? $data:'', chooseRatingRange: {}"></span></li>
                                <!-- /ko -->
                            </ul>
                        </div>
                        <div class="scale">
                            <p class="pull-left rScale-font" data-bind="html: $data.QuestionData().LowestRateText" placeholder="Lowest"></p>
                            <p class="pull-right rScale-font" data-bind="html: $data.QuestionData().HighestRateText" placeholder="Highest"></p>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $data.QuestionData().RateType() == RATETYPES.COMMENT -->
                        <div class="tagdiv" data-bind="foreach: ['Compliment','Comment','Complaint']">
                            <div class="exp-area-choices" data-bind="chooseRatingRange:{}">
                                <p class="tag-font" data-bind="html: $data"></p>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="rating-commentbox">
                            <textarea class="form-control commentplaceholder" data-bind="autosize: {},visible: $data.QuestionData().IsCommentable " placeholder="Write your comment" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TAG">
            <div class="survey-div" data-bind="with: $data.ModuleData()">
                <div data-bind="resetTags:{}">
                    <div class="questioncontent center-question">
                        <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                        <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                    </div>
                    <textarea class="form-control commentplaceholder" disabled placeholder="Write your comment"></textarea>
                    <div class="tagdiv" data-bind="foreach: $data.QuestionData().Tags">
                        <div class="exp-area-choices" data-bind="selectTag: {}">
                            <p class="tag-font" data-bind="html:$data.TagName, attr: {title: $data.TagTooltip}" data-toggle="tooltip" data-placement="left" placeholder="Enter a Tag"></p>
                        </div>
                    </div>
                    <div class="tags-options-container">
                        <span class="tag-options-font">Include results without any tags</span>
                        <span class="icon-check-empty blue-font question-checkbox tag-options-font" data-bind="checkBox: $data.SearchData().IsNoTagsSelected"></span>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TEXT">
            <div class="survey-div" data-bind="with: $data.ModuleData()">
                <div class="questioncontent center-question">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <textarea class="form-control commentplaceholder" disabled placeholder="Write your comment"></textarea>
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.CHOICE">
            <div class="survey-div" data-bind="with: $data.ModuleData()">
                <div data-bind="resetChoice:{}">
                    <div class="questioncontent center-question">
                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"> </p>
                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                    </div>
                    <div class="choice-answercontent">
                        <div data-bind="foreach: $data.QuestionData().Choices">
                            <div class="s-blue-div-hover" data-bind="selectChoice: {}">
                                <p class="normal-font" data-bind="html: $data.ChoiceText" placeholder="Enter Choice">
                            </div>
                        </div>
                        <div class="commentbox-sp">
                            <textarea class="form-control commentplaceholder" placeholder="Write your comment" data-bind="autosize: {}, visible: $data.QuestionData().IsCommentable" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() ==QUESTIONTYPES.MULTIPLE">
            <div class="survey-div" data-bind="with: $data.ModuleData()">
                <div class="questioncontentattach center-question">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <div class="carousel slide carouselsizer" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators" data-bind="visible: $data.QuestionData().QuestionItems().length > 0, foreach: $data.QuestionData().QuestionItems ">
                        <li data-bind="attr: { 'data-slide-to': $index }, css: { 'active' : $index() == 0 }, changeCurrentSlide: {}"></li>
                    </ol>
                    <div class="carousel-inner" data-bind="foreach: $data.QuestionData().QuestionItems">
                        <div class="item" data-bind="css: { 'active' : $index() == 0 }">
                            <div class="questioncontentattach center-question">
                                <p class="question-font carousel-paragraph" id="hoverText" data-bind="html: $data.QuestionItemText" placeholder="Enter Question Item"></p>
                            </div>
                        </div>
                    </div>
                    <a id="question-view-carousel-control" class="left carousel-control blue-font" data-bind="movePreviousSlide : {}, css: $data.QuestionData().CurrentIndex() >0 ? 'active-arrow': 'inactive-arrow'"><span class="icon-angle-left"></span></a>
                    <a id="question-view-carousel-control" class="right carousel-control blue-font" data-bind="moveNextSlide : {}, css: $data.QuestionData().CurrentIndex() < $data.QuestionData().QuestionItems().length -1 ? 'active-arrow': 'inactive-arrow'"><span class="icon-angle-right"></span></a>
                </div>
                <div class="choice-answer-content">
                    <!-- ko if: $data.QuestionData().MultipleType() != MULTIPLETYPES.COMMENT && $data.QuestionData().MultipleType() != MULTIPLETYPES.SINGLECHOICE && $data.QuestionData().MultipleType() != MULTIPLETYPES.MULTIPLECHOICE -->
                    <div>
                        <ul class="rating-scale col-md-12 multiple-scale" data-bind="css: $data.QuestionData().MultipleType()== MULTIPLETYPES.NUMBER?'normal-font':'large-font'">
                            <!-- ko foreach: $data.QuestionData().NumArray -->
                            <li><span data-bind="css: $parent.QuestionData().MultipleType, html: $parent.QuestionData().MultipleType()==MULTIPLETYPES.NUMBER? $data:'', chooseMultipleRatingRange: {}"></span></li>
                            <!-- /ko -->
                        </ul>
                    </div>
                    <div class="scale">
                        <p contenteditable="true" class="pull-left rScale-font" data-bind="html: $data.QuestionData().LowestRateText" placeholder="Lowest"></p>
                        <p contenteditable="true" class="pull-right rScale-font" data-bind="html: $data.QuestionData().HighestRateText" placeholder="Highest"></p>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: $data.QuestionData().MultipleType() == MULTIPLETYPES.COMMENT -->
                    <div class="tagdiv" data-bind="foreach: ['Compliment','Comment','Complaint']">
                        <div class="exp-area-choices">
                            <p class="tag-font" data-bind="html: $data"></p>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: $data.QuestionData().MultipleType() == MULTIPLETYPES.SINGLECHOICE || $data.QuestionData().MultipleType() == MULTIPLETYPES.MULTIPLECHOICE  -->
                    <div class="multiple-choice-answercontent">
                        <div data-bind="foreach: $data.QuestionData().Choices">
                            <div class="s-blue-div">
                                <p class="normal-font" data-bind="html: $data.ChoiceText, selectMultipleChoice: {}" placeholder="Enter Choice"></p>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="commentbox multiple-commentbox" data-bind="visible: $data.QuestionData().IsCommentable">
                        <textarea class="form-control commentplaceholder" disabled placeholder="Write your comment"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.ATTACH">
            <div class="survey-div" data-bind="with: $data.ModuleData()">
                <div class="questioncontentattach center-question ">
                    <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Would you like to attach anything?"></p>
                    <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="You can add a photo, video or file."></p>
                </div>
                <div class="attachmentimgdiv center-question">
                    <img src="@Href("~/Images/Attachment.png")" width="50" />
                </div>
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.SOCIAL">
            <!-- ko with: $data.ModuleData().QuestionData() -->
            <div class="questioncontentattach center-question ">
                <p class="question-font" data-bind="html: $data.QuestionText" placeholder="Share your experience in Social Media"></p>
                <p class="description-text" data-bind="html: $data.DescriptionText" placeholder="Tell about our service"></p>
            </div>
            <a onclick="openFacebookDialog()">
                <img src="@Href("~/Images/Facebook-Icon.png")" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=Tell people about SKM" data-lang="en" data-related="jasoncosta">
                <img src="@Href("~/Images/Twitter-Icon.png")" alt="Share on Twitter" />
            </a>
            <a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <img src="@Href("~/Images/Google-Icon.png")" alt="Share on Google+" />
            </a>
            <a onclick="openLinkedInDialog()">
                <img src="@Href("~/Images/Linkin-Icon.png")" title="Share on LinkedIn" alt="Share on LinkedIn" />
            </a>
            <!-- /ko -->
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.STAFF">
            <div class="survey-div" data-bind="with: $data.ModuleData()">
                <div class="questioncontent center-question">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <div data-bind="foreach: $data.SearchData().STAFFEntry">
                    <div class="text-answer-content" data-bind="resetSTAFFNames: {}">
                        <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder demo-textarea blue-font STAFF-box" type="text" data-bind="autoComplete: {}, value: $data.STAFFEntryText" placeholder="Name of Staff" />
                    </div>
                </div>
                <div class="choice-addOptionBtn alignleft">
                    <span data-bind="click: $data.SearchData().STAFFEntryAddClick" class=" icon-plus plus-padding-top plus-btn-font blue-font"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>