﻿@using CusExperience.Models;
@model ReportModel

<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
    <style>
        @@font-face {
            font-family: "MyriadPro-Light";
            src: url("../fonts/MyriadPro-Light.woff") format("woff");
            src: url("../fonts/MyriadPro-Light.eot") format("embedded-opentype");
            src: url("../fonts/MyriadPro-Light.otf") format("opentype");
        }

        @@font-face {
            font-family: "MyriadPro";
            src: url("../fonts/MYRIADPRO-REGULAR.eot") format("embedded-opentype");
            src: url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
            src: url("../fonts/MYRIADPRO-REGULAR.otf") format("opentype");
        }


        body {
            font-family: MyriadPro-Light,"MyriadPro", Arial,Helvetica,sans-serif;
            text-align: center;
        }

        .table-cell-center {
            text-align: center;
        }

        .report-header {
            width: 1120px !important;
            border-bottom: 1px solid #eee;
        }

            .report-header table {
                width: 100%;
            }

        .header-container {
            width: 1120px !important;
            padding-left: 16px;
            padding-right: 16px;
        }

        h3 {
            font-size: 22px;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <div class="report-header">
            <table>
                <tr>
                    <td class="table-cell-center" width="100%">
                        <h3>@Model.OrgSubName : @Model.SurveyTitle</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
