﻿@using CusExperience.Models;
@model ReportModel

<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
    <style>
        @@font-face {
            font-family: "MyriadPro-Light";
            src: url("/fonts/MyriadPro-Light.woff") format("woff");
            src: url("/fonts/MyriadPro-Light.eot") format("embedded-opentype");
            src: url("/fonts/MyriadPro-Light.otf") format("opentype");
        }

        @@font-face {
            font-family: "MyriadPro";
            src: url("/fonts/MYRIADPRO-REGULAR.eot") format("embedded-opentype");
            src: url("/fonts/MYRIADPRO-REGULAR.woff") format("woff");
            src: url("/fonts/MYRIADPRO-REGULAR.otf") format("opentype");
        }

        body {
            font-family: "MyriadPro-Light", Arial,Helvetica,sans-serif;
            text-align: center;
        }

        .table-cell-center {
            text-align: center;
        }

        .report-footer {
            width: 1220px !important;
            border-top: 1px solid #eee;
        }

        .footer-container {
            width: 1220px !important;
            padding-left: 16px;
            padding-right: 16px;
        }

        h4 {
            font-size: 22px;
            margin-bottom: 16px;
            margin-top: 16px;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div class="footer-container">
        <div class="report-footer">
            <table>
                <tr>
                    <td class="table-cell-center" width="14%">
                        <h4>Cus<b>Experience</b>.com</h4>
                    </td>
                    <td class="table-cell-center" width="72%">
                        <h4>
                            Generated by @Model.CurrentUser on @Model.CurrentDate
                        </h4>
                    </td>
                    <td class="table-cell-center" width="14%"><h4><span>Page &p; of &P;</span></h4></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

