﻿@using CusExperience.Models;
@model ReportModel

<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
    <style>
        @@font-face {
            font-family: "MyriadPro-Light";
            src: url("../fonts/MyriadPro-Light.woff") format("woff");
            src: url("../fonts/MyriadPro-Light.eot") format("embedded-opentype");
            src: url("../fonts/MyriadPro-Light.otf") format("opentype");
        }

        @@font-face {
            font-family: "MyriadPro";
            src: url("../fonts/MYRIADPRO-REGULAR.eot") format("embedded-opentype");
            src: url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
            src: url("../fonts/MYRIADPRO-REGULAR.otf") format("opentype");
        }


         body {
            font-family: MyriadPro-Light,"MyriadPro", Arial,Helvetica,sans-serif;
            text-align: center;
             width: 1120px !important;
             
        }

        .table-cell-center {
            text-align: center;
        }

        .report-header {
            width: 1120px !important;
              padding-bottom:16px;
               padding-top:16px;
               padding-left:16px;
            border-bottom: 1px solid #eee;
            text-align:left;
        }
		.report-generatedby{
            font-size:36px;
        }
        .report-title{
            padding-top:300px;
        }
        .report-generatedby{
            padding-top:640px;
        }
            .report-header table {
                width: 100%;
            }

        .header-container {
            width: 1120px !important;
            padding-left: 16px;
            padding-right: 16px;
        }
        .brand-name{
             font-size: 36px;
            font-weight: normal;
            font-family:MyriadPro;
          
        }
        h3 {
            font-size: 48px;
           
        }
         h1 {
            font-size: 72px;
            -webkit-margin-after: 16px;
        }

        h2 {
            -webkit-margin-before: 16px;
            font-size: 60px;
        }
        h2,h3,h4{
            font-weight:normal;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <div class="report-header">
            <span class="brand-name">Cus<b>Experience</b></span>
        </div>
    </div>
    <div class="body-container">
        <div class="report-title"><h1>@Model.OrgSubName :</h1><h2>@Model.SurveyTitle Report</h2></div>
        <div class="report-generatedby">
             Generated by @Model.CurrentUser <br /> @Model.CurrentDate
        </div>
    </div>
</body>
</html>
