﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CusExperience.CusExperienceService;
@using System.Security.Principal;

@{ var uRep = new UserRepositoryClient(); }

<link rel="stylesheet" href="@Href("~/Content/survey-responseview.css")" />

<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/survey-responseview-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/survey-responseview-desktop.css")" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />

<div class="container" id="ResponseView">
    <div class="surveypanel clearfix" data-bind="with: $root.Survey">
        <div class="surveyeditpanel">
            <div class="heading-section">
                <p align="center" class="title-font" id="hoverText" data-bind="html: $data.SurveyTitle" placeholder="Enter Survey Title"> </p>
            </div>
            @if (uRep.isAdministrator(User.Identity.GetUserId()) || uRep.isSuperAdministrator(User.Identity.GetUserId()) || uRep.isExecutive(User.Identity.GetUserId()))
            {
                <div class="top-response-delete clearfix">
                    <button data-bind="deleteResponse : {}" type="button" class="btn btn-default btn-block medium-font btn-fail">Delete</button>
                </div>

            }
            <div data-bind="with: $root.Survey().SummaryData">
                <table width="90%" class="summary-table-top">
                    <tr>
                        <td width="50%" class="tdwidth">
                            <span class="summary-namevalue">SurveyResponse ID :</span>
                        </td>
                        <td width="50%" class="tdwidth">
                            <span class="summary-keyvalue" data-bind="text: $data.SurveyResponseID"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="summary-namevalue">CusXPIndex  :</span>
                        </td>
                        <td>
                            <span class="summary-keyvalue" data-bind="text: $data.CusXPIndex, style:{ color: $data.CusXPIndex() < 30.0 ? '#ea6953' :  $data.CusXPIndex() < 70.0 ? '#fdc689' : '#82CA9C', fontWeight: 'Bold'} "></span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td><p class="summary-namevalue">RegisteredName  :</p></td>
                        <td><span class="summary-keyvalue" data-bind="text: $data.RegisteredName"></span></td>
                    </tr>
                    <tr>
                        <td><span class="summary-namevalue">BrandName  :</span></td>
                        <td><span class="summary-keyvalue" data-bind="text: $data.BrandName"></span></td>
                    </tr>
                    <tr>
                        <td><span class="summary-namevalue">Country  :</span></td>
                        <td><span class="summary-keyvalue" data-bind="text: $data.Country"></span></td>
                    </tr>
                    <tr>
                        <td><span class="summary-namevalue">Location  :</span></td>
                        <td><span class="summary-keyvalue" data-bind="text: $data.Location"></span></td>
                    </tr>
                    <tr>
                        <td><span class="summary-namevalue">Date  :</span></td>
                        <td><span class="summary-keyvalue" data-bind="text: $data.Date"></span></td>
                    </tr>
                    <tr>
                        <td><span class="summary-namevalue">Time  :</span></td>
                        <td><span class="summary-keyvalue" data-bind="text: $data.Time"></span></td>
                    </tr>

                </table>
                <table data-bind="foreach: $data.DGFields" width="90%" class="summary-table-bot">
                    <tr>
                        <td width="50%" class="tdwidth"><span data-bind="text: $data.Key" class="summary-namevalue"></span>:</td>
                        <td width="50%" class="tdwidth">
                            <span class="summary-keyvalue" data-bind="text: $data.Value"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 clearfix">
                <div data-bind="foreach: $data.Modules() ">
                    <div class="survey-sections">

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.WELCOME">
                            <div data-bind="if: !$root.IsResponseView()">
                                <span class="icon-minus index-plus-font right-hyperlink module-minimizer" data-bind="hideSurveyResponse: {}"></span>
                            </div>
                            <div class="survey-div" data-bind="with: $data.ModuleData()">
                                <div class="questioncontentattach center-question welcome-tag">
                                    <p class="question-font" data-bind="html: $data.WelcomeText" placeholder="Enter Welcome Statement" style="font-style:italic;"></p>
                                    <p class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></p>
                                </div>
                                <div class="welcomespacer">
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.BRANDING">
                            <div data-bind="if: !$root.IsResponseView()">
                                <span class="icon-minus index-plus-font right-hyperlink module-minimizer" data-bind="hideSurveyResponse: {}"></span>
                            </div>
                            <div class="survey-div survey-div-brand" data-bind="with: $data.ModuleData()">
                                <div id="uploadimg">
                                    <div class="file-input-wrapper">
                                        <div class="flipperTool">
                                            <img src="@Href("~/Images/flip.png")" width="25" data-bind="flipImage : {}" />
                                        </div>
                                        <div class="flip-container" id="flip-toggle">
                                            <div class="flipper">
                                                <div class="front" data-bind="if: $data.FrontImage, flipImage : {}">
                                                    <img class="absolutepos-img" data-bind="placePosition: {}, attr: { src: $data.FrontImage , width: $data.ImageWidth()}" />
                                                    <div class="inner-img-upload">
                                                        <div data-bind="if: $data.LogoImage" class="brandLogoZIndex">
                                                            <img class="logo-img" data-bind="attr: { src: $data.LogoImage}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="back" data-bind="flipImage : {}">
                                                    <br />
                                                    <table align="center">
                                                        <tr>
                                                            <td class="Table-text">
                                                                Name
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <p class="flip-font" data-bind="html: $data.RegisteredName" placeholder="Enter Address here"></p>
                                                            </td>
                                                        </tr>
                                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="Table-text">
                                                                Address
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <a target="_blank" class="flip-font" data-bind="html: $data.Address,attr: {href:  $root.getAddressLink($data.Address())}" placeholder="Address"></a>
                                                            </td>
                                                        </tr>
                                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="Table-text">
                                                                Website
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <a class="flip-font" target="_blank" id="" data-bind="html: $data.BrandWebsite, attr: {href: $data.BrandWebsite() ? 'http://' + $data.BrandWebsite().replace('http://','') : ''}" placeholder="Website"></a>
                                                            </td>
                                                        </tr>
                                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="Table-text">
                                                                Phone
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <a class="flip-font" id="" data-bind="html: $data.PhoneNumber, attr: {href: 'tel:'+ $data.PhoneNumber()}" placeholder="Mobile"></a>
                                                            </td>
                                                        </tr>
                                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="Table-text">
                                                                Email
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td><a contenteditable="false" class="flip-font" id="" data-bind="html: $data.EmailAddress, attr: {href: 'mailto:'+ $data.EmailAddress()}" placeholder="Email"></a></td>
                                                        </tr>
                                                    </table>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.APPRECIATION">
                            <div data-bind="if: !$root.IsResponseView()">
                                <span class="icon-minus index-plus-font right-hyperlink module-minimizer" data-bind="hideSurveyResponse: {}"></span>
                            </div>
                            <div class="survey-div" data-bind="with: $data.ModuleData()">
                                <div id="uploadimg">
                                    <div class="file-input-wrapper">
                                        <div class="flipperTool">
                                            <img src="@Href("~/Images/flip.png")" width="25" data-bind="flipAppreciation : {}" />
                                        </div>
                                        <div class="flip-container" id="flip-toggle-app">
                                            <div class="flipper">
                                                <div class="front" data-bind="if: $data.FrontImage, flipAppreciation : {}">
                                                    <p class="question-font  brandLogoZIndex title-appreciation" data-bind="html: $data.AppreciationText" placeholder="Enter Appreciation Text"></p>
                                                    <img class="absolutepos-img" data-bind="placePosition: {},attr: { src: $data.FrontImage , width: $data.ImageWidth}" data-bind="flipAppreciation : {}" />
                                                    <div class="inner-img-appreciation">
                                                        <div data-bind="if: $data.LogoImage" class="brandLogoZIndex">
                                                            <img class="appreciation-logo-img" data-bind="attr: { src: $data.LogoImage}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="back app-back" style="background-color: white" data-bind="flipAppreciation : {}">
                                                    <span class="expires question-font">Expires <p class="" data-bind="html: $data.Expires"></p></span>
                                                    <p class="tancP"> Terms and Conditions </p>
                                                    <p data-bind="html: $data.TermsConditions" class="tandc">  </p>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.TOUCHPOINT">
                            <div class="survey-div survey-div-sp">
                                <div class="touchpoint-container">
                                    <!-- ko if: $root.AvlblTouchpoints().length > 0 -->
                                    <select multiple="multiple" class="form-control form-control-sp touchpoint-select" data-bind="select: {}, options: $root.AvlblTouchpoints() , optionsText: function(item){ return item.key }, optionsValue: function(item){ return item.value }, value: $root.Survey().SelectedTouchpoints()[0] , optionsCaption: 'Touchpoints', multiselectOptions: {header: false, multiple: false, selectedList: 1 , classes:'touchpoint-ms'}"></select>
                                    <div data-bind="foreach: $root.AvlblTouchpoints">
                                        <!-- ko with: $data.valueObject -->
                                        <div id="uploadimg" data-bind="visible: $data.TouchpointID() == $root.Survey().SelectedTouchpoints()[0]">
                                            <div class="file-input-wrapper">
                                                <div class="flipperTool">
                                                    <img src="@Href("~/Images/flip.png")" width="25" data-bind="flipImage : {}" />
                                                </div>
                                                <div class="flip-container" id="flip-toggle">
                                                    <div class="flipper">
                                                        <div class="front">
                                                            <div data-bind="if: $data.FrontImage">
                                                                <img data-bind="attr: { src: $data.FrontImage , width: $data.ImageWidth }, drag: {}" />
                                                            </div>
                                                            <div class="inner-img-upload">
                                                                <div data-bind="if: $data.LogoImage" class="brandLogoZIndex">
                                                                    <img class="logo-img" data-bind="attr: { src: $data.LogoImage}" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="back">
                                                            <br />
                                                            <table align="center">
                                                                <tr>
                                                                    <td class="Table-text">
                                                                        Name
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td>
                                                                        <p class="flip-font" data-bind="html: $data.RegisteredName" placeholder="Organisation Name"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                                <tr>

                                                                    <td class="Table-text">
                                                                        Address
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td>
                                                                        <p class="flip-font" id="" data-bind="html: $data.Address" placeholder="Address"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                                <tr>

                                                                    <td class="Table-text">
                                                                        Website
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td>
                                                                        <p class="flip-font" id="" data-bind="html: $data.BrandWebsite" placeholder="Website"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                                <tr>

                                                                    <td class="Table-text">
                                                                        Phone
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td>
                                                                        <p class="flip-font" id="" data-bind="html: $data.PhoneNumber" placeholder="Mobile"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                                <tr>
                                                                    <td class="Table-text">
                                                                        Email
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td><p class="flip-font" id="" data-bind="html: $data.EmailAddress" placeholder="Email"></p></td>
                                                                </tr>
                                                            </table>
                                                            <br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="slider" class="sliderTab" data-bind="slider: $data.SliderValue, sliderOptions: {min: 0, max: 100, range: 'min', step: 1, value: 50}"></div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() ==MODULETYPES.QUESTION, slideModule: MODULETYPES.QUESTION, css: { 'questionHolder survey-section-height' : $data.ModuleType()==MODULETYPES.QUESTION}">
                            <div data-bind="if: !$root.IsResponseView()">
                                <span class="icon-minus index-plus-font right-hyperlink module-minimizer" data-bind="hideSurveyResponse: {}"></span>
                            </div>
                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.RATE">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                    <div class="questioncontent center-question">
                                        <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="rating-answer-content">
                                        <!-- ko if: $data.QuestionData().RateType() != RATETYPES.COMMENT -->
                                        <div>
                                            <ul class="rating-scale col-md-12" data-bind="css: $data.QuestionData().RateType()== RATETYPES.NUMBER?'normal-font':'large-font'">
                                                <!-- ko foreach: $data.QuestionData().NumArray -->
                                                <li><span data-bind="css: $parent.QuestionData().RateType, html: $parent.QuestionData().RateType()==RATETYPES.NUMBER? $data:'', choosenRating: {}"></span></li>
                                                <!-- /ko -->
                                            </ul>
                                        </div>
                                        <div class="scale clearfix">
                                            <p class="pull-left rScale-font" data-bind="html: $data.QuestionData().LowestRateText" placeholder="Lowest"></p>
                                            <p class="pull-right rScale-font" data-bind="html: $data.QuestionData().HighestRateText" placeholder="Highest"></p>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: $data.QuestionData().RateType() == RATETYPES.COMMENT -->
                                        <div class="tagdiv" data-bind="foreach: ['Compliment','Comment','Complaint']">
                                            <div class="exp-area-choices" data-bind="choosenRating:{}">
                                                <p class="tag-font" data-bind="html: $data"></p>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <div class="rating-commentbox">
                                            <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $data.AnswerData().CommentText" placeholder="Write your comment" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TAG">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="questioncontent center-question">
                                        <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                        <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>

                                    <div class="tag-answer-content">
                                        <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $data.AnswerData().CommentText" placeholder="Write your comment" disabled></textarea>
                                    </div>

                                    <div class="tagdiv" data-bind="foreach: $data.QuestionData().Tags">
                                        <div class="exp-area-choices" data-bind="selectedTag: {}">
                                            <p class="tag-font" data-bind="html:$data.TagName, attr: {title: $data.TagTooltip}" data-toggle="tooltip" data-placement="left" placeholder="Enter a Tag"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TEXT">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="questioncontent center-question">
                                        <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="text-answer-content">
                                        <p class="form-control" placeholder="Write your comment" data-bind="text: $data.AnswerData().CommentText" disabled></p>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.CHOICE">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="questioncontent center-question">
                                        <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"> </p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="choice-answercontent">
                                        <div data-bind="foreach: $data.QuestionData().Choices">
                                            <div class="s-blue-div-hover" data-bind="selectedChoice: {}">
                                                <p class="normal-font" data-bind="html: $data.ChoiceText" placeholder="Enter Choice">
                                            </div>
                                        </div>
                                        <div class="commentbox-sp">
                                            <textarea class="form-control commentplaceholder" placeholder="Write your comment" data-bind="autosize:{}, value: $data.AnswerData().CommentText" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.STAFF">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="questioncontent center-question">
                                        
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div data-bind="foreach: $data.AnswerData().STAFFEntry">
                                        <div class="text-answer-content">
                                            <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder demo-textarea  STAFF-box" type="text" disabled data-bind="value: $data.STAFFEntryText" placeholder="Name of Staff" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.PICTURE">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <form>
                                        <div class="image-input-wrapper">
                                            <div class="upload-icon3" data-bind="visible: !$data.ImageURL()">
                                                <div>
                                                    <img src="@Href("~/Images/Attachment-d.png")" width="50" />
                                                </div>
                                            </div>
                                            <div data-bind="if: $data.ImageURL" class="imageResizer">
                                                <div class="flip-container" id="flip-toggle">
                                                    <div class="flipper">
                                                        <div class="front">
                                                            <img class="imgdisplay" data-bind="attr: { src: $data.ImageURL }" />
                                                        </div>
                                                        <div class="back">
                                                            <img class="imgdisplay" src=@Href("~/Images/GE-LocationFlipImage.png") />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() ==QUESTIONTYPES.MULTIPLE">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class=" questioncontentattach center-question">
                                        <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="carousel slide carouselsizer" data-ride="carousel" data-interval="false">
                                        <ol class="carousel-indicators" data-bind="visible: $data.QuestionData().QuestionItems().length > 0, foreach: $data.QuestionData().QuestionItems ">
                                            <li data-bind="attr: { 'data-slide-to': $index }, css: { 'active' : $index() == 0 }, changeCurrentSlide: {}"></li>
                                        </ol>
                                        <div class="carousel-inner" data-bind="foreach: $data.QuestionData().QuestionItems">
                                            <div class="item" data-bind="css: { 'active' : $index() == 0 }">
                                                <div class="questioncontentattach center-question">
                                                    <p class="question-font carousel-paragraph" id="hoverText" data-bind="html: $data.QuestionItemText" placeholder="Enter Question Item"></p>
                                                </div>
                                            </div>
                                        </div>

                                        <a id="analytics-carousel-control" class="left carousel-control blue-font" data-bind="movePreviousSlide : {}, css: $data.QuestionData().CurrentIndex() >0 ? 'active-arrow': 'inactive-arrow'"><span class="icon-angle-left"></span></a>
                                        <a id="analytics-carousel-control" class="right carousel-control blue-font" data-bind="moveNextSlide : {}, css: $data.QuestionData().CurrentIndex() < $data.QuestionData().QuestionItems().length -1 ? 'active-arrow': 'inactive-arrow'"><span class="icon-angle-right"></span></a>
                                    </div>
                                    <!-- ko foreach: $data.QuestionData().QuestionItems -->
                                    <div data-bind="visible: $index() == $parent.QuestionData().CurrentIndex()">
                                        <!-- ko if: $parent.QuestionData().MultipleType() != MULTIPLETYPES.COMMENT && $parent.QuestionData().MultipleType() != MULTIPLETYPES.SINGLECHOICE && $parent.QuestionData().MultipleType() != MULTIPLETYPES.MULTIPLECHOICE -->
                                        <div class="multiple-answer-content">
                                            <ul class="rating-scale col-md-12" data-bind="css: $parent.QuestionData().MultipleType()== MULTIPLETYPES.NUMBER?'normal-font':'large-font'">
                                                <!-- ko foreach: $parent.QuestionData().NumArray -->
                                                <li><span data-bind="css: $parents[1].QuestionData().MultipleType, html: $parents[1].QuestionData().MultipleType()==MULTIPLETYPES.NUMBER? $data:'', choosenMultipleRating : {}"></span></li>
                                                <!-- /ko -->
                                            </ul>
                                        </div>
                                        <div class="scale clearfix">
                                            <p class="pull-left rScale-font" data-bind="html: $parent.QuestionData().LowestRateText" placeholder="Lowest"></p>
                                            <p class="pull-right rScale-font" data-bind="html: $parent.QuestionData().HighestRateText" placeholder="Highest"></p>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: $parent.QuestionData().MultipleType() == MULTIPLETYPES.COMMENT -->
                                        <div class="tagdiv" data-bind="foreach: ['Compliment','Comment','Complain']">
                                            <div class="exp-area-choices" data-bind="choosenMultipleRating: {} ">
                                                <p class="tag-font" data-bind="html: $data"></p>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: $parent.QuestionData().MultipleType() == MULTIPLETYPES.SINGLECHOICE || $parent.QuestionData().MultipleType() == MULTIPLETYPES.MULTIPLECHOICE  -->
                                        <div class="choice-answercontent">
                                            <div data-bind="foreach: $parent.QuestionData().Choices">
                                                <div class="s-blue-div" data-bind="selectedMultipleChoice : {}">
                                                    <p class="normal-font" data-bind="html: $data.ChoiceText" placeholder="Enter Choice">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <div class="commentbox">
                                            <p contenteditable="false" class="form-control commentplaceholder" data-bind="value: $parent.AnswerData().AnswerItems()[$index()].CommentText" placeholder="Write your comment" disabled></p>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.ATTACH">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                    <div class="questioncontentattach center-question ">
                                        <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Would you like to attach anything?"></p>
                                        <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="You can add a photo, video or file."></p>
                                    </div>

                                    <!-- ko foreach:$data.AnswerData().Attachments -->
                                    <div style="text-align:center;" class="attachment-images">
                                        <!-- ko if: $data.FileType() === "IMAGE" -->
                                        <img data-bind="attr: { src: $data.FilePath}" class="attachment-upload-image" alt="Image of the uploaded file by users." />
                                        <!-- /ko -->
                                        <!-- ko if: $data.FileType() === "VIDEO" -->
                                        <video height="375" width="608" controls>
                                            <source data-bind="attr: { src: $data.FilePath}">
                                            Your browser does not support the video tag.
                                        </video>
                                        <!-- /ko -->
                                        <!-- ko if: $data.FileType() === "UNKNOWN" -->
                                        <div class="attachmentimgdiv">
                                            <a data-bind="attr: { href: $data.FilePath}" target="_blank">
                                                <img src="@Href("~/Images/Attachment-d.png")" alt="Placeholder image if file is unknown." /><br />
                                                <span data-bind="html: $data.FileName"></span>
                                            </a>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <div class="commentbox">
                                        <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $data.CommentText" placeholder="Write your comment" disabled></textarea>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if:$data.AnswerData().Attachments().length <= 0 -->
                                    <div class="attachmentimgdiv">
                                        <img src="@Href("~/Images/Attachment-d.png")" alt="Placeholder image if file is unknown." /><br />
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.DEMOGRAPHIC">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="questioncontentattach center-question">
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Statement" style="font-style:italic;"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>

                                    <div class="demographics-container">
                                        <div class="demo" data-bind="foreach: $data.QuestionData().DGQuestionFields">
                                            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTSINGLELINE -->
                                            <div class="demo-field single-line">
                                                <div class="demo-required-text-header" data-bind="visible: $data.IsRequired">*</div>
                                                <div class="clearfix">
                                                    <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                    <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder" type="text" data-bind="addAnswerField:{}, attr:{name: 'input' + $index() ,placeholder: $data.FieldName, required: $data.IsRequired }, value: $parent.AnswerData().DGAnswerFields()[$index()].TextValue" disabled>
                                                </div>
                                                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                    <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $parent.AnswerData().DGAnswerFields()[$index()].CommentText" placeholder="Write your comment" disabled></textarea>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTMULTILINE -->
                                            <div class="demo-field clearfix">

                                                <div class="clearfix">
                                                    <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                    <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                    <textarea class="form-control commentplaceholder" data-bind="addAnswerField:{}, autoSize: {}, attr:{ name: 'textarea' + $index() ,placeholder: $data.FieldName, required: $data.IsRequired} ,value: $parent.AnswerData().DGAnswerFields()[$index()].TextValue" disabled></textarea>
                                                </div>
                                                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                    <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $parent.AnswerData().DGAnswerFields()[$index()].CommentText" placeholder="Write your comment" disabled></textarea>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.SELECTONE -->
                                            <div class="demo-field ">

                                                <div class="clearfix">
                                                    <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                    <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                    <select multiple="multiple" data-bind="addAnswerField:{}, selectSingle: {},  attr: { name: 'select' + $index() , required: $data.IsRequired} ,options: $data.SelectValues, selectedOptions: $parent.AnswerData().DGAnswerFields()[$index()].FieldValues, optionsCaption : $data.FieldName, multiselectOptions: {  minWidth: 600,header: $data.FieldName(), multiple: false, selectedList: 1, classes: 'demographics-ms'}"></select>
                                                </div>
                                                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                    <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $parent.AnswerData().DGAnswerFields()[$index()].CommentText" placeholder="Write your comment" disabled></textarea>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.SELECTMULTIPLE -->
                                            <div class="demo-field">
                                                <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                <div class="clearfix">
                                                    <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                    <select multiple="multiple" data-bind="addAnswerField:{}, selectMultiple: {}, attr: { name: 'select' + $index(), required: $data.IsRequired} , options: $.merge(['All'], $data.SelectValues()) , selectedOptions: $parent.AnswerData().DGAnswerFields()[$index()].FieldValues,optionsCaption : $data.FieldName, multiselectOptions: {  minWidth: 600, header: $data.FieldName() , selectedText: $data.FieldName(), classes: 'demographics-ms' }"></select>
                                                </div>
                                                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                    <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $parent.AnswerData().DGAnswerFields()[$index()].CommentText " placeholder="Write your comment" disabled></textarea>
                                                </div>
                                            </div>
                                            <!-- ko if:$.inArray('All',$parent.AnswerData().DGAnswerFields()[$index()].FieldValues())==-1 -->
                                            <div data-bind="foreach: $parent.AnswerData().DGAnswerFields()[$index()].FieldValues">
                                                <!-- ko if: $data !== 'All' -->
                                                <div class="exp-area-choices">
                                                    <p class="tag-font" data-bind="text:$data"></p>
                                                </div>
                                                <!-- /ko -->
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko if:$.inArray('All',$parent.AnswerData().DGAnswerFields()[$index()].FieldValues())==0 -->
                                            <div class="exp-area-choices">
                                                <p class="tag-font">All</p>
                                            </div>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.SUBMIT">
                            <div data-bind="if: !$root.IsResponseView()">
                                <span class="icon-minus index-plus-font right-hyperlink module-minimizer" data-bind="hideSurveyResponse: {}"></span>
                            </div>
                            <div class="survey-div" data-bind="with: $data.ModuleData()">
                                <div class="questioncontentattach center-question ">
                                    <p class="question-font" id="hoverText" data-bind="html: $data.ThanksText" placeholder="Enter Thanks Statement"></p>
                                    <p class="description-text" id="hoverText" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></p>
                                </div>
                                <div class="questioncontent center-question">
                                    <div class="share-your-exp">
                                        <p class="question-font" id="hoverText" data-bind="html: $data.SubmitText" placeholder="Enter Submit Text"></p>
                                    </div>
                                </div>
                            </div>
                            @if (uRep.isAdministrator(User.Identity.GetUserId()) || uRep.isSuperAdministrator(User.Identity.GetUserId()) || uRep.isExecutive(User.Identity.GetUserId()))
                            {
                                <div class="response-delete">
                                    <button data-bind="deleteResponse : {}" type="button" class="btn btn-default btn-block medium-font btn-fail">Delete</button>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


