﻿    <div data-bind="foreach: $data.Modules">
        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.RATE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <div class="row">
                    <div class="doughnut" data-bind="showDoughnutChart: {}"></div>
                    <div class="legend">
                        <table class="legend-table">
                            <tr>
                                <td class="legend-table-color">
                                    <span class="glyphicon glyphicon-stop" data-bind="style: { backgroundColor: CHARTCOLOURS[0], color: CHARTCOLOURS[0]}"></span>
                                </td>
                                <td class="legend-table-option">
                                    Average &nbsp; [
                                    <span data-bind="html: $parent.AnalyticsData().FromRating"> </span> - <span data-bind="html: $parent.AnalyticsData().ToRating"> </span> ]
                                </td>
                                <td class="legend-table-percentage">
                                    <span data-bind="html: $data.AnalyticsData().OverallRating().toFixed(1)"></span> %
                                </td>
                                <td class="legend-table-number">
                                    <span data-bind="html: $data.AnalyticsData().ResponseCount"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <span> No data found </span>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.CHOICE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <div class="row">
                    <div class="doughnut" data-bind="showChoiceDoughnutChart: {}"></div>
                </div>
                <div class="legend">
                    <table data-bind="foreach: $data.AnalyticsData().ChoiceWCounts" class="legend-table">
                        <tr>
                            <td class="legend-table-color">
                                <span class="glyphicon glyphicon-stop" data-bind="style: { backgroundColor: CHARTCOLOURS[$index()], color: CHARTCOLOURS[$index()]}"></span>
                            </td>
                            <td class="legend-table-option">
                                <span data-bind="html: $data.ChoiceText"></span>
                            </td>
                            <td class="legend-table-percentage">
                                <span data-bind="html: $data.Percentage().toFixed(1)"></span> %
                            </td>
                            <td class="legend-table-number">
                                <span data-bind="html: $data.Count"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <p> No data found </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.MULTIPLE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <div class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators" data-bind="visible: $data.QuestionData().QuestionItems().length > 0">
                        <!-- ko foreach: $data.QuestionData().QuestionItems-->
                        <li data-bind="attr: { 'data-slide-to': $index }, css: { 'active' : $index() == 0 }, changeCurrentSlide : {}"></li>
                        <!-- /ko -->
                    </ol>
                    <div class="carousel-inner" data-bind="foreach: $data.QuestionData().QuestionItems">
                        <div class="item" data-bind="css: { 'active' : $index() == 0 }">
                            <!-- ko if: !$parent.AnalyticsData().AnalyticsItems()[$index()].NotFound() -->
                            <!-- ko if: $parent.QuestionData().MultipleType() != MULTIPLETYPES.COMMENT && $parent.QuestionData().MultipleType() != MULTIPLETYPES.SINGLECHOICE && $parent.QuestionData().MultipleType() != MULTIPLETYPES.MULTIPLECHOICE -->
                            <div>
                                <p class="question-font" data-bind="html: $data.QuestionItemText"></p>
                                <div class="row">

                                    <div class="doughnut" data-bind="showMultipleRatingDoughnutChart: {}"></div>
                                    <div class="legend">
                                        <table class="legend-table">
                                            <tr>
                                                <td class="legend-table-color">
                                                    <span class="glyphicon glyphicon-stop" data-bind="style: { backgroundColor: CHARTCOLOURS[0], color: CHARTCOLOURS[0]}"></span>
                                                </td>
                                                <td class="legend-table-option">
                                                    Average &nbsp; [
                                                    <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].FromRating"> </span> - <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].ToRating"> </span> ]
                                                </td>
                                                <td class="legend-table-percentage">
                                                    <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating().toFixed(1)"></span>
                                                </td>
                                                <td class="legend-table-number">
                                                    # <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].ResponseCount"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: $parent.QuestionData().MultipleType() == MULTIPLETYPES.SINGLECHOICE || $parent.QuestionData().MultipleType() == MULTIPLETYPES.MULTIPLECHOICE  -->
                            <div>
                                <p class="question-font" data-bind="html: $data.QuestionItemText"></p>
                                <div class="row">

                                    <div class="doughnut" data-bind="showMultipleChoiceDoughnutChart: {}"></div>

                                </div>
                            </div>
                            <div class="legend">
                                <table data-bind="foreach: $parent.AnalyticsData().AnalyticsItems()[$index()].ChoiceWCounts" class="legend-table">
                                    <tr>
                                        <td class="legend-table-color">
                                            <span class="glyphicon glyphicon-stop" data-bind="style: { backgroundColor: CHARTCOLOURS[$index()], color: CHARTCOLOURS[$index()]}"></span>
                                        </td>
                                        <td class="legend-table-option">
                                            <span data-bind="html: $data.ChoiceText"></span>
                                        </td>
                                        <td class="legend-table-percentage">
                                            <span data-bind="html: $data.Percentage().toFixed(1)"></span> %
                                        </td>
                                        <td class="legend-table-number">
                                            <span data-bind="html: $data.Count"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: $parent.AnalyticsData().AnalyticsItems()[$index()].NotFound() -->
                            <p> No data found </p>
                            <!-- /ko -->
                        </div>
                    </div>
                    <a id="analytics-carousel-control" class="left carousel-control blue-font alignleft pad-arrow-left" data-bind="movePreviousSlide : {}"><span class="icon-angle-left"></span></a>
                    <a id="analytics-carousel-control" class="right carousel-control blue-font alignright pad-arrow-right" data-bind="moveNextSlide : {}"><span class="icon-angle-right"></span></a>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="socialSharing something">
        <div class="survey-sections">
            <p class="normal-font center-question">Share the Kindness@Work results on social media.</p>
            <div class="socialmedia-box">
                <a class="fb-share" onclick="shareFacebookResultDialog()" data-bind="    click: $root.loadResultsView">
                    <img src="@Href("~/Images/Facebook-Icon.png")" width="64" height="64" alt="Share on Facebook" />
                </a>
            </div>
        </div>
    </div>
