﻿<script src='https://www.google.com/recaptcha/api.js'></script>

<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/supportview-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/supportview-desktop.css")" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/pe-icon-7-stroke.css")" />
<style>
    .modal-header{
        border:0px;
    }
</style>

<div class="modal fade support" id="supportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <br />
            </div>
            <div class="modal-body">
                <div id="updatepanel clearfix">
                    <div class="header-support">
                        <h3 class="modal-title" id="myModalLabel">Facing a <b>Problem</b> and/or have a <b>Solution</b> to suggest?</h3>
                    </div>
                    <form id="support-form">
                        <div class="support-tagdiv">
                            <div class="support-area-choices problem-choices" data-bind="selectProblem: {}"><p>Problem</p></div>
                            <div class="support-area-choices solution-choices" data-bind="selectSolution: {}"><p>Solution</p></div>
                        </div>
                        <div class="support-section">
                            <div class="support-required">*</div>
                            <input id="support" type="text" data-bind="value: $root.Support().Title" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" placeholder="Title of your Problem and/or Solution" required />
                        </div>
                        <div class="support-section">
                            <div class="support-required-desc">*</div>
                            <div class="desc-commentbox">
                                <textarea id="Description" name="Description" class="form-control commentplaceholder uploader-font textarea-width special-pad" data-bind="autosizeSupport:{}, value: $root.Support().Description" placeholder="Describe your Problem and/or Solution" required></textarea>
                            </div>
                        </div>
                        <div align="center" class="support-attachment">
                            <label class="description-text-center">Would you like to attach anything?</label>
                            <label class="description-text-center description-font-text">You can add a photo, video or file. Please make sure it is below 1MB so it loads faster for you. </label>
                            <!-- ko foreach: $root.Support().Attachments -->
                            <span class="pe-7s-close large-font blue-font pull-right" data-bind="click: $parent.Support().removeAttachment"></span>
                            <div style="text-align:center;" class="attachment-images">
                                <!-- ko if: $data.FileType() === "IMAGE" -->
                                <img data-bind="attr: { src: $data.FilePath}" class="attachment-upload-image" />
                                <!-- /ko -->
                                <!-- ko if: $data.FileType() === "VIDEO" -->
                                <video class="attachment-upload-image" controls>
                                    <source data-bind="attr: { src: $data.FilePath}">
                                    Your browser does not support the video tag.
                                </video>
                                <!-- /ko -->
                                <!-- ko if: $data.FileType() === "UNKNOWN" -->
                                <div class="support-img-div unknown-attachment">
                                    <img src="@Href("~/Images/Attachment.png")" /><br />
                                    <span data-bind="html: $data.FileName"></span>
                                </div>
                                <!-- /ko -->
                            </div>
                            <div class="commentbox">
                                <textarea class="form-control commentplaceholder" data-bind="autosizeSupport: {}, value: $data.CommentText" placeholder="Write your comment"></textarea>
                            </div>
                            <!-- /ko -->
                            <div class="support-img-div" data-bind="if: !$root.Support().Attachment()">
                                <div class="progress-bar-success"></div>
                                <img src="@Href("~/Images/Attachment.png")" width="50" />
                                <input name="attachment" class="attachmentinput" type="file" data-bind="uploadSupportAttachment: { property: 'filename'}">
                            </div>
                        </div>
                        <div class="support-section">
                            <div class="support-required-two">*</div>
                            <label class="description-text-center">Your Given Names <br /> eg. Amber Rose</label>
                            <input id="Given Names" name="Given Names" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" placeholder="Given Names" type="text" data-bind="value: $root.Support().GivenNames" required />
                        </div>
                        <div class="support-section">
                            <div class="support-required-two">*</div>
                            <label class="description-text-center">Your Surname <br /> eg. Black</label>
                            <input id="Surname" name="Surname" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" placeholder="Surname" type="text" data-bind="value: $root.Support().Surname" required />
                        </div>
                        <div id="modal-country"></div>
                        <div class="support-section">
                            <div class="support-required-one">*</div>
                            <label class="description-text-center">Country</label>
                            <select id="SVCountry" name="SVCountry" data-bind="selectSupport: {}, options: COUNTRIES, value: $root.Support().Country,  multiselectOptions: { header: 'Country', multiple: false, selectedList: 1, classes:'country-mss' }" required></select>
                        </div>
                        <div class="support-section">
                            <div class="support-required-two">*</div>
                            <label class="description-text-center">
                                Your Mobile number inclusive of Country and Area Codes<br />
                                eg. <a href="tel:+1800229933">+65 9876 5432</a>
                            </label>
                            <input id="SupportPhoneNumber" name="SupportPhoneNumber" data-bind="value: $root.Support().Mobile" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" placeholder="Mobile" type="text" required />
                        </div>
                        <div class="support-section">
                            <div class="support-required-two">*</div>
                            <label class="description-text-center">
                                Your Email address<br />
                                eg. Amber.Black@CusExperience.com
                            </label>
                            <input id="SupportEmail" name="SupportEmail" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Support().EmailAddress" placeholder="Email" type="text" required />
                        </div>
                        <div class="support-section">
                            <div class="support-required-captcha">*</div>
                            <div class="captchadiv" id="captchadiv">
                                <div class="g-recaptcha" data-sitekey="6LcrQ_sSAAAAAA96OHlLDqDCwSs3NuIdpmq4uZ5r"></div>
                            </div>
                            <label class="error" data-bind="visible: !$root.ServerValidations['Captcha'].valid(), text: $root.ServerValidations['Captcha'].message"></label>
                        </div>
                        <div>
                            <button class="btn btn-lg btn-default btn-block normal-font login-btn" data-bind="click: $root.requestSupport" id="support-button">Submit</button>
                            <div class="survey-footer">* required</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>