﻿


<script type="text/javascript">


    function noenter() {
        console.log("noenter");
        return !(window.event && window.event.keyCode == 13);
    }

    var GUrl = document.URL;
    var currUrl = GUrl.toUpperCase();

    $(window).scroll(function () {
        var submitHeight = $(".submit-section").outerHeight();
        var footerHeight = $(".footerZIndex").outerHeight();
        var sfooterHeight = $(".survey-footer").outerHeight();
        var s = $(window).scrollTop(),
              d = $(document).height(),
              c = $(window).height();
        // console.log("sh: " + submitHeight);
        // console.log("fh: " + footerHeight);
        // console.log("sfh: " + sfooterHeight);
        scrollPercent = (s / (d - c - submitHeight - footerHeight - sfooterHeight)) * 100;
        var position = scrollPercent;

        $("#progressbar").attr('value', position);
        $("#progressbar").progressbar({
            value: position
        });

    });
</script>

<script>
    function isTouchDevice() {
        return true == ("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch);
    }
    if (isTouchDevice() === false) {
        $(document).tooltip();
    }
</script>

<div data-bind="if: $root.Survey" id="Survey">
    <div class="surveypanel clearfix" data-bind="with: $root.Survey">
        <div class="surveyeditpanel">
            <!-- <div id="progressbar"></div>-->
            <div class="heading-section">
                <h1 class="title-font centralize" id="hoverText" data-bind="html: $data.SurveyTitle" placeholder="Enter Survey Title"> </h1>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 clearfix ss-container">
                <div data-bind="foreach: $data.Modules() ">
                    <div class="survey-sections">
                        <div class="numbering-holder" data-bind="if: $data.ModuleType() != MODULETYPES.THANKS && $root.CurrentPage() == 1 && $data.ModuleType() != MODULETYPES.SUBMIT">
                            <span data-bind="text: $index() + 1 +'.'" class="sidemenutext-font question-numbering"></span>
                        </div>
                        <div data-bind="if: $data.ModuleType() == MODULETYPES.WELCOME && $root.CurrentPage() == 1">

                            <div class="survey-div" data-bind="with: $data.ModuleData()">
                                <div class="questioncontentattach center-question ">
                                    <p class="question-font" data-bind="html: $data.WelcomeText" placeholder="Enter Welcome Statement" style="font-style:italic;"></p>
                                    <p class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></p>
                                </div>
                                <div class="welcomespacer">
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.BRANDING && $root.CurrentPage() == 1">
                            <div class="survey-div survey-div-sp" data-bind="with: $data.ModuleData()">
                                <div id="uploadimg">
                                    <div class="file-input-wrapper">
                                        <div class="flipperTool">

                                            <img src="@Href("~/Images/flip.png")" width="25" data-bind="flipImage : {}" alt="Flip image for content to be flipped to the back." />
                                        </div>
                                        <div class="flip-container" id="flip-toggle">
                                            <div class="flipper">
                                                <div class="front" data-bind="if: $data.FrontImage, flipImage : {}">
                                                    <img class="absolutepos-img" data-bind="placePosition: {}, attr: { src: $data.FrontImage , width: $data.ImageWidth()}" alt="Branding image for the survey." />
                                                    <div class="inner-img-upload">
                                                        <div data-bind="if: $data.LogoImage" class="brandLogoZIndex">
                                                            <img class="logo-img" data-bind="attr: { src: $data.LogoImage}" alt="Branding logo for the survey." />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="back" data-bind="flipImage : {}">
                                                    <br />
                                                    <table align="center">
                                                        <tr>
                                                            <td class="Table-text">
                                                                Name
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <p class="flip-font" data-bind="html: $data.RegisteredName" placeholder="Enter Address here"></p>
                                                            </td>
                                                        </tr>
                                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="Table-text">
                                                                Address
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <a target="_blank" class="flip-font" data-bind="html: $data.Address, attr: {href:  $root.getAddressLink($data.Address())}" placeholder="Address"></a>
                                                            </td>
                                                        </tr>
                                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="Table-text">
                                                                Website
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <a class="flip-font" target="_blank" id="" data-bind="html: $data.BrandWebsite,attr: {href: $data.BrandWebsite() ? 'http://' + $data.BrandWebsite().replace('http://','') : ''}" placeholder="Website"></a>
                                                            </td>
                                                        </tr>
                                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="Table-text">
                                                                Phone
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td>
                                                                <a class="flip-font" id="" data-bind="html: $data.PhoneNumber, attr: {href: 'tel:'+ $data.PhoneNumber()}" placeholder="Mobile"></a>
                                                            </td>
                                                        </tr>
                                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                        <tr>
                                                            <td class="Table-text">
                                                                Email
                                                            </td>
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                            <td><a contenteditable="false" class="flip-font" id="" data-bind="html: $data.EmailAddress, attr: {href: 'mailto:'+$data.EmailAddress()}" placeholder="Email"></a></td>
                                                        </tr>
                                                    </table>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.APPRECIATION && $root.CurrentPage() == 1">
                            <div class="survey-div survey-div-sp" data-bind="with: $data.ModuleData()">
                                <div id="uploadimg">
                                    <div class="file-input-wrapper">
                                        <div class="flipperTool">
                                            <img src="@Href("~/Images/flip.png")" width="25" data-bind="flipAppreciation : {}" alt="Flip image for content to be flipped to the back." />
                                        </div>
                                        <div class="flip-container" id="flip-toggle-app">
                                            <div class="flipper">
                                                <div class="front" data-bind="if: $data.FrontImage, flipAppreciation : {}">
                                                    <p class="question-font  brandLogoZIndex title-appreciation" data-bind="html: $data.AppreciationText" placeholder="Enter Appreciation Text"></p>
                                                    <img class="absolutepos-img" data-bind="placePosition: {},attr: { src: $data.FrontImage , width: $data.ImageWidth}, flipAppreciation : {}" />
                                                    <div class="inner-img-appreciation">
                                                        <div data-bind="if: $data.LogoImage" class="brandLogoZIndex">
                                                            <img class="appreciation-logo-img" data-bind="attr: { src: $data.LogoImage}" alt="Appreciation Brand Image for the survey." />
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="back app-back" style="background-color: white" data-bind="flipAppreciation : {}">
                                                    <span class="expires question-font">Expires <p class="" data-bind="html: $data.Expires"></p></span>
                                                    <p class="tancP"> Terms and Conditions </p>
                                                    <p data-bind="html: $data.TermsConditions" class="tandc">  </p>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="pull-right" data-bind="html: $root.Survey().AppreciationCode" placeholder="Enter Appreciation Text"></p>
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.ORGSUB && $root.CurrentPage() == 1">
                            <div class="survey-div">
                                <div class="survey-div-sp touchpoint-container">
                                    <div>
                                        <!-- ko if: $root.Subsidiaries().length > 0 -->
                                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectOrgSub: {}, options: $root.Subsidiaries() , optionsText: function(item){ return item.key }, optionsValue: function(item){ return item.value }, value: $root.Survey().SelectedSubsidiaries()[0] , optionsCaption: 'Subsidiaries', multiselectOptions: {header: false, multiple: false, selectedList: 1, classes:'touchpoint-ms'}"></select>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.TOUCHPOINT && $root.CurrentPage() == 1">
                            <div class="survey-div survey-div-sp">
                                <div class="touchpoint-container">
                                    <!-- ko if: $root.AvlblTouchpoints().length > 0 -->
                                    <select multiple="multiple" class="form-control form-control-sp touchpoint-select" data-bind="selectTouchpoint: {}, options: $root.AvlblTouchpoints() , optionsText: function(item){ return item.key }, optionsValue: function(item){ return item.value }, value: $root.Survey().SelectedTouchpoints()[0] , optionsCaption: 'Touchpoints', multiselectOptions: {header: false, multiple: false, selectedList: 1 , classes:'touchpoint-ms'}"></select>
                                    <div data-bind="foreach: $root.AvlblTouchpoints">
                                        <!-- ko with: $data.valueObject -->
                                        <div id="uploadimg" data-bind="visible: $data.TouchpointID() === $root.Survey().SelectedTouchpoints()[0]()">
                                            <div class="file-input-wrapper">
                                                <div class="flipperTool">
                                                    <img src="@Href("~/Images/flip.png")" width="25" data-bind="flipImage : {}" />
                                                </div>
                                                <div class="flip-container" id="flip-toggle">
                                                    <div class="flipper">
                                                        <div class="front">
                                                            <div data-bind="if: $data.FrontImage">
                                                                <img data-bind="attr: { src: $data.FrontImage , width: $data.ImageWidth }, drag: {}" />
                                                            </div>
                                                            <div class="inner-img-upload">
                                                                <div data-bind="if: $data.LogoImage" class="brandLogoZIndex">
                                                                    <img class="logo-img" data-bind="attr: { src: $data.LogoImage}" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="back">
                                                            <br />
                                                            <table align="center">
                                                                <tr>
                                                                    <td class="Table-text">
                                                                        Name
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td>
                                                                        <p class="flip-font" data-bind="html: $data.RegisteredName" placeholder="Organisation Name"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                                <tr>

                                                                    <td class="Table-text">
                                                                        Address
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td>
                                                                        <p class="flip-font" id="" data-bind="html: $data.Address" placeholder="Address"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                                <tr>

                                                                    <td class="Table-text">
                                                                        Website
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td>
                                                                        <p class="flip-font" id="" data-bind="html: $data.BrandWebsite" placeholder="Website"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                                <tr>

                                                                    <td class="Table-text">
                                                                        Phone
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td>
                                                                        <p class="flip-font" id="" data-bind="html: $data.PhoneNumber" placeholder="Mobile"></p>
                                                                    </td>
                                                                </tr>
                                                                <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                                                <tr>
                                                                    <td class="Table-text">
                                                                        Email
                                                                    </td>
                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                                    <td><p class="flip-font" id="" data-bind="html: $data.EmailAddress" placeholder="Email"></p></td>
                                                                </tr>
                                                            </table>
                                                            <br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="slider" class="sliderTab" data-bind="slider: $data.SliderValue, sliderOptions: {min: 0, max: 100, range: 'min', step: 1, value: 50}"></div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() ==MODULETYPES.QUESTION && $root.CurrentPage() == 1, slideModule: MODULETYPES.QUESTION, css: { 'questionHolder survey-section-height' : $data.ModuleType()==MODULETYPES.QUESTION}">
                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.RATE">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                    <div class="questioncontent center-question">
                                        <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="rating-answer-content">
                                        <!-- ko if: $data.QuestionData().RateType() != RATETYPES.COMMENT -->
                                        <div>
                                            <ul class="rating-scale col-md-12" data-bind="css: $data.QuestionData().RateType()== RATETYPES.NUMBER?'normal-font':'large-font'">
                                                <!-- ko foreach: $data.QuestionData().NumArray -->
                                                <li><span data-bind="css: $parent.QuestionData().RateType, html: $parent.QuestionData().RateType()==RATETYPES.NUMBER? $data:'', chooseRating: {}"></span></li>
                                                <!-- /ko -->
                                            </ul>
                                        </div>
                                        <div class="scale">
                                            <p class="pull-left rScale-font" data-bind="html: $data.QuestionData().LowestRateText" placeholder="Lowest"></p>
                                            <p class="pull-right rScale-font" data-bind="html: $data.QuestionData().HighestRateText" placeholder="Highest"></p>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: $data.QuestionData().RateType() == RATETYPES.COMMENT -->
                                        <div class="tagdiv" data-bind="foreach: ['Compliment','Comment','Complaint']">
                                            <div class="exp-area-choices" data-bind="chooseRating:{}">
                                                <p class="tag-font" data-bind="html: $data"></p>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <div class="rating-commentbox">
                                            <!--
                                            <p contenteditable="true" class="form-control commentplaceholder" data-bind="value: $data.AnswerData().CommentText,visible: $data.QuestionData().IsCommentable " placeholder="Write your comments"></p>-->
                                            <textarea class="form-control commentplaceholder" placeholder="Write your comments" data-bind="autosize: {} ,value: $data.AnswerData().CommentText,visible: $data.QuestionData().IsCommentable"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TAG">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                    <div class="questioncontent center-question">
                                        <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>

                                    <div class="tag-answer-content">
                                        <!--
                                        <p contenteditable="true" class="form-control commentplaceholder" data-bind="commentBox: {},value: $data.AnswerData().CommentText" placeholder="Write your comments"></p>-->
                                        <textarea class="form-control commentplaceholder" placeholder="Write your comments" data-bind="autosize: {} ,commentBox: {},value: $data.AnswerData().CommentText"></textarea>
                                    </div>

                                    <div class="tagdiv" data-bind="foreach: $data.QuestionData().Tags">
                                        <div class="exp-area-choices" data-toggle="tooltip" data-placement="bottom" data-bind="selectTag: {}, attr: {title: $data.TagTooltip}">
                                            <p class="tag-font" data-bind="html:$data.TagName" placeholder="Enter a Tag"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.STAFF">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="questioncontent center-question">
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="clearfix" data-bind="foreach: $data.AnswerData().STAFFEntry">
                                        <div class="dir-input-container">
                                            <div data-bind="if: $index() > 0">
                                                <span class="pe-7s-close large-font blue-font pull-right democross dir-cross" data-bind="click: $parent.AnswerData().STAFFEntryRemoveClick"></span>
                                            </div>
                                            <div class="text-answer-content">

                                                <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder demo-textarea blue-font STAFF-box" type="text" data-bind="autoComplete: {}, value: $data.STAFFEntryText" placeholder="Name of Staff" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="choice-addOptionBtn alignleft">
                                        <span data-bind="click: $data.AnswerData().STAFFEntryAddClick" class=" icon-plus plus-padding-top plus-btn-font blue-font"></span>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TEXT">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                    <div class="questioncontent center-question">
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="text-answer-content">
                                        <textarea class="form-control" placeholder="Write your comments" data-bind="autosize: {} ,value: $data.AnswerData().CommentText" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 72px;"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.CHOICE">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                    <div class="questioncontent center-question">
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"> </p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="choice-answercontent">
                                        <div data-bind="foreach: $data.QuestionData().Choices">
                                            <div class="s-blue-div-hover" data-bind="selectChoice: {}">
                                                <p class="normal-font" data-bind="html: $data.ChoiceText" placeholder="Enter Choice">
                                            </div>
                                        </div>
                                        <div class="commentbox-sp">
                                            <!--
                                            <p contenteditable="true" class="form-control commentplaceholder" placeholder="Write your comments" data-bind="value: $data.AnswerData().CommentText, visible: $data.QuestionData().IsCommentable"></p>
                                            -->
                                            <textarea class="form-control" placeholder="Write your comments" data-bind="autosize: {} ,value: $data.AnswerData().CommentText, visible: $data.QuestionData().IsCommentable"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.PICTURE">
                                <!-- ko with: $data.ModuleData().QuestionData() -->
                                <form>
                                    <div class="image-input-wrapper">
                                        <div class="upload-icon3" data-bind="visible: !$data.ImageURL()">
                                            <div>
                                                <img src="@Href("~/Images/Attachment.png")" width="50" alt="Attachment Logo for attaching files." />
                                            </div>
                                        </div>
                                        <div data-bind="if: $data.ImageURL" class="imageResizer">
                                            <div class="flip-container" id="flip-toggle">
                                                <div class="flipper">
                                                    <div class="front">
                                                        <img class="imgdisplay" data-bind="attr: { src: $data.ImageURL }" alt="Image of uploaded file." />
                                                    </div>
                                                    <div class="back">
                                                        <img class="imgdisplay" src=@Href("~/Images/GE-LocationFlipImage.png") alt="Flip image for content to be flipped to the back." />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- /ko -->
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() ==QUESTIONTYPES.MULTIPLE && $root.CurrentPage() == 1">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                    <div class="questioncontentattach center-question multiple-question-margin">
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="carousel slide carouselsizer" data-ride="carousel" data-interval="false">
                                        <ol class="carousel-indicators" data-bind="visible: $data.QuestionData().QuestionItems().length > 0, foreach: $data.QuestionData().QuestionItems ">
                                            <li data-bind="attr: { 'data-slide-to': $index }, css: { 'active' : $index() == 0 }, changeCurrentSlide: {}"></li>
                                        </ol>
                                        <div class="carousel-inner" data-bind="foreach: $data.QuestionData().QuestionItems">
                                            <div class="item" data-bind="css: { 'active' : $index() == 0 }">
                                                <div class="questioncontentattach center-question">
                                                    <p class="question-font carousel-paragraph" id="hoverText" data-bind="html: $data.QuestionItemText" placeholder="Enter Question Item"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="left carousel-control blue-font" data-bind="movePreviousSlide : {}, css: $data.QuestionData().CurrentIndex() >0 ? 'active-arrow': 'inactive-arrow'"><span class="icon-angle-left"></span></a>
                                        <a class="right carousel-control blue-font" data-bind="moveNextSlide : {}, css: $data.QuestionData().CurrentIndex() < $data.QuestionData().QuestionItems().length -1 ? 'active-arrow': 'inactive-arrow'"><span class="icon-angle-right"></span></a>
                                    </div>
                                    <!-- ko foreach: $data.QuestionData().QuestionItems -->
                                    <div data-bind="visible: $index() == $parent.QuestionData().CurrentIndex()">
                                        <!-- ko if: $parent.QuestionData().MultipleType() != MULTIPLETYPES.COMMENT && $parent.QuestionData().MultipleType() != MULTIPLETYPES.SINGLECHOICE && $parent.QuestionData().MultipleType() != MULTIPLETYPES.MULTIPLECHOICE -->
                                        <div class="multiple-answer-content">
                                            <ul class="rating-scale col-md-12" data-bind="css: $parent.QuestionData().MultipleType()== MULTIPLETYPES.NUMBER?'normal-font':'large-font'">
                                                <!-- ko foreach: $parent.QuestionData().NumArray -->
                                                <li><span data-bind="css: $parents[1].QuestionData().MultipleType, html: $parents[1].QuestionData().MultipleType()==MULTIPLETYPES.NUMBER? $data:'', chooseMultipleRating : {}"></span></li>
                                                <!-- /ko -->
                                            </ul>
                                        </div>
                                        <div class="scale">
                                            <p class="pull-left rScale-font" data-bind="html: $parent.QuestionData().LowestRateText" placeholder="Lowest"></p>
                                            <p class="pull-right rScale-font" data-bind="html: $parent.QuestionData().HighestRateText" placeholder="Highest"></p>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: $parent.QuestionData().MultipleType() == MULTIPLETYPES.COMMENT -->
                                        <div class="tagdiv" data-bind="foreach: ['Compliment','Comment','Complain']">
                                            <div class="exp-area-choices" data-bind="chooseMultipleRating: {} ">
                                                <p class="tag-font" data-bind="html: $data"></p>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if: $parent.QuestionData().MultipleType() == MULTIPLETYPES.SINGLECHOICE || $parent.QuestionData().MultipleType() == MULTIPLETYPES.MULTIPLECHOICE  -->
                                        <div class="multiple-choice-answercontent">
                                            <div data-bind="foreach: $parent.QuestionData().Choices">
                                                <div class="s-blue-div-hover" data-bind="selectMultipleChoice : {}">
                                                    <p class="normal-font" data-bind="html: $data.ChoiceText" placeholder="Enter Choice">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko if:$parent.AnswerData().AnswerItems().length > 0 -->
                                        <div class="commentbox">
                                            <!--<p contenteditable="true" class="form-control commentplaceholder" data-bind="value: $parent.AnswerData().AnswerItems()[$index()].CommentText, visible: $parent.QuestionData().IsCommentable()" placeholder="Write your comments"></p>-->
                                            <textarea class="form-control" placeholder="Write your comments" data-bind="autosize: {} ,value: $parent.AnswerData().AnswerItems()[$index()].CommentText, visible: $parent.QuestionData().IsCommentable()"></textarea>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>


                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.ATTACH">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="required-header" data-bind="visible: $data.QuestionData().IsRequired">*</div>
                                    <div class="questioncontentattach center-question ">
                                        <p class="question-font" id="hoverText" data-bind="html: $data.QuestionData().QuestionText" placeholder="Would you like to attach anything?"></p>
                                        <p class="description-text" id="hoverText" data-bind="html: $data.QuestionData().DescriptionText" placeholder="You can add a photo, video or file."></p>
                                    </div>

                                    <!-- ko foreach:$data.AnswerData().Attachments -->
                                    <span class="pe-7s-close large-font blue-font pull-right" data-bind="click: $parent.AnswerData().removeAttachment"></span>
                                    <div style="text-align:center;" class="attachment-images">
                                        <!-- ko if: $data.FileType() === "IMAGE" -->
                                        <img data-bind="attr: { src: $data.FilePath}" class="attachment-upload-image" alt="Image of the uploaded file by users." />
                                        <!-- /ko -->
                                        <!-- ko if: $data.FileType() === "VIDEO" -->
                                        <video height="375" width="608" controls>
                                            <source data-bind="attr: { src: $data.FilePath}">
                                            Your browser does not support the video tag.
                                        </video>
                                        <!-- /ko -->
                                        <!-- ko if: $data.FileType() === "UNKNOWN" -->
                                        <div class="attachmentimgdiv">
                                            <script>
                                                if (currUrl.indexOf("/GEL") > 0) {

                                                    document.write(' <img src="@Href("~/Images/GEL-Attachment.png")" alt="Placeholder image if file is unknown."/><br />');
                                                } else {

                                                    document.write(' <img src="@Href("~/Images/Attachment.png")" alt="Placeholder image if file is unknown."/><br />');
                                                }
                                            </script>


                                            <span data-bind="html: $data.FileName"></span>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <div class="commentbox">
                                        <textarea class="form-control commentplaceholder" data-bind="autosize: {}, value: $data.CommentText" placeholder="Write your comments"></textarea>
                                    </div>
                                    <!-- /ko -->

                                    <div style="text-align:center;" class="upload-btn-container">
                                        <div class="progress-bar-success"></div>
                                        <div class="attachmentimgdiv">
                                            <script type="text/javascript">
                                                if (currUrl.indexOf("/GEL") > 0) {

                                                    document.write('<img src="@Href("~/Images/GEL-Attachment.png")" alt="Image button to click for uploading of attachments."/>');
                                                } else {

                                                    document.write('<img src="@Href("~/Images/Attachment.png")" alt="Image button to click for uploading of attachments."/>');
                                                }
                                            </script>
                                        </div>
                                        <form class="attachment-upload-btn">
                                            <input name="attachment" class="attachmentinput" type="file" data-bind="uploadAttachment: { property: 'filename'}">
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.SOCIAL">
                                <!-- ko with: $data.ModuleData().QuestionData() -->
                                <div class="questioncontentattach center-question ">
                                    <p class="question-font" data-bind="html: $data.QuestionText" placeholder="Share your experience in Social Media"></p>
                                    <p class="description-text" data-bind="html: $data.DescriptionText" placeholder="Tell about our service"></p>
                                </div>
                                <div class="socialmedia-box">
                                    <a onclick="openFacebookDialog()">
                                        <img src="@Href("~/Images/Facebook-Icon.png")" width="64" height="64" alt="Share on Facebook" />
                                    </a>
                                    <!--
                                    <a href="https://twitter.com/intent/tweet?text=Tell people about SKM" data-lang="en" data-related="jasoncosta">
                                        <img src="@Href("~/Images/Twitter-Icon.png")" alt="Share on Twitter" />
                                    </a>
                                    <a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                        <img src="@Href("~/Images/Google-Icon.png")" alt="Share on Google+" />
                                    </a>
                                    <a onclick="openLinkedInDialog()">
                                        <img src="@Href("~/Images/Linkin-Icon.png")" title="Share on LinkedIn" alt="Share on LinkedIn" />
                                    </a>
                                    -->
                                </div>
                                <!-- /ko -->
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.LOCATION && $root.CurrentPage() == 1">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="questioncontentattach center-question ">
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Location Statment" style="font-style:italic;"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="location-dropzone" data-bind="flipLocation:{}">
                                        <img id="location-marker" src="@Href("~/Images/Location-Icon-Blue copy.png")" />
                                    </div>
                                    <div class="location-thank-you"><p class="medium-font success-text">Thank you for checking in.</p></div>
                                    <div class="map-canvas" id="map-canvas"></div>
                                </div>
                            </div>

                            <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.DEMOGRAPHIC && $root.CurrentPage() == 1">
                                <div class="survey-div" data-bind="with: $data.ModuleData()">
                                    <div class="questioncontentattach center-question ">
                                        <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Statement" style="font-style:italic;"></p>
                                        <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                                    </div>
                                    <div class="demographics-container">
                                        <form id="demographics-form">
                                            <div class="demo" data-bind="foreach: $data.QuestionData().DGQuestionFields">
                                                <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTSINGLELINE -->
                                                <div class="demo-field single-line">
                                                    <div class="demo-required-text-header" data-bind="visible: $data.IsRequired">*</div>
                                                    <div class="clearfix">
                                                        <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                        <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder" type="text" data-bind="addAnswerField:{}, attr:{name: 'input' + $index(), id:  'input' + $index(),placeholder: $data.FieldName, required: $data.IsRequired }, value: $parent.AnswerData().DGAnswerFields()[$index()].TextValue, css: $data.Validation">
                                                    </div>
                                                    <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                        <p contenteditable="true" class="form-control commentplaceholder" data-bind=" value: $parent.AnswerData().DGAnswerFields()[$index()].CommentText" placeholder="Write your comments"></p>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTMULTILINE -->
                                                <div class="demo-field">
                                                    <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                    <div class="clearfix">
                                                        <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                        <textarea class="form-control commentplaceholder" data-bind="addAnswerField:{}, autosize: {}, attr:{ name: 'textarea' + $index() ,placeholder: $data.FieldName, required: $data.IsRequired} ,value: $parent.AnswerData().DGAnswerFields()[$index()].TextValue"></textarea>
                                                    </div>
                                                    <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                        <p contenteditable="true" class="form-control commentplaceholder" data-bind="value: $parent.AnswerData().DGAnswerFields()[$index()].CommentText" placeholder="Write your comments"></p>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.SELECTONE -->
                                                <div class="demo-field clearfix">
                                                    <div class="clearfix">
                                                        <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                        <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                        <select multiple="multiple" data-bind="addAnswerField:{}, selectSingle: {},  attr: { name: 'select' + $index() , required: $data.IsRequired} ,options: $data.SelectValues, selectedOptions: $parent.AnswerData().DGAnswerFields()[$index()].FieldValues, optionsCaption : $data.FieldName, multiselectOptions: {  minWidth: 600,header: $data.FieldName(), multiple: false, selectedList: 1}"></select>
                                                    </div>
                                                    <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                        <p contenteditable="true" class="form-control commentplaceholder" data-bind=" value: $parent.AnswerData().DGAnswerFields()[$index()].CommentText" placeholder="Write your comments"></p>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.SELECTMULTIPLE -->
                                                <div class="demo-field">
                                                    <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                    <div class="clearfix">
                                                        <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                        <select multiple="multiple" data-bind="addAnswerField:{}, selectMultiple: {}, attr: { name: 'select' + $index(), required: $data.IsRequired} , options: $.merge(['All'], $data.SelectValues()) , selectedOptions: $parent.AnswerData().DGAnswerFields()[$index()].FieldValues,optionsCaption : $data.FieldName, multiselectOptions: {  minWidth: 600, header: $data.FieldName() , selectedText: $data.FieldName() }"></select>
                                                    </div>
                                                    <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                        <p contenteditable="true" class="form-control commentplaceholder" data-bind="value: $parent.AnswerData().DGAnswerFields()[$index()].CommentText " placeholder="Write your comments"></p>
                                                    </div>
                                                </div>
                                                <!-- ko if:$.inArray('All',$parent.AnswerData().DGAnswerFields()[$index()].FieldValues())==-1 -->
                                                <div data-bind="foreach: $parent.AnswerData().DGAnswerFields()[$index()].FieldValues">
                                                    <!-- ko if: $data !== 'All' && $data!==null -->
                                                    <div class="exp-area-choices unclickable-box">
                                                        <p class="tag-font" data-bind="text:$data"></p>
                                                    </div>
                                                    <!-- /ko -->
                                                </div>
                                                <!-- /ko -->
                                                <!-- ko if:$.inArray('All',$parent.AnswerData().DGAnswerFields()[$index()].FieldValues())==0 -->
                                                <div class="exp-area-choices unclickable-box">
                                                    <p class="tag-font">All</p>
                                                </div>
                                                <!-- /ko -->
                                                <!-- /ko -->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.AUTHENTICATION && $root.CurrentPage() == 1">
                            <div class="survey-div" data-bind="with: $data.ModuleData()">
                                <div class="questioncontentattach center-question ">
                                    <p class="question-font" data-bind="html: $data.AuthenticationText" placeholder="Enter Statement" style="font-style:italic;"></p>
                                    <p class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></p>
                                </div>
                                <div class="captchadiv clearfix" id="captchadiv">
                                    @{ Html.RenderAction("Index", "Captcha", null); }
                                </div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.SUBMIT && $root.CurrentPage() == 1">
                            <div class="survey-div submit-section" data-bind="with: $data.ModuleData()">
                                <div class="questioncontentattach center-question ">
                                    <p class="question-font" id="hoverText" data-bind="html: $data.ThanksText" placeholder="Enter Thanks Statement" style="font-style:italic;"></p>
                                    <p class="description-text" id="hoverText" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></p>
                                </div>
                                <div class="questioncontent center-question">
                                    <div id="share-your-exp" class="share-your-exp" data-bind="submitExperience : {}">
                                        <p class="question-font" id="share-submit-btn" data-bind="html: $data.SubmitText" placeholder="Enter Submit Text"></p>
                                    </div>
                                </div>
                                <div class="disclaimer-text"><p class="description-text" id="hoverText" data-bind="html: $data.DisclaimerText"></p></div>
                            </div>
                        </div>

                        <div data-bind="if: $data.ModuleType() == MODULETYPES.THANKS && $root.CurrentPage() == 2">
                            <div class="survey-div" data-bind="with: $data.ModuleData()">
                                <div class="questioncontentattach center-question breakwords thankyou-zone">
                                    <p class="thankyou-font" data-bind="html: $data.ThanksText" placeholder="Enter Welcome Statement"></p>
                                    <p class="thankyou-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></p>
                                </div>
                                <div class="welcomespacer">
                                </div>
                                <div class="socialmedia-box" data-bind="if: $data.isShowFacebook">
                                    <a data-bind="shareFacebookDialog: {}">
                                        <img src="@Href("~/Images/Facebook-Icon.png")" width="64" height="64" alt="Share on Facebook" />
                                    </a>
                                </div>
                            </div>
                            <div class="survey-div">
                                <div class="leadout">
                                    <div class="leadout-container clearfix">
                                        <div class="center-question get-started"><p class="leadout-font"><b>For your own Customer Analytics Platforms, please let us know where you need to get started at.</b></p></div>
                                        <div class="features">
                                            <div class="enterprise">
                                                <div class="sub-type center-question" id="ent-title">
                                                    <form action="http://cusexperience.com/CusXP/Enterprise">
                                                        <button data-bind="" type="submit" class="btn btn-default btn-block medium-font " id="">
                                                            <p class="subtype-font sub-type-header">Enterprise</p>
                                                            <p class="medium-font price-point">from as little as <br /><b>USD 19,995</b> / month </p>
                                                        </button>
                                                    </form>


                                                </div>

                                                <div id="ent-content">

                                                    <div id="ent-feat">

                                                        <div class="class-head">
                                                            <b>
                                                                Platforms
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list">Customer Relationship Analytics</p>
                                                        <p class="medium-font feature-list">Customer Experience Analytics</p>
                                                        <p class="medium-font feature-list">Customer Case Analytics</p>
                                                        <p class="medium-font feature-list">Customer Social Analytics</p>
                                                        <p class="medium-font feature-list">Customer Business Analytics</p>
                                                        <div class="class-head">
                                                            <b>
                                                                Cognitive Computing
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list">User Modelling</p>
                                                        <p class="medium-font feature-list">Trade Off Analytics</p>
                                                        <p class="medium-font feature-list">Correlation Insights</p>
                                                        <p class="medium-font feature-list">Message Resonance</p>
                                                        <p class="medium-font feature-list">Q & A Automation</p>
                                                        <p class="medium-font feature-list">Euphemism & Colloquialism</p>
                                                        <p class="medium-font feature-list">Visual Recognition</p>
                                                        <p class="medium-font feature-list">Emotion Identification</p>
                                                        <p class="medium-font feature-list">Speech to Text & Text to Speech</p>
                                                        <div class="class-head">
                                                            <b>
                                                                Capabilities
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list">1000 Accounts</p>
                                                        <p class="medium-font feature-list">Role Based Logins</p>
                                                        <p class="medium-font feature-list">Unlimited Role Levels </p>
                                                        <p class="medium-font feature-list">Unlimited Surveys</p>
                                                        <p class="medium-font feature-list">Unlimited Questions</p>
                                                        <p class="medium-font feature-list">Unlimited Responses</p>
                                                        <div class="class-head">
                                                            <b>
                                                                Advanced Analytics
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list">Expert Analysis</p>
                                                        <p class="medium-font feature-list">Visualisation Rendering</p>
                                                        <p class="medium-font feature-list">Footfall</p>
                                                        <p class="medium-font feature-list">Heatmapping</p>
                                                        <div class="class-head">
                                                            <b>Modules</b>
                                                        </div>
                                                        <p class="medium-font feature-list">Heirarchy</p>
                                                        <p class="medium-font feature-list">Touchpoints</p>
                                                        <p class="medium-font feature-list">Language</p>
                                                        <p class="medium-font feature-list">Branding</p>
                                                        <p class="medium-font feature-list">STAFF</p>
                                                        <p class="medium-font feature-list">Welcome</p>
                                                        <p class="medium-font feature-list">Appreciation</p>
                                                        <p class="medium-font feature-list">Intelligence</p>
                                                        <p class="medium-font feature-list">Performance</p>
                                                        <p class="medium-font feature-list">Attachments</p>
                                                        <p class="medium-font feature-list">Psychometric</p>
                                                        <p class="medium-font feature-list">Location</p>
                                                        <p class="medium-font feature-list">Segmentation</p>
                                                        <p class="medium-font feature-list">Demographics</p>
                                                        <p class="medium-font feature-list">Authentication</p>
                                                        <p class="medium-font feature-list">Social Media</p>
                                                        <p class="medium-font feature-list">Alerts</p>
                                                        <p class="medium-font feature-list">Distribution</p>
                                                        <p class="medium-font feature-list">Theme Creator</p>
                                                        <div class="class-head">
                                                            <b>Analytics</b>
                                                        </div>
                                                        <p class="medium-font feature-list">Dashboards</p>
                                                        <p class="medium-font feature-list">Big Data Import</p>
                                                        <p class="medium-font feature-list">Reports</p>
                                                        <p class="medium-font feature-list">Reports Scheduler</p>
                                                        <p class="medium-font feature-list">Benchmarking</p>
                                                        <p class="medium-font feature-list">Overview</p>
                                                        <p class="medium-font feature-list">Customer View</p>
                                                        <p class="medium-font feature-list">Social View</p>
                                                        <p class="medium-font feature-list">Social Influencers</p>
                                                        <p class="medium-font feature-list">Tracking View</p>
                                                        <p class="medium-font feature-list">Data Mining</p>
                                                        <div class="class-head">
                                                            <b>Support</b>
                                                        </div>
                                                        <p class="medium-font feature-list">Live Support</p>
                                                        <p class="medium-font feature-list">Support Tab</p>
                                                    </div>
                                                    <!--
                                                    <p class="medium-font view-boxer"><a id="ent-see" onclick="entClick()">See less</a></p>-->
                                                    <form action="http://cusexperience.com/CusXP/Enterprise" id="ent-start">

                                                        <button data-bind="" type="submit" class="btn btn-default btn-block medium-font feature-btn" id=""><span>Get Started with<br />Enterprise Version</span></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="sme">
                                                <div class="sub-type center-question" id="">
                                                    <form action="http://cusexperience.com/CusXP/SME">
                                                        <button data-bind="" type="submit" class="btn btn-default btn-block medium-font " id="">
                                                            <p class="subtype-font sub-type-header">SME</p>
                                                            <p class="medium-font price-point">from as little as<br /> <b>USD 9,995</b> / month </p>
                                                        </button>
                                                   </form>
                                                </div>
                                                <div id="sme-content">
                                                    <div class="sub-type center-question" id="sme-title">
                                                    </div>
                                                    <div id="sme-feat">
                                                        <div class="class-head">
                                                            <b>
                                                                Platforms
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">-<br /><br /></p>
                                                        <p class="medium-font feature-list">Customer Experience Analytics</p>
                                                        <p class="medium-font feature-list">Customer Case Analytics</p>
                                                        <p class="medium-font feature-list">Customer Social Analytics</p>
                                                        <p class="medium-font feature-list">Customer Business Analytics</p>
                                                        <div class="class-head blank-list">
                                                            <b>
                                                                Cognitive Computing
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-<br /></p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-<br /><br /></p>
                                                        <div class="class-head">
                                                            <b>
                                                                Capabilities
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list">500 Accounts</p>
                                                        <p class="medium-font feature-list">Role Based Logins</p>
                                                        <p class="medium-font feature-list">5 Role Levels </p>
                                                        <p class="medium-font feature-list">Unlimited Surveys</p>
                                                        <p class="medium-font feature-list">Unlimited Questions</p>
                                                        <p class="medium-font feature-list">Unlimited Responses</p>
                                                        <div class="class-head">
                                                            <b>
                                                                Advanced Analytics
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list">Expert Analysis</p>
                                                        <p class="medium-font feature-list">Visualisation Rendering</p>
                                                        <p class="medium-font feature-list">Footfall</p>
                                                        <p class="medium-font feature-list">Heatmapping</p>
                                                        <div class="class-head">
                                                            <b>Modules</b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Touchpoints</p>
                                                        <p class="medium-font feature-list">Language</p>
                                                        <p class="medium-font feature-list">Branding</p>
                                                        <p class="medium-font feature-list">STAFF</p>
                                                        <p class="medium-font feature-list">Welcome</p>
                                                        <p class="medium-font feature-list">Appreciation</p>
                                                        <p class="medium-font feature-list">Intelligence</p>
                                                        <p class="medium-font feature-list">Performance</p>
                                                        <p class="medium-font feature-list">Attachments</p>
                                                        <p class="medium-font feature-list">Psychometric</p>
                                                        <p class="medium-font feature-list">Location</p>
                                                        <p class="medium-font feature-list">Segmentation</p>
                                                        <p class="medium-font feature-list">Demographics</p>
                                                        <p class="medium-font feature-list">Authentication</p>
                                                        <p class="medium-font feature-list">Social Media</p>
                                                        <p class="medium-font feature-list">Alerts</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Theme Creator</p>
                                                        <div class="class-head">
                                                            <b>Analytics</b>
                                                        </div>
                                                        <p class="medium-font feature-list">Dashboards</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Reports</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Benchmarking</p>
                                                        <p class="medium-font feature-list">Overview</p>
                                                        <p class="medium-font feature-list">Customer View</p>
                                                        <p class="medium-font feature-list">Social View</p>
                                                        <p class="medium-font feature-list">Social Influencers</p>
                                                        <p class="medium-font feature-list">Tracking View</p>
                                                        <p class="medium-font feature-list">Data Mining</p>
                                                        <div class="class-head">
                                                            <b>Support</b>
                                                        </div>
                                                        <p class="medium-font feature-list">Live Support</p>
                                                        <p class="medium-font feature-list">Support Tab</p>
                                                    </div>
                                                    <form action="http://cusexperience.com/CusXP/SME">
                                                        <button data-bind="" type="submit" class="btn btn-default btn-block medium-font feature-btn" id=""><span>Get Started with<br />SME Version</span></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="pro">
                                                <div class="sub-type center-question" id="">
                                                    <form action="http://cusexperience.com/CusXP/professional">
                                                        <button data-bind="" type="submit" class="btn btn-default btn-block medium-font " id="">
                                                            <p class="subtype-font sub-type-header">Professional</p>
                                                            <p class="medium-font price-point">from as little as<br /> <b>USD 995</b> / month </p>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div id="pro-content">
                                                    <div class="sub-type center-question" id="pro-title">
                                                    </div>
                                                    <div id="pro-feat">
                                                        <div class="class-head">
                                                            <b>
                                                                Platforms
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">-<br /><br /></p>
                                                        <p class="medium-font feature-list">Customer Experience Analytics</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Customer Social Analytics</p>
                                                        <p class="medium-font feature-list">Customer Business Analytics</p>
                                                        <div class="class-head blank-list">
                                                            <b>
                                                                Cognitive Computing
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-<br /></p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-<br /><br /></p>
                                                        <div class="class-head">
                                                            <b>
                                                                Capabilities
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">10 Accounts</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">1 Role Level</p>
                                                        <p class="medium-font feature-list">Unlimited Surveys</p>
                                                        <p class="medium-font feature-list">Unlimited Questions</p>
                                                        <p class="medium-font feature-list">Unlimited Responses</p>
                                                        <div class="class-head">
                                                            <b>
                                                                Advanced Analytics
                                                            </b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <div class="class-head">
                                                            <b>Modules</b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">Language</p>
                                                        <p class="medium-font feature-list">Branding</p>
                                                        <p class="medium-font feature-list">STAFF</p>
                                                        <p class="medium-font feature-list">Welcome</p>
                                                        <p class="medium-font feature-list">Appreciation</p>
                                                        <p class="medium-font feature-list">Intelligence</p>
                                                        <p class="medium-font feature-list">Performance</p>
                                                        <p class="medium-font feature-list">Attachments</p>
                                                        <p class="medium-font feature-list">Psychometric</p>
                                                        <p class="medium-font feature-list">Location</p>
                                                        <p class="medium-font feature-list">Segmentation</p>
                                                        <p class="medium-font feature-list">Demographics</p>
                                                        <p class="medium-font feature-list">Authentication</p>
                                                        <p class="medium-font feature-list">Social Media</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Theme Creator</p>
                                                        <div class="class-head">
                                                            <b>Analytics</b>
                                                        </div>
                                                        <p class="medium-font feature-list">Dashboards</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Reports</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Overview</p>
                                                        <p class="medium-font feature-list">Customer View</p>
                                                        <p class="medium-font feature-list">Social View</p>
                                                        <p class="medium-font feature-list">Social Influencers</p>
                                                        <p class="medium-font feature-list">Tracking View</p>
                                                        <p class="medium-font feature-list">Data Mining</p>
                                                        <div class="class-head">
                                                            <b>Support</b>
                                                        </div>
                                                        <p class="medium-font feature-list blank-list">-</p>
                                                        <p class="medium-font feature-list">Support Tab</p>
                                                    </div>
                                                    <form action="http://cusexperience.com/CusXP/Professional">
                                                        <button data-bind="" type="submit" class="btn btn-default btn-block medium-font feature-btn" id=""><span>Get Started with<br />Professional Version</span></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: $root.CurrentPage() == 1">
                <div class="survey-footer required-zone"><span class="asterik-font">*</span> required</div>
            </div>
        </div>
    </div>
</div>