﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

<div class="container">
    <br />
    <br />
    <br />
    <p class="warning-font text-danger text-center">
        <span class="icon-warning-sign"></span>
    </p>
    <p class="survey-font text-center seventyblack">
        <span class="title-font"><b>The grand design of your life has brought you to this very moment.<br /></b></span>

        
        <br /><b>Enjoy it, for what is is worth.</b><br /><br />
        Having said that, if you feel there is something wrong here, please alert us by clicking on the<span class="normal-font">
            <b class="blue-font">
                SUPPORT
            </b>
        </span>icon. <br /><br />Universal order must be restored. <br /><br />But if all is good, please go back to our <a href="http://www.CusExperience.com">home page</a> and enjoy the journey that is your life.
        <br />
        <br />
      
    </p>
    
</div>


