﻿@using Newtonsoft.Json

<script type="text/javascript">
    $(document).ready(function () {
        $('body').show();
        $("#downloadSD").submit();
    });
</script>

<form action="@ViewBag.URL" id="downloadSD" method="get">
</form>

<div class="container">
    <br />
    <br />
    <br />
    <p class="warning-font text-danger text-center">

    </p>
    <p class="survey-font text-center seventyblack">
        <span class="title-font"><b>Please hang in there; your report is being generated.*<br /></b></span>


        <br /><br />
        *Speed will vary based on your connection and processor speed.<br /><br />But, if you feel something is wrong here, do alert us by clicking on the<span class="normal-font">
            <b class="blue-font">
                SUPPORT
            </b>
        </span>icon.<br />Order must be restored in your world.

        <br />
        <br />

    </p>

</div>
