﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

<div class="container">
    <br />
    <br />
    <br />
    <p class="warning-font text-danger text-center">
        <span class="icon-warning-sign"></span>
    </p>
    <p class="survey-font text-center seventyblack">
        <span class="title-font"><b>You are not authorized to view this page.</b></span>

        <br />
        <br />
        If you feel there is something wrong that we need to address please alert us by clicking on the<span class="normal-font">
            <b class="blue-font">
                SUPPORT
            </b>
        </span>icon. <br />If not please go back to our home page.
        <br />
        <br />
        <a href="http://www.CusExperience.com">www.CusExperience.com</a>
        <br />
        <br />
        Thanks!
    </p>
    
</div>


