﻿@{
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
    ViewBag.Title = "Login";
}
<link rel="stylesheet" href="@Href("~/Content/admin-manageorgsub.css")">
<link rel="stylesheet" href="@Href("~/Content/Style.css")">
<link rel="stylesheet" href="@Href("~/Content/admin.css")">
<link media="only screen and (max-device-width: 520px)"
      href="@Href("~/Content/admin-manageorgsub-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-device-width: 2024px)"
      href="@Href("~/Content/admin-manageorgsub-desktop.css")" type="text/css" rel="stylesheet" />

<script src="@Href("~/JS/Model/constant-bl.js")"></script>
<script src="@Href("~/Scripts/jquery.validate.js")"></script>
<script src="@Href("~/JS/account-contact.js")"></script>

<div class="container">
  @{ Html.RenderPartial("_ContactForm"); }
</div>