﻿@{
    ViewBag.Title = "Survey";
}
@{
    ViewBag.Title = "Admin";
}

<link rel="stylesheet" href="@Href("~/Content/admin-manageorgsub.css")">
<link rel="stylesheet" href="@Href("~/Content/Style.css")">
<link rel="stylesheet" href="@Href("~/Content/admin.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/admin-manageorgsub-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/admin-manageorgsub-desktop.css")" type="text/css" rel="stylesheet" />

<script src="@Href("~/JS/Model/constant.js")"></script>
<script src="@Href("~/Scripts/jquery.validate.js")"></script>

<div class="container">
      @{ Html.RenderPartial("_ContactForm"); }
</div>