﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, , user-scalable=0">
    <meta name="description" content="Your Customers' Experience Analytics Platform. CusExperience gives you intelligence on what you didn't know, you didn't know. So, now you can boost happiness by improving your customers’ experience, at every stage of your customers’ journey. Imagine the possibilities.">
    <meta name="author" content="CusExperience">
    <meta name="keywords" content="Customer Experience, Customers' Experience Analytics Platform, Feedback, Rating, Survey, Analytics Platform, Feedback Form, Contact Form, Give Rating, Provide Feedback, Share Your Experience, Share Experience" />
    
    <title>CusExperience - Your Customers' Experience Feedback Rating Survey</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="~/Content/home-bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="~/Content/freelancer.css" rel="stylesheet">
    <link rel="stylesheet" href="@Href("~/Content/helper.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ios7-style-font-icons.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")">
    <link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />

    <link href="~/Content/home-style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
        body{
           height: 100% !important;
        }
    </style>

    <script src="@Href("~/Scripts/jquery-2.1.1.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.easing.min.js")"></script>
    <script src="@Href("~/Scripts/classie.js")"></script>
    <script src="@Href("~/Scripts/cbpAnimatedHeader.js")"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.visible.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/JS/support_view.js")"></script>
    <script src="@Href("~/JS/home-contact.js")"></script>

    <!-- Contact Form JavaScript -->
    <script>

        //if (identifier === "#why") {
         //   $("#home_content").show("slow");
          //  $("#accommodations_content").hide("slow");
        //}
        $(window).on('beforeunload', function () {
            $(this).scrollTop(0);
        });
        $(document).ready(function () {

            $(".scroll").click(function () {
                $(".scroll").removeClass("active");
                $(this).addClass("active");

            });


        });

        function checkArea(){
            //console.log("why " + $('#what').visible(true));

            if ($('#what').visible(true)) {

                if($('.scroll-what').hasClass('active')){

                } else{
                    $('.scroll-what').addClass('active');
                    $('.scroll-why').removeClass('active');
                    $('.scroll-how').removeClass('active');
                    $('.scroll-where').removeClass('active');
                    $('.scroll-when').removeClass('active');
                    $('.scroll-who').removeClass('active');
                    $('.scroll-wins').removeClass('active');
                    $('.scroll-contact').removeClass('active');
                }

            } else if ($('#why').visible(true)) {

                if ($('.scroll-why').hasClass('active')) {

                } else {
                    $('.scroll-why').addClass('active');
                    $('.scroll-what').removeClass('active');

                    $('.scroll-how').removeClass('active');
                    $('.scroll-where').removeClass('active');
                    $('.scroll-when').removeClass('active');
                    $('.scroll-who').removeClass('active');
                    $('.scroll-wins').removeClass('active');
                    $('.scroll-contact').removeClass('active');
                }

            } else if ($('#how').visible(true)) {

                if ($('.scroll-how').hasClass('active')) {

                } else {
                    $('.scroll-how').addClass('active');
                    $('.scroll-what').removeClass('active');
                    $('.scroll-why').removeClass('active');

                    $('.scroll-where').removeClass('active');
                    $('.scroll-when').removeClass('active');
                    $('.scroll-who').removeClass('active');
                    $('.scroll-wins').removeClass('active');
                    $('.scroll-contact').removeClass('active');
                }

            } else if ($('#when').visible(true)) {

                if ($('.scroll-when').hasClass('active')) {

                } else {
                    $('.scroll-when').addClass('active');
                    $('.scroll-what').removeClass('active');
                    $('.scroll-why').removeClass('active');
                    $('.scroll-how').removeClass('active');
                    $('.scroll-where').removeClass('active');

                    $('.scroll-who').removeClass('active');
                    $('.scroll-wins').removeClass('active');
                    $('.scroll-contact').removeClass('active');
                }

            } else if ($('#where').visible(true)) {

                if ($('.scroll-where').hasClass('active')) {

                } else {
                    $('.scroll-where').addClass('active');
                    $('.scroll-what').removeClass('active');
                    $('.scroll-why').removeClass('active');
                    $('.scroll-how').removeClass('active');

                    $('.scroll-when').removeClass('active');
                    $('.scroll-who').removeClass('active');
                    $('.scroll-wins').removeClass('active');
                    $('.scroll-contact').removeClass('active');
                }

            } else if ($('#who').visible(true)) {

                if ($('.scroll-who').hasClass('active')) {

                } else {
                    $('.scroll-who').addClass('active');
                    $('.scroll-what').removeClass('active');
                    $('.scroll-why').removeClass('active');
                    $('.scroll-how').removeClass('active');
                    $('.scroll-where').removeClass('active');
                    $('.scroll-when').removeClass('active');

                    $('.scroll-wins').removeClass('active');
                    $('.scroll-contact').removeClass('active');
                }

            } else if ($('#wins').visible(true)) {

                if ($('.scroll-wins').hasClass('active')) {

                } else {
                    $('.scroll-wins').addClass('active');
                    $('.scroll-what').removeClass('active');
                    $('.scroll-why').removeClass('active');
                    $('.scroll-how').removeClass('active');
                    $('.scroll-where').removeClass('active');
                    $('.scroll-when').removeClass('active');
                    $('.scroll-who').removeClass('active');

                    $('.scroll-contact').removeClass('active');
                }

            } else if ($('#contact').visible(true)) {

                if ($('.scroll-contact').hasClass('active')) {

                } else {
                    $('.scroll-contact').addClass('active');
                    $('.scroll-what').removeClass('active');
                    $('.scroll-why').removeClass('active');
                    $('.scroll-how').removeClass('active');
                    $('.scroll-where').removeClass('active');
                    $('.scroll-when').removeClass('active');
                    $('.scroll-who').removeClass('active');
                    $('.scroll-wins').removeClass('active');

                }

            }
        }

        $(window).scroll(function () {
            checkArea();
        });
        //setInterval(checkArea, 10);
    </script>
    <script>



 $(function () {
     var navMain = $(".nav-main");

     navMain.on("click", "a", null, function () {
         navMain.collapse('hide');
     });
 });</script>


    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/freelancer.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.~/Scripts/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="google-site-verification" content="bVp49hDhnateIi6Ns5-L1CIUvWSjCyw21IqLWt6qBQY" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        console.log(ga);
        ga('create', 'UA-51962624-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" id="headercontainer">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand cusexp-header" href="#page-top">Cus<b>Experience</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-main" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink(HttpContext.Current.User.Identity.Name, "UserProfile", "Account")
                        </li>
                    }
                    <li class="page-scroll">
                        <a href="#what" class="scroll-what">What</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#why" class="scroll-why">Why</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#how" class="scroll-how">How</a>
                    </li>
                    <li class="page-scroll" >
                        <a href="#where" class="scroll-where">Where</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#when" class="scroll-when">When</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#who" class="scroll-who">Who</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#wins" class="scroll-wins">Wins</a>
                    </li>
                    <li class="page-scroll" >
                        <a href="#contact" class="scroll-contact">Contact</a>
                    </li>
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="page-scroll">
                            <a href="@Url.Action("Login", "Account")" class="">Login</a>
                        </li>
                    }
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="isclickable"><a onclick="logoutSession()">Logout</a></li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="~/Images/profile.png" alt="">
                        <div class="intro-text">
                            <span class="name">Start Bootstrap</span>
                            <hr class="star-light">
                            <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    -->
    <!-- Portfolio Grid Section -->
    <section  id="what" class="whatsection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Cus<strong>Experience</strong></h2>
                    <h3 class="main-text">Your Customers' Experience Analytics Platform</h3>
                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <div class="content-container fifty" id="peterleft">
                        <div style="text-align:center">
                            <img src="~/Images/peterdrucker.png" id="peterdrucker"><br>
                            <p class="quotes">"If you can’t measure it, you can’t improve it."</p><p class="quotes">
                                - Peter Drucker
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content-container2" id="peterwidth">
                        <p><h3 class="main-text">To succeed today and tomorrow, you need to focus intensely on your customers’ experience.</h3></p>
                        <p>Cus<b>Experience</b> gives you intelligence on what you didn't know, you didn't know. </p><p>So, you can boost profitability, performance and fulfilment levels by improving your customers’ experience, at every stage of your customers’ journey.  </p><p>Imagine how great an organisation you could be as a result.</p>

                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">

                </div>
            </div>

        </div>

    </section>
    <section class="hr-spacer" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                  <hr />
                </div>
            </div>
        </div>
        </section>
        <!-- About Section -->
        <section id="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h2>Cus<strong>Experience</strong> helps you make improvements at every touchpoint, across your customers’ journey.</h2><br>
                        <h3>Cus<strong>Experience</strong> answers the following 17 questions and whatever else that is important to your CXOs:</h3>
                        <br />
                        <div class="list-of-things">
                            <ol class="question-list">
                                <li>How do our customers rate their overall experience with us at every touch points?</li>
                                <li>Which of our staff are or are not performing up to expectations, so we can reward or assist them to improve?</li>
                                <li>What do our customers like most about us, that we should do more of?</li>
                                <li>What do our customers dislike most about us, that we need to do something about?</li>
                                <li>What is the best methodology to tag what they like and dislike, such that we can immediately do something about it?</li>
                                <li>What can we do to further improve our customers’ experience, at every touch point?</li>
                                <li>How do we get our customers to alert us on what’s working and not working?</li>
                                <li>What do our customers value, so we can better relate to them and build 1-to-1 relationships?</li>
                                <li>How do we distinguish real customers’ experiences from fake ones?</li>
                                <li>How do we use social media to amplify positive customer word-of-mouth for brand building?</li>
                                <li>How do we send alerts across our organization and recover situations before things get out of hand?</li>
                                <li>How to we get our customers to come back and favourable engage us?</li>
                                <li>How do we translate great customer experiences into more customers?</li>
                                <li>How do we correlate our profitability, performance and propitiation with our customers’ experience? </li>
                                <li>How do we capture our customers’ experiences at every step of our customers’ journey? </li>
                                <li>How do we use customer experience big data towards business analytics?</li>
                                <li>How do we do all of this in real time, 24/7, 365 days a year, year on year?</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-2 col-lg-offset-3">
                        <div class="content-container-convo">
                            <div class="inner2">
                                <img src="~/Images/thinker.jpg" id="peterdrucker"><br>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="content-container2">
                            <div class="thinker-button-container">
                                <div class="page-scroll">
                                    <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                        Demo
                                    </a>
                                    <a href="#contact" class="btn btn-lg btn-outline">
                                        Start
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
        </section>
        <section id="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h2>Great customers’ experiences, build great organizations.</h2><br>
                        <br />


                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <div class="organization-image-container">

                            <img src="~/Images/gainlist.png" id="boxcon" class="boxcon-m-l">

                            <ul class="logo-list">
                                <li><img src="~/Images/apple.jpg" id="boximg"></li>
                                <li><img src="~/Images/disney.jpg" id="boximg"></li>
                                <li><img src="~/Images/ritzcarlton.jpg" id="boximg"></li>
                                <li> <img src="~/Images/zappos.jpg" id="boximg"></li>
                                <li> <img src="~/Images/amazon.jpg" id="boximg"></li>
                            </ul>

                            <img src="~/Images/faillist.png" id="boxcon">

                        </div>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <p>The more customers’ experiences you capture at every touchpoint, the greater your ability to improve.</p>
                        <p>
                            Imagine the unfair advantage you’ll have over your competition, by getting all your customers to assist you improve.
                        </p><br /><br />
                        <p class="quotes">
                            "We've had 3 big ideas at Amazon that we've stuck with for 18 years, and they're the reason we're successful:</p>
                        <p class="quotes">
                        1. Put the customer first.<br />2. Invent.<br />3. And be patient."</p>

                        <p class="quotes">
                            -Jeff Bezos
                        </p>
                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>

                    </div>



                </div>
            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <img src="~/Images/3xvalue.png" id="boxcon">
                        <br /><br />
                        <p>Cus<strong>Experience</strong> provides you with...</p>
                        <br>
                        <div class="scheme-box">
                            <strong>Customer</strong>
                            <div class="short-holder">
                                <strong class="short">Experience</strong>
                                <strong class="short">Marketing</strong>
                                <strong class="short">Business</strong>
                            </div>
                            <strong class="bottom">Analytics</strong>
                        </div>

                        <p class="color align">... in one place, by doing just one thing.</p>
                        <br>
                        <img src="~/Images/112theprice.png" id="boxcon">
                        <br><br />
                        <p>From the people who appreciate customer experience philosophy, psychology, methodology, technology and analytics the best.</p>
                        <br>
                        <img src="~/Images/upwardsof.jpg">
                        <br>
                        <br>
                        <br>
                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h2>Nobody else gives you this much quality at such an affordable price.</h2>
                        <br>
                        <img src="~/Images/19modules.png" id="boxcon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="~/Images/millionsofcombi.png" id="boxcon">
                        <br>
                        <br>
                        <br>
                        <ul class="combination-list">
                            <li>Language</li>
                            <li>Appreciation</li>
                            <li>Branding</li>
                            <li>STAFF</li>
                            <li>Experience</li>
                            <li>Attachment</li>
                            <li>Psychometric</li>
                            <li>Location</li>
                            <li>Segmentation</li>
                            <li>Social media</li>
                            <li>Demographic</li>
                            <li>Marketing</li>
                            <li>Communication</li>
                            <li>Customization</li>
                            <li>Alerts</li>
                            <li>Dashboards</li>
                            <li>Data-mining</li>
                            <li>Reports</li>
                            <li>Analytics</li>
                            <li class="text">And many more to come.</li>
                        </ul>



                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <img src="~/Images/997faster.png" id="boxcon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="~/Images/2xmoreeffi.png" id="boxcon"><br>
                        <br>
                        <br>
                        <br>
                        <p class="light-para">
                            The old way:<br>
                            1) Design the form. 2) Call for printer. 3) Wait for printing. 4) Receive from printer. <br>5) Store printed forms. 6) Stack at locations. <br>
                            (2 Weeks)
                        </p>
                        <br>
                        <p class="light-para">
                            The new way:<br>
                            1) Login. 2) Design. 3) Launch. <br>
                            (1 Hour)
                        </p>
                        <br><br>

                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <img src="~/Images/667lessswork.png" id="boxcon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="~/Images/8superior.png" id="boxcon"><br>
                        <br>
                        <br>
                        <br>
                        <p class="light-para">
                            The old way:<br>
                            1) Print forms. 2) Launch campaign. 3) Monitor adoption. 4) Await critical mass. 5) Gather forms. 6) Human deciphered. 7) Compile reports. 8) Limited analytics. 9) Disseminate reports. 10) No data-mining. 11) Have countless meetings. 12) Innovate value proposition.<br>
                            (months to years long process)
                        </p>
                        <br>
                        <p class="light-para">
                            The new way:<br>
                            1) Launch campaign. 2) Receive alerts. 3) Data-mine analytics. <br>4) Immediately innovate value proposition.<br>
                            (real-time  process)
                        </p>
                        <br><br>

                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section><!--
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <img src="~/Images/92savings.png" id="boxcon">
                        <br /><br /><br />
                        <img src="~/Images/forupto5000.jpg">
                        <br>
                        <br>
                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>-->
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="how">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <br />
                        <img src="~/Images/8channels.png" id="boxcon">

                        <ul class="channel-list">
                            <li><span>Physical Locations</span></li>
                            <li><span>Websites</span></li>
                            <li><span>Mobile Applications</span></li>
                            <li><span>Social Media Platforms</span></li>
                            <li><span>Call Centres</span></li>
                            <li><span>Email</span></li>
                            <li><span>SMS</span></li>
                            <li><span>Snail Mail</span></li>
                        </ul>
                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    <section class="hr-spacer" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="where">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h3 class="main-text">Multiple devices - All systems. Unbelievable convenience.</h3>
                        <br><br>
                        <img src="~/Images/multipledesign.jpg">
                        <br />

                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>

    <section class="hr-spacer" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="when">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h3 class="main-text">Full access - Anytime. Anywhere</h3>
                        <br><br>
                        <div class="picture-container">
                            <img src="~/Images/24by7.jpg" class="picture-container-l" id="roundimg">
                            <img src="~/Images/anywhere.jpg" class="picture-container-r" id="roundimg">
                        </div>
                        <br />

                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="who">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h2>We serve market leaders across 10 industries, globally.</h2>
                        <h3>Cus<strong>Experience</strong> assists market leaders to keep their lead through continuous improvements.</h3>
                        <br><br>
                        <img src="~/Images/wheel.jpg">

                        <br />

                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="wins">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h2>
                            With Cus<strong>Experience</strong>,
                            everybody is happier because everybody wins.
                        </h2>

                        <br><br>
                        <div class="box-info">
                            <div class="text-container">
                                <img src="~/Images/img22.jpg" class="picture-container-l">
                                <div class="picture-container-r win-text-container">
                                    <h3 class="align-left main-text"><strong>Customers</strong></h3>
                                    <p class="align-left">
                                        Enjoy great experiences. <br>
                                        Feel valued. <br>
                                        Come back and bring others.
                                    </p>
                                </div>
                            </div>
                            <div class="text-container">
                                <img src="~/Images/img23.jpg" class="picture-container-r">
                                <div class="picture-container-l win-text-container">
                                    <h3 class="align-left main-text"><strong>Frontliners</strong></h3>

                                    <p class="align-left">
                                        Know what’s working and what’s not working. <br>
                                        Receive accolades for improving experiences.<br>
                                        Become ambassadors of happiness.
                                    </p>
                                </div>
                            </div>
                            <div class="text-container">
                                <img src="~/Images/img24.jpg" class="picture-container-l">
                                <div class="picture-container-r win-text-container">
                                    <h3 class="align-left main-text"><strong>Managers</strong></h3>

                                    <p class="align-left">
                                        Know what’s happening in realtime.<br />
                                        Discover how to assist teams to improve.<br>
                                        Enjoy a more professional work environment.
                                    </p>
                                </div>
                            </div>
                            <div class="text-container">
                                <img src="~/Images/img25.jpg" class="picture-container-r">
                                <div class="picture-container-l win-text-container">
                                    <h3 class="align-left main-text"><strong>Customer Journey Professionals</strong></h3>

                                    <p class="align-left">
                                        Get as much data, in realtime as possible.<br>
                                        Have the data immediate make sense for accurate responses. <br>
                                        Confidently use data to make improvements across the organization.
                                    </p>
                                </div>
                            </div>
                            <div class="text-container">
                                <img src="~/Images/img26.jpg" class="picture-container-l">
                                <div class="picture-container-r win-text-container">
                                    <h3 class="align-left main-text"><strong>Executives</strong></h3>

                                    <p class="align-left">
                                        Use customer business analytics to optimally drive profitability.<br>
                                        Get a realtime overview of the entire organization’s performance.<br>
                                        Use CusExperience to innovate the organization’s value proposition.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="wins">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <h2>Contact us to get started now.</h2>
                        <br>
                        <h3>
                            Be open with us.
                            We'll assist you with your challenges and so much more.
                            You'll be happier as a result.
                        </h3>




                        <br>

                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contact</h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                        <form id="contact-form">
                            <div class="row control-group relativepos">
                                <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                    <div class="required-header">*</div>
                                    <label>Your Given Names<br>eg. Amber Rose</label>
                                    <input id="GivenNames" name="GivenNames" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().GivenNames" placeholder="Given Names" type="text" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group relativepos">
                                <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                    <div class="required-header">*</div>
                                    <label>Your Surname<br>eg. Black</label>
                                    <input id="Surname" name="Surname" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Surname" placeholder="Surname" type="text" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group relativepos">
                                <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                    <div class="required-header">*</div>
                                    <label>Your Organisation<br>eg. CusExperience</label>
                                    <input id="Organisation" name="Organisation" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Organisation" placeholder="Organisation" type="text" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group relativepos">
                                <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                    <div class="required-header-message">*</div>
                                    <label>Country</label>
                                    <select id="CFCountry" name="CFCountry" data-bind="selectFilter: {}, value: $root.Contact().Country, options: COUNTRIES , multiselectOptions: { header: 'Country', multiple: false, selectedList: 1, classes:'country-msb'}" required></select>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group relativepos">
                                <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                    <div class="required-header">*</div>
                                    <label>
                                        Your Mobile number inclusive of Country and Area Codes<br>
                                        eg. +65 9876 5432
                                    </label>
                                    <input id="PhoneNumber" name="PhoneNumber" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Mobile" placeholder="Mobile" type="text" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group relativepos">
                                <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                    <div class="required-header">*</div>
                                    <label>
                                        Your Email Address <br>
                                        eg. Amber.Black@CusExperience.com
                                    </label>
                                    <input id="Email" name="Email" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().EmailAddress" placeholder="Email Address" type="email" required />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>

                            <div class="row control-group relativepos">
                                <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                    <div class="required-header-message">*</div>
                                    <label>How can we assist?</label>
                                    <textarea class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font assistbox" data-bind="autosize:{} ,value: $root.Contact().Comment" placeholder="" required></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-lg-offset-3 text-center">
                                    <button id="submit-btn" class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click: $root.postContactForm" id="savebutton">Submit</button>
                                </div>
                                <div class="survey-footer">* required</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--
            <section id="how">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Portfolio</h2>
                            <hr class="star-primary">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="~/Images/portfolio/cabin.png" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="~/Images/portfolio/cake.png" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="~/Images/portfolio/circus.png" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="~/Images/portfolio/game.png" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="~/Images/portfolio/safe.png" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="col-sm-4 portfolio-item">
                            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="~/Images/portfolio/submarine.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        -->
        <!-- Footer -->
        <footer class="text-center">
            <!--
                <div class="footer-above">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col col-md-4">
                                <h3>Location</h3>
                                <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>Around the Web</h3>
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>About Freelancer</h3>
                                <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>-->
            <div class="footer-below">
                <hr />
                <div class="container-footer">

                    <div class="cr-footer">
                        <div class="pull-left fifty-f">
                            <p style="font-family: 'MyriadPro-Light'; color: #4c4c4c;">&copy; 2014 <a href="http://cusexperience.com">Cus<b>Experience</b>.com</a> CusXP Pte Ltd. All Rights Reserved. @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Public")</p>
                        </div>
                        <div class="pull-right fifty-f">
                            <p style="text-align:right;">This site is best viewed on Chrome 4+, Firefox 3.6+, IE10+ and Safari 6+.</p>
                        </div>

                    </div>

                </div>
                <div class="issue-footer">
                    <a onclick="showSupportView()" title="Facing a Problem or Have a Solution to suggest?"><img src="@Href("~/Images/Support.png")" /></a>
                </div>
            </div>
        </footer>

        <div id="supportDiv">
            @{ Html.RenderPartial("_SupportView"); }
        </div>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)
            <div class="scroll-top page-scroll">
                <a class="btn btn-primary" href="#page-top">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        -->
        <!-- Portfolio Modals -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Title</h2>
                                <hr class="star-primary">
                                <img src="~/Images/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                                <ul class="list-inline item-details">
                                    <li>
                                        Client:
                                        <strong>
                                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Date:
                                        <strong>
                                            <a href="http://startbootstrap.com">April 2014</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Service:
                                        <strong>
                                            <a href="http://startbootstrap.com">Web Development</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Title</h2>
                                <hr class="star-primary">
                                <img src="~/Images/portfolio/cake.png" class="img-responsive img-centered" alt="">
                                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                                <ul class="list-inline item-details">
                                    <li>
                                        Client:
                                        <strong>
                                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Date:
                                        <strong>
                                            <a href="http://startbootstrap.com">April 2014</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Service:
                                        <strong>
                                            <a href="http://startbootstrap.com">Web Development</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Title</h2>
                                <hr class="star-primary">
                                <img src="~/Images/portfolio/circus.png" class="img-responsive img-centered" alt="">
                                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                                <ul class="list-inline item-details">
                                    <li>
                                        Client:
                                        <strong>
                                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Date:
                                        <strong>
                                            <a href="http://startbootstrap.com">April 2014</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Service:
                                        <strong>
                                            <a href="http://startbootstrap.com">Web Development</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Title</h2>
                                <hr class="star-primary">
                                <img src="~/Images/portfolio/game.png" class="img-responsive img-centered" alt="">
                                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                                <ul class="list-inline item-details">
                                    <li>
                                        Client:
                                        <strong>
                                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Date:
                                        <strong>
                                            <a href="http://startbootstrap.com">April 2014</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Service:
                                        <strong>
                                            <a href="http://startbootstrap.com">Web Development</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Title</h2>
                                <hr class="star-primary">
                                <img src="~/Images/portfolio/safe.png" class="img-responsive img-centered" alt="">
                                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                                <ul class="list-inline item-details">
                                    <li>
                                        Client:
                                        <strong>
                                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Date:
                                        <strong>
                                            <a href="http://startbootstrap.com">April 2014</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Service:
                                        <strong>
                                            <a href="http://startbootstrap.com">Web Development</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Title</h2>
                                <hr class="star-primary">
                                <img src="~/Images/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                                <ul class="list-inline item-details">
                                    <li>
                                        Client:
                                        <strong>
                                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Date:
                                        <strong>
                                            <a href="http://startbootstrap.com">April 2014</a>
                                        </strong>
                                    </li>
                                    <li>
                                        Service:
                                        <strong>
                                            <a href="http://startbootstrap.com">Web Development</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
