﻿@{
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
    ViewBag.title = "Privacy Policy";
}
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/privacypolicy-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/privacypolicy-desktop.css")" type="text/css" rel="stylesheet" />
<script src="@Href("~/JS/track-view.js")"></script>

<div class="container-fluid">
    <div class="pp-container">
        <button id="auth-button" hidden>Authorize</button>

        <h1>Analytics Test</h1>

        <textarea cols="80" rows="20" id="query-output"></textarea>


        <script src="https://apis.google.com/js/client.js?onload=authorize"></script>
    </div>

</div>
<script>document.getElementById('auth-button').addEventListener('click', authorize);</script>