﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, , user-scalable=0">
    <meta name="description" content="Your Customers' Experience Analytics Platform. CusExperience gives you intelligence on what you didn't know, you didn't know. So, now you can boost happiness by improving your customers’ experience, at every stage of your customers’ journey. Imagine the possibilities.">
    <meta name="author" content="CusExperience">
    <meta name="keywords" content="Customer Experience, Customers' Experience Analytics Platform, Feedback, Rating, Survey, Analytics Platform, Feedback Form, Contact Form, Give Rating, Provide Feedback, Share Your Experience, Share Experience" />

    <title>CusExperience - Your Customers' Experience Feedback Rating Survey</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="~/Content/home-bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="~/Content/freelancer.css" rel="stylesheet">
    <link rel="stylesheet" href="@Href("~/Content/helper.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ios7-style-font-icons.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")">
    <link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />

    <link href="~/Content/iamcxo-style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
        body {
            height: 100% !important;
        }
    </style>

    <!-- jQuery Version 1.11.0 -->
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/cbpAnimatedHeader.js"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/JS/support_view.js")"></script>
    <script src="@Href("~/JS/home-contact.js")"></script>
    <link rel="stylesheet" href="@Href("~/Content/iamcxo.css")" />


    <!-- Contact Form JavaScript -->

    <script>
        $(function () {
            var navMain = $(".nav-main");

            navMain.on("click", "a", null, function () {
                navMain.collapse('hide');
            });
        });</script>


    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/freelancer.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.~/Scripts/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="google-site-verification" content="bVp49hDhnateIi6Ns5-L1CIUvWSjCyw21IqLWt6qBQY" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51962624-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" id="headercontainer">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand cusexp-header" href="#page-top"><strong>I</strong>am<strong>CXO</strong>.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-main" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll">
                        <a href="#exp">Experienced CXOs</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#start">Start up CXOs</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#corp">Corporate CXOs</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contacter">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="~/Images/profile.png" alt="">
                        <div class="intro-text">
                            <span class="name">Start Bootstrap</span>
                            <hr class="star-light">
                            <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    -->
    <!-- Portfolio Grid Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><strong>I</strong>am<strong>CXO</strong>.com</h2>
                    <h3 class="main-text">Experienced CXOs assisting Start Up CXOs innovate for Corporate CXOs.</h3>
                    <br />
                </div>
            </div>
            <section class="hr-spacer" id="exp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 text-center">
                            <hr />
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experienced CXOs</h2>

                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <div class="content-container fifty" id="peterleft">
                        <div style="text-align:center">
                            <img src="~/Images/kimtaylor.png" id="peterdrucker"><br>
                            <p class="quotes">"I've been there, done that and can assist you to get there too"</p><p class="quotes">

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content-container2 content-text" id="peterwidth">

                        <p class="text-leader">Experience:</p>
                        <ul>
                            <li><p>Has been there and done that. </p></li>
                            <li><p>Knows how to get things done in the most efficient, effective and workable way. </p></li>
                            <li><p>Is looking for a great project to sink their teeth into and a team with potential to dramatically grow. </p></li>






                        </ul>
                        <br />
                        <p class="text-leader">So…</p>
                        <ul>
                            <li><p>Express your interest.</p></li>
                            <li><p>Showcase your experience.</p></li>
                            <li><p>Tell us your expectations.</p></li>
                        </ul>

                        <br />

                        <p class="text-leader">
                            We’ll…
                        </p>
                        <ul>
                            <li>
                                <p>
                                    Find you a team.
                                </p>

                            </li>
                            <li>
                                <p>
                                    Get you started.
                                </p>

                            </li>
                            <li>
                                <p>
                                    Make it worth your while.
                                </p>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="page-scroll">
                        <a href="http://cusexperience.com/IamCXO/ExperiencedCXO" class="btn  btn-default btn-lg btn-block normal-font login-btn submit-btn-style experiencedcxo" target="_blank">
                            <span>If you are an Experienced CXO,<br />click here to get started.</span>
                        </a>

                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="hr-spacer" id="start">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
    <section id="what">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Start up CXOs</h2>

                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <div class="content-container fifty" id="secondright">
                        <div style="text-align:center">
                            <img src="~/Images/mynameis.png" id="peterdrucker"><br>
                            <p class="quotes">"I'm creative, inventive, innovative and could do with some corporate funding and experienced mentors to get the best out of me."</p><p class="quotes">

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content-container2 content-text" id="peterwidth">

                        <p class="text-leader">Start Ups:</p>
                        <ul>
                            <li><p>Left to their own devices, have a 97% chance of failure.</p></li>
                            <li><p>Don’t have the ability to pull together a great team, tend not to work on market desired projects.</p></li>
                            <li><p>And are not sufficiently smart to give a little bit of equity to a mentor who can secure their future.</p></li>

                        </ul>

                        <br />
                        <p class="text-leader">So…</p>
                        <ul><li><p>Express your interest.</p></li><li><p>Showcase your competencies.</p></li><li><p>Tell us your passions.</p></li></ul>





                        <br />



                        <p class="text-leader">
                            We’ll…
                        </p>
                        <ul>
                            <li>
                                <p>
                                    Find you a team.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Give you a project.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Get you experienced CXOs to assist you grow.
                                </p>
                            </li>
                        </ul>












                    </div>

                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="page-scroll">
                        <a href="http://cusexperience.com/IamCXO/StartupCXO" class="btn  btn-default btn-lg btn-block normal-font login-btn submit-btn-style experiencedcxo" target="_blank">
                            If you are a Start Up CXO,<br />click here to get started.
                        </a>

                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="hr-spacer" id="corp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
    <section id="what">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Corporate CXOs</h2>

                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <div class="content-container fifty" id="corporateLeft">
                        <div style="text-align:center">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4"></li>
                                    <li data-target="#myCarousel" data-slide-to="5"></li>
                                    <li data-target="#myCarousel" data-slide-to="6"></li>

                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="~/Images/xerox.png">
                                    </div>
                                    <div class="item">
                                        <img src="~/Images/visa.png">
                                    </div>
                                    <div class="item">
                                        <img src="~/Images/starbucks.png">
                                    </div>
                                    <div class="item">
                                        <img src="~/Images/shell.png">
                                    </div>
                                    <div class="item">
                                        <img src="~/Images/macs.png">
                                    </div>

                                    <div class="item">
                                        <img src="~/Images/coke.png">
                                    </div>

                                    <div class="item">
                                        <img src="~/Images/3m.png">
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <br>
                            <p class="quotes"> "We have problems and challenges worth solving, and opportunities worth exploiting, and are looking for the right talent combination to solve them ."</p><p class="quotes">

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content-container2 content-text" id="peterwidth">

                        <p class="text-leader">Corporations:</p>

                        <ul>
                            <li>
                                <p>Need radical innovation / disruptive technologies / new business models to sustain growth and profit in an increasingly competitive landscapes.</p>
                            </li>
                            <li>
                                <p>Struggle to solve these problems internally because by nature they are no longer entrepreneurial, creative, inventive, innovative and intrapreneurial. </p>
                            </li>
                            <li>
                                <p>However have all the assets and skills to scale workable ideas in the most dramatic fashion.</p><br />
                            </li>
                        </ul>







                        <p class="text-leader">
                            So…
                        </p>

                        <ul>
                            <li><p>Express your interest.</p></li>
                            <li>
                                <p>Showcase your challenges.</p>
                            </li>
                            <li>
                                <p>Tell us your timelines.</p>
                            </li>
                        </ul>


                        <br />


                        <p class="text-leader">
                            We’ll…
                        </p>

                        <ul>
                            <li>
                                <p>
                                    Pull together a team
                                </p>
                            </li>
                            <li>
                                <p>
                                    Communicate your project
                                </p>
                            </li>
                            <li>
                                <p>
                                    Mentor them to succeed
                                </p>
                            </li>
                        </ul>










                    </div>

                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="page-scroll">
                        <a href="http://cusexperience.com/IamCXO/CorporateCXO" class="btn  btn-default btn-lg btn-block normal-font login-btn submit-btn-style experiencedcxo" target="_blank">Iif you are a Corporate CXO,<br />click here to get started.</a>

                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="hr-spacer" id="contacter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="hr-spacer" id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr />
                </div>
            </div>
        </div>
    </section>
        <section id="why">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <img src="~/Images/92savings.png" id="boxcon">
                        <br /><br /><br />
                        <img src="~/Images/forupto5000.jpg">
                        <br>
                        <br>
                        <div class="page-scroll">
                            <a href="http://cusexperience.com/CusXP/BFMOPQBO" class="btn btn-lg btn-outline" target="_blank">
                                Demo
                            </a>
                            <a href="#contact" class="btn btn-lg btn-outline">
                                Start
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </section>-->
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact</h2>
                    <br>
                </div>
            </div>
            <div class="row" id="contacter">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form id="contact-form">
                        <div class="row control-group relativepos">
                            <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                <div class="required-header">*</div>
                                <label>Your Given Names<br>eg. Amber Rose</label>
                                <input id="GivenNames" name="GivenNames" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().GivenNames" placeholder="Given Names" type="text" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group relativepos">
                            <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                <div class="required-header">*</div>
                                <label>Your Surname<br>eg. Black</label>
                                <input id="Surname" name="Surname" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Surname" placeholder="Surname" type="text" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group relativepos">
                            <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                <div class="required-header">*</div>
                                <label>Your Organisation<br>eg. IamCXO</label>
                                <input id="Organisation" name="Organisation" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Organisation" placeholder="Organisation" type="text" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group relativepos">
                            <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                <div class="required-header-message">*</div>
                                <label>Country</label>
                                <select id="CFCountry" name="CFCountry" data-bind="selectFilter: {}, value: $root.Contact().Country, options: COUNTRIES , multiselectOptions: { header: 'Country', multiple: false, selectedList: 1, classes:'country-msb'}" required></select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group relativepos">
                            <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                <div class="required-header">*</div>
                                <label>
                                    Your Mobile number inclusive of Country and Area Codes<br>
                                    eg. +65 9876 5432
                                </label>
                                <input id="PhoneNumber" name="PhoneNumber" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().Mobile" placeholder="Mobile" type="text" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group relativepos">
                            <div class="form-group col-lg-6 col-lg-offset-3 text-center controls">
                                <div class="required-header">*</div>
                                <label>
                                    Your Email Address <br>
                                    eg. Amber.Black@IamCXO.com
                                </label>
                                <input id="Email" name="Email" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $root.Contact().EmailAddress" placeholder="Email Address" type="email" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row control-group relativepos">
                            <div class="form-group col-lg-6 col-lg-offset-3 text-center controls assisttextbox">
                                <div class="required-header-message">*</div>
                                <label>How can we assist you?</label>
                                <textarea class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font assistbox" data-bind="autosize:{} ,value: $root.Contact().Comment" placeholder="" required></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-lg-offset-3 text-center">
                                <button id="submit-btn" class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click: $root.postContactForm" id="savebutton">Submit</button>
                            </div>
                            <div class="survey-footer">* required</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--
        <section id="how">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Portfolio</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="~/Images/portfolio/cabin.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="~/Images/portfolio/cake.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="~/Images/portfolio/circus.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="~/Images/portfolio/game.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="~/Images/portfolio/safe.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="~/Images/portfolio/submarine.png" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    -->
    <!-- Footer -->
    <footer class="text-center">
        <!--
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                            <h3>Location</h3>
                            <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>Around the Web</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>About Freelancer</h3>
                            <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                        </div>
                    </div>
                </div>
            </div>-->
        <div class="footer-below">
            <hr />
            <div class="container-footer">

                <div class="cr-footer">
                    <div class="pull-left fifty-f">
                        <p style="font-family: 'MyriadPro-Light'; color: #4c4c4c;">&copy; 2015 <a href="http://iamcxo.com">IamCXO.com</a>. All Rights Reserved.</p>
                    </div>
                    <div class="pull-right fifty-f">
                        <p style="text-align:right;">This site is best viewed on Chrome 4+, Firefox 3.6+, IE10+ and Safari 6+.</p>
                    </div>

                </div>

            </div>
            <div class="issue-footer">
                <a onclick="showSupportView()" title="Facing a Problem or Have a Solution to suggest?">?</a>
            </div>
        </div>
    </footer>

    <div id="supportDiv">
        @{ Html.RenderPartial("_SupportView"); }
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)
        <div class="scroll-top page-scroll">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    -->
    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="~/Images/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>
                                    Client:
                                    <strong>
                                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>
                                    Date:
                                    <strong>
                                        <a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>
                                    Service:
                                    <strong>
                                        <a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="~/Images/portfolio/cake.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>
                                    Client:
                                    <strong>
                                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>
                                    Date:
                                    <strong>
                                        <a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>
                                    Service:
                                    <strong>
                                        <a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="~/Images/portfolio/circus.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>
                                    Client:
                                    <strong>
                                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>
                                    Date:
                                    <strong>
                                        <a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>
                                    Service:
                                    <strong>
                                        <a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="~/Images/portfolio/game.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>
                                    Client:
                                    <strong>
                                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>
                                    Date:
                                    <strong>
                                        <a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>
                                    Service:
                                    <strong>
                                        <a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="~/Images/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>
                                    Client:
                                    <strong>
                                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>
                                    Date:
                                    <strong>
                                        <a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>
                                    Service:
                                    <strong>
                                        <a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="~/Images/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>
                                    Client:
                                    <strong>
                                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>
                                    Date:
                                    <strong>
                                        <a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>
                                    Service:
                                    <strong>
                                        <a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
