﻿<link rel="stylesheet" href="@Href("~/Content/survey-analytics.css")">




<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/survey-analytics-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/survey-analytics-desktop.css")" type="text/css" rel="stylesheet" />

<link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/font-style.css")" /> 
    
<script src="https://maps.googleapis.com/maps/api/js"></script>
<p> Map View Testing </p>
<div id="map-canvas" style="width: 600px; height: 400px;" class="map-canvas">

</div>

<script>
    $("body").show();
    var mapCanvas = document.getElementById("map-canvas");
    console.log(mapCanvas);
    var mapOptions = {
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: new google.maps.LatLng(1.2979423, 103.7859554)
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var image = "/Images/Location-Icon-Blue copy.png";

    var myIcon = new google.maps.MarkerImage(image, null, null, null, new google.maps.Size(21, 30));
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(1.2979423, 103.7859554),
        title: "Hello World!",
        icon: image,
        map: map
    });
    google.maps.event.addListener(map, 'zoom_changed', function () {
    });
</script>

