﻿@{
   Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
    ViewBag.title = "Privacy Policy";
}
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/privacypolicy-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/privacypolicy-desktop.css")" type="text/css" rel="stylesheet" />
<div class="container-fluid">
    <div class="pp-container">
        <div class="heading-section">
            <p align="center" class="title-font">Privacy Policy</p>

        </div>
        <div class="pp-content">
            <p>
                This Privacy Policy governs the manner in which CusXP Pte Ltd collects, uses, maintains and discloses information collected from users (each, a "User") of the www.cusexperience.com website ("Site"). This privacy policy applies to the Site and all products and services offered by CusXP Pte Ltd.
            </p>

            <h3>
                <b>
                  Personal identification information
                </b>
            </h3>
            <p>
                We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, respond to a survey, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
            </p>
            <h3>
                
                <b>
                    Non-personal identification information
                </b>
            </h3>
            <p>
                We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
            </p>
            <h3><b>
    Web browser cookies
</b>
            </h3>
            <p>
                Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
            </p>
            <h3><b>
    How we use collected information
</b>
            </h3>

            CusXP Pte Ltd may collect and use Users personal information for the following purposes:<br />
            <ul>
                <li>
                    To improve customer service<br />
                    Information you provide helps us respond to your customer service requests and support needs more efficiently.
                </li>
                <li>
                    To personalize user experience<br />
                    We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
                </li>
                <li>
                    To improve our Site<br />
                    We may use feedback you provide to improve our products and services.
                </li>
                <li>
                    To send periodic emails<br />
                    We may use the email address to respond to their inquiries, questions, and/or other requests.
                </li>
            </ul>

            <h3><b>
    How we protect your information
</b>
            </h3>
            <p>
                We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
            </p>
            <h3><b>
    Sharing your personal information
</b>
            </h3>
            <p>
                We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
            </p>
            <h3><b>
    Changes to this privacy policy
</b>
            </h3>

            CusXP Pte Ltd has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site, revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
            </p>
            <h3><b>
    Your acceptance of these terms
</b>
            </h3>
            <p>
                By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
            </p>
            <h3><b>
    Contacting us
</b>
            </h3>
            <p>
                If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:<br /><br />
                CusXP Pte Ltd<br />
                www.CusExperience.com<br />
                Blk 71 Ayer Rajah Crescent #05-25 Singapore 139951<br />
                <a href="mailto:Hi@CusJo.com">Hi@CusJo.com</a>
                <br />
            </p>
            <h3><b>
    Last Updated
</b>
            </h3>
            <p>
                This document was last updated on September 26, 2014
            </p>
        </div>
    </div>

</div>