﻿@using Newtonsoft.Json

@{
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
    ViewBag.title = "Privacy Policy";
}
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/privacypolicy-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/privacypolicy-desktop.css")" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>
<script src="@Href("~/JS/public-surveySTAFF.js")"></script>

<div class="container-fluid">
    <div class="pp-container">
        <br /><br />
        <div data-bind="foreach: $root.SurveyInfos">
            <a target="_blank" data-bind="attr: {href: $root.HomeURL + '/' + $data.SurveyURL}, displayText: $data.SurveyTitle">
            </a><br /><br />
        </div>
    </div>
</div>