select#bday2, select#bmonth2 {width: 60px;}

/*#section-about, #section-register {
	background-size: cover;
  -ms-behavior: url(http://103.230.50.156:8080/sg/en/sg50/wishes/backgroundsize.min.htc);
}*/