@font-face {
    font-family: 'dinbold';
    src: url('../fonts/ufonts.com_din-bold-webfont.eot');
    src: url('../fonts/ufonts.com_din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_din-bold-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_din-bold-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_din-bold-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_din-bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {color: #fff;font-family: Arial, "Helvetica neue", Helvetica, sans-serif;-webkit-font-smoothing: antialiased;}
:focus {outline: none !important;}
a {color: #fff;text-decoration: none;}
a:hover {text-decoration: none;color: #fff;}
input[type="text"],input[type="submit"], select {color: #333;-webkit-appearance: none;border-radius: 4;border: none;background: #fff;}
ul.dash {
  list-style: none !important;
  margin-left: 0;
  padding-left: 1em;
}
ul.dash li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}


.loading {display:none;width: 100%;background: #eeeeee;border: 1px solid #cccccc;border-radius: 3px;margin: 0px auto 5px auto;padding: 10px 15px;}
.loading span {display: inline-block;}
.loading span.bg-load{
	background: url('../images/preload.gif') center no-repeat;
	text-indent: -9999px;
	margin-right: 10px;
}
.loading.error{color:red;background-image:none;}
.loading.error span{padding-left:0;}
.result-wrapper {position: relative;margin: 0 auto;}
.loading-result{width:252px;overflow:hidden;display:none;margin:0 auto;position: relative;}
.loading-result img{ position: absolute;top:-100%; left:0; right: 0; bottom:-100%;margin: auto;}
.result-wrapper span {
	position: absolute;
	text-indent: -999px;
	display: block;
	width: 46px;
	height: 45px;
	top: -10px;
	right: -10px;
	background: url('../images/icon-image-success.png') no-repeat top left;
}
.container {
	max-width: 960px;
}
.button-live {
	background: url('../images/btn-live-great-programme.jpg') no-repeat top center;
	text-indent: -9999px;
	text-align: center;
	width: 234px;
	float: right;
	margin-left:-5px;
}
.button-live img {display: none;}
.button-live a {
	width: 197px;
	height: 33px;
	display: block;
	margin: 0 auto;
}
.button-submit {
	background: #ee1c25 url('../images/button-grad.jpg') repeat-x top left;
	border-radius: 5px;
	/*border-bottom: 2px solid #b3151c;*/
	margin: 0 auto;
	width: 220px;
	position: relative;
	padding: 0 20px;
	text-align: right;
}
.submit-loading{display:none;padding-top:10px;}

.button-submit a {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: url('../images/ico-baloon.png') no-repeat left;
	width: 100%;
	height: 46px;
	display: block;
	padding-top: 12px;
}
#section-about .button-submit a {
	background: transparent;
	text-align: center;
}
.button-submit:hover {
	background: #8e0f0f url('../images/button-grad-hover.jpg') repeat-x top left;
	/*border-bottom: 2px solid #6b0b0b;*/
} 

header {
	background: url('../images/bg-header.jpg') repeat-x top left;
	height: 160px;
}
#logo a {padding-top:25px;width: 147px;height: 100%;display: block;}
#social {float: right;margin-top: 22px;}
#social ul li {
	padding: 0;
}
#social ul li img {
	display: none;
	width: 100%;
	height: auto;
}
#social ul li a {
	height: 30px;
	width: 30px;
	display: inline-block;
	text-indent: -9999px;
}
#social ul li.fb a {
	background: url('../images/shareFb.png') no-repeat top left;
}
#social ul li.tw a {
	background: url('../images/shareTweet.png') no-repeat top left;
}
#social ul li.yt a {
	background: url('../images/shareYoutube.png') no-repeat top left;
}
#social ul li.pin a {
	background: url('../images/sharePin.png') no-repeat top left;
}
#social ul li.lin a {
	background: url('../images/shareLink.png') no-repeat top left;
}
#social ul li.ins a {
	background: url('../images/shareInstagram.png') no-repeat top left;
}
#social ul li.gplus a {
	background: url('../images/shareGoogleplus.png') no-repeat top left;
}
#social ul li.fb a:hover, #social ul li.tw a:hover, #social ul li.yt a:hover, 
#social ul li.pin a:hover, #social ul li.lin a:hover, #social ul li.ins a:hover,
#social ul li.gplus a:hover {
	background-position: bottom !important;
}

header .container .row:first-child {height: 115px;}
header .container .row.two {height: 45px;}
header .container .row.two .mobile-nav {
	display: none;
	height: 44px;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
}
header .container .row.two .mobile-nav span {
	background: url('../images/mobile-nav.png') no-repeat top left;
	width: 23px;
	height: 21px;
	cursor: pointer;
	float: left;
	text-indent: -9999px;
	margin-top: 5px;
}
header .container .row.two ul {
	margin-bottom: 0px;
	margin-top: 0px;
}
header .container .row.two ul li {
	font-weight: bold;
	font-size: 22px;
	margin-right: 30px;
	height: 45px;
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;*/
	vertical-align: middle;
	position: relative;
}
header .container .row.two ul li.active, header .container .row.two ul.sub-menu li {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
header .container .row.two ul li.icon {
	height: 33px;
	width: 38px;
	text-indent: -9999px;
	background: url('../images/bg-sg50.png') no-repeat 5px 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
header .container .row.two ul li.icon a{
	width:25px;height:25px;display:block;
}
header .container .row.two ul li.icon + li + li {
	/*background: url('../images/bg-nav-current.jpg') no-repeat bottom center;*/
	position: relative;
}
header .container .row.two ul.sub-menu {
	display: none;
}
header .container .row.two li.social {
	padding: 4px 15px 10px 15px !important;
	display: none;
}
header .container .row.two li.social span {
	width: 32px;
	height: 33px;
	display: inline-block;
	text-indent: -9999px;
}
.row.two li.social span.fb {background: url('../images/iconFB.jpg') no-repeat top left;}
.row.two li.social span.tw {background: url('../images/iconTweet.jpg') no-repeat top left;}
.row.two li.social span.yt {background: url('../images/iconYT.jpg') no-repeat top left;}
.row.two li.social span.pin {background: url('../images/iconPinterest.jpg') no-repeat top left;}
.row.two li.social span.link {background: url('../images/iconLinkedIn.jpg') no-repeat top left;}
.row.two li.social span.insta {background: url('../images/iconInstagram.jpg') no-repeat top left;}
.row.two li.social span.gplus {background: url('../images/iconGoogle.jpg') no-repeat top left;}

.row.two li.social span.fb:hover {background: url('../images/iconFB_over.jpg') no-repeat top left;}
.row.two li.social span.tw:hover {background: url('../images/iconTweet_over.jpg') no-repeat top left;}
.row.two li.social span.yt:hover {background: url('../images/iconYT_over.jpg') no-repeat top left;}
.row.two li.social span.pin:hover {background: url('../images/iconPinterest_over.jpg') no-repeat top left;}
.row.two li.social span.link:hover {background: url('../images/iconLinkedIn_over.jpg') no-repeat top left;}
.row.two li.social span.insta:hover {background: url('../images/iconInstagram_over.jpg') no-repeat top left;}
.row.two li.social span.gplus:hover {background: url('../images/iconGoogle_over.jpg') no-repeat top left;}

header .container .row.two li.social span.button-live {
	width: 100%;
	display: block;
	margin: 15px 0px 0px 0px;
	clear: both;
	background: url('../images/btn-live-great-programme.png') no-repeat left center;
	background-size: 262px;
}
header .container .row.two li.social span.button-live a {
	width: 262px;
	float: left;
}

header .container .row.two .col-sm-12 ul li span a {
	padding: 0;
	width: 100%;
	height: 100%;
	display: block;
}
header .container .row.three  ul {margin-top: 10px;margin-left: 185px;}
ul.main li a {
	font-size: 16px;
	margin-right: 25px;
}
ul.menu li a:focus, ul.menu li a:visited, ul.main li a:focus, ul.main li a:visited {color: #fff;text-decoration: none;}
header .container .row.three.fixed {
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	margin: 0;
	width: 100%;
	background: url('../images/bg-nav-sticky.jpg') repeat-x top left;
	z-index: 999;
}
header .container .row.three.fixed ul {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 10px;
}
header .container .row.three.fixed ul li:first-child {
	margin-left: 190px;
}

#section-about {
	background: url('../images/bg1a.jpg') no-repeat top center;
	background-size: cover;
	text-align: center;
}
#section-about .section-about-content-wrapper, #section-about .image-wrapper {max-width: 490px;margin: 0px auto 30px auto;text-align: center;padding: 0 15px 15px 15px;}
#section-about .image-wrapper {margin-bottom: 0;padding-bottom: 0;}
#section-about .section-about-content-wrapper {/*background: rgba(0,0,0,0.2);*/padding-top: 20px;}
#section-about .image-wrapper img {width: 100%;height: auto;}
.section-about-content-wrapper p:first-child {color: #ee1c25;font-size: 16px;}
.section-about-content-wrapper p {font-weight: bold;font-size: 14px;/*text-shadow: -1px 1px 0px rgba(2, 3, 3, 0.25);*/color: #666;}
.section-about-content-wrapper p span {color: #ee1c25;}
.section-about-content-wrapper .button-submit {margin-top: 20px;}
.left-polaroid {position: absolute;top: 156px;left: -210px;width: 362px;/*height: 432px;*/}
.right-polaroid {position: absolute;top: 156px;right: -210px;width: 347px;/*height: 440px;*/}
.left-polaroid img, .right-polaroid img {width: 100%;height: auto;}

#section-share {
	background: #ee1c25;
}
.section-share-content-wrapper {width: 350px;margin: 0 auto;}
.section-share-content-wrapper .date {background: url('../images/bg-date.jpg') repeat-x center left;text-align: center;margin-top: 10px;}
.section-share-content-wrapper .date span {background: #ee1c25;text-align: center;font-size: 18px;text-transform: uppercase;padding: 0 10px;}
.social2 {margin-top: 16px;margin-bottom: 42px;text-align: center;}
.social2 p {font-size: 14px;width: 100%;text-align: center;margin-top: 0}
.social2 ul {margin: 2px auto;line-height: 1.4;}
.social2 ul li {vertical-align: middle;padding: 0;display: inline;text-align: center;}
.social2 ul li:first-child {/*margin-right: 42px;*/}
.social2 ul li a {background: url('../images/btn-social2a.jpg') no-repeat top left;height: 33px;width: 33px;text-indent: -9999px;display: inline-block;cursor: pointer;}
.social2 ul li.tw a {background-position: -41px 0px;}
.social2 ul li.gplus a {background-position: -82px 0px;}
.social2 ul li.ins a {background-position: -123px 0px;}


#section-register {background: url('../images/bg2.jpg') no-repeat;background-size: cover;text-align: center;overflow: hidden;}
#section-register h2 {font-size: 72px;opacity: 0;height: 1px;width: 1px;margin: 0;}
.section-register-content-wrapper {position: relative;}
.section-register-content-wrapper .title-wrapper {width: 100%;margin: 50px auto 0 auto;}
.section-register-content-wrapper .title-wrapper.active {margin-top: 10px;}
/*.section-register-content-wrapper .title-wrapper .title-icon {width: 16.5625%;float: left;margin-right: 5.15625%;display: none;}*/
.section-register-content-wrapper .title-wrapper .title-icon {width: 100%;text-align: center;margin-bottom: 20px;}
.section-register-content-wrapper .title-wrapper  .title-icon img {width: 11.45833333333333%;height: auto;}
.section-register-content-wrapper .title-wrapper .title {width: 100%;float: none;margin: 0 auto;text-align: center;}

.section-register-content-wrapper .title-wrapper .title img {width: 56.04166666666667%;height: auto;}
.section-register-content-wrapper .title-wrapper p {color: #ee1c25;}


#sg50babyinternal {
	width: 100%;
	margin: 35px auto 50px auto;
	text-align: center;
	position: relative;
	height: 600px;
	color: #333;
}
#sg50babyinternal fieldset  {
	border: 0 none;
	padding: 25px;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	background: #f7e8b8;
	border-radius: 3px;
}
.lt-ie9 #sg50babyinternal fieldset:first-child + fieldset, .lt-ie9 #sg50babyinternal fieldset:first-child +fieldset+fieldset {
	display: none;
}
#sg50babyinternal fieldset:not(:first-of-type) {
	display: none;
}
#sg50babyinternal fieldset .top-field {
	background: #eee;
	width: 100%;
	padding: 30px;
	border: 1px solid #dece9b;
	border-bottom: none;
}
#sg50babyinternal fieldset .field-wrapper {
	background: #fff;
	width: 100%;
	padding: 30px;
	border: 1px solid #dece9b;
	border-top: none;
}

fieldset .field-wrapper:before,
fieldset .field-wrapper:after {
  display: table;
  content: " ";
}
fieldset .field-wrapper:after {
  clear: both;
}
fieldset.first .field-wrapper {padding-bottom: 60px !important;}
fieldset .hand {background: url('../images/hand.png') no-repeat top left;width: 452px;height: 519px;position: absolute;right: -295px;bottom: -352px;display: block;}
.lt-ie9 .hand {display: none;}
#sg50babyinternal fieldset .field-wrapper .block {
	width: 48%;
	float: left;
}
#sg50babyinternal fieldset .field-wrapper .block.col-full {
	width: 100%;
	clear: both;
}
#sg50babyinternal fieldset .field-wrapper .block.col-right {
	float: right;
	text-align: left;
}

/*inputs*/
#sg50babyinternal input, #sg50babyinternal textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}
#sg50babyinternal input[type="checkbox"] {
	padding: 1px;
	border: none;
}
/*buttons*/
#sg50babyinternal .action-button {
	background: #ee1c25 url('../images/button-grad.jpg') repeat-x top left;
	font-weight: bold;
	color: white;
	font-family: arial, sans-serif;
	border-radius: 5px;
	cursor: pointer;
	padding: 13px 5px;
	margin: 10px 5px;
	font-size: 14px;
	display: inline-block;
	margin: 0 auto;
	border: none;
	width: 150px;
	text-transform: uppercase;
}
#sg50babyinternal .action-button:hover {
	background: #8e0f0f url('../images/button-grad-hover.jpg') repeat-x top left;
}

.action-wrapper {
	width: 100%;
	clear: both;
	height: 45px;
	text-align: center;
}
fieldset.first .action-wrapper {padding: 40px 0px;}
.input-block {
	width: 100%;
	clear: both;
	float: left;
	margin-bottom: 10px;
}
.input-block.bday {width: 330px;clear: left;}
.input-block input {background: #eee;}
.input-block label {font-weight: normal;}
.input-block label span {font-size: 11px;position: absolute;left: 0;bottom: -12px;}
.input-block.name label, .input-block.fin-number label, .input-block.postal label {float: left;vertical-align: middle;font-size: 18px;color: #666;position: relative;}
.input-block.name label small{font-size:11px;}
.input-block.postal label {margin-top: 13px;}
.input-block.name label {text-align:left;}

.input-block.name input, .input-block.fin-number input {float: right;vertical-align: middle;}
.input-block.contact input, .input-block.email input,.input-block.mailing input {padding-left: 90px !important;}
.input-block.contact input {background: #eee url('../images/icon-phone.png') no-repeat 28px 15px;}
.input-block.email input {background: #eee url('../images/icon-contact.png') no-repeat 25px 18px;}
.input-block.mailing input {background: #eee url('../images/icon-mailing.png') no-repeat 23px 11px;}
.captcha input{background:#eee;}
.captcha img{margin-bottom:10px;}

.input-block.unitno input,.input-block.postal input {width: 150px !important;float: left;margin-left: 15px;}

.input-block.unitno input{margin-left:0;float:left;}
.input-block.unitno,.input-block.postal{float:left;clear:none;}
.input-block.postal{width:50%;}
.input-block.unitno{width:160px;}
.input-block.existing-cust{padding-top:20px;}
#sg50babyinternal .input-block.existing-cust input[type=checkbox]{float:left;width:16px;}
#sg50babyinternal .input-block.existing-cust span{float:left;padding-left: 5px;}
.input-block.bday > span {clear: both;width: 100%;text-align: left;display: inline-block;font-size: 18px;color: #797979;margin-bottom: 5px;}
.input-block.bday img {display: none;width: 100%;height: auto;}
.input-block.bday .bday-select-wrapper {
	padding: 10px 0px 10px 42px;
	background: #eee url('../images/icon-bday.png') no-repeat 5px 15px;
	border-radius: 5px;
	text-align: left;
}
.input-block.bday .bday-select-wrapper a:hover {color: #333;}
.input-block.bday .bday-select-wrapper .selectBox-dropdown {margin-right: 13px;}
fieldset select {
	padding: 6px 10px;
	border: 1px solid #808080;
	background: #fff url('../images/bg-select.jpg') no-repeat right center;
}
select#bday, select#bmonth {width: 84px;}
select#byear {width: 104px;}
.byear-text {font-size: 30px;color: #a4a4a4;display: inline-block;vertical-align: middle;}

.input-block.twin {
	float: left;
	width: 210px;
	text-align: left;
	clear: none;
	margin-left: 30px;
}
.input-block.twin .twin-wrapper {
	margin-top: 17px;
}
#sg50babyinternal .input-block.twin input[type="checkbox"] {
	width: 27px;
	height: 27px;
	border: 1px solid #797979;
	display: inline-block;
	vertical-align: middle;
}
.input-block.twin span, .input-block.twin label {
	font-size: 18px;
	color: #797979;
}

.iradio {
	width: 114px;
	height: 114px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	cursor: pointer;
}
.input-number-wrapper {
	text-align: left;
	float: right;
	width: 220px;
}
.input-number-wrapper span  {
	vertical-align: top;
	display: inline-block;
	text-align: left;
	font-size: 18px;
	color: #797979;
}
.input-number-wrapper .input-wrapper {width: 114px;height: 114px;display: inline-block;vertical-align: middle;position: relative;}
.input-number-wrapper input {width: 100% !important;height: 100% !important;display: inline-block;vertical-align: middle;border: none !important;color: #fff;font-size: 50px;text-align: center;background: url('../images/child.png') no-repeat top left;padding: 20px 15px 40px 15px !important;}
.input-number-wrapper .input-wrapper .button-me {position: absolute;top: 30px;color: #fff;font-size: 40px;opacity: 0.5;cursor: pointer;}
.input-number-wrapper .input-wrapper .button-me.inc {right: 15px;}
.input-number-wrapper .input-wrapper .button-me.dec {left: 15px;}
.input-number-wrapper .input-wrapper .prefix {
	position: absolute;
	top: 15px;
	color: #fff;
	font-size: 24px;
	right: 18px;
}
.input-number-wrapper .input-wrapper .prefix.double-digit {
	top: 15px;
	font-size: 20px;
	right: 15px;
}

.terms-wrapper .text {
	padding: 10px;
	background: #eee;
	border: 1px solid #ccc;
	overflow: auto;
	height: 128px;
	word-wrap: break-word;
	text-align: left;
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
	border-radius: 3px;
}
#sg50babyinternal  .terms-condition-accept-checkbox {
	text-align: left;
	clear: both;
}
#sg50babyinternal  .terms-condition-accept-checkbox input[type="checkbox"] {
	width: 27px;
	height: 27px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
}
#sg50babyinternal  .terms-condition-accept-checkbox label {
	font-size: 14px;
	color: #666;
	font-weight: normal;
	margin-left: 35px;
	margin-top: 7px;
}
#sg50babyinternal  .terms-condition-accept-checkbox label a {
	color: #ee1c25;
	text-decoration: underline;
}

#sg50babyinternal .step2 p {text-align: center;font-size: 18px;color: #666;}
#sg50babyinternal .step2 p.par1 {color: #ee1c25;font-size: 30px;margin-bottom: 40px;margin-top: 50px;}
#sg50babyinternal .step2 p.par3 {margin-bottom: 50px;}
#sg50babyinternal .step2 p span {color: #ee1c25;}
#sg50babyinternal .step2 .button-submit {display: none;width: 260px;text-align: center;margin-bottom: 60px;margin-top: 60px;}
#sg50babyinternal .step2 .button-submit a {background: transparent;}
.separator {height: 2px;background: #d7d7d7;width: 100%;}
#sg50babyinternal .step2 p.last {margin-top: 60px;margin-bottom: 40px;}
#sg50babyinternal .step2 .sg50-wishes {width: 107px;height: 200px;margin: 0 auto;background: url('../images/submit-wish-title-icon.png') no-repeat top left;}
#sg50babyinternal .step2 .sg50-wishes a {width: 100%;height: 100%;display: block;text-indent: -9999px;}


#section-faq {color: #666;}
/*#section-criteria:before {content: "";position: absolute;width: 100%;height: 350px;background: #fff;}*/
.section-faq-content-wrapper {padding: 0 70px 20px 70px;line-height: 1.5em;}
.section-faq-content-wrapper ol {padding-left: 20px;}
.section-faq-content-wrapper ol li {margin-bottom: 10px;}
.section-faq-content-wrapper h2 {color: #333;margin-top: 30px;margin-bottom: 25px;text-align: center;font-size: 36px;}
.section-faq-content-wrapper a {color: #ee1c25;}
.section-faq-content-wrapper p, .section-faq-content-wrapper ul {margin-bottom: 20px;}
.section-faq-content-wrapper ul {margin: 10px 0;}

div.ppt {text-indent: -9999px;display: none !important;}
.pp_inline {line-height: 1.5em;}
.pp_inline .terms-content-wrapper > ol > li {margin-bottom: 10px;}
.pp_inline p {font-size: 18px;text-align: center;}
.space-break {width: 100%;height: 5px;clear: both;display: block;}
.double-pad {padding-left: 30px !important;}
.pp_inline ul {list-style-type: disc;}
.pp_social {display: none;}

.pp_details {position: absolute !important;top: -20px !important;right: 10px !important;}
.pp_details .pp_close {background: url('../images/modalClose.png') no-repeat top left !important;width: 23px !important;height: 23px !important;z-index: 999;}
.pp_content_container {padding-top: 15px;background: #fff;}



footer {text-align: center;font-size: 13px;}
footer a {color: #404040;}
footer a:hover {text-decoration: underline;color: #404040;}
footer .footer-nav {margin-top: 28px;margin-bottom: 45px;}
footer .footer-nav li {padding: 0;}
footer .footer-nav li a {border-right: 1px solid #404040;padding: 0 10px;}
footer .footer-nav li.last a {border: none;}
footer .nav-bottom {margin-bottom: 45px;}
footer .nav-bottom, footer p {color: #404040;}
footer p {margin-bottom: 7px;}
footer .nav-bottom li {border-right: 1px solid #404040;}
footer .nav-bottom li:first-child + li + li {border: none;}

.clear
{
	clear: both;
}

.bannerWrapper
{
	padding: 90px 0 45px 0;
}

.kmaTitle
{
	font-family: "dinbold";
	font-size: 50px;
	color:#d71414;
	text-transform: uppercase;
	line-height: 45px;
}

.kmaContent{
	color:#000;
	padding: 35px 0 33px 0;
	font-size: 18px;
}

.surveyBtn
{
	padding: 0;
}

.btn-danger a
{
	background-color:#ee1c25;
	color:#fff;
	text-decoration: none;
	font-size: 14px;
	padding:15px 55px 11px 55px;
	box-shadow: 0px 2px 0px #b3151c;
	display:block;
	font-weight: 700;
}

.kmaBanner{
	width:100%;
}

.kmabanner img
{
	width: 100%;
}


.mainWrapper{
	background-color: #eee;
	padding:35px 0 75px 0;
}

.iframeBodyWrapper
{
	padding: 0 50px;
}

.iframeWrapper
{
	background-color: #fff;
	border: none;
	overflow-y: auto;
	margin-bottom: 5px;
	margin:35px 0;
}

.iframeWrapper .shareExpTitleWrapper
{	
	border-bottom: solid 1px #ebebeb;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

.shareExpTitleWrapper
{
	padding-bottom: 25px;
	margin-bottom: 45px;
	border-bottom: solid 1px #ebebeb;
}

.shareExpTitle
{
	width: 74%;
	margin:0 auto;
	color: #65625d;
	text-align: center;
	font-size: 40px;
	line-height: 44px;
	font-weight: 700;

}

.sg50Banner
{
	padding:0 0 35px 0;
	border-bottom: solid 1px #e7e7e7;
}

#banner2, #banner3, #banner4
{
	display: none;
}

.surveySection
{
	padding:35px 0 110px 0;
	border-bottom: 1px solid #e7e7e7;
}

.grtExpTitle
{
	color: #000;
	font-size: 32px;
	text-align: center;
	font-weight: 700;
	line-height: 38px;
	padding:0 0 7px 0;
	position:relative;
}

.astrickField
{
	position: absolute;
	top:0;
	left:0;
	color:#ec7864;
	font-size: 17px;
}

.grtExpDesc
{
	color: #8c8f93;
	text-align: center;
	font-size: 18px;
}

.grtExpTitle span
{
	color: #d52b1e;
	text-transform: uppercase;
}

.caret
{
	background: url(../images/down-arrow.png) no-repeat 0 0;
	height:24px;
	width:50px;
	border:none;
	position:absolute;
	right:30px;
	top:20px;
	z-index: 9;
}

.selOptn
{
	width:100%;
	border:solid 1px #de5f60;
	color:#cf1314;
	font-size: 36px;
	font-weight: 700;
	cursor:pointer;
	border-radius: 5px;
	text-align: center;
}

.dropdownMenuWrapper
{
	width:100%;
	position:relative;
}

.dropdownMenu
{
	width: 100%;
	border:solid 1px #de5f60;
	color:#cf1314;
	font-size: 36px;
	font-weight: 700;
	border-radius: 5px !important;
}

.dropdownMenuWrapper>.btn-group:last-child>.btn:first-child
{
	border-radius: 5px;

}

.dropdown-menu
{
	width:100%;
}

.dropdown-menu>li>a
{
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

.dropdown-menu>li>a:hover
{
	color: #fff;
	background-color:#cc0a0a;
}

.dropdownMenu:hover, .dropdownMenu:focus, .dropdownMenu:active, .dropdownMenu.active, .open .dropdown-toggle.dropdownMenu
{
	color: #fff;
	background-color:#cc0a0a;
}

.dropdownMenuWrapper:hover .caret, .open .dropdown-toggle.dropdownMenuWrapper .caret, .dropdownMenuWrapper:focus .caret
{
	background: url(../images/down-arrow.png) no-repeat 0 -30px;
	height:24px;
	width:50px;
	border:none;
	position:absolute;
	right:30px;
	top:20px;
}

.expCountWrapper
{
	display: table;
	margin: 0 auto;
}

.expCount
{
	margin: 0 7px;
	padding: 10px;
	width: 55px;
	font-size: 24px;
	text-align: center;
	background-color: #fff;
	color:#d52b1e;
	border-color: #d52b1e;
}

.expCount:hover, .expCount:focus, .expCount:active, .expCount.active, .open .dropdown-toggle.expCount
{
	color: #fff;
	background-color: #d52b1e;
	border-color: #d52b1e;
}

.expCountWrapper>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle)
{
	border-radius: 5px;
}

.expCountWrapper>.btn:first-child:not(:last-child):not(.dropdown-toggle)
{
	border-radius: 5px;
}

.expCountWrapper>.btn:last-child:not(:first-child), .expCountWrapper>.dropdown-toggle:not(:first-child)
{
	border-radius: 5px;
}

.lessHightCount
{
	font-size: 16px;
	color:#4f4f4f;
	padding:15px 0 0 0;
}

.lowestCount
{
	float: left;
}

.highestCount
{
	float:right;
}

.staffTextfieldWrapper
{
	padding:5px 0 10px 0;
	width:90%;
	margin:0 auto;
	position:relative;
}

input[placeholder]
{
	color: #de5f60 !important;;
}

.input-lg
{
	border:solid 1px #de5f60 !important;
	border-radius: 5px !important; 
	box-shadow: none !important; 
	font-size: 24px;
	padding: 0 15px;
	font-style: normal;
}

.staffTextfield
{
	border:solid 1px #de5f60 !important;
	border-radius: 5px !important; 
	box-shadow: none !important; 
	font-size: 24px;
	padding: 0 15px;
}

.input-lg::-webkit-input-placeholder { color: #de5f60; font-style: italic; }

.input-lg:-moz-placeholder { /* Firefox 18- */
   color: #de5f60; font-style: italic;
}

.input-lg::-moz-placeholder {  /* Firefox 19+ */
   color: #de5f60; font-style: italic;  
}

.input-lg:-ms-input-placeholder {  
   color: #de5f60; font-style: italic;
}

.cmtTextarea::-webkit-input-placeholder { color: #de5f60; font-style: italic; }

.cmtTextarea:-moz-placeholder { /* Firefox 18- */
   color: #de5f60; font-style: italic;
}

.cmtTextarea::-moz-placeholder {  /* Firefox 19+ */
   color: #de5f60; font-style: italic;  
}

.cmtTextarea:-ms-input-placeholder {  
   color: #de5f60; font-style: italic;
}


.textfieldBtnClose
{
	position: absolute;
	right:5px;
	top:5px;
	z-index: 99;
	font-size: 15px;
}

.textfieldBtnClose a
{
	color:#de5f60;
	text-decoration: none;
}


.glyphicon-plus
{
	font-size: 50px;
	font-family: 'ios7-style-font-icons' !important;
	font-weight: 700;
	color:#de5f60;
}

.surveyAnsWrapper
{
	width: 90%;
	margin:0 auto;
}

.cmtTextarea
{
	border:solid 1px #de5f60 !important;
	border-radius: 5px !important; 
	box-shadow: none !important; 
	font-size: 24px;
	color:#de5f60 !important;
	padding: 12px;
	resize:none;
}

.cmtTextarea::-webkit-input-placeholder { color: #de5f60 !important; font-style: italic; }
.cmtTextarea::-moz-input-placeholder { color: #de5f60 !important; font-style: italic; }

.expAreaChoicesWrapper
{
	text-align: center;
}

.exp-area-choices
{
	width: 32.09%;
	margin-bottom: 5px;
	padding:35px 0;
	font-size: 32px;
	border: solid 1px #de5f60;
	color:#de5f60;
	background-color: #fff;
}

.exp-area-choices:hover
{
	border: solid 1px #ce1415;
	color:#ce1415;
	background-color: #fff;
}

/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary*/

.exp-area-choices:focus, .exp-area-choices.active, .exp-area-choices:active
{
	/*background-color:#ce1415;color:#fff;*/
	border: solid 1px #ce1415;
	
}

.tooltip-inner
{
	background-color:#ee1c25;
	padding:7px;
	font-size: 16px;
	text-align: left;
}

.tooltip-arrow
{
	display:none;	
}

.tooltip.in {
    opacity: .8;filter: alpha(opacity = 90)
}

.expAreaChoicesWrapper input[type=checkbox]
{
	position: absolute;
	clip: rect(0,0,0,0);
}

.file-input-wrapper {
    width: 145px;
    height: 145px;
    overflow: hidden;
    position: relative;
    margin:0 auto;
    padding: 0;
	border: none;
	outline: none;
}
.file-input-wrapper > input[type="file"] {
    font-size: 100px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    padding: 0;
	border: none;
	outline: none;
}
.file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 145px;
    height: 145px;
    padding: 0;
	border: none;
	outline: none;
}
.file-input-wrapper:hover > .btn-file-input {
    background-color: #fff;
    padding: 0;
	border: none;
	outline: none;
}

.submitWrapper
{
	padding:5px 0 25px 0; 
	width:90%;
	margin:0 auto;
}

.submitBtn
{
	width: 100%;
	padding:80px 0;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	background-color: #ee1c25;
	border-color: #ee1c25;
}

.submitBtn:hover, .submitBtn:focus
{
	background-color: #ee1c25;
	border-color: #ee1c25;
}

.gelDesc
{
	color: #8d8d8d;
	font-size: 18px;
	width:90%;
	margin:0 auto;
	line-height: 25px;
}

.required
{
	width:90%;
	margin:0 auto;
	color: #ea6953;;
	text-align: right;
	margin-top: 30px;
	padding: 10px 0 0 0;
	border-top: solid 1px #e7e7e7;
	font-size: 18px;
}

.mainWrapper .contactTitle
{
	font-family: "dinbold";
	color: #ff3333;
	font-size: 50px;
	line-height: 45px;
	padding-bottom:20px;
	text-transform: uppercase;
	padding:35px 0 20px 0;
	border-top: solid 1px #ccc;
}

.contactContentWrapper
{
	font-size: 14px;
}

.mainWrapper .contactContent
{
	color: #404040;
	padding-bottom: 20px;
}

.mainWrapper .contactNos ul
{
	margin: 0;
	padding:0;
	list-style-type:none; 
}

.mainWrapper .contactNos ul li
{
	color:#404040;
	line-height: 28px;
	font-weight: bold;
}

.mainWrapper .contactNos ul li .glyphicon-earphone, .mainWrapper .contactNos ul li .glyphicon-envelope
{
	color: #e72c2e;
	padding:5px 7px 0 0;
	float: left;
	width:7%;
}

.mainWrapper .contactNos ul li span.contactInfo
{
	float: left;
	width:90%;
}

.mainWrapper .contactNos ul li a
{
	color:#404040;
}

.mainWrapper .contactAddr
{
	color:#404040;
}

header .container .row.two li:nth-child(3):after {
    	background: transparent;
	}

@media (max-width: 1400px) {
	.left-polaroid {width: 254px;left: -50px;}
	.right-polaroid {width: 243px;right: -50px;}
}

@media (max-width: 1100px) {
	#section-about .image-wrapper img {width: 90%;}
	.left-polaroid {left: 0px;}
	.right-polaroid {right: 0px;}
}

@media (max-width: 990px) {
	header .container .row.three  ul {margin-left: 190px;}
	header .container .row.three.fixed ul {width: 750px;}
	#section-about .image-wrapper img {width: 80%}
	.left-polaroid {width: 169px;}
	.right-polaroid {width: 160px;}
	.section-about-content-wrapper p {width: 80%;margin-left:auto;margin-right: auto;}
	.section-register-content-wrapper .title-wrapper .title-icon img {width: 112px;}
	fieldset .hand {display: none;}
	#sg50babyinternal fieldset .field-wrapper .block {width: 100%;}
	.input-block.name label, .input-block.fin-number label, .input-block.postal label, .input-block.bday > span, .input-block.twin span, .input-block.twin label, .input-number-wrapper span {font-size: 16px;}
	.input-block.bday {width: 280px;}
	select#bday, select#bmonth {width: 70px;}
	.byear-text {font-size: 25px;}
	.input-block.twin {margin-left: 0px;width: 200px;}
	.input-number-wrapper {width: 200px;}
	.input-number-wrapper span {width: 100%;margin-bottom: 10px;text-align: center;}
	.input-number-wrapper input {font-size: 45px;}
	.input-number-wrapper .input-wrapper .button-me.dec {left: 7px;}
	.input-number-wrapper .input-wrapper .button-me.inc {right: 7px;}
	.input-number-wrapper .input-wrapper .prefix {top: 15px;font-size: 20px;right: 18px;}
	.input-number-wrapper .input-wrapper .prefix.double-digit {top: 15px;font-size: 17px;right: 12px;}
	.input-block.bday > span, .input-block.twin span, .input-block.twin label, .input-number-wrapper span {font-size: 16px;}
	.input-number-wrapper {width: 100px;}
	.input-number-wrapper .input-wrapper {width: 100px;height: 100px;}
	.input-number-wrapper input {background-size: 100%;}
	#sg50babyinternal .step2 p {font-size: 16px;}
	#sg50babyinternal .step2 p.par1 {font-size: 28px;}
	footer .footer-nav li {margin-bottom: 10px;}
}


@media (min-width: 768px) {
	ul.main li a {font-size: 14px; }
	ul.menu > li > a {font-size: 16px; display:block; padding: 12px 0 10px 0;}
	
	header .container .row.two ul li:after {
		content: '';
		display: block;
		position: absolute;
		right: -20px;
		height: 45px;
		top: 0;
		width: 2px;
		background: url('../images/top-nav-separator.jpg') no-repeat top left;
	}
	header .container .row.two li:nth-child(3):after {
    	background: transparent;
	}
	
}


/*for ipad portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.input-block.media span, .image-url p:first-child {font-size: 17px !important;}
}

@media (max-width: 767px) {
	#logo a {padding-top:0px;}
	header {background: #fff;height: 142px;}
	header .container {padding: 0;}
	header .logo-wrapper {margin-top: 25px;}
	header .container .row:first-child {
		margin: 0;
		padding: 0 15px;
		/*height: 98px;*/
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9999;
		background: #fff;
	}
	header .container .row:first-child .col-sm-7 {width: 200px;float: left;padding-right: 0;padding-left: 0;}
	header .container .row:first-child .col-sm-5 {display: none;}
	header .container .row.two {
		height: auto;
		position: relative;
		width: 100%;
		top: 0;
		z-index: 999;
		margin: 0;
	}
	header .container .row.two .mobile-nav {
		display: block;
		padding: 5px 15px;
		top: 115px;
		position: absolute;
		background: url('../images/bg-mobile-nav.jpg') repeat-x 0px -43px;
		width: 100%;
		z-index: 9999;
	}
	header .container .row.two .col-sm-12 {padding: 0;}
	header .container .row.two .col-sm-12 > ul {
		position: absolute;
		z-index: 99;
		background: #ca1513;
		width: 100%;
		margin: 0;
		top: -350px;
	}
	header .container .row.two .col-sm-12 > ul > li {
		display: block;
		width: 100%;
		padding: 0 10px 0 0;
		border-bottom: 1px solid #9a191c;
		border-top: 1px solid #f00;
		background: transparent !important;
		height: 100%;
		margin: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}
	header .container .row.two .col-sm-12 > ul > li.has-child > a {
		background: url('../images/downArrow.png') no-repeat right center !important;
	}
	header .container .row.two .col-sm-12 > ul > li.has-child.drop > a {
		background: url('../images/upArrow.png') no-repeat right center !important;
	}
	header .container .row.two .col-sm-12 > ul > li:first-child {
		border-top: none;
		height: auto;
	}
	header .container .row.two .col-sm-12 ul li a {
		font-size: 16px;
		margin-right: 0;
		width: 100%;
		display: block;
		padding: 10px 15px;
		font-weight: bold;
		height: auto;
	}
	header .container .row.two ul li.icon {text-indent: 0px;background: transparent;}
	header .container .row.two ul.sub-menu {margin: 0;}
	header .container .row.two ul.sub-menu li {
		height: 100%;
		display: block;
		margin: 0;
		padding: 0;
	}
	header .container .row.two ul.sub-menu li a {
		padding: 10px 30px;
		font-size: 15px;
	}
	header .container .row.two ul li.social {
		display: block;
	}

	header .container .row.three {display: none;}

	.section-about-content-wrapper img {width: 100%;height: auto;}
	.section-about-content-wrapper p {width: 100%;}
	.left-polaroid, .right-polaroid {display: none;}

	#section-register > .container > .row {margin: 0;}

	.input-block.twin {clear: right;}
	.input-number-wrapper {clear: both;float: left;}
	.input-number-wrapper span {text-align: left;}
	.input-block.postal{width:50%;}
	.input-block.unitno{width:50%;}

}

@media (max-width: 640px) {
	.section-about-content-wrapper {max-width: 80%;}
	.section-register-content-wrapper .title-wrapper.active, .section-register-content-wrapper .title-wrapper {width: 100%;}
	.input-number-wrapper {clear: both;margin-top: 20px;float: left;}
	.input-block.bday {margin-bottom: 20px;}
	.input-block.bday .bday-select-wrapper {background-position: 5px 12px;}
	.input-block.twin .twin-wrapper {margin-top: 5px;}
	.input-block.postal,.input-block.unitno{width:100%;clear:both;}
	.input-block.unitno input{width:100% !important;}
}


@media (max-width: 530px) {
	.section-about-content-wrapper p {font-size: 12px;}
	.section-about-content-wrapper p:first-child {font-size: 14px;}

	.section-share-content-wrapper .date {margin-top: 7px;}
	.section-share-content-wrapper .date span {font-size: 18px;padding: 0 8px;}
	.social2 {margin-top: 18px;margin-bottom: 18px;}

	.section-register-content-wrapper .title-wrapper p {font-size: 12px;}
	#sg50babyinternal {margin: 25px auto 30px auto;}
	.input-block.name label, .input-block.fin-number label, .input-block.postal label {font-size: 15px;}
	.input-block.bday > span {font-size: 15px;}

		#sg50babyinternal fieldset {padding: 19px;}
		#sg50babyinternal fieldset .top-field, #sg50babyinternal fieldset .field-wrapper {padding: 22px;}

}

@media (max-width: 480px) {
	header {height: 120px;}
	header .logo-wrapper {margin-top: 13px;}
	header #logo a {width: 108px;}
	header #logo img {height: 52px;}
	header .container .row:first-child {height: 76px;}
	header .container .row.two .mobile-nav {top: 76px;}
	header .container .row.two .col-sm-12 ul li a {font-size: 13px;}
	header .container .row.three .col-sm-12 > ul li a {font-size: 12px;}
	#social {width: 100%;float: none;text-align: center;}
	.button-live {width: 100%;text-align: center;margin-bottom: 15px;}

	.section-about-content-wrapper {padding: 10px;margin-bottom: 50px;}
	.section-register-content-wrapper .title-wrapper .title-icon img {width: 100px;}

	.section-share-content-wrapper {width: 100%;}
	.section-share-content-wrapper .date span {font-size: 15px;padding: 0 8px;}
	.social2 ul {margin-left: 0px}

	.section-register-content-wrapper .title-wrapper p {margin-bottom: 0px;}
	#sg50babyinternal {margin: 20px auto 15px auto;}
	#sg50babyinternal .action-button {width: 100% !important;}
	#sg50babyinternal input, #sg50babyinternal textarea {font-size: 12px;padding: 12px;}
	.section-faq-content-wrapper h2 {font-size: 18px;}
	#sg50babyinternal fieldset {padding: 13px;}
	#sg50babyinternal fieldset .top-field, #sg50babyinternal fieldset .field-wrapper {padding: 15px;padding-bottom: 30px !important;}
	.input-block.name label, .input-block.fin-number label {font-size: 12px;}
	.input-block label span {font-size: 7px;}
	.input-block.fin-number label {margin-top: 7px;}
	.input-block.contact input, .input-block.email input,.input-block.mailing input {padding-left: 45px !important;}
	.input-block.contact input {background-position: 17px 11px;background-size: 11px;}
	.input-block.email input {background-size: 20px;background-position: 14px 14px;}
	.input-block.mailing input {background-size: 17px;background-position: 15px 12px;}
	fieldset select {font-size: 12px;}
	.input-block.bday .bday-select-wrapper select {margin-right: 10px;}
	.input-block.postal label {margin-top: 12px;font-size: 12px;}
	.input-block.bday > span, .input-block.twin span, .input-block.twin label, .input-number-wrapper span {font-size: 12px;}
	.iradio {width: 100px;height: 100px;margin-right: 20px;background-size: 100% !important;}

	.input-block.bday .bday-select-wrapper {padding-left: 45px;}
	.input-block.bday .bday-select-wrapper {background-position: 5px 10px;}
	.input-number-wrapper .input-wrapper {width: 100px;height: 100px;}
	.input-number-wrapper .input-wrapper input {background-size: 100% !important;font-size: 45px !important;}
	#sg50babyinternal .input-block.twin input[type="checkbox"], #sg50babyinternal .terms-condition-accept-checkbox input[type="checkbox"] {width: 20px;height: 20px;}
	#sg50babyinternal .terms-condition-accept-checkbox label {font-size: 13px;}

	#sg50babyinternal .step2 p {font-size: 13px;}
	#sg50babyinternal .step2 p.par1 {font-size: 20px;}
	#sg50babyinternal .step2 .sg50-wishes {width: 115px;height: 160px;background-size: 100%;}

	
	footer .footer-nav li a {padding: 0 5px;}
	footer .footer-nav {margin-top: 14px;margin-bottom: 23px;}
	footer .nav-bottom {margin-bottom: 23px;}

	footer {font-size: 10px;}

}

@media (max-width: 440px) {
	fieldset select {padding: 5px;background-size: 27px;}
	.selectBox-dropdown {font-size: 12px;padding: 6px;background-size: 27px;height: 30px;}
	.selectBox-dropdown .selectBox-label {padding: 0;}
	select#bday {width: 60px;}
	select#bmonth {width: 70px;}
	.byear-text {font-size: 20px;}
	.input-block.bday {width: 100%;}
	.input-block.bday .bday-select-wrapper {background-position: 5px 9px;}
}

@media (max-width: 415px) {
	select#bday, select#bmonth, select#byear {
		background-size: 25px;
		padding: 4px 0px 4px 5px;
	}
}

@media (max-width: 400px) {
	.selectBox-dropdown {background-size: 26px;}
	select#bday, select#bmonth {width: 60px;}
	select#byear {width: 70px;}
	.selectBox-dropdown .selectBox-label {font-size: 12px;}

}

@media (max-width: 380px) {
	#section-about .button-submit {width: 190px;}
	#section-about .button-submit a {font-size: 13px;padding-top: 16px;}
	.input-block.bday .bday-select-wrapper {padding-left: 0px;background: #eee;text-align: left;}
	.iradio {width: 85px;height: 85px;}
	.radio-sex-wrapper, .radio-status-wrapper, .input-number-wrapper {width: 100%;}
	.input-number-wrapper .input-wrapper {width: 85px;height: 85px;}
	.input-number-wrapper .input-wrapper .button-me {font-size: 30px;}
	.input-number-wrapper .input-wrapper input {font-size: 35px !important;padding: 10px 10px 15px 10px !important;}
	.input-number-wrapper .input-wrapper .prefix {font-size: 15px;}
	.button-submit a {font-size: 12px;}
	#sg50babyinternal .step2 .button-submit {width: 100%;}
	#sg50babyinternal .terms-condition-accept-checkbox label {font-size: 12px;}
}

@media (max-width: 340px) {
	.input-block.bday .bday-select-wrapper .selectBox-dropdown {margin-right: 5px;}
	#sg50babyinternal .terms-condition-accept-checkbox label {font-size: 11px;}
}

@media (max-width: 320px) {
	.button-submit a {padding-top: 8px;}

	.input-block.postal label {font-size: 12px;}
	.input-block.postal input {width: 100px !important;}

}

@media screen and (min-width : 320px) and (max-width: 479px) {

.bannerWrapper
{
	padding:40px 0;
}

.kmaContent
{
	padding: 20px 0 25px 0;
}

.kmaTitle
{
	font-size: 30px;
	line-height: 36px;
}

.kmaTitle img
{
	width: 92%;
}

.kmabanner
{
	padding:70px 0 0 0;
}

.btn-danger a
{
	padding: 11px 20px 8px 20px;
	text-decoration: none;
	color:#fff;
	display:block;
}

.iframeWrapper
{
	padding: 35px 0;
}

.iframeBodyWrapper
{
	padding: 0 10px;
}

.shareExpTitleWrapper
{
	padding-bottom: 20px;
	margin-bottom: 35px;
}

.shareExpTitle
{
	width: 100%;	
	font-size: 21px;
	line-height: 25px;
}

.dropdownMenu
{
	font-size: 18px;
}

.dropdown-menu>li>a
{
	font-size: 18px;
}

.caret
{
	background: url(../images/down-arrow-mobile.png) no-repeat 0 0;
	height:12px;
	width:25px;
	border:none;
	position:absolute;
	right:10px;
	top:13px;
	z-index: 9;
}

.dropdownMenuWrapper:hover .caret, .open .dropdown-toggle.dropdownMenuWrapper .caret, .dropdownMenuWrapper:focus .caret
{
	background: url(../images/down-arrow-mobile.png) no-repeat 0 -15px;
	height:12px;
	width:25px;
	border:none;
	position:absolute;
	right:10px;
	top:13px;
}

.grtExpTitle
{
	font-size: 25px;
	line-height: 33px;
}

.grtExpDesc
{
	padding-bottom: 40px;
}

.expCount
{
	margin-bottom: 7px;
}

.glyphicon-plus
{
	font-size: 40px;
}

.staffTextfieldWrapper
{
	width:97%;
	padding: 0 0 10px 0;
}

.input-lg
{
	font-size: 18px;
}

.cmtTextarea
{
	font-size: 18px;
}

.exp-area-choices
{
	font-size: 18px;
}

.submitBtn
{
	padding: 40px;
}

.mainWrapper .contactNos ul li .glyphicon-earphone, .mainWrapper .contactNos ul li .glyphicon-envelope
{
	color: #e72c2e;
	padding-right: 7px;
	float: left;
	width:7%;
}

.mainWrapper .contactContentWrapper
{
	font-size: 12px;
}

.mainWrapper .contactNos ul li span.contactInfo
{
	float: left;
	width:90%;
}

.mainWrapper .contactTitle {
	font-size: 30px;
	line-height: 36px;
	padding: 20px 15px 15px 15px;
}

.mainWrapper .contactAddr
{
	padding: 20px 0 0 0;
}

} 

@media screen and (min-width : 480px) and (max-width: 640px) {

.bannerWrapper
{
	padding:40px 0;
}

.kmaContent
{
	padding: 20px 0 25px 0;
}

.kmaTitle
{
	font-size: 30px;
	line-height: 36px;
}

.kmaTitle img
{
	width: 92%;
}

.kmabanner
{
	padding:70px 0 0 0;
}

.btn-danger a
{
	padding: 11px 20px 8px 20px;
	text-decoration: none;
	color:#fff;
	display:block;
}

.iframeWrapper
{
	padding: 35px 0;
}

.iframeBodyWrapper
{
	padding: 0 10px;
}

.shareExpTitleWrapper
{
	padding-bottom: 20px;
	margin-bottom: 35px;
}

.shareExpTitle
{
	width: 100%;	
	font-size: 21px;
	line-height: 25px;
}

.dropdownMenu
{
	font-size: 20px;
}

.dropdown-menu>li>a
{
	font-size: 20px;
}

.caret
{
	background: url(../images/down-arrow-mobile.png) no-repeat 0 0;
	height:12px;
	width:25px;
	border:none;
	position:absolute;
	right:30px;
	top:15px;
	z-index: 9;
}

.dropdownMenuWrapper:hover .caret, .open .dropdown-toggle.dropdownMenuWrapper .caret, .dropdownMenuWrapper:focus .caret
{
	background: url(../images/down-arrow-mobile.png) no-repeat 0 -15px;
	height:12px;
	width:25px;
	border:none;
	position:absolute;
	right:30px;
	top:15px;
}

.grtExpTitle
{
	font-size: 25px;
	line-height: 33px;
}

.grtExpDesc
{
	padding-bottom: 40px;
}

.expCount
{
	margin-bottom: 7px;
}

.glyphicon-plus
{
	font-size: 40px;
}

.staffTextfieldWrapper
{
	width:97%;
	padding: 0 0 10px 0;
}

.input-lg
{
	font-size: 18px;
}

.cmtTextarea
{
	font-size: 18px;
}

.exp-area-choices
{
	font-size: 18px;
}

.submitBtn
{
	padding: 40px;
}

.mainWrapper .contactNos ul li .glyphicon-earphone, .mainWrapper .contactNos ul li .glyphicon-envelope
{
	color: #e72c2e;
	padding-right: 7px;
	float: left;
	width:7%;
}

.mainWrapper .contactNos ul li span.contactInfo
{
	float: left;
	width:90%;
}

.mainWrapper .contactTitle {
	font-size: 30px;
	line-height: 36px;
	padding: 20px 15px 15px 15px;
}

.mainWrapper .contactAddr
{
	padding: 20px 0 0 0;
}

} 

@media screen and (min-width : 641px) and (max-width: 767px) {
.kmabanner
{
	padding:70px 0 0 0;
}

}

@media screen and (min-width : 768px) and (max-width: 1024px) {
.kmabanner
{
	padding:70px 0 0 0;
}

}