﻿@using Newtonsoft.Json

<link rel="stylesheet" href="@Href("~/Content/admin-manageorgsub.css")">
<link rel="stylesheet" href="@Href("~/Content/Style.css")">
<link rel="stylesheet" href="@Href("~/Content/admin.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/admin-manageorgsub-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/admin-manageorgsub-desktop.css")" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>
<script src="@Href("~/JS/Model/constant.js")"></script>
<script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
<script src="@Href("~/JS/orgsub-detail-admin.js")"></script>
<script src="@Href("~/Scripts/jquery.validate.js")"></script>
<script src="@Href("~/JS/CallingCode.js")"></script>

<div class="container">
    <div class="heading-section">
        <p align="center" class="title-font">Administer</p>
        <div>
            <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
        </div>
        <p align="center" class="normal-font">
            <a>Organisation Profile</a> 
        </p>
    </div>

    <div id="updatepanel clearfix">
        <form id="orgsub-form">
            <div class="form-group relativepos">
                <label class="description-text-center">Registered Name of Organisation<br />eg. CusXP Pte Ltd</label>
                <div class="required-header">*</div>
                <input id="RegisteredName" name="RegisteredName" class="form-control input-lg uploader-font blue-font" data-bind="value: $data.OrgSub().RegisteredName" placeholder="Registered Name" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Registration Number of Organisation<br />eg. 201142343S</label>
                <div class="required-header">*</div>
                <input id="RegisteredNumber" name="RegisteredNumber" class="form-control input-lg uploader-font blue-font" data-bind="value:  $data.OrgSub().RegisteredNumber" placeholder="Registered Number" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Industry</label>
                <div class="required-header">*</div>
                <select id="Industry" name="Industry" data-bind="select: {} , options:  INDUSTRIES , value:  $data.OrgSub().Industry, multiselectOptions: { header: 'Industry', multiple: false, selectedList: 1}" required></select>
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Brand Name<br />eg. CusExperience</label>
                <div class="required-header">*</div>
                <input id="BrandName" name="BrandName" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.OrgSub().BrandName" placeholder="Brand Name" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Brand Address<br />eg. 1 Infinite Loop, Cupertino, CA 95014, United States of America</label>
                <div class="required-header-add">*</div>
                <textarea id="BrandAddress" name="BrandAddress" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="autosize: {}, value:  $data.OrgSub().Address" placeholder="Brand Address" required></textarea>
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Brand Website<br />eg. www.CusExperience.com</label>
                <div class="required-header">*</div>
                <input id="BrandWebsite" name="BrandWebsite" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.OrgSub().BrandWebsite" placeholder="Brand Website" type="text" required />
            </div>

            <div class="form-group relativepos">
                <label class="description-text-center">Country</label>
                <div class="required-header">*</div>
                <select id="MOSCountry" name="MOSCountry" data-bind="select: {} , options: COUNTRIES ,value:  $data.OrgSub().Country, multiselectOptions: { header: 'Country', multiple: false, selectedList: 1}" required></select>
            </div>
            <div class="form-group relativepos clearfix">
                <label class="description-text-center">Phone<br />eg. +1 9876 5432</label>
                <div class="required-header">*</div>
                <input data-bind="value: getCallingCode($data.OrgSub().Country())" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font country-calling-code" disabled>
                <input id="PhoneNumber" name="PhoneNumber" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font telephone-number" data-bind="value:  $data.OrgSub().PhoneNumber" placeholder="Phone" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Email<br />eg. Amber.Black@CusExperience.com</label>
                <div class="required-header">*</div>
                <input id="EmailAddress" name="Email" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value:  $data.OrgSub().EmailAddress" placeholder="Email" type="email" required />
            </div>
            <div class="form-group relativepos clearfix">
                <label class="description-text-center">Survey URL Prefix</label>
                <div class="required-header">*</div>
                <input data-bind="value: '/'" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font country-calling-code" disabled>
                <input id="PublishURL" name="PublishURL" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font telephone-number" data-bind="value:  $data.OrgSub().SurveyURL" placeholder="Publish URL" type="text" required />
            </div>
            <br/>
            <br/>
            <div class="form-group relativepos">
                <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click:  $data.saveOrgSub" id="savebutton">Save</button>
            </div>
        </form>
    </div>

</div>
