﻿@using Newtonsoft.Json

<link rel="stylesheet" href="@Href("~/Content/admin-manageorgsub.css")">
<link rel="stylesheet" href="@Href("~/Content/Style.css")">
<link rel="stylesheet" href="@Href("~/Content/admin.css")">
<link rel="stylesheet" href="@Href("~/Content/nestable.css")" />
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/admin-manageorgsub-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/admin-manageorgsub-desktop.css")" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>
<script src="@Href("~/JS/Model/constant.js")"></script>
<script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
<script src="@Href("~/JS/orgsub-detail-admin.js")"></script>
<script src="@Href("~/Scripts/jquery.validate.js")"></script>
<script src="@Href("~/Scripts/jquery.nestable.js")"></script>
<script src="@Href("~/JS/CallingCode.js")"></script>


<div class="container clearfix">
    <div class="heading-section">
        <p align="center" class="title-font">Administer</p>
        <div>
            <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
        </div>
        <p align="center" class="normal-font">
            <a class="selected" data-bind="attr: { href: $root.showOrgSub() }">Organisation Profile</a> | 
            <a data-bind="attr: {href: $root.showTouchpoint() }">Touchpoints</a> |
            <a data-bind="attr: {href: $root.showUsers() }">Users</a>
        </p>
    </div>
    <div id="updatepanel clearfix">
        <form id="orgsub-form" class="clearfix">       
            <div class="dd" id="nestable3" data-bind="nestable: {}, with: $root.OrgSub()">
                    @{ Html.RenderPartial("_OrgSubView"); }
            </div>
        </form>
    </div>
    <div>
        <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click:  $data.saveOrgSub" id="savebutton">Save</button>
    </div>
</div>