﻿@using Newtonsoft.Json
<link href="@Href("~/Content/orgsub-index.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/orgsub-index-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/orgsub-index-desktop.css")" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>
<script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
<script src="@Href("~/JS/orgsub-index.js")"></script>

<div class="container">
    <div class="heading-section">
        <p align="center" class="title-font">Administer</p>
        <p align="center" class="survey-font">Organisations</p>
    </div>
    <div class="list-section" style="cursor:pointer">
        <a class="survey-font" data-bind="attr: { href: $root.createOrg($data) }">Create</a>
    </div>
    <div class="survey" data-bind="foreach: $root.OrgSubs">
        <div>
            <div class="list-section">
                <a class="survey-font  list-anchor" data-bind="text: $data.RegisteredName, attr: {href: $root.showOrgSub($data) },css: 'level' + $data.HierarchyLevel()" "></a>
                <div class="editing-tools">
                    <span class="icon-angle-down sidemenu-font right-hyperlink close-icon disabled-font"></span>
                    <span class="icon-remove sidemenu-font right-hyperlink close-icon" data-bind="deleteOrg : {}" title="Delete Organisation"></span>
                </div>
                <div class="editing-tools-bottom">
                    <a class="duplicate-hyperlink" data-bind="attr: { href: $root.createSub($data) }">Add Subsidiary</a>
                </div>
            </div>
            <div data-bind="template: { name: 'nodeTmpl', with: $data}"></div>
            <script id="nodeTmpl" type="text/html">
                <div data-bind="foreach: $data.Subsidiaries">
                    <div class="list-section subsidiary-list">
                        <a class="survey-font  list-anchor" data-bind="text: $data.RegisteredName, attr: { href: $root.showOrgSub($data) },css: 'level' + $data.HierarchyLevel()"></a>
                        <div class="editing-tools subsidiary-tools">
                            <span class="icon-remove sidemenu-font right-hyperlink close-icon" data-bind="deleteSub : {}" title="Delete Organisation"></span>
                        </div>
                        <div class="editing-tools-bottom">
                            <a class=" sidemenu-font" data-bind="attr: { href: $root.createSub($data) }">Add Subsidiary</a>
                        </div>
                    </div>
                    <div data-bind="template: { name: 'nodeTmpl', with: $data}"></div>
                </div>
            </script>
        </div>
    </div>
</div>
