﻿@using Newtonsoft.Json

<link rel="stylesheet" href="@Href("~/Content/admin-manageorgsub.css")">
<link rel="stylesheet" href="@Href("~/Content/Style.css")">
<link rel="stylesheet" href="@Href("~/Content/admin.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/admin-manageorgsub-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/admin-manageorgsub-desktop.css")" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>
<script src="@Href("~/JS/Model/constant.js")"></script>
<script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
<script src="@Href("~/JS/orgsub-touchpoint.js")"></script>
<script src="@Href("~/Scripts/jquery.validate.js")"></script>
<style>.footerZIndex{
    display:none;
}</style>

<div class="container">
    <div class="heading-section">
        <p align="center" class="title-font">Administer</p>
        <div>
            <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
        </div>
        <p align="center" class="normal-font">
            <a data-bind="attr: { href: $root.showOrgSub() }">Organisation Profile</a> |
            <a class="selected" data-bind="attr: {href: $root.showTouchpoint() }">Touchpoints</a> |
            <a data-bind="attr: {href: $root.showUsers() }">Users</a>
        </p>
    </div>
    <div class="touchpoint-container">
        <div data-bind="foreach: $root.Touchpoints">
            <div class="touchpoint-container">
            <span class="icon-remove sidemenu-font close-icon pull-right blue-font marge-bot" data-bind="click: $root.removeTouchpoint"></span>
            <input class="form-control helperFloaterLeft input-lg commentplaceholder demo-textarea blue-font marge-bot flip-font" type="text" data-bind="value: $data.TouchpointName" placeholder="Enter Touchpoint Name" />
            <input class="form-control helperFloaterLeft input-lg commentplaceholder demo-textarea blue-font marge-bot flip-font" type="text" data-bind="value: $data.TouchpointURL" placeholder="Enter Touchpoint URL" />
                <div id="uploadimg">
                    <div class="fileBrowser">
                        <input type="text" class="form-control uploadTxtBox input-lg flip-font" placeholder="Paste your link or Browse..." data-bind="value: $data.FrontImage">
                    </div>
                    <div class="file-input-wrapper">
                        <div class="flipperTool">
                            <img src="@Href("~/Images/flip.png")" width="25" data-bind="flipImage : {}" />
                        </div>
                        <div class="flip-container" id="flip-toggle">
                            <div class="flipper">
                                <div class="front">
                                    <div data-bind="if: $data.FrontImage">
                                        <span class="pe-7s-close large-font blue-font pull-top-right" data-bind="click: $data.removeFrontImage"></span>
                                        <img data-bind="attr: { src: $data.FrontImage , width: $data.ImageWidth }, drag: {}" style="position:absolute;"/>
                                    </div>
                                    <div class="upload-icon" data-bind="if: !$data.FrontImage()">
                                        <div class="upload-icon-spacer">
                                        </div>
                                        <div class="uploadImgIcon">
                                            <span class="glyphicon glyphicon-picture xlarge-font blue-font img-icon"></span><br /><span class="normal-font blue-font">Upload an image or provide an image link.</span>
                                        </div>
                                        <div>
                                            <form>
                                                <input name="surveyimage" class="fileBrowserBtn" type="file" accept="image/*" data-bind="fileUpload: { property: 'filename', url: '/api/SurveyImage', component: 'FrontImage' }">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="inner-img-upload">
                                        <div data-bind="visible: !$data.LogoImage()">
                                            <div class="uploadLogoIcon">
                                                <span class="glyphicon glyphicon-picture icon-logo-font blue-font img-icon"></span><br /><span class="icon-upload-logo-font blue-font">Upload a logo here.</span>
                                            </div>
                                            <form>
                                                <input name="logoimage" class="logofileinput" type="file" accept="image/*" data-bind="fileUpload: { property: 'filename', url: '/api/SurveyImage', component: 'LogoImage' }">
                                            </form>
                                        </div>
                                        <div data-bind="if: $data.LogoImage" class="brandLogoZIndex">
                                            <span class="pe-7s-close large-font blue-font pull-top-right" data-bind="click: $data.removeLogoImage"></span>
                                            <img class="logo-img" data-bind="attr: { src: $data.LogoImage}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                    <br />
                                    <table align="left" style="width:100%;">
                                        <tr>
                                            <td class="Table-text">
                                                Name
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>
                                                <p contenteditable="true" class="flip-font blue-font" id="" data-bind="editableText: $data.RegisteredName" placeholder="Organisation Name"></p>
                                            </td>
                                        </tr>
                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                        <tr>
                                            <td class="Table-text">
                                                Address
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>
                                                <p contenteditable="true" class="flip-font blue-font" id="" data-bind="editableText: $data.Address" placeholder="Address"></p>
                                            </td>
                                        </tr>
                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                        <tr>
                                            <td class="Table-text">
                                                Website
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>
                                                <p contenteditable="true" class="flip-font blue-font" id="" data-bind="editableText: $data.BrandWebsite" placeholder="Website"></p>
                                            </td>
                                        </tr>
                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                        <tr>
                                            <td class="Table-text">
                                                Phone
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td>
                                                <p contenteditable="true" class="flip-font blue-font" id="" data-bind="editableText: $data.PhoneNumber" placeholder="Mobile"></p>
                                            </td>
                                        </tr>
                                        <tr class="emptytablerow"><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                                        <tr>
                                            <td class="Table-text">
                                                Email
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td><p contenteditable="true" class="flip-font blue-font" id="" data-bind="editableText: $data.EmailAddress" placeholder="Email"></p></td>
                                        </tr>
                                    </table>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="slider" class="sliderTab" data-bind="slider: $data.SliderValue, sliderOptions: {min: 0, max: 100, range: 'min', step: 1, value: 50}"></div>
                </div>
            </div>
        </div>
        <div class="choice-addOptionBtn alignleft">
            <span data-bind="click: $data.addTouchpoint" class="icon-plus plus-padding-top plus-btn-font blue-font"></span>
        </div>
        <div class="form-group relativepos">
            <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click:  $data.saveTouchpoints" id="savebutton">Save</button>
        </div>
     </div>
</div>
