﻿@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="@Href("~/Content/admin-userprofile.css")">
    <link rel="stylesheet" href="@Href("~/Content/admin.css")">
    <link rel="stylesheet" href="@Href("~/Content/Style.css")">
    <link media="only screen and (max-width: 639px)"
          href="@Href("~/Content/admin-userprofile-mobile.css")" type="text/css" rel="stylesheet" />
    <link media="only screen and (max-width: 2024px)"
          href="@Href("~/Content/admin-userprofile-desktop.css")" type="text/css" rel="stylesheet" />


    <script type="text/javascript">
        var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
    </script>
    <script src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/Model/usermodel.js")"></script>
    <script src="@Href("~/JS/user-create-admin.js")"></script>

    <style>
        .footerZIndex {
            display: none;
        }
    </style>
</head>
<div class="container">
    <div class="heading-section">
        <p align="center" class="title-font">Administer</p>
        <div>
            <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
        </div>
        <p align="center" class="normal-font">
            <a data-bind="click: $root.showDetail">Organisation Profile</a> |
            <a data-bind="click: $root.showTouchpoint">Touchpoints</a> |
            <a data-bind="click: $root.showUsers">Users</a>
        </p>
    </div>
    <div class="updatepanel clearfix">
        <form id="userprofile-form">
            <div class="form-group relativepos">
                <label class="description-text-center">Username<br />eg. AmberBlack</label>
                <div class="required-header">*</div>
                <input id="UserName" name="UserName" class="form-control input-lg uploader-font" data-bind="value: $data.User().UserName" placeholder="Username" type="text" required />
                <label class="server-error-message"  data-bind="visible:!$root.UserNameValidation.IsValid(), text: $root.UserNameValidation.Message"></label>
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Salutations</label>
                <div class="required-header">*</div>
                <select id="Industry" name="Industry" data-bind="select: {} , options: SALUTATIONS, value:  $data.User().Title, multiselectOptions: { header: 'Industry', multiple: false, selectedList: 1}" required></select>
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Given Names<br />eg. Amber Rose</label>
                <div class="required-header">*</div>
                <input id="FirstName" name="FirstName" class="form-control input-lg uploader-font" data-bind="value: $data.User().FirstName" placeholder="Given Names" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Surname<br />eg. Black</label>
                <div class="required-header">*</div>
                <input id="LastName" name="LastName" class="form-control input-lg uploader-font" data-bind="value: $data.User().LastName" placeholder="Surname" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Country</label>
                <div class="required-header">*</div>
                <select id="UPCountry" name="UPCountry" data-bind="select: {} , options: COUNTRIES ,value:  $data.User().Country, multiselectOptions: { header: 'Country', multiple: false, selectedList: 1}" required></select>
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Phone Number<br />eg. +65 9876 5432</label>
                <div class="required-header">*</div>
                <input id="PhoneNumber" name="PhoneNumber" class="form-control input-lg uploader-font blue-font" data-bind="value: $data.User().PhoneNumber" placeholder="Mobile" type="text" required />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Email<br />eg. Amber.Black@CusExperience.com</label>
                <div class="required-header">*</div>
                <input id="Email" name="Email" class="form-control input-lg uploader-font blue-border-field commentplaceholder blue-font" data-bind="value: $data.User().Email" placeholder="Email" type="email" required />
            </div>

            <div class="form-group relativepos">
                <label class="description-text-center">Organisation Name<br />eg. CusExperience</label>

                <input id="OrganisationName" name="OrganisationName" disabled class="form-control input-lg uploader-font" data-bind="value: $data.User().OrgSubName" placeholder="Organisation" type="text" />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Designation<br />eg. Customer Service Officer.</label>
                <input id="Designation" name="Designation" class="form-control input-lg uploader-font" data-bind="value: $data.User().Designation" placeholder="Designation" type="text" />
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Role<br />eg. CusXP Professional.</label>
                <select id="Roles" name="Roles" data-bind="select: {} , options: $data.User().AvailableRoles ,value:  $data.User().Role, multiselectOptions: { header: 'Role', multiple: false, selectedList: 1}" required></select>
            </div>
            <div class="form-group relativepos">
                <label class="description-text-center">Touchpoint<br />eg. Customer Service Center.</label>
                <select id="Touchpoints" name="Touchpoints" multiple="multiple" data-bind="selectMultiple: {}, options: $.merge(['All'], $data.User().AvailableTouchpoints()) , selectedOptions: $data.User().SelectedTouchpoints , optionsCaption : 'Touchpoint', multiselectOptions: {  minWidth: 600, header: 'Touchpoint' , selectedText: 'Touchpoint' }"></select>
                <!-- ko if:$.inArray('All',$data.User().SelectedTouchpoints())==-1 -->
                <div data-bind="foreach: $data.User().SelectedTouchpoints">
                    <!-- ko if: $data !== 'All' -->
                    <div class="exp-area-choices">
                        <p class="tag-font" data-bind="text:$data"></p>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <!-- ko if:$.inArray('All',$data.User().SelectedTouchpoints())==0 -->
                <div class="exp-area-choices">
                    <p class="tag-font">All</p>
                </div>
                <!-- /ko -->
            </div>
            <div class="form-group">
                <div class="">
                    <button class="btn btn-lg btn-default btn-block normal-font login-btn submit-btn-style" data-bind="click: $root.createUser" id="savebutton">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

