﻿@using Newtonsoft.Json

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>
<script src="@Href("~/JS/Model/listmodel.js")"></script>
<script src="@Href("~/JS/user-index.js")"></script>
<style>
    .footerZIndex {
        display: none;
    }
</style>
<div class="container">
    <div class="heading-section">
        <p align="center" class="title-font">Administer</p>
        <p align="center" class="survey-font">@ViewBag.OrgSubName</p>
        <p align="center" class="normal-font">
            <a data-bind="attr: { href: $root.showOrgSub() }">Organisation Profile</a> |
            <a data-bind="attr: {href: $root.showTouchpoint() }">Touchpoints</a> |
            <a class="selected" data-bind="attr: {href: $root.showUsers() }">Users</a>
        </p>
    </div>
    <div class="list-section">
        <div class="search-survey clearfix alignright">
            <input type="text" data-bind="value: $root.Users.SearchText,enterKey: $root.Users.searchUsers, valueUpdate: 'input'" id="search-input" class="search-bar" placeholder="Search" />
        </div>
    </div>
    <div class="list-section" style="cursor:pointer;">
        <a class="survey-font blue-font" data-bind="attr: {href: $root.createUser() }">Create</a>
    </div>
    <div class="survey" data-bind="foreach:  $root.Users.CurrentItems">
        <div class="list-section">
            <a class="survey-font blue-font list-anchor" data-bind="text: $data.UserName,attr: { href: $root.editUser($data) }"></a>
            <p class="sindex-pre small-font">Role : </p><p class="sindex-pre small-font" data-bind="text: $data.Role"></p>
            <div class=" editing-tools">
                <span class="icon-remove sidemenu-font close-icon right-hyperlink" data-bind="deleteUser : {}" title="Delete User"></span>
            </div>
        </div>
    </div>
</div>

