﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CusExperience.CusExperienceService;
@using System.Security.Principal;
@using Newtonsoft.Json

@{
    ViewBag.Title = "Survey";
}

@{ var uRep = new UserRepositoryClient(); }

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" href="@Href("~/Content/survey-responseview.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/survey-responseview-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/survey-responseview-desktop.css")" type="text/css" rel="stylesheet" />
<link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/font-style.css")" />
<link href="@Href("~/Content/simplePagination.css")" rel="stylesheet" />
<link href="@Href("~/Content/font-awesome.min.css")" rel="stylesheet" />


<script src="@Href("~/JS/Model/constant.js")"></script>
@Scripts.Render("~/bundles/model")

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model));
    var cvData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CVData));
</script>

<script src="@Href("~/JS/customer-view.js")"></script>
<script src="@Href("~/JS/response-view.js")"></script>
<script src="@Href("~/Scripts/d3.js")"></script>
<script src="@Href("~/Scripts/jquery.datetimepicker.js")"></script>
<script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>


<div class="heading-section">
    <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
</div>

<div class="container">
    <div data-bind="if: $root.AnalyticsTitle()">
        <p align="center" class="title-font" id="hoverText" data-bind="html: $root.AnalyticsTitle"> </p>
    </div>
    <div class="col-md-12 analytics-menu">

        @if (uRep.isAdministrator(User.Identity.GetUserId()) || uRep.isSuperAdministrator(User.Identity.GetUserId()) || uRep.isExecutive(User.Identity.GetUserId()) || uRep.isCusXPProfessional(User.Identity.GetUserId()))
        {
            <div class="downloadReport lr-padding">
                <a data-bind="click: $root.downloadSurveyData" class="normal-font">
                  <!--  <span class="icon-download title-font disabled-font"></span>-->
                    <span class="fa fa-file-excel-o"></span>
                </a>
            </div>
        }
        <p class="normal-font" align="center">
            <a data-bind="attr: {href: $root.loadIndexView() }">Overview</a>
            <span class="divider">|</span>
            <a class="selected" data-bind="attr: {href: loadCustomerView() }">Customer View</a>
            <span class="divider">|</span>
            <a href="#" data-bind="attr: {href: loadTrackingView() }">Tracking View</a>
            <span class="divider">|</span>
            <a href="#" data-bind="attr: {href: loadSocialView() }">Social View</a>
        </p>
        <div>
            <div class="search-section clearfix">
                <div class="search-survey clearfix alignright">
                    <input type="text" class="form-control input-lg search-input" data-bind="value: $root.SearchText, enterKey: {} , valueUpdate: 'input'" id="search-input" placeholder="Demographic Search Text" />
                </div>
                <div class="analytics-search">
                    <button id="search-analytics-btn" class="btn btn-default btn-lg pull-right search-button" data-bind="showSearchResults:{}">Search</button>
                    <button id="reset-analytics-btn" class="btn btn-default btn-lg pull-left reset-button btn-fail" data-bind="reset:{}">Reset</button>
                </div>
            </div>
            <div class="sort-by">
                <select multiple="multiple" class="form-control form-control-sp" data-bind="selectOrder: {},options: $root.OrderByOptions, optionsValue: 'key', optionsText: 'value' ,value: $root.OrderByValue, multiselectOptions: {header: false, minWidth: 128,multiple: false, selectedList: 1}"></select>
            </div>
            <div class="survey lr-padding" data-bind="foreach: $root.Survey().SurveyResponses">
                <div class="list-section">
                    <div data-bind="toggleSurveyResponse: {}" class="head-view">
                        <table class="no-style" width="100%">
                            <tr>
                                <td width="8%"><p class="paragraph-sn normal-font blue-font" data-bind="text: $root.generateSNo($index)"></p></td>
                                <td width="25%">
                                    <div class="nam" data-bind="foreach: $data.DemographicData">
                                        <p class="paragraph-nam uploader-font blue-font" data-bind="text: $data.Value"></p>
                                    </div>
                                </td>
                                <td width="33%"><pre class="paragraph-dat indexrating-font blue-font" data-bind="text: $data.StringResponseDate"></pre></td>
                                <td width="20%"><p class="paragraph-cusindex" data-bind="text: $data.CusXPIndex.toFixed(1), style: { color: $data.CusXPIndex < 30.0 ? '#ea6953' : $data.CusXPIndex < 70.0 ? '#fdc689' : '#00ce7d'}"></p></td>
                                <td width="7%"><span class="icon-plus index-plus-font right-hyperlink blue-font "></span></td>
                            </tr>
                        </table>
                    </div>
                    <div id="surveyResponse" class="surveyResponse"></div>
                </div>
            </div>
            <div data-bind="if: $root.Survey().SurveyResponses().length > 0">
                <div data-bind="pagination:{}" id="paginationHolder"></div>
            </div>
        </div>
     </div>
</div>

<script type="text/html" id="response-template">
    @{ Html.RenderPartial("_ResponseView"); }
</script>
