﻿@using Newtonsoft.Json

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>

<script src="@Href("~/JS/Model/listmodel.js")"></script>
<script src="@Href("~/JS/analytics-index.js")"></script>
<div class="container">
    <div >
        <p align="center" class="title-font">Analyse</p>
    </div>

    <div class="heading-section">
        <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
    </div>

    <div class="list-section">
        <div class="search-survey clearfix alignright">
            <input type="text" data-bind="value: Surveys.SearchText,enterKey: Surveys.search, valueUpdate: 'input'" id="search-input" class="search-bar" placeholder="Search" />
            <button data-bind="click: Surveys.search" id="search-survey-button" class="clearfix" style="display:none">Search</button>
        </div>
    </div>
    <div class="survey" data-bind="foreach: Surveys.CurrentItems">
        <div class="list-section analyse-list" data-bind="click: function() { window.open($root.showSurveyResponses($data),'_self') }">
            <a class="survey-font blue-font list-anchor" data-bind="displayText: $data.SurveyTitle, attr: {href: $root.showSurveyResponses($data)}"></a>
            <!--
            <p class="small-font" data-bind="attr : { href: $root.FullPublishedURL($data) }, text: $root.FullPublishedURL($data)"></p>
        -->
            <div class="editing-tools">
                <a class="survey-font right-hyperlink icon-angle-right" data-bind="attr: {href: $root.showSurveyResponses($data)}"></a>
                <a class="survey-font right-hyperlink" title="Total Responses" data-bind="text: $data.TotalResponses, attr: {href: $root.showSurveyResponses($data)}"></a>
            </div>
        </div>
    </div>
</div>

