﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CusExperience.CusExperienceService;
@using System.Security.Principal;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Survey";
}

@{ var uRep = new UserRepositoryClient(); }

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" href="@Href("~/Content/survey-analytics.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/survey-analytics-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/survey-analytics-desktop.css")" type="text/css" rel="stylesheet" />

<link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/font-style.css")" />
<link rel="stylesheet" href="@Href("~/Content/font-awesome.min.css")" />

<script src="@Href("~/Scripts/jquery.datetimepicker.js")"></script>
<script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
<script src="@Href("~/Scripts/ckeditor.js")"></script>

<script src="@Href("~/JS/Model/constant.js")"></script>
@Scripts.Render("~/bundles/model")
<script src="@Href("~/Scripts/d3.js")"></script>
<script src="@Href("~/Scripts/jquery-ui.js")"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
    function destroyCalender() {
        $(".xdsoft_datetimepicker").hide();
    }
    document.addEventListener('touchstart', destroyCalender, false);
    document.addEventListener('touchend', destroyCalender, false);
</script>
<script> $("html,body").datetimepicker('destroy');</script>

<script type="text/javascript">
    var currentUserData =  @Html.Raw(JsonConvert.SerializeObject(this.Model.CurrentUser));
    var initPSJSONData =  @Html.Raw(JsonConvert.SerializeObject(this.Model.PublishedSurvey));
    var initASJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model.AnalyticsSurvey));
</script>

<script src="@Href("~/Scripts/jquery.tipsy.min.js")"></script>
<script src="@Href("~/JS/common-ir.js")"></script>
<script src="@Href("~/JS/index-view.js")"></script>

<div class="showhidebutton" data-bind="toggleSidePanel: {}" style="display:none;">
    <div class="plus">
        <span class="blue-font cascading-menu ">Menu&nbsp;&nbsp;&nbsp;</span><img id="toggle-icon-btn" src="@Href("~/Images/Minus-Icon.png")" width="20" />
    </div>

</div>
<div class="col-md-4 sidepanel" id="sidepanel" style="display:none">
    <button id="search-analytics-btn" class="btn btn-default btn-lg pull-right search-button load-more reset-button" data-bind="showSearchResults:{}">Mine</button>
    <button id="reset-analytics-btn" class="btn btn-default btn-lg search-button load-more pull-right btn-fail" data-bind="reset:{}">Reset</button>
</div>
<div class="container">
    <div data-bind="if: $root.AnalyticsTitle()">
        <p align="center" class="title-font" id="hoverText" data-bind="html: $root.AnalyticsTitle" placeholder="Enter Survey Title"> </p>
    </div>
    <div class="col-md-12 lr-padding analytics-menu">

        @if (uRep.isAdministrator(User.Identity.GetUserId()) || uRep.isSuperAdministrator(User.Identity.GetUserId()) || uRep.isExecutive(User.Identity.GetUserId()) || uRep.isCusXPProfessional(User.Identity.GetUserId()))
        {
            <form id="downloadReport" method="post" target="_blank">
                <input id="analyticsData" name="analyticsData" type="hidden" value="" />
                <a data-bind="click: $root.downloadReport" class="normal-font">
                    <!--  <img src="~/Images/download-report-b.gif" class="download-report-img">-->
                    <span class="fa fa-file-pdf-o"></span>
                </a>
            </form>
        }
        <p class="normal-font" align="center">
            <a class="selected" data-bind="attr: {href: loadIndexView() }">Overview</a>
            <span class="divider">|</span>
            <a data-bind="attr: {href: loadCustomerView() }">Customer View</a>
            <span class="divider">|</span>
            <a data-bind="attr: {href: loadTrackingView() }">Tracking View</a>
            <span class="divider">|</span>
            <a data-bind="attr: {href: loadSocialView() }">Social View </a>
        </p>

        <div class="heading-section">
            <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
        </div>

        <div id="mine-analytics" class="mine-analytics">
            <div class="list-section analytics-search-section alignright" onclick="toggleSearch()" style="cursor:pointer;">
                <p class="inline-paragraph survey-font blue-font ">Mine Data</p>
                <span id="mine-expand" class="expand-icon icon-plus index-plus-font right-hyperlink "></span>
            </div>
            <div class="search-section" id="search-section" style="display:none;">
                <div class="col-md-12 datepicker">
                    <div class="pull-left datepicker-left">
                        <input id="fromdate" type="text" value="" class="datetimepicker datepick-font" data-bind="datetimePickerFromDate: {}, value: $root.PublishedSurvey().FromDateTime" readonly />
                    </div>
                    <div class="datepicker-to">
                        to
                    </div>
                    <div class="pull-right  datepicker-right">
                        <input id="todate" type="text" value="" class="datetimepicker datepick-font" data-bind="datetimePickerToDate: {}, value: $root.PublishedSurvey().ToDateTime" readonly />
                    </div>
                </div>
                <div class="list-section">
                    <div data-bind="toggleTouchPointSection: {}" class="togglemenu">
                        <p class="inline-paragraph survey-font blue-font">Filter based on Organisations/Touchpoints</p>
                        <span class="expand-icon icon-plus index-plus-font right-hyperlink plus-pad-top"></span>
                    </div>
                    <div class="touchpointSection">
                        <!-- ko if: $root.Subsidiaries().length > 0 -->
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectMultipleOrgSub: {}, options: $root.Subsidiaries().length > 0 ? $.merge([{ value: 'All', key: 'All' }], $root.Subsidiaries()) : [] , optionsText: function(item){ return item.key }, optionsValue: function(item){ return item.value }, selectedOptions: $root.PublishedSurvey().SelectedSubsidiaries, optionsCaption: 'Subsidiaries', multiselectOptions: {header: false, multiple: true,  selectedText: 'Subsidiaries', classes:'touchpoint-ms'}"></select>
                        <!-- ko if:$.inArray('All',$root.PublishedSurvey().SelectedSubsidiaries()) == -1 -->
                        <div data-bind="foreach: $root.Subsidiaries()" class="expp-container">
                            <!-- ko if:$.inArray($data.value(),$root.PublishedSurvey().SelectedSubsidiaries()) != -1 -->
                            <div class="expp-area-choices">
                                <p class="tag-font" data-bind="text:$data.key"></p>
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- ko if:$.inArray('All',$root.PublishedSurvey().SelectedSubsidiaries()) != -1 -->
                        <div class="expp-area-choices">
                            <p class="tag-font">All</p>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: $root.Touchpoints().length > 0 -->
                        <select multiple="multiple" class="form-control form-control-sp" data-bind="selectMultiple: {}, options: $root.Touchpoints().length > 0 ? $.merge([{ value: 'All', key: 'All' }], $root.Touchpoints()) : [] , optionsText: function(item){ return item.key }, optionsValue: function(item){ return item.value }, selectedOptions: $root.PublishedSurvey().SelectedTouchpoints, optionsCaption: 'Touchpoints', multiselectOptions: {header: false, multiple: true,  selectedText: 'Touchpoints', classes:'touchpoint-ms'}"></select>
                        <!-- ko if:$.inArray('All',$root.PublishedSurvey().SelectedTouchpoints()) == -1 -->
                        <div data-bind="foreach: $root.Touchpoints()" class="expp-container">
                            <!-- ko if:$.inArray($data.value(),$root.PublishedSurvey().SelectedTouchpoints()) != -1 -->
                            <div class="expp-area-choices">
                                <p class="tag-font" data-bind="text:$data.key"></p>
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- ko if:$.inArray('All',$root.PublishedSurvey().SelectedTouchpoints()) != -1 -->
                        <div class="expp-area-choices">
                            <p class="tag-font">All</p>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
                <div class="list-section">
                    <div data-bind="toggleQuestionSection: {}" class="togglemenu">
                        <p class="inline-paragraph survey-font blue-font">Filter based on Questions</p>
                        <span class="toggle-question expand-icon icon-plus index-plus-font right-hyperlink plus-pad-top"></span>
                    </div>

                    <div class="questionSection" style="display:none">
                        <select multiple="multiple" data-bind="selectMultipleQuestion: {}, options: $root.Questions(), optionsText: function(item){ return item.key }, optionsValue: function(item){ return item.value }, selectedOptions: $root.SelectedQuestions, optionsCaption: 'Questions' , multiselectOptions: { header: false, multiple: true,  selectedText: 'Questions', classes:'touchpoint-ms'}" style="width: 100%;"></select>
                        @{ Html.RenderPartial("_QuestionView"); }
                    </div>
                </div>
                <!-- ko if: $root.DGQuestionFields().length > 0 -->
                <div class="list-section">
                    <div data-bind="toggleDemographicSection: {}" class="togglemenu">
                        <p class="inline-paragraph survey-font blue-font">Filter based on Demographics</p>
                        <span class="expand-icon icon-plus index-plus-font right-hyperlink plus-pad-top" data-bind="toggleDemographicSection: {}"></span>
                    </div>
                    <div class="demographicSection" style="display:none">
                        <select multiple="multiple" data-bind="selectMultiple: {} , options: $root.DGQuestionFields(), selectedOptions: $root.SelectedDGQuestionFields, optionsCaption: 'Demographic Fields' , multiselectOptions: { header: false, multiple: true,  selectedText: 'Demographic Fields', classes:'touchpoint-ms'}" style="width: 100%;"></select>
                        <div data-bind="foreach: $root.PublishedSurvey().Modules">
                            <div data-bind="if: $data.ModuleType() == MODULETYPES.QUESTION">
                                <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.DEMOGRAPHIC">
                                    <!-- ko with: $data.ModuleData() -->
                                    <div class="demographics-container">
                                        <div class="demo" data-bind="foreach: $data.QuestionData().DGQuestionFields">
                                            <!-- ko if: $.inArray($data.FieldName(),$root.SelectedDGQuestionFields()) > -1 -->
                                            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTSINGLELINE -->
                                            <div class="demo-field single-line">
                                                <div class="clearfix">
                                                    <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                    <div class="demo-required-text-header" data-bind="visible: $data.IsRequired">*</div>
                                                    <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder" data-bind="attr: {placeholder:$data.FieldName}" disabled>
                                                </div>
                                                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                    <textarea class="form-control commentplaceholder" disabled placeholder="Write your comments"></textarea>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTMULTILINE -->
                                            <div class="demo-field">
                                                <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                <label class="description-text" data-bind="text: $data.DescriptionText"></label>
                                                <div class="clearfix">
                                                    <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                    <textarea class="form-control commentplaceholder" data-bind="attr: {placeholder:$data.FieldName}" disabled></textarea>
                                                </div>
                                                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                    <textarea class="form-control commentplaceholder" disabled placeholder="Write your comments"></textarea>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                            <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.SELECTONE -->
                                            <div class="demo-field">
                                                <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                <label class="description-text" data-bind="text: $data.DescriptionText"></label>
                                                <div class="clearfix">
                                                    <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                    <select multiple="multiple" data-bind="addSearchField:{}, selectMultiple: {}, options: $.merge(['All'],$data.SelectValues()), selectedOptions: $parent.SearchData().DGSearchFields()[$index()].FieldValues, optionsCaption : $data.FieldName,  multiselectOptions: { header: false, multiple: true, selectedText: $data.FieldName(), classes:'touchpoint-ms'}"></select>
                                                    <!-- ko if:$.inArray('All',$parent.SearchData().DGSearchFields()[$index()].FieldValues())==-1 -->
                                                    <div data-bind="foreach: $parent.SearchData().DGSearchFields()[$index()].FieldValues">
                                                        <!-- ko if: $data !== 'All' -->
                                                        <div class="expp-area-choices">
                                                            <p class="tag-font" data-bind="text:$data"></p>
                                                        </div>
                                                        <!-- /ko -->
                                                    </div>
                                                    <!-- /ko -->
                                                    <!-- ko if:$.inArray('All',$parent.SearchData().DGSearchFields()[$index()].FieldValues())==0 -->
                                                    <div class="expp-area-choices">
                                                        <p class="tag-font">All</p>
                                                    </div>
                                                    <!-- /ko -->
                                                </div>
                                                <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                    <textarea class="form-control commentplaceholder" disabled placeholder="Write your comments"></textarea>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="list-section">
                    <div class="keywordSection">
                        <div class="keywords-filter">
                            <p>Keywords:</p>
                            <input type="text" data-bind="value: $root.PublishedSurvey().Keywords, enterKey:{}, valueUpdate:'keypress'" class="form-control input-lg" data-toggle="tooltip" title="Separate each keyword/keywords with a comma. Eg. Customer Experience Analytics, Amber, Black.">
                        </div>
                        <div class="keywords-filter">
                            <p>Without these keywords:</p>
                            <input type="text" data-bind="value: $root.PublishedSurvey().WOKeywords, enterKey:{}, valueUpdate:'keypress'" class="form-control input-lg" data-toggle="tooltip" title="Separate each keyword/keywords with a comma. Eg. Customer Experience Analytics, Amber, Black." />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="indexView">
            @{ Html.RenderPartial("_IndexView"); }
        </div>
        <form id="customerView" method="post" target="_blank">
            <input id="cvData" name="cvData" type="hidden" value="" />
        </form>
    </div>
</div>

