﻿@using Newtonsoft.Json

@using Newtonsoft.Json
<link href="@Href("~/Content/orgsub-index.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/OrgSub-index-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/OrgSub-index-desktop.css")" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>

<script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
<script src="@Href("~/JS/orgsub-index.js")"></script>

<div class="container">
    <div class="heading-section">
        <p align="center" class="title-font">Analyse</p>
        <p align="center" class="survey-font">Organisations</p>
    </div>
    <div class="survey" data-bind="foreach: $root.OrgSubs">
        <div class="list-section">
            <a class="survey-font blue-font list-anchor" data-bind="displayText: $data.RegisteredName,attr: {href: $root.analyzeSurveys($data) },css: 'level' + $data.HierarchyLevel()"></a>
        </div>
        <div data-bind="template: { name: 'nodeTmpl', with: $data}, css: $index() + 1"></div>
        <script id="nodeTmpl" type="text/html">
            <div data-bind="foreach: $data.Subsidiaries">
                <div class="list-section subsidiary-list">
                    <a class="survey-font blue-font list-anchor" data-bind="displayText: $data.RegisteredName,attr: {href: $root.analyzeSurveys($data) }, css: 'level' + $data.HierarchyLevel()"></a>
                </div>
                <div data-bind="template: { name: 'nodeTmpl', with: $data}"></div>
            </div>
        </script>
    </div>
</div>
