﻿@using Newtonsoft.Json
@{
    Layout = null;
    ViewBag.Title = "Survey";
}

<!DOCTYPE html>
<html>
<head>
    <title>CusExperience - Your Customers' Experience</title>
    <style>
        body {
            display: none;
        }
    </style>
    @Styles.Render("~/Content/css")

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta property="og:image" content="http://cusexperience.com/Images/CusExp.png" />
    <meta property="og:title" content="CusExperience - Your Customer Experience" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="@Href("~/Content/survey-analytics.css")">
    <link media="only screen and (max-width: 639px)"
          href="@Href("~/Content/survey-analytics-mobile.css")" type="text/css" rel="stylesheet" />
    <link media="only screen and (max-width: 2024px)"
          href="@Href("~/Content/survey-analytics-desktop.css")" type="text/css" rel="stylesheet" />
    <link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Href("~/Content/font-style.css")" />
    <link rel="stylesheet" href="@Href("~/Content/Style.css")" />
    <link rel="stylesheet" href="@Href("~/Content/pe-icon-7-stroke.css")" />
    <link rel="stylesheet" href="@Href("~/Content/helper.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ios7-style-font-icons.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/bootstrap.css")" />
    <link rel="stylesheet" href="@Href("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")">
    <link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />
    <link rel="stylesheet" href="@Href("~/Content/survey-analytics.css")">
    <link media="only screen and (max-width: 639px)"
          href="@Href("~/Content/survey-analytics-mobile.css")" type="text/css" rel="stylesheet" />
    <link media="only screen and (max-width: 2024px)"
          href="@Href("~/Content/survey-analytics-desktop.css")" type="text/css" rel="stylesheet" />
    <link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Href("~/Content/font-style.css")" />

    <script src="@Href("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
    <script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Href("~/Scripts/jquery.validate.js")"></script>
    <script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
    <script src="@Href("~/Scripts/bootstrap.js")"></script>
    <script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
    <script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
    <script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
    <script src="@Href("~/Scripts/spin.js")"></script>
    <script src="@Href("~/Scripts/jquery.simplePagination.js")"></script>
    <script src="@Href("~/Scripts/jquery.datetimepicker.js")"></script>
    <script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
    <script src="@Href("~/Scripts/d3.js")"></script>
    <script src="@Href("~/Scripts/xhtml.js")"></script>
    <script src="@Href("~/Scripts/html2canvas.js")"></script>

    <script src="@Href("~/JS/global.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/Model/constant.js")"></script>
    <script src="@Href("~/JS/Model/questionmodel.js")"></script>
    <script src="@Href("~/JS/Model/answermodel.js")"></script>
    <script src="@Href("~/JS/Model/searchmodel.js")"></script>
    <script src="@Href("~/JS/Model/analyticsmodel.js")"></script>
    <script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
    <script src="@Href("~/JS/Model/surveymodel.js")"></script>

    <script type="text/javascript">
        var initJSONData =  @Html.Raw(this.Model)
    </script>

    <script src="@Href("~/JS/common-ir.js")"></script>
    <script src="@Href("~/JS/report-view.js")"></script>
</head>
<body>
    <div id="body-content" class="container-fluid body-content">
        <div class="container">
            <div data-bind="if: $root.AnalyticsTitle()">
                <p align="center" class="title-font" id="hoverText" data-bind="html: $root.AnalyticsTitle" placeholder="Enter Survey Title"> </p>
            </div>
            <div class="col-md-12 lr-padding analytics-menu">
                <p class="normal-font" align="center">
                    Overview
                    <span class="divider">|</span>
                    <a href="#" data-bind="click: loadCustomerView">Customer View</a>
                    <span data-bind="if: $root.PublishedSurvey().IsAllowViewSocial">
                        <span class="divider">|</span>
                        <a data-bind="click: loadSocialView">Social View</a>
                    </span>
                </p>
                <div class="search-section">
                    <div class="col-md-12 lr-padding datepicker">
                        <div class="pull-left normal-font datepicker-left">
                            <input type="text" value="" class="datetimepicker" style="width: 280px;" data-bind="datetimePicker: {}, value: $root.PublishedSurvey().FromDateTime" readonly />
                        </div>
                        <div class="datepicker-to">
                            to
                        </div>
                        <div class="pull-right normal-font datepicker-right">
                            <input type="text" value="" class="datetimepicker" style="width: 280px;" data-bind="datetimePicker: {}, value: $root.PublishedSurvey().ToDateTime" readonly />
                        </div>
                    </div>
                    <!-- ko if: $root.Touchpoints().length > 0 -->
                    <div class="list-section">
                        <div data-bind="toggleTouchPointSection: {}" class="togglemenu">
                            <p class="inline-paragraph survey-font blue-font">Filter based on Touchpoints</p>
                            <span class="expand-icon icon-plus index-plus-font right-hyperlink plus-pad-top"></span>
                        </div>
                        <div class="touchpointSection" style="display:none">
                            <select multiple="multiple" class="form-control form-control-sp" data-bind="selectMultiple: {}, options: $root.Touchpoints , selectedOptions: $root.PublishedSurvey().SelectedTouchpoints, optionsCaption: 'Touchpoints', multiselectOptions: {header: false, multiple: true,  selectedText: 'Touchpoints', classes:'touchpoint-ms'}"></select>
                            <!-- ko if:$.inArray('All',$root.PublishedSurvey().SelectedTouchpoints()) == -1 -->
                            <div data-bind="foreach: $root.PublishedSurvey().SelectedTouchpoints" class="expp-container">
                                <!-- ko if: $data !== 'All' -->
                                <div class="expp-area-choices">
                                    <p class="tag-font" data-bind="text:$data"></p>
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                            <!-- ko if:$.inArray('All',$root.PublishedSurvey().SelectedTouchpoints()) != -1 -->
                            <div class="expp-area-choices">
                                <p class="tag-font">All</p>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="list-section">
                        <div data-bind="toggleQuestionSection: {}" class="togglemenu">
                            <p class="inline-paragraph survey-font blue-font">Filter based on Questions</p>
                            <span class="expand-icon icon-plus index-plus-font right-hyperlink"></span>
                        </div>
                        <div class="questionSection" style="display:none">
                            <select multiple="multiple" data-bind="selectMultipleQuestion: {}, options: $root.Questions(), optionsText: function(item){ return item.key }, optionsValue: function(item){ return item.value }, selectedOptions: $root.SelectedQuestions, optionsCaption: 'Questions' , multiselectOptions: { header: false, multiple: true,  selectedText: 'Questions'}" style="width: 100%;"></select>
                            @{ Html.RenderPartial("_QuestionView"); }
                        </div>
                    </div>
                    <!-- ko if: $root.DGQuestionFields().length > 0 -->
                    <div class="list-section">
                        <div data-bind="toggleDemographicSection: {}" class="togglemenu">
                            <p class="inline-paragraph survey-font blue-font">Filter based on Demographics</p>
                            <span class="expand-icon icon-plus index-plus-font right-hyperlink plus-pad-top" data-bind="toggleDemographicSection: {}"></span>
                        </div>
                        <div class="demographicSection" style="display:none">
                            <select multiple="multiple" data-bind="selectMultiple: {} , options: $root.DGQuestionFields(), selectedOptions: $root.SelectedDGQuestionFields, optionsCaption: 'Demographic Fields' , multiselectOptions: { header: false, multiple: true,  selectedText: 'Demographic Fields', classes:'touchpoint-ms'}" style="width: 100%;"></select>
                            <div data-bind="foreach: $root.PublishedSurvey().Modules">
                                <div data-bind="if: $data.ModuleType() == MODULETYPES.QUESTION">
                                    <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.DEMOGRAPHIC">
                                        <!-- ko with: $data.ModuleData() -->
                                        <div class="demographics-container">
                                            <div class="demo" data-bind="foreach: $data.QuestionData().DGQuestionFields">
                                                <!-- ko if: $.inArray($data.FieldName(),$root.SelectedDGQuestionFields()) > -1 -->
                                                <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTSINGLELINE -->
                                                <div class="demo-field single-line">

                                                    <div class="clearfix">
                                                        <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                        <div class="demo-required-text-header" data-bind="visible: $data.IsRequired">*</div>
                                                        <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder" disabled>
                                                    </div>
                                                    <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                        <textarea class="form-control commentplaceholder" disabled placeholder="Write your comments"></textarea>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.TEXTMULTILINE -->
                                                <div class="demo-field">
                                                    <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                    <div class="clearfix">
                                                        <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                        <textarea class="form-control commentplaceholder" disabled></textarea>
                                                    </div>
                                                    <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                        <textarea class="form-control commentplaceholder" disabled placeholder="Write your comments"></textarea>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!-- ko if: $data.FieldType() == DEMOGRAPHICFIELDTYPES.SELECTONE -->
                                                <div class="demo-field">
                                                    <div class="demo-required-header" data-bind="visible: $data.IsRequired">*</div>
                                                    <div class="clearfix">
                                                        <label class="description-text" data-bind="html: $data.DescriptionText" placeholder="Enter Description"></label>
                                                        <select multiple="multiple" data-bind="addSearchField:{}, selectMultiple: {}, options: $.merge(['All'],$data.SelectValues()), selectedOptions: $parent.SearchData().DGSearchFields()[$index()].FieldValues, optionsCaption : $data.FieldName,  multiselectOptions: { header: false, multiple: true, selectedText: $data.FieldName(), classes:'touchpoint-ms'}"></select>
                                                        <!-- ko if:$.inArray('All',$parent.SearchData().DGSearchFields()[$index()].FieldValues())==-1 -->
                                                        <div data-bind="foreach: $parent.SearchData().DGSearchFields()[$index()].FieldValues">
                                                            <!-- ko if: $data !== 'All' -->
                                                            <div class="expp-area-choices">
                                                                <p class="tag-font" data-bind="text:$data"></p>
                                                            </div>
                                                            <!-- /ko -->
                                                        </div>
                                                        <!-- /ko -->
                                                        <!-- ko if:$.inArray('All',$parent.SearchData().DGSearchFields()[$index()].FieldValues())==0 -->
                                                        <div class="expp-area-choices">
                                                            <p class="tag-font">All</p>
                                                        </div>
                                                        <!-- /ko -->
                                                    </div>
                                                    <div class="rating-commentbox" data-bind="visible: $data.IsCommentable">
                                                        <textarea class="form-control commentplaceholder" disabled placeholder="Write your comments"></textarea>
                                                    </div>
                                                </div>
                                                <!-- /ko -->
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="list-section" style="page-break-inside:avoid">
                        <div class="keywordSection">
                            <div class="keywords-filter">
                                <p>Keywords:</p>
                                <input type="text" data-bind="value: $root.PublishedSurvey().Keywords" class="form-control input-lg" data-toggle="tooltip" title="Separate each keyword/keywords with a comma. Eg. Customer Experience Analytics, Amber, Black." />
                            </div>
                            <div class="keywords-filter">
                                <p>Without these keywords:</p>
                                <input type="text" data-bind="value: $root.PublishedSurvey().WOKeywords" class="form-control input-lg" data-toggle="tooltip" title="Separate each keyword/keywords with a comma. Eg. Customer Experience Analytics, Amber, Black." />
                            </div>
                        </div>
                    </div>
                    <div class="analytics-search" style="page-break-inside:avoid">
                        <button class="btn btn-default btn-lg search-button load-more pull-right btn-fail" data-bind="reset:{}">Reset</button>
                        <button class="btn btn-default btn-lg pull-right search-button load-more reset-button" data-bind="showSearchResults:{}">Search</button>
                    </div>
                </div>
                <div id="indexView">
                    @{ Html.RenderPartial("_ReportView"); }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
