﻿@using Newtonsoft.Json
@{
    ViewBag.Title = "Result";
    Layout = null;
}
<title>CusExperience - Your Customers' Experience</title>

<link rel="stylesheet" href="@Href("~/Content/Style.css")" />
<link rel="stylesheet" href="@Href("~/Content/pe-icon-7-stroke.css")" />
<link rel="stylesheet" href="@Href("~/Content/helper.css")" />
<link rel="stylesheet" href="@Href("~/Content/ios7-style-font-icons.min.css")" />
<link rel="stylesheet" href="@Href("~/Content/bootstrap.css")" />
<link rel="stylesheet" href="@Href("~/Content/bootstrap.min.css")" />
<link rel="stylesheet" href="@Href("~/Content/ui-lightness/jquery-ui-1.10.4.custom.css")">
<link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />

<script src="@Href("~/Scripts/jquery-2.1.1.min.js")"></script>
<script src="@Href("~/Scripts/knockout-3.1.0.js")"></script>
<script src="@Href("~/Scripts/jquery-ui-1.10.4.custom.js")"></script>
<script src="@Href("~/Scripts/jquery.autosize.min.js")"></script>
<script src="@Href("~/Scripts/bootstrap.js")"></script>
<script src="@Href("~/Scripts/jquery.ui.touch-punch.js")"></script>
<script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
<script src="@Href("~/Scripts/jquery.multiselect.filter.min.js")"></script>
<script src="@Href("~/Scripts/jquery.mobile.custom.min.js")"></script>
<script src="@Href("~/Scripts/spin.js")"></script>
<script src="@Href("~/Scripts/jquery.simplePagination.js")"></script>
<script src="@Href("~/JS/global.js")"></script>
<script src="@Href("~/Scripts/html2canvas.js")"></script>
<script src="@Href("~/Scripts/jquery-ui.js")"></script>
<meta property="og:image" content="http://cusexperience.com/SurveyImages/d8fcef7f-9227-4b4f-a307-c02227150d8c_k@w.png" />
<meta property="og:title" content="CusExperience - Your Customer Experience" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" href="@Href("~/Content/survey-analytics.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/survey-analyticsresult-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/survey-analyticsresult-desktop.css")" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function isTouchDevice() {
      
        return true == ("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch);
    }
    if (isTouchDevice() === false) {
        
        $(document).tooltip({
            position: {
                my: "center top",
                at: "center bottom",
                collision: "flip flip"
            }
        });
    }

</script>
<script type="text/javascript">
       var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>
@Scripts.Render("~/bundles/model")
<script src="@Href("~/JS/analytics-result.js")"></script>
<script src="@Href("~/Scripts/d3.js")"></script>
<script src="@Href("~/Scripts/socialmedia.js")"></script>
<script src="@Href("~/JS/common-ir.js")"></script>
<script src="@Href("~/JS/index-view.js")"></script>

<div data-bind="if: $root.Survey()">
    <div class="heading-section">
        <p align="center" class="title-font" id="hoverText" data-bind="html: $root.Survey().SurveyTitle" placeholder="Enter Survey Title"> </p>
        <p align="center" class="normal-font"><a data-bind="attr: {href : $root.CurrentBaseURL + $root.Survey().FullPublishedURL()}" target="_blank">Click here to take the&nbsp;<span class="normal-font" data-bind="displayText: $root.Survey().SurveyTitle"></span>&nbsp;</a></p>
    </div>
    <div data-bind="foreach: $root.Survey().Modules">
        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.RATE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <div class="row">
                    <div class="doughnut" data-bind="showDoughnutChart: {}"></div>
                    <div class="legend">
                        <table class="legend-table">
                        <tr>
                            <td class="legend-table-color">
                                <div class="dash-line" data-bind="style: { backgroundColor: $data.AnalyticsData().OverallRating() < 30.0 ? '#ea6953' :  $data.AnalyticsData().OverallRating() < 70.0 ? '#fdc689' : '#82CA9C'}"></div>
                            </td>
                            <td class="legend-table-option" data-toggle="tooltip" title="Average of selected rating range.">
                                Average &nbsp; [
                                <span data-bind="text: $data.AnalyticsData().FromRating"> </span> - <span data-bind="html: $data.AnalyticsData().ToRating" > </span> ]
                            </td>
                            <td class="legend-table-percentage" >
                                <span data-bind="html: $data.AnalyticsData().OverallRating().toFixed(1)+ '%',  style: { color: $data.AnalyticsData().OverallRating() < 30.0 ? '#ea6953' :  $data.AnalyticsData().OverallRating() < 70.0 ? '#fdc689' : '#82CA9C', fontWeight: 'Bold'}" data-toggle="tooltip" title="Overall rating."></span>
                            </td>
                            <td class="legend-table-number">
                                #<span data-bind="html: $data.AnalyticsData().ResponseCount" data-toggle="tooltip" title="Number of responses."></span>
                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <span> No data found </span>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.CHOICE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <div class="row">
                    <div class="doughnut" data-bind="showChoiceDoughnutChart: {}"></div>
                </div>
                <div class="legend">
                    <table data-bind="foreach: $data.AnalyticsData().ChoiceWCounts" class="legend-table">
                        <tr>
                            <td class="legend-table-color">
                                <div class="dash-line" data-bind="style: { backgroundColor: CHARTCOLOURS[$index()], color: CHARTCOLOURS[$index()]}"></div>
                            </td>
                            <td class="legend-table-option">
                                <span data-bind="html: $data.ChoiceText" data-toggle="tooltip" title="Choice of answer."></span>
                            </td>
                            <td class="legend-table-percentage">
                                <span data-bind="html: $data.Percentage().toFixed(1)+'%', style: {color: CHARTCOLOURS[$index()],fontWeight:'Bold'} " data-toggle="tooltip" title="Overall rating."></span>
                            </td>
                            <td class="legend-table-number">
                                #<span data-bind="html: $data.Count" data-toggle="tooltip" title="Number of responses."></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <p> No data found </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.MULTIPLE" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <div class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators" data-bind="visible: $data.QuestionData().QuestionItems().length > 0">
                        <!-- ko foreach: $data.QuestionData().QuestionItems-->
                        <li data-bind="attr: { 'data-slide-to': $index }, css: { 'active' : $index() == 0 }, changeCurrentSlide : {}"></li>
                        <!-- /ko -->
                    </ol>
                    <div class="carousel-inner" data-bind="foreach: $data.QuestionData().QuestionItems">
                        <div class="item" data-bind="css: { 'active' : $index() == 0 }">
                            <!-- ko if: !$parent.AnalyticsData().AnalyticsItems()[$index()].NotFound() -->
                            <!-- ko if: $parent.QuestionData().MultipleType() != MULTIPLETYPES.COMMENT && $parent.QuestionData().MultipleType() != MULTIPLETYPES.SINGLECHOICE && $parent.QuestionData().MultipleType() != MULTIPLETYPES.MULTIPLECHOICE -->
                            <div>
                                <p class="question-font" data-bind="html: $data.QuestionItemText"></p>
                                <div class="row">

                                    <div class="doughnut" data-bind="showMultipleRatingDoughnutChart: {}"></div>
                                    <div class="legend">
                                        <table class="legend-table">
                                            <tr>
                                                <td class="legend-table-color">
                                                    <div class="dash-line" data-bind="style: { backgroundColor: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 30.0 ? '#ea6953' :  $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 70.0 ? '#fdc689' : '#82CA9C'}"></div>
                                                </td>
                                                <td class="legend-table-option" data-toggle="tooltip" title="Average of selected rating range.">
                                                    Average &nbsp; [
                                                    <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].FromRating"> </span> - <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].ToRating"> </span> ]
                                                </td>
                                                <td class="legend-table-percentage">
                                                    <span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating().toFixed(1)+'%', style: { color: $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 30.0 ? '#ea6953' :  $parent.AnalyticsData().AnalyticsItems()[$index()].OverallRating() < 70.0 ? '#fdc689' : '#82CA9C', fontWeight: 'Bold'}" data-toggle="tooltip" title="Overall rating."></span>
                                                </td>
                                                <td class="legend-table-number">
                                                    #<span data-bind="html: $parent.AnalyticsData().AnalyticsItems()[$index()].ResponseCount" data-toggle="tooltip" title="Number of responses."></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: $parent.QuestionData().MultipleType() == MULTIPLETYPES.SINGLECHOICE || $parent.QuestionData().MultipleType() == MULTIPLETYPES.MULTIPLECHOICE  -->
                            <div>
                                <p class="question-font" data-bind="html: $data.QuestionItemText"></p>
                                <div class="row">

                                    <div class="doughnut" data-bind="showMultipleChoiceDoughnutChart: {}"></div>

                                </div>
                            </div>
                            <div class="legend">
                                <table data-bind="foreach: $parent.AnalyticsData().AnalyticsItems()[$index()].ChoiceWCounts" class="legend-table">
                                    <tr>
                                        <td class="legend-table-color">
                                            <div class="dash-line" data-bind="style: { backgroundColor: CHARTCOLOURS[$index()], color: CHARTCOLOURS[$index()]}"></div>
                                        </td>
                                        <td class="legend-table-option">
                                            <span data-bind="html: $data.ChoiceText" data-toggle="tooltip" title="Choice of Answer."></span>
                                        </td>
                                        <td class="legend-table-percentage">
                                            <span data-bind="html: $data.Percentage().toFixed(1)+'%', style: {color: CHARTCOLOURS[$index()], fontWeight:'Bold'} " data-toggle="tooltip" title="Overall rating."></span>
                                        </td>
                                        <td class="legend-table-number">
                                            #<span data-bind="html: $data.Count" data-toggle="tooltip" title="Number of responses."></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: $parent.AnalyticsData().AnalyticsItems()[$index()].NotFound() -->
                            <p> No data found </p>
                            <!-- /ko -->
                        </div>
                    </div>
                    <a id="analytics-carousel-control" class="left carousel-control blue-font alignleft pad-arrow-left" data-bind="movePreviousSlide : {}"><span class="icon-angle-left"></span></a>
                    <a id="analytics-carousel-control" class="right carousel-control blue-font alignright pad-arrow-right" data-bind="moveNextSlide : {}"><span class="icon-angle-right"></span></a>
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TAG" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <div data-bind="foreach: $data.AnalyticsData().WordCloud">
                    <!-- ko if: $index() < $parent.AnalyticsData().NoofVisible() -->
                    <p class="wordcloudspan"><span class="float-left" data-bind="text: $index()+1+'.'"></span><span data-bind="html: $data.Word() + ' (' + $data.Frequency() + ')', showComments : {}"></span></p>
                    <!-- /ko -->
                </div>
                <div class="lr-padding analytics-search bar-adjustments" data-bind="if: $data.AnalyticsData().WordCloud && $data.AnalyticsData().WordCloud().length > $data.AnalyticsData().NoofVisible()">
                    <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="LoadMore: {}">Load More</button>
                    <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="LoadAll: {}">Load All</button>
                </div>
                <p class="normal-font">The above experience refers to:</p>
                <div data-bind="foreach: $data.AnalyticsData().TagCount">
                    <span data-bind="html: $data.TagName() + ' (' + $data.Count()+ ')', showCommentsByTag : {}" class="wordcloudsize"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <p> No data found </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="if: $data.ModuleData().QuestionType() == QUESTIONTYPES.TEXT" style="text-align:center">
            <div class="survey-sections">
                <!-- ko with: $data.ModuleData() -->
                <div class="questioncontent center-question questionText">
                    <p class="question-font" data-bind="html: $data.QuestionData().QuestionText" placeholder="Enter Question"></p>
                    <p class="description-text" data-bind="html: $data.QuestionData().DescriptionText" placeholder="Enter Description"></p>
                </div>
                <!-- ko if: !$data.AnalyticsData().NotFound() -->
                <div data-bind="foreach: $data.AnalyticsData().WordCloud">
                    <!-- ko if: $index() < $parent.AnalyticsData().NoofVisible() -->
                    <p class="wordcloudspan"><span class="float-left" data-bind="text: $index()+1+'.'"></span><span data-bind="html: $data.Word() + ' (' + $data.Frequency() + ')', showComments : {}"></span></p>
                    <!-- /ko -->
                </div>
                <div class="lr-padding analytics-search clearfix" data-bind="if: $data.AnalyticsData().WordCloud && $data.AnalyticsData().WordCloud().length > $data.AnalyticsData().NoofVisible()">
                    <button class="btn btn-default btn-lg pull-right search-button load-more" data-bind="LoadMore: {}">Load More</button>
                    <button class="btn btn-default btn-lg pull-right search-button load-all" data-bind="LoadAll: {}">Load All</button>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.AnalyticsData().NotFound() -->
                <p> No data found </p>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="socialSharing">
        <div class="survey-sections">
            <p class="center-question">
                <span class="normal-font">Share the "</span><span class="normal-font" data-bind="displayText: $root.Survey().SurveyTitle"></span>  <span class="normal-font">" survey results on social media.</span>
            </p>
            <div class="socialmedia-box">
                <a class="fb-share" data-bind="shareFacebookResultDialog: {}">
                    <img src="@Href("~/Images/Facebook-Icon.png")" width="64" height="64" alt="Share on Facebook" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="issue-footer">
    <a onclick="showSupportView()">?</a>
</div>
