﻿@using Newtonsoft.Json

@{
    ViewBag.Title = "Survey";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" href="@Href("~/Content/survey-responseview.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/survey-responseview-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/survey-responseview-desktop.css")" type="text/css" rel="stylesheet" />
<link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/font-style.css")" />
<link href="@Href("~/Content/simplePagination.css")" rel="stylesheet" />

<script src="@Href("~/Scripts/jquery.linkify.min.js")"></script>

<script src="@Href("~/JS/Model/constant.js")"></script>
<script src="@Href("~/JS/Model/questionmodel.js")"></script>
<script src="@Href("~/JS/Model/answermodel.js")"></script>
<script src="@Href("~/JS/Model/searchmodel.js")"></script>
<script src="@Href("~/JS/Model/analyticsmodel.js")"></script>
<script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
<script src="@Href("~/JS/Model/surveymodel.js")"></script>
<script src="@Href("~/JS/social-view.js")"></script>

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model));
</script>

<div class="container">
    <div data-bind="if: $root.AnalyticsTitle()">
        <p align="center" class="title-font" id="hoverText" data-bind="html: $root.AnalyticsTitle" placeholder="Enter Survey Title"> </p>
    </div>
    <div class="col-md-12 lr-padding ">
        <p class="normal-font" align="center">
            <a data-bind="attr: {href: $root.loadIndexView() }">Index View</a>
            <span class="divider">|</span>
            <a data-bind="attr: {href: $root.loadCustomerView() }">Customer View</a>
            <span class="divider">|</span>
            <a data-bind="attr: {href: $root.loadTrackingView() }">Tracking View</a>
            <span class="divider">|</span>
            <a class="selected" data-bind="attr: {href: loadSocialView() }">Social View</a>
        </p>
    </div>

    <div class="heading-section">
        <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
    </div>

    <div class="clearfix" data-bind="foreach: $root.hashTags">
        <div class="hashtag-container">
            <input class="form-control helperFloaterLeft twofourpxheight commentplaceholder demo-textarea blue-font form-control-hundred" type="text" data-bind="value: $rawData" placeholder="Enter Hash Tag" />
            <br />
        </div>
    </div>

    <div class="lr-padding hashtag-search">
        <button class="btn btn-default btn-lg pull-right search-button" data-bind="click: $root.loadSocialData">Retrieve Latest Tweets</button>
    </div>

    <div class="hashtag-section" data-bind="foreach: $root.Tweets">
        <div class="hashtag-container" style="border-bottom:1px solid #E8E8E8; margin-bottom: 16px;">
            <span class="survey-font" style="font-weight:bold" data-bind="text: $data.Name"></span><span class="survey-font">:&nbsp;</span>
            <span class="survey-font" data-bind="text: $data.Text,activateLinks: {}"></span>
        </div>
    </div>
</div>
