﻿@{
    ViewBag.Title = "Survey";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


<link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/font-style.css")" />
<link rel="stylesheet" href="@Href("~/Content/survey-responseview.css")" />
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/survey-responseview-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/survey-responseview-desktop.css")" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/jquery.multiselect.css")" />

@using Newtonsoft.Json

<script src="@Href("~/Scripts/jquery.datetimepicker.js")"></script>
<script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
<script src="@Href("~/Scripts/jquery.multiselect.min.js")"></script>
<script src="@Href("~/Scripts/jquery.multiselect.filter.min.js")"></script>

<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model))
</script>

<script src="@Href("~/JS/Model/constant.js")"></script>
<script src="@Href("~/JS/Model/questionmodel.js")"></script>
<script src="@Href("~/JS/Model/answermodel.js")"></script>
<script src="@Href("~/JS/Model/searchmodel.js")"></script>
<script src="@Href("~/JS/Model/analyticsmodel.js")"></script>
<script src="@Href("~/JS/Model/orgsubmodel.js")"></script>
<script src="@Href("~/JS/Model/surveymodel.js")"></script>
<script src="@Href("~/JS/analytics-response.js")"></script>


<div>
     @{ Html.RenderPartial("_ResponseView"); }
</div>


