﻿@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CusExperience.CusExperienceService;
@using System.Security.Principal;

@{
    ViewBag.Title = "Survey";
}

@{ var uRep = new UserRepositoryClient(); }
@using Newtonsoft.Json

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="stylesheet" href="@Href("~/Content/survey-responseview.css")">
<link media="only screen and (max-width: 639px)"
      href="@Href("~/Content/survey-responseview-mobile.css")" type="text/css" rel="stylesheet" />
<link media="only screen and (max-width: 2024px)"
      href="@Href("~/Content/survey-responseview-desktop.css")" type="text/css" rel="stylesheet" />
<link href="@Href("~/Content/jquery.datetimepicker.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Href("~/Content/font-style.css")" />
<link href="@Href("~/Content/simplePagination.css")" rel="stylesheet" />
<link href="@Href("~/Content/font-awesome.min.css")" rel="stylesheet" />

<script src="@Href("~/JS/Model/constant.js")"></script>
@Scripts.Render("~/bundles/model")
<script type="text/javascript">
    var initJSONData = @Html.Raw(JsonConvert.SerializeObject(this.Model));
    var cvData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.CVData));
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="@Href("~/Scripts/jquery.tablesorter.js")"></script>
<script src="@Href("~/Scripts/jquery-ui.js")"></script>
<script src="@Href("~/JS/track-view.js")"></script>
<script src="@Href("~/Scripts/d3.js")"></script>
<script src="@Href("~/Scripts/jquery.datetimepicker.js")"></script>
<script src="@Href("~/Scripts/jquery.scrollTo.min.js")"></script>
<script>
    $(document).tooltip();
</script>

<div class="container">
    <div data-bind="if: $root.AnalyticsTitle()">
        <p align="center" class="title-font" id="hoverText" data-bind="html: $root.AnalyticsTitle" placeholder="Enter Survey Title"> </p>
    </div>
    <div class="col-md-12 analytics-menu">
        <p class="normal-font" align="center">
            <a data-bind="attr: {href:  $root.loadIndexView() }">Overview</a>
            <span class="divider">|</span>
            <a data-bind="attr: {href:  $root.loadCustomerView() }">Customer View</a>
            <span class="divider">|</span>
            <a class="selected" data-bind="attr: {href:  loadTrackingView() }">Tracking View</a>
            <span class="divider">|</span>
            <a data-bind="attr: {href:  loadSocialView() }">Social View</a>
        </p>
        <div class="heading-section">
            <p align="center" class="survey-font"> @ViewBag.OrgSubName </p>
        </div>
        <div class="pp-container">
            <p class="experience-font">
                <a id="session-btn" class="view-selected" data-bind="toggleTView : 'ses'">Browsers</a> | <a id="time-btn" data-bind="toggleTView : 'tim'">Users</a> | <a id="bounce-btn" data-bind="toggleTView : 'bou'">Bounce</a> | <a id="duration-btn" data-bind="toggleTView : 'dur'">Duration</a> | <a id="location-btn" data-bind="toggleTView : 'loc'">Countries</a> | <a id="motion-btn" data-bind="toggleTView : 'mot'">Motion</a> | <a id="summary-btn" data-bind="toggleTView : 'sum'">Summary</a>
            </p>
            <script src="https://apis.google.com/js/client.js?onload=authorize"></script>
            <div class="view-container">
                <div id="summary-container">
                    <p class="question-font">Summary</p>
                    <div id="all-view"><p><img src="@Href("~/Images/loading.gif")"><br />Loading Summary</p></div>
                </div>

                <div id="session-container" class="clearfix">
                    <p class="question-font">Browsers</p>
                    <div class="chart-container">
                        <div id="session-pie"></div>
                        <div id="session-view"></div>
                    </div>
                </div>

                <div id="location-container">
                    <div id="map-view"><p class="question-font">Countries</p></div>
                    <div id="session-map"><p><img src="@Href("~/Images/loading.gif")"><br />Loading Map</p></div>
                    <div id="map-view"></div>
                </div>

                <div id="time-container">
                    <div id="map-view"><p class="question-font">Users</p></div>
                    <div id="session-line"><p><img src="@Href("~/Images/loading.gif")"><br />Loading Chart</p></div>
                    <div id="map-view"></div>
                </div>
               
                <div id="dura-container">
                    <div id="map-view"><p class="question-font">Duration</p></div>
                    <div id="session-linedura"><p><img src="@Href("~/Images/loading.gif")"><br />Loading Chart</p></div>
                    <div id="map-view"></div>
                </div>
                <div id="bounce-container">
                    <div id="map-view"><p class="question-font">Bounce</p></div>
                    <div id="session-linebounce"><p><img src="@Href("~/Images/loading.gif")"><br />Loading Chart</p></div>
                    <div id="map-view"></div>
                </div>
                <div id="motion-container">
                    <div id="map-view"><p class="question-font">Motion</p></div>
                    <div id="session-motion"><p><img src="@Href("~/Images/loading.gif")"><br />Loading Chart</p></div>
                    <div id="map-view"></div>
                </div>
            </div>
        </div>
    </div>
</div>

